Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql: improve InternalExecutor.Query interface
  pkg/jobs/registry.go
  pkg/server/server_update.go
  pkg/server/updates.go
  pkg/sql/authorization.go
  pkg/sql/crdb_internal.go
  pkg/sql/create_stats.go
  pkg/sql/information_schema.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/lease.go
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/show_stats.go
  pkg/sql/sqlutil/internal_executor.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/user.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sql: delete startPlan and users of it
  pkg/sql/check.go
  pkg/sql/copy.go
  pkg/sql/plan.go
  pkg/sql/planner.go
  pkg/sql/scrub_constraint.go
  pkg/sql/values_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: delete startPlan and users of it
  pkg/sql/check.go
  pkg/sql/copy.go
  pkg/sql/plan.go
  pkg/sql/planner.go
  pkg/sql/scrub_constraint.go
  pkg/sql/values_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: set the deadline at commit time
  pkg/internal/client/txn.go
  pkg/internal/client/txn_test.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/create_table.go
  pkg/sql/delayed.go
  pkg/sql/delete.go
  pkg/sql/delete_range.go
  pkg/sql/expand_plan.go
  pkg/sql/insert.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
  pkg/sql/plan_batch.go
  pkg/sql/table.go
  pkg/sql/tablewriter.go
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

kv: introduce txnCommitter interceptor to TxnCoordSender
  pkg/cmd/github-post/main_test.go
  pkg/cmd/github-post/testdata/timeout-culprit-found.json
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_committer.go
  pkg/kv/txn_interceptor_committer_test.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/kv/txn_interceptor_intent_collector.go
Owners: @cockroachdb/core-prs

kv: introduce txnCommitter interceptor to TxnCoordSender
  pkg/cmd/github-post/main_test.go
  pkg/cmd/github-post/testdata/timeout-culprit-found.json
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_committer.go
  pkg/kv/txn_interceptor_committer_test.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/kv/txn_interceptor_intent_collector.go
Owners: @cockroachdb/core-prs

importccl: skip TestImportData
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/sql-bulk-prs

importccl: skip TestImportData
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/sql-bulk-prs

storage: move store bootstrap to own file
  pkg/storage/store.go
  pkg/storage/store_bootstrap.go
Owners: @cockroachdb/core-prs

storage: move store bootstrap to own file
  pkg/storage/store.go
  pkg/storage/store_bootstrap.go
Owners: @cockroachdb/core-prs

storage: remove the concept of "dead replicas"
  pkg/cli/debug.go
  pkg/gossip/keys.go
  pkg/server/node.go
  pkg/storage/allocator_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/helpers_test.go
  pkg/storage/replica_corruption.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_init.go
  pkg/storage/replica_proposal_quota.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/track_raft_protos.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

opt: plumb StatementType to explain analyze node
  pkg/sql/logictest/testdata/logic_test/explain_analyze
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/explain.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: set the txn deadline at commit time
  pkg/internal/client/txn.go
  pkg/internal/client/txn_test.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/create_table.go
  pkg/sql/delayed.go
  pkg/sql/delete.go
  pkg/sql/delete_range.go
  pkg/sql/expand_plan.go
  pkg/sql/insert.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
  pkg/sql/plan_batch.go
  pkg/sql/table.go
  pkg/sql/tablewriter.go
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

changefeedccl: support more columns types with avro
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: support more columns types with avro
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder_test.go
Owners: @cockroachdb/sql-ccl-prs

opt: plumb StatementType to explain analyze node
  pkg/sql/logictest/testdata/logic_test/explain_analyze
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/explain.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: plumb StatementType to explain analyze node
  pkg/sql/logictest/testdata/logic_test/explain_analyze
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/explain.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

workloadccl: benchmark `fixtures import` for single-node tpcc 1
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
Owners: @cockroachdb/sql-ccl-prs

workloadccl: benchmark `fixtures import` for single-node tpcc 1
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
Owners: @cockroachdb/sql-ccl-prs

sql: introduce PREPARE AS OPT PLAN
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/idxconstraint/index_constraints_test.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/parse_type.go
  pkg/sql/opt/optgen/exprgen/private.go
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/testutils/utils.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan_opt.go
  pkg/sql/sem/tree/prepare.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs

sql: introduce PREPARE AS OPT PLAN
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/idxconstraint/index_constraints_test.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/parse_type.go
  pkg/sql/opt/optgen/exprgen/private.go
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/testutils/utils.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan_opt.go
  pkg/sql/sem/tree/prepare.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs

kv: clean up leaf transaction interceptor stack initialization
  pkg/kv/txn_coord_sender.go
Owners: @cockroachdb/core-prs

kv: clean up leaf transaction interceptor stack initialization
  pkg/kv/txn_coord_sender.go
Owners: @cockroachdb/core-prs

kv: avoid setting EndTxn.Key again after a refresh
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_committer.go
Owners: @cockroachdb/core-prs

kv: avoid setting EndTxn.Key again after a refresh
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_committer.go
Owners: @cockroachdb/core-prs

opt: distinguish VALUES clauses by a unique id
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/decorrelate.opt
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/values.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/private.go
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

cmd/roachprod: add --path to control adminurl's path
  pkg/cmd/roachprod/main.go
Owners: none

cmd/roachprod: add --path to control adminurl's path
  pkg/cmd/roachprod/main.go
Owners: none

opt: add JoinPrivate
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/norm/rules/decorrelate.opt
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/rules/reject_nulls.opt
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/join.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optgen/exprgen/expr_gen_test.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/optgen/lang/compiler.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
Owners: @cockroachdb/sql-opt-prs

opt: add JoinPrivate
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/norm/rules/decorrelate.opt
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/rules/reject_nulls.opt
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/join.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optgen/exprgen/expr_gen_test.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/optgen/lang/compiler.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
Owners: @cockroachdb/sql-opt-prs

lint: check for tabs in .opt files
  pkg/sql/opt/ops/scalar.opt
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/sql-opt-prs

lint: check for tabs in .opt files
  pkg/sql/opt/ops/scalar.opt
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/sql-opt-prs

kv: introduce new "max outstanding size" setting to txnPipeliner
  pkg/kv/txn_interceptor_intent_collector.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/util/stop/stopper.go
Owners: @cockroachdb/core-prs

util/stop: add DelayedStopper to enable RunDelayedAsyncTask
  pkg/util/stop/delayed_stopper.go
  pkg/util/stop/delayed_stopper_test.go
Owners: none

storage/bulk: split and scatter during ingest
  pkg/ccl/storageccl/import.go
  pkg/storage/bulk/sst_batcher.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs

sql: support adding a check with ALTER TABLE ADD COLUMN
  pkg/sql/alter_table.go
  pkg/sql/create_table.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/sem/tree/alter_table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: support adding a check with ALTER TABLE ADD COLUMN
  pkg/sql/alter_table.go
  pkg/sql/create_table.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/sem/tree/alter_table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

stats: temporarily disable automatic stats
  docs/generated/settings/settings.html
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

stats: temporarily disable automatic stats
  docs/generated/settings/settings.html
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

opt: Fix CopyAndReplace to work for optimized expressions
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
Owners: @cockroachdb/sql-opt-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
