Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv

sql/catalog/lease: attempt to fix flakey TestLeaseAtLatestVersion
  pkg/sql/catalog/lease/lease_test.go
Owners: none

sql/catalog/lease: attempt to fix flakey TestLeaseAtLatestVersion
  pkg/sql/catalog/lease/lease_test.go
Owners: none

kvclient: add timeseries for all error details
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/roachpb/errordetailtype_string.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
Owners: @cockroachdb/kv

sql/catalog/lease: attempt to fix a flakey test
  pkg/sql/catalog/lease/lease_test.go
Owners: none

sql/catalog/lease: attempt to fix a flakey test
  pkg/sql/catalog/lease/lease_test.go
Owners: none

sqlbase,catalogkv: move more kv interactions to catalogkv
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/targets.go
  pkg/ccl/importccl/import_stmt.go
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/backfill.go
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/catalog/catalogkv/namespace.go
  pkg/sql/catalog/catalogkv/physical_accessor.go
  pkg/sql/catalog/lease/lease.go
  pkg/sql/create_schema.go
  pkg/sql/create_sequence.go
  pkg/sql/create_table.go
  pkg/sql/create_type.go
  pkg/sql/database.go
  pkg/sql/descriptor.go
  pkg/sql/drop_database.go
  pkg/sql/namespace_test.go
  pkg/sql/rename_table.go
  pkg/sql/schema_change_migrations_test.go
  pkg/sql/schema_changer.go
  pkg/sql/sqlbase/helpers_test.go
  pkg/sql/sqlbase/index_encoding.go
  pkg/sql/sqlbase/table.go
  pkg/sql/temporary_schema.go
  pkg/sql/truncate.go
  pkg/sql/zone_config.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/bulk-io

sqlbase,catalogkv: move more kv interactions to catalogkv
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/targets.go
  pkg/ccl/importccl/import_stmt.go
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/backfill.go
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/catalog/catalogkv/namespace.go
  pkg/sql/catalog/catalogkv/physical_accessor.go
  pkg/sql/catalog/lease/lease.go
  pkg/sql/create_schema.go
  pkg/sql/create_sequence.go
  pkg/sql/create_table.go
  pkg/sql/create_type.go
  pkg/sql/database.go
  pkg/sql/descriptor.go
  pkg/sql/drop_database.go
  pkg/sql/namespace_test.go
  pkg/sql/rename_table.go
  pkg/sql/schema_change_migrations_test.go
  pkg/sql/schema_changer.go
  pkg/sql/sqlbase/helpers_test.go
  pkg/sql/sqlbase/index_encoding.go
  pkg/sql/sqlbase/table.go
  pkg/sql/temporary_schema.go
  pkg/sql/truncate.go
  pkg/sql/zone_config.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/bulk-io

importccl: allow COPY to import unordered or omitted columns
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

sql: drop the "experimental" in experimental_follower_read_timestamp
  docs/generated/sql/functions.md
  pkg/ccl/kvccl/kvfollowerreadsccl/followerreads_test.go
  pkg/ccl/logictestccl/testdata/logic_test/as_of
  pkg/cmd/roachtest/follower_reads.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/as_of.go
Owners: none

sql: drop the "experimental" in experimental_follower_read_timestamp
  docs/generated/sql/functions.md
  pkg/ccl/kvccl/kvfollowerreadsccl/followerreads_test.go
  pkg/ccl/logictestccl/testdata/logic_test/as_of
  pkg/cmd/roachtest/follower_reads.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/as_of.go
Owners: none

sql: support ALTER TYPE SET SCHEMA command
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/set_schema
  pkg/sql/rename_table.go
  pkg/sql/set_schema.go
  pkg/sql/sqlbase/type_desc.go
Owners: none

sql: remove runParams from AlterType startExec functions
  pkg/sql/alter_type.go
  pkg/sql/sqlbase/namespace.go
Owners: none

importccl: fix case sensitive INSERT INTO column names in PGDUMP
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

importccl: fix case sensitive INSERT INTO column names in PGDUMP
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

kv: add WaitPolicy option to BatchRequest
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.cc
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.h
  c-deps/libroach/protos/roachpb/api.pb.cc
  c-deps/libroach/protos/roachpb/api.pb.h
  pkg/kv/kvclient/kvcoord/txn_test.go
  pkg/kv/kvserver/concurrency/concurrency_control.go
  pkg/kv/kvserver/concurrency/concurrency_manager_test.go
  pkg/kv/kvserver/concurrency/datadriven_util_test.go
  pkg/kv/kvserver/concurrency/lock/locking.pb.go
  pkg/kv/kvserver/concurrency/lock/locking.proto
  pkg/kv/kvserver/concurrency/lock_table_waiter.go
  pkg/kv/kvserver/concurrency/lock_table_waiter_test.go
  pkg/kv/kvserver/concurrency/testdata/concurrency_manager/wait_policy_error
  pkg/kv/kvserver/replica_send.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/batch.go
  pkg/roachpb/errors.go
  pkg/roachpb/string_test.go
Owners: @cockroachdb/kv

sql: add WriteNameKeyToBatch function
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/rename_table.go
  pkg/sql/sqlbase/namespace.go
Owners: none

builtins: implement pg_get_serial_sequence
  docs/generated/sql/functions.md
  pkg/ccl/importccl/import_table_creation.go
  pkg/sql/logictest/testdata/logic_test/serial
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sequence.go
  pkg/sql/sqlbase/evalctx.go
Owners: @cockroachdb/bulk-io

builtins: implement pg_get_serial_sequence
  docs/generated/sql/functions.md
  pkg/ccl/importccl/import_table_creation.go
  pkg/sql/logictest/testdata/logic_test/serial
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sequence.go
  pkg/sql/sqlbase/evalctx.go
Owners: @cockroachdb/bulk-io

roachtest: don't rename log files to .failed.log on failed invocations
  pkg/cmd/roachtest/cluster.go
Owners: none

sql: add event logging for type DDL statements
  pkg/sql/alter_type.go
  pkg/sql/create_type.go
  pkg/sql/drop_type.go
  pkg/sql/event_log.go
Owners: none

sql: add event logging for type DDL statements
  pkg/sql/alter_type.go
  pkg/sql/create_type.go
  pkg/sql/drop_type.go
  pkg/sql/event_log.go
Owners: none

util/interval: load pkg/keys for pretty-printing
  pkg/kv/kvserver/concurrency/lockstate_interval_btree_test.go
  pkg/kv/kvserver/spanlatch/latch_interval_btree_test.go
  pkg/util/interval/generic/example_interval_btree_test.go
  pkg/util/interval/generic/internal/interval_btree_tmpl_test.go
Owners: @cockroachdb/kv

util/interval: load pkg/keys for pretty-printing
  pkg/kv/kvserver/concurrency/lockstate_interval_btree_test.go
  pkg/kv/kvserver/spanlatch/latch_interval_btree_test.go
  pkg/util/interval/generic/example_interval_btree_test.go
  pkg/util/interval/generic/internal/interval_btree_tmpl_test.go
Owners: @cockroachdb/kv

opt,sql: add support for more geospatial join conditions
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/execinfrapb/flow_diagram.go
  pkg/sql/execinfrapb/processors_sql.pb.go
  pkg/sql/execinfrapb/processors_sql.proto
  pkg/sql/inverted_join.go
  pkg/sql/logictest/testdata/logic_test/inverted_join_geospatial
  pkg/sql/logictest/testdata/logic_test/inverted_join_geospatial_dist
  pkg/sql/logictest/testdata/logic_test/inverted_join_geospatial_explain
  pkg/sql/opt/exec/execbuilder/relational.go
  pkg/sql/opt/exec/factory.opt
  pkg/sql/opt/invertedexpr/expression.go
  pkg/sql/opt/invertedidx/geo.go
  pkg/sql/opt/invertedidx/geo_test.go
  pkg/sql/opt/invertedidx/inverted_index_expr.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/external/postgis-tutorial-idx
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt_exec_factory.go
  pkg/sql/rowexec/inverted_joiner.go
  pkg/sql/rowexec/inverted_joiner_test.go
Owners: @cockroachdb/sql-optimizer

opt,sql: add support for more geospatial join conditions
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/execinfrapb/flow_diagram.go
  pkg/sql/execinfrapb/processors_sql.pb.go
  pkg/sql/execinfrapb/processors_sql.proto
  pkg/sql/inverted_join.go
  pkg/sql/logictest/testdata/logic_test/inverted_join_geospatial
  pkg/sql/logictest/testdata/logic_test/inverted_join_geospatial_dist
  pkg/sql/logictest/testdata/logic_test/inverted_join_geospatial_explain
  pkg/sql/opt/exec/execbuilder/relational.go
  pkg/sql/opt/exec/factory.opt
  pkg/sql/opt/invertedexpr/expression.go
  pkg/sql/opt/invertedidx/geo.go
  pkg/sql/opt/invertedidx/geo_test.go
  pkg/sql/opt/invertedidx/inverted_index_expr.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/external/postgis-tutorial-idx
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt_exec_factory.go
  pkg/sql/rowexec/inverted_joiner.go
  pkg/sql/rowexec/inverted_joiner_test.go
Owners: @cockroachdb/sql-optimizer

execinfrapb: move ExprHelper and introduce a helper method
  pkg/sql/colexec/expr.go
  pkg/sql/distsql/inbound_test.go
  pkg/sql/execinfra/processorsbase.go
  pkg/sql/execinfrapb/expr.go
  pkg/sql/execinfrapb/expr_test.go
  pkg/sql/execinfrapb/processors.go
  pkg/sql/execinfrapb/processors_sql.pb.go
  pkg/sql/execinfrapb/processors_sql.proto
  pkg/sql/rowcontainer/datum_row_container.go
  pkg/sql/rowexec/aggregator.go
  pkg/sql/rowexec/inverted_joiner.go
  pkg/sql/rowexec/joinerbase.go
  pkg/sql/rowexec/project_set.go
  pkg/sql/sem/builtins/aggregate_builtins.go
  pkg/sql/sem/tree/datum.go
Owners: none

colexec: extend vecToDatumConverter to support "sparse" conversion
  pkg/sql/colexec/builtin_funcs.go
  pkg/sql/colexec/execgen/cmd/execgen/vec_to_datum_gen.go
  pkg/sql/colexec/hash_aggregator.go
  pkg/sql/colexec/materializer.go
  pkg/sql/colexec/projection_ops_test.go
  pkg/sql/colexec/vec_to_datum.eg.go
  pkg/sql/colexec/vec_to_datum_tmpl.go
  pkg/sql/colfetcher/cfetcher.go
Owners: none

sql: collect histogram stats for all index columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: none

sql: collect histogram stats for all index columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: none

backupccl: clean up type descriptors after failed restore
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore_job.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
Owners: @cockroachdb/bulk-io

sql: Implement `crdb_internal.json_to_pb`
  docs/generated/sql/functions.md
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/protoreflect/utils.go
  pkg/sql/protoreflect/utils_test.go
  pkg/sql/sem/builtins/builtins.go
Owners: none

sql: Implement `crdb_internal.json_to_pb`
  docs/generated/sql/functions.md
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/protoreflect/utils.go
  pkg/sql/protoreflect/utils_test.go
  pkg/sql/sem/builtins/builtins.go
Owners: none

colexec: add default aggregate function
  Makefile
  pkg/sql/colexec/aggregate_funcs.go
  pkg/sql/colexec/aggregators_test.go
  pkg/sql/colexec/colbuilder/aggregate_funcs.go
  pkg/sql/colexec/colbuilder/execplan.go
  pkg/sql/colexec/default_agg_test.go
  pkg/sql/colexec/default_agg_tmpl.go
  pkg/sql/colexec/execgen/cmd/execgen/default_agg_gen.go
  pkg/sql/colexec/hash_aggregator.go
  pkg/sql/colexec/hash_default_agg.eg.go
  pkg/sql/colexec/ordered_aggregator.go
  pkg/sql/colexec/ordered_default_agg.eg.go
  pkg/sql/colexec/utils_test.go
  pkg/sql/distsql/columnar_operators_test.go
  pkg/sql/distsql/columnar_utils_test.go
  pkg/sql/execinfrapb/processors.go
  pkg/sql/logictest/testdata/logic_test/vectorize_local
Owners: none

colexec: clean up hash aggregate functions
  pkg/sql/colexec/any_not_null_agg_tmpl.go
  pkg/sql/colexec/avg_agg_tmpl.go
  pkg/sql/colexec/bool_and_or_agg_tmpl.go
  pkg/sql/colexec/concat_agg_tmpl.go
  pkg/sql/colexec/count_agg_tmpl.go
  pkg/sql/colexec/default_agg_tmpl.go
  pkg/sql/colexec/execgen/cmd/execgen/bool_and_or_agg_gen.go
  pkg/sql/colexec/hash_any_not_null_agg.eg.go
  pkg/sql/colexec/hash_avg_agg.eg.go
  pkg/sql/colexec/hash_bool_and_or_agg.eg.go
  pkg/sql/colexec/hash_concat_agg.eg.go
  pkg/sql/colexec/hash_count_agg.eg.go
  pkg/sql/colexec/hash_default_agg.eg.go
  pkg/sql/colexec/hash_min_max_agg.eg.go
  pkg/sql/colexec/hash_sum_agg.eg.go
  pkg/sql/colexec/hash_sum_int_agg.eg.go
  pkg/sql/colexec/min_max_agg_tmpl.go
  pkg/sql/colexec/ordered_any_not_null_agg.eg.go
  pkg/sql/colexec/ordered_avg_agg.eg.go
  pkg/sql/colexec/ordered_bool_and_or_agg.eg.go
  pkg/sql/colexec/ordered_concat_agg.eg.go
  pkg/sql/colexec/ordered_count_agg.eg.go
  pkg/sql/colexec/ordered_min_max_agg.eg.go
  pkg/sql/colexec/ordered_sum_agg.eg.go
  pkg/sql/colexec/ordered_sum_int_agg.eg.go
  pkg/sql/colexec/sum_agg_tmpl.go
Owners: none

types: refactor user defined type API's in types package
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/targets_test.go
  pkg/cli/dump.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/type.go
  pkg/sql/catalog/descs/collection.go
  pkg/sql/create_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/numeric_references
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/resolver.go
  pkg/sql/sem/tree/format.go
  pkg/sql/sem/tree/type_name.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured_test.go
  pkg/sql/sqlbase/type_desc.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table_test.go
  pkg/sql/types/oid.go
  pkg/sql/types/types.go
  pkg/sql/types/types.pb.go
  pkg/sql/types/types.proto
  pkg/sql/types/types_test.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

sql: support ALTER TYPE SET SCHEMA command
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/set_schema
  pkg/sql/rename_table.go
  pkg/sql/set_schema.go
  pkg/sql/sqlbase/type_desc.go
Owners: none

sql: support ALTER TYPE SET SCHEMA command
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/set_schema
  pkg/sql/rename_table.go
  pkg/sql/set_schema.go
  pkg/sql/sqlbase/type_desc.go
Owners: none

sql: remove runParams from AlterType startExec functions
  pkg/sql/alter_type.go
  pkg/sql/catalog/catalogkv/namespace.go
Owners: none

sql: remove runParams from AlterType startExec functions
  pkg/sql/alter_type.go
  pkg/sql/catalog/catalogkv/namespace.go
Owners: none

sql: fix portals after exhausting rows
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/pgwire/testdata/pgtest/portals
  pkg/sql/pgwire/testdata/pgtest/portals_crbugs
  pkg/sql/prepared_stmt.go
Owners: none
