Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

roachtest: add replicate/wide roachtest
  pkg/cmd/roachtest/allocator.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

storage: rename AvailableNodeCount to ClusterNodeCount
  pkg/server/status.go
  pkg/storage/allocator.go
  pkg/storage/replica_metrics.go
  pkg/storage/replicate_queue.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_rebalancer.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: disallow down-replication on below quorum ranges
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
Owners: @cockroachdb/core-prs

roachprod: fix incorrect AWS volume type name
  pkg/cmd/roachprod/vm/aws/aws.go
Owners: none

roachprod: fix incorrect AWS volume type name
  pkg/cmd/roachprod/vm/aws/aws.go
Owners: none

gossip: avoid removing nodes that get a new address
  pkg/gossip/gossip.go
  pkg/gossip/gossip_test.go
Owners: @cockroachdb/core-prs

gossip: avoid removing nodes that get a new address
  pkg/gossip/gossip.go
  pkg/gossip/gossip_test.go
Owners: @cockroachdb/core-prs

storage: rename AvailableNodeCount to ClusterNodeCount
  pkg/server/status.go
  pkg/storage/allocator.go
  pkg/storage/replica_metrics.go
  pkg/storage/replicate_queue.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_rebalancer.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: fix filterUnremovableReplicas badness
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/replicate_queue.go
Owners: @cockroachdb/core-prs

storage: reimplement StorePool.AvailableNodeCount
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/storage/allocator_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
  pkg/storage/node_liveness.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_rebalancer_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: fix filterUnremovableReplicas badness
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/replicate_queue.go
Owners: @cockroachdb/core-prs

storage: fix lastReplicaAdded computation
  pkg/storage/replica_init.go
  pkg/storage/replica_init_test.go
Owners: @cockroachdb/core-prs

storage: reimplement StorePool.AvailableNodeCount
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/storage/allocator_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
  pkg/storage/node_liveness.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_rebalancer_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: rename AvailableNodeCount to ClusterNodeCount
  pkg/server/status.go
  pkg/storage/allocator.go
  pkg/storage/replica_metrics.go
  pkg/storage/replicate_queue.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_rebalancer.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: fix lastReplicaAdded computation
  pkg/storage/replica_init.go
  pkg/storage/replica_init_test.go
Owners: @cockroachdb/core-prs

roachtest: add replicate/wide roachtest
  pkg/cmd/roachtest/allocator.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

roachtest: add replicate/wide roachtest
  pkg/cmd/roachtest/allocator.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

storage: disallow down-replication on below quorum ranges
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
Owners: @cockroachdb/core-prs

storage: disallow down-replication on below quorum ranges
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
Owners: @cockroachdb/core-prs

logictest: rename --rewrite-results-in-testfiles to --rewrite
  pkg/sql/logictest/logic.go
Owners: @cockroachdb/sql-rest-prs

rpc/nodedialer: check context for cancellation before dialing
  pkg/rpc/nodedialer/nodedialer.go
Owners: @cockroachdb/core-prs

build: test enterprise features in the every-pr teamcity build
  build/teamcity-local-roachtest.sh
  pkg/cmd/roachtest/cdc.go
Owners: @cockroachdb/build-prs

build: test enterprise features in the every-pr teamcity build
  build/teamcity-local-roachtest.sh
  pkg/cmd/roachtest/cdc.go
Owners: @cockroachdb/build-prs

opt: implement use of sequences as data sources
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/cat/sequence.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/select
  pkg/sql/opt/memo/testdata/stats/scan
  pkg/sql/opt/metadata.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/sequence
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/testutils/testcat/create_sequence.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: implement use of sequences as data sources
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/cat/sequence.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/select
  pkg/sql/opt/memo/testdata/stats/scan
  pkg/sql/opt/metadata.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/sequence
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/testutils/testcat/create_sequence.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

changefeedccl: move cloudStorageSink into its own file
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: rework cloud storage sink
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: move cloudStorageSink into its own file
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

server,rpc: validate node IDs in RPC heartbeats
  pkg/gossip/client_test.go
  pkg/gossip/gossip_test.go
  pkg/rpc/context.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat.pb.go
  pkg/rpc/heartbeat.proto
  pkg/rpc/heartbeat_test.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/server/admin.go
  pkg/server/server.go
  pkg/server/status.go
  pkg/sql/distsqlrun/cluster_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/server_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: fix the collection of logical plan samples
  pkg/sql/app_stats.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/distsql_running.go
  pkg/sql/distsql_running_test.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/explain_distsql.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/plan.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
  pkg/sql/subquery_test.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

changefeedccl: rework cloud storage sink
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

util: enhance GetSmallTrace()
  pkg/util/smalltrace.go
  pkg/util/smalltrace_test.go
Owners: none

util: enhance GetSmallTrace()
  pkg/util/smalltrace.go
  pkg/util/smalltrace_test.go
Owners: none

docs: add discussion of add-sst to index backfill technote
  docs/tech-notes/index-backfill.md
Owners: none

sql: add support for bulk backfilling indexes via AddSST
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/distsqlrun/indexbackfiller.go
  pkg/storage/bulk/sst_batcher_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/core-prs

sql: add support for bulk backfilling indexes via AddSST
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/distsqlrun/indexbackfiller.go
  pkg/storage/bulk/sst_batcher_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/core-prs

sql: avoid panics upon bugs in the walking logic
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/schemachange/alter_column_type.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/tree/type_check_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

sql: avoid panics upon bugs in the walking logic
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/schemachange/alter_column_type.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/tree/type_check_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

sql/sem: fix ContainsVars
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/partitionccl/partition.go
  pkg/sql/alter_table.go
  pkg/sql/create_table.go
  pkg/sql/create_view.go
  pkg/sql/execute.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/sem/tree/normalize.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sequence.go
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql/sem: fix ContainsVars
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/partitionccl/partition.go
  pkg/sql/alter_table.go
  pkg/sql/create_table.go
  pkg/sql/create_view.go
  pkg/sql/execute.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/sem/tree/normalize.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sequence.go
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs
