Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql/sem: fix ContainsVars
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/partitionccl/partition.go
  pkg/sql/alter_table.go
  pkg/sql/create_table.go
  pkg/sql/create_view.go
  pkg/sql/execute.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/sem/tree/normalize.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sequence.go
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/row_container.go
  pkg/sql/distsqlrun/row_container_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: fix filterUnremovableReplicas badness
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/replicate_queue.go
Owners: @cockroachdb/core-prs

gossip: avoid removing nodes that get a new address
  pkg/gossip/gossip.go
  pkg/gossip/gossip_test.go
Owners: @cockroachdb/core-prs

storage: fix lastReplicaAdded computation
  pkg/storage/replica.go
  pkg/storage/replica_init_test.go
Owners: @cockroachdb/core-prs

distsql: rip out the experimental lookup join code
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/stats.pb.go
  pkg/sql/distsqlrun/stats.proto
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/distsql_lookup_join
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
  pkg/workload/tpcc/stock_level.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

distsql: rip out the experimental lookup join code
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/stats.pb.go
  pkg/sql/distsqlrun/stats.proto
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/distsql_lookup_join
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
  pkg/workload/tpcc/stock_level.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

WIP debugging
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
Owners: @cockroachdb/sql-ccl-prs

opt: change catalog interface to not mutate table names in-place
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/create_table.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: reimplement StorePool.AvailableNodeCount
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/storage/allocator_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
  pkg/storage/node_liveness.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_rebalancer_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

roachtest: add replicate/wide roachtest
  pkg/cmd/roachtest/allocator.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

storage: disallow down-replication on below quorum ranges
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
Owners: @cockroachdb/core-prs

storage: rename AvailableNodeCount to ClusterNodeCount
  pkg/server/status.go
  pkg/storage/allocator.go
  pkg/storage/replica.go
  pkg/storage/replicate_queue.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_rebalancer.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

cli/start,server: clarify init vs join
  pkg/cli/interactive_tests/test_init_command.tcl
  pkg/cli/start.go
  pkg/server/config.go
  pkg/server/server.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

changefeedccl: rework cloud storage sink
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: rework cloud storage sink
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

sql,sqlbase: fix the introspection for pre-2.1 BIT columns
  pkg/sql/crdb_internal_test.go
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/sqlbase/column_type_properties.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: remove nanoseconds from INTERVAL
  pkg/keys/printer_test.go
  pkg/roachpb/data.go
  pkg/roachpb/data_test.go
  pkg/server/server_systemlog_gc_test.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/datum_test.go
  pkg/sql/sem/tree/interval_test.go
  pkg/sql/sem/tree/testdata/eval/cast
  pkg/sql/set_var.go
  pkg/util/duration/duration.go
  pkg/util/duration/duration_test.go
  pkg/util/encoding/encoding.go
  pkg/util/encoding/encoding_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

intentresolver: move intentresolver from storage into its own package
  pkg/storage/addressing_test.go
  pkg/storage/client_split_test.go
  pkg/storage/gc_queue.go
  pkg/storage/intent_resolver_integration_test.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/storage/intentresolver/metrics.go
  pkg/storage/metrics.go
  pkg/storage/replica.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_read.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
  pkg/storage/storagebase/knobs.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/testing_knobs.go
Owners: @cockroachdb/core-prs

opt: change catalog interface to not mutate table names in-place
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/create_table.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: delete distsql modes 2.0-off and 2.0-auto
  docs/generated/settings/settings.html
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/explain_distsql.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/logictest/testdata/logic_test/set
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: delete distsql modes 2.0-off and 2.0-auto
  docs/generated/settings/settings.html
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/explain_distsql.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/logictest/testdata/logic_test/set
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: add auto-spilling disk backed hash row container
  pkg/sql/distsqlrun/hash_row_container.go
  pkg/sql/distsqlrun/hash_row_container_test.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/hashjoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: remove spurious sleep from TestRestoreReplicas
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

storage: remove spurious sleep from TestRestoreReplicas
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

roachtest: get dmesg on failed runs
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/test.go
Owners: none

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsqlrun: log outbox error
  pkg/sql/distsqlrun/outbox.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

cli/start,server: clarify init vs join
  pkg/cli/interactive_tests/test_init_command.tcl
  pkg/cli/start.go
  pkg/server/config.go
  pkg/server/server.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

cli/start,server: clarify init vs join
  pkg/cli/interactive_tests/test_init_command.tcl
  pkg/cli/start.go
  pkg/server/config.go
  pkg/server/server.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

sql,sqlbase: fix the introspection for pre-2.1 BIT columns
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/colencoding/value_encoding.go
  pkg/sql/crdb_internal_test.go
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/materializer.go
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/sqlbase/column_type_properties.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

sql,sqlbase: fix the introspection for pre-2.1 BIT columns
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/colencoding/value_encoding.go
  pkg/sql/crdb_internal_test.go
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/materializer.go
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/sqlbase/column_type_properties.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

server,rpc: validate node IDs in RPC heartbeats
  pkg/gossip/client_test.go
  pkg/gossip/gossip_test.go
  pkg/rpc/context.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat.pb.go
  pkg/rpc/heartbeat.proto
  pkg/rpc/heartbeat_test.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/server/admin.go
  pkg/server/server.go
  pkg/server/status.go
  pkg/sql/distsqlrun/cluster_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/server_test.go
  pkg/storage/client_test.go
  pkg/storage/raft_transport_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: rework load-based splitting
  pkg/storage/merge_queue.go
  pkg/storage/replica.go
  pkg/storage/replica_init.go
  pkg/storage/replica_split_load.go
  pkg/storage/split/decider.go
  pkg/storage/split/decider_test.go
  pkg/storage/split/finder.go
  pkg/storage/split/finder_test.go
  pkg/storage/split_queue.go
  pkg/storage/split_queue_test.go
Owners: @cockroachdb/core-prs

intentresolver: move intentresolver from storage into its own package
  pkg/storage/addressing_test.go
  pkg/storage/client_split_test.go
  pkg/storage/gc_queue.go
  pkg/storage/intent_resolver_integration_test.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/storage/intentresolver/metrics.go
  pkg/storage/metrics.go
  pkg/storage/replica.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_read.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
  pkg/storage/storagebase/knobs.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/testing_knobs.go
Owners: @cockroachdb/core-prs

intentresolver: move intentresolver from storage into its own package
  pkg/storage/addressing_test.go
  pkg/storage/client_split_test.go
  pkg/storage/gc_queue.go
  pkg/storage/intent_resolver_integration_test.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/storage/intentresolver/metrics.go
  pkg/storage/metrics.go
  pkg/storage/replica.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_read.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
  pkg/storage/storagebase/knobs.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/testing_knobs.go
Owners: @cockroachdb/core-prs

opt: change catalog interface to not mutate table names in-place
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/create_table.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: add ids to expressions
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/operator.go
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/exprs
  pkg/sql/opt/xform/testdata/rules/groupby
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

sql: use time-based sampling for logical plans
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: change catalog interface to not mutate table names in-place
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/create_table.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs
