Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

opt: Add SimplifyMutationOrdering rule for Update operator
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

sql: parallelize cross-range scans when maxResults is specified
  docs/generated/settings/settings.html
  pkg/sql/data_source.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/settings.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

sql: parallelize cross-range scans when maxResults is specified
  docs/generated/settings/settings.html
  pkg/sql/data_source.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/settings.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

storageccl: add SESSION_TOKEN to S3 config.
  pkg/ccl/storageccl/export_storage.go
  pkg/roachpb/api.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs

storage: Fix GetNeededReplicas to count non-live, non-dead nodes
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

storage: Fix GetNeededReplicas to count non-live, non-dead nodes
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

storage: refactor GetNeededReplicas to use a notion of available nodes
  pkg/server/server.go
  pkg/server/status.go
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/replicate_queue.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_rebalancer.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

Revert "opt: remove temporary fix for column ordering groups issue"
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/ordering/select.go
  pkg/sql/opt/xform/testdata/rules/groupby
Owners: @cockroachdb/sql-opt-prs

Revert "opt: remove temporary fix for column ordering groups issue"
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/ordering/select.go
  pkg/sql/opt/xform/testdata/rules/groupby
Owners: @cockroachdb/sql-opt-prs

build: run all opt packages in testrace if one changed
  build/teamcity-testrace.sh
Owners: @cockroachdb/build-prs

build: run all opt packages in testrace if one changed
  build/teamcity-testrace.sh
Owners: @cockroachdb/build-prs

sql: support `COMMENT ON DATABASE`
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/keys/constants.go
  pkg/sql/comment_on_database.go
  pkg/sql/comment_on_database_test.go
  pkg/sql/drop_database.go
  pkg/sql/drop_table.go
  pkg/sql/event_log.go
  pkg/sql/expand_plan.go
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/plan.go
  pkg/sql/sem/tree/comment_on_database.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

storage: Fix GetNeededReplicas to count non-live, non-dead nodes
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

Squashed commit of the following:
  pkg/storage/allocator_test.go
  pkg/storage/client_metrics_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_status_test.go
  pkg/storage/gc_queue.go
  pkg/storage/helpers_test.go
  pkg/storage/metrics.go
  pkg/storage/replica.go
  pkg/storage/replica_rankings.go
  pkg/storage/replica_rankings_test.go
  pkg/storage/replica_shim.go
  pkg/storage/store.go
  pkg/storage/store_rebalancer.go
  pkg/storage/store_rebalancer_test.go
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/replication.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/admin-ui-prs

opt: plumb "max results" guarantee
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/constraint/constraint.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: parallelize cross-range scans when maxResults is specified
  docs/generated/settings/settings.html
  pkg/sql/data_source.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlrun/processors.pb.go
  pkg/sql/distsqlrun/processors.proto
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/settings.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

roachtest: kill nodes at end of rebalancing test
  pkg/cmd/roachtest/allocator.go
  pkg/cmd/roachtest/restore.go
Owners: none

sql: add COPY FROM PARENT command for zone configs
  docs/generated/sql/bnf/alter_zone_database_stmt.bnf
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  docs/generated/sql/bnf/alter_zone_range_stmt.bnf
  docs/generated/sql/bnf/alter_zone_table_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/roachtest/split.go
  pkg/config/zone.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/set_zone_config.go
  pkg/sql/set_zone_config_test.go
  pkg/sql/zone_test.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

config: Add zone validation for tandem fields
  pkg/cli/testdata/zone_range_max_bytes.yaml
  pkg/config/zone.go
  pkg/config/zone_test.go
  pkg/sql/logictest/testdata/logic_test/event_log
  pkg/sql/set_zone_config.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add COPY FROM PARENT command for zone configs
  docs/generated/sql/bnf/alter_zone_database_stmt.bnf
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  docs/generated/sql/bnf/alter_zone_range_stmt.bnf
  docs/generated/sql/bnf/alter_zone_table_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/roachtest/split.go
  pkg/config/zone.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/set_zone_config.go
  pkg/sql/set_zone_config_test.go
  pkg/sql/zone_test.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

config: Add zone validation for tandem fields
  pkg/cli/testdata/zone_range_max_bytes.yaml
  pkg/config/zone.go
  pkg/config/zone_test.go
  pkg/sql/logictest/testdata/logic_test/event_log
  pkg/sql/set_zone_config.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Remove types from mutation mappings
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Remove types from mutation mappings
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

sql: Update the zone specifier formatter
  pkg/sql/parser/parse_test.go
  pkg/sql/sem/tree/zone.go
  pkg/sql/set_zone_config.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: Update the zone specifier formatter
  pkg/sql/parser/parse_test.go
  pkg/sql/sem/tree/zone.go
  pkg/sql/set_zone_config.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: increase timeout of schemachange tests
  pkg/cmd/roachtest/schemachange.go
Owners: none

c-deps: fix an infinite loop in MVCCScan
  c-deps/libroach/CMakeLists.txt
  c-deps/libroach/chunked_buffer.cc
  c-deps/libroach/chunked_buffer_test.cc
Owners: @cockroachdb/core-prs

c-deps: fix an infinite loop in MVCCScan
  c-deps/libroach/CMakeLists.txt
  c-deps/libroach/chunked_buffer.cc
  c-deps/libroach/chunked_buffer_test.cc
Owners: @cockroachdb/core-prs

c-deps: fix an infinite loop in MVCCScan
  c-deps/libroach/CMakeLists.txt
  c-deps/libroach/chunked_buffer.cc
  c-deps/libroach/chunked_buffer_test.cc
Owners: @cockroachdb/core-prs

opt: Plan zigzag joins on inverted indexes with 2 constraints
  pkg/sql/distsqlrun/zigzagjoiner.go
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

roachtest: add SCRUB tests
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/scrub.go
Owners: none

roachtest: add SCRUB tests
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/scrub.go
Owners: none

storage: allow transactions to run at a lower sequence
  pkg/roachpb/batch.go
  pkg/storage/client_split_test.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: allow transactions to run at a lower sequence
  pkg/roachpb/batch.go
  pkg/storage/client_split_test.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: remove all references to DeprecatedBatchIndex
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.h
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

storage: remove all references to DeprecatedBatchIndex
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.h
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql: Add default_int_size to control INT and SERIAL aliases.
  docs/generated/settings/settings.html
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/int_size
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

sql: Add default_int_size to control INT and SERIAL aliases.
  docs/generated/settings/settings.html
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/int_size
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

flagutil: add package for easy creation of time and regexp flags
  pkg/util/flagutil/flagutil.go
  pkg/util/flagutil/flagutil_test.go
  pkg/util/log/clog.go
  pkg/util/log/file.go
Owners: none

cli: improve usability of debug merge-logs flags
  pkg/cli/debug.go
  pkg/cli/debug_merge_logs.go
  pkg/cli/debug_merge_logs_test.go
  pkg/util/log/clog.go
  pkg/util/log/file.go
Owners: @cockroachdb/cli-prs
