Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

roachtest: update hibernate blacklist
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

roachtest: update hibernate blacklist
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

roachtest: add tpchBench type to benchmark name
  pkg/cmd/roachtest/tpchbench.go
  pkg/cmd/roachtest/tpchbench_string.go
Owners: none

roachtest: add tpchBench type to benchmark name
  pkg/cmd/roachtest/tpchbench.go
  pkg/cmd/roachtest/tpchbench_string.go
Owners: none

sql: use InternalExecutor for validating checks
  pkg/sql/alter_table.go
  pkg/sql/check.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: write tpchbench stats.json file to scalefactor directory
  pkg/cmd/roachtest/tpchbench.go
Owners: none

sql: add errors to IndexedRow(s) interfaces
  pkg/sql/distsqlrun/windower.go
  pkg/sql/sem/builtins/window_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins_test.go
  pkg/sql/sem/tree/window_funcs.go
  pkg/sql/sem/tree/window_funcs_test.go
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs

sql: fix FK validation join implementation
  pkg/sql/check.go
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: use InternalExecutor for validating checks
  pkg/sql/alter_table.go
  pkg/sql/check.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: use InternalExecutor for validating checks
  pkg/sql/alter_table.go
  pkg/sql/check.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Prune Update and Upsert input columns
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/metric_test.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/upsert
  pkg/sql/opt/memo/testdata/stats/upsert
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/mutation.opt
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_exec_factory.go
  pkg/sql/show_test.go
  pkg/sql/tablewriter_upsert_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: set join reorder limit to 4 by default
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/join_order
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/vars.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add opt.Catalog support for column families
  pkg/sql/opt/cat/family.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/memo/testdata/logprops/scan
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/distinct
  pkg/sql/opt/optbuilder/testdata/orderby
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/rules/scan
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add ReturnCols list to MutationPrivate
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/upsert
  pkg/sql/opt/memo/testdata/stats/upsert
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Prune Update and Upsert input columns
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/metric_test.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/upsert
  pkg/sql/opt/memo/testdata/stats/upsert
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/mutation.opt
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_exec_factory.go
  pkg/sql/show_test.go
  pkg/sql/tablewriter_upsert_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add ReturnCols list to MutationPrivate
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/upsert
  pkg/sql/opt/memo/testdata/stats/upsert
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: set join reorder limit to 4 by default
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/join_order
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/vars.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add opt.Catalog support for column families
  pkg/sql/opt/cat/family.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/memo/testdata/logprops/scan
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/distinct
  pkg/sql/opt/optbuilder/testdata/orderby
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/rules/scan
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

intentresolver: adopt RequestBatcher for GCRequests
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

client/requestbatcher: create library for batching requests based on range ID
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

opt: Remove experimental_optimizer_mutations flag
  docs/generated/settings/settings.html
  pkg/server/updates_test.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Remove experimental_optimizer_mutations flag
  docs/generated/settings/settings.html
  pkg/server/updates_test.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql,kv,followerreadsccl: enable follower reads for historical queries
  docs/generated/sql/functions.md
  pkg/ccl/ccl_init.go
  pkg/ccl/followerreadsccl/followerreads.go
  pkg/ccl/followerreadsccl/followerreads_test.go
  pkg/cmd/roachtest/follower_reads.go
  pkg/cmd/roachtest/registry.go
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/range_iter.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlplan/replicaoracle/oracle.go
  pkg/sql/distsqlplan/replicaoracle/oracle_test.go
  pkg/sql/distsqlplan/span_resolver.go
  pkg/sql/distsqlplan/span_resolver_internal_test.go
  pkg/sql/distsqlplan/span_resolver_test.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/as_of.go
  pkg/sql/txn_state.go
  pkg/storage/metrics.go
  pkg/storage/replica_read.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: ensure RangeFeed-watched ranges have a lease
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

storage: ensure RangeFeed-watched ranges have a lease
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

sql: enable automatic statistics by default
  docs/generated/settings/settings.html
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/drop_table
  pkg/sql/logictest/testdata/logic_test/event_log
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/privileges_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/truncate
  pkg/sql/logictest/testdata/logic_test/vectorize
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-rest-prs

sql: enable automatic statistics by default
  docs/generated/settings/settings.html
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/drop_table
  pkg/sql/logictest/testdata/logic_test/event_log
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/privileges_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/truncate
  pkg/sql/logictest/testdata/logic_test/vectorize
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-rest-prs

sql: fix processing of patterns with custom escape character
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/like_test.go
Owners: @cockroachdb/sql-rest-prs

sql: add errors to IndexedRow(s) interfaces
  pkg/sql/distsqlrun/windower.go
  pkg/sql/sem/builtins/window_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins_test.go
  pkg/sql/sem/tree/window_funcs.go
  pkg/sql/sem/tree/window_funcs_test.go
  pkg/sql/sem/tree/window_funcs_util.go
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

sql: Fix race condition in the query cache
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: turn on query cache
  docs/generated/settings/settings.html
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/plan_opt.go
  pkg/sql/plan_opt_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: Fix race condition in the query cache
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: turn on query cache
  docs/generated/settings/settings.html
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/plan_opt.go
  pkg/sql/plan_opt_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

ui: replica matrix: map values to color scale
  pkg/ui/src/views/cluster/containers/dataDistribution/replicaMatrix.styl
  pkg/ui/src/views/cluster/containers/dataDistribution/replicaMatrix.tsx
Owners: @cockroachdb/admin-ui-prs

sql,kv,followerreadsccl: enable follower reads for historical queries
  docs/generated/sql/functions.md
  pkg/ccl/ccl_init.go
  pkg/ccl/followerreadsccl/followerreads.go
  pkg/ccl/followerreadsccl/followerreads_test.go
  pkg/cmd/roachtest/follower_reads.go
  pkg/cmd/roachtest/registry.go
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/range_iter.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlplan/replicaoracle/oracle.go
  pkg/sql/distsqlplan/replicaoracle/oracle_test.go
  pkg/sql/distsqlplan/span_resolver.go
  pkg/sql/distsqlplan/span_resolver_internal_test.go
  pkg/sql/distsqlplan/span_resolver_test.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/as_of.go
  pkg/sql/txn_state.go
  pkg/storage/metrics.go
  pkg/storage/replica_read.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql,kv,followerreadsccl: enable follower reads for historical queries
  docs/generated/sql/functions.md
  pkg/ccl/ccl_init.go
  pkg/ccl/followerreadsccl/followerreads.go
  pkg/ccl/followerreadsccl/followerreads_test.go
  pkg/cmd/roachtest/follower_reads.go
  pkg/cmd/roachtest/registry.go
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/range_iter.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlplan/replicaoracle/oracle.go
  pkg/sql/distsqlplan/replicaoracle/oracle_test.go
  pkg/sql/distsqlplan/span_resolver.go
  pkg/sql/distsqlplan/span_resolver_internal_test.go
  pkg/sql/distsqlplan/span_resolver_test.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/as_of.go
  pkg/sql/txn_state.go
  pkg/storage/metrics.go
  pkg/storage/replica_read.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: reduce load on timestamp cache due to PushTxn reqs
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

storage: reduce load on timestamp cache due to PushTxn reqs
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

storage: InitPut failures only update tscache on ConditionFailed error
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
