Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: deflake TestLogSplits
  pkg/storage/log_test.go
Owners: @cockroachdb/core-prs

storage: deflake TestLogSplits
  pkg/storage/log_test.go
Owners: @cockroachdb/core-prs

storage: deflake TestLogSplits
  pkg/storage/log_test.go
Owners: @cockroachdb/core-prs

sql: make pg_catalog OIDs stable and refer to the descriptor IDs directly
  pkg/keys/constants.go
  pkg/sql/crdb_internal.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/pg_catalog.go
  pkg/sql/pg_oid_test.go
  pkg/sql/sqlbase/constants.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

storage: log reasons for splits and merges
  pkg/storage/client_raft_test.go
  pkg/storage/client_split_test.go
  pkg/storage/merge_queue.go
  pkg/storage/replica.go
  pkg/storage/replica_command.go
  pkg/storage/replica_metrics.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

storage: log reasons for splits and merges
  pkg/storage/client_raft_test.go
  pkg/storage/client_split_test.go
  pkg/storage/merge_queue.go
  pkg/storage/replica.go
  pkg/storage/replica_command.go
  pkg/storage/replica_metrics.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

lint: update linter libraries
  Gopkg.lock
  Gopkg.toml
  pkg/jobs/jobs.go
  pkg/sql/conn_fsm.go
  pkg/sql/distsqlrun/aggregator.go
  pkg/storage/engine/batch.go
  pkg/testutils/lint/checker_float.go
  pkg/testutils/lint/checker_hash.go
  pkg/testutils/lint/checker_misc.go
  pkg/testutils/lint/checker_timer.go
  pkg/testutils/lint/checker_unconvert.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/core-prs

sql: add cluster setting to set logical plan sampling frequency
  docs/generated/settings/settings.html
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

build: clear the GOFLAGS env variable before invoke go
  Makefile
  build/variables.mk
Owners: @cockroachdb/build-prs

build: clear the GOFLAGS env variable before invoke go
  Makefile
  build/variables.mk
Owners: @cockroachdb/build-prs

build: only allow setting upper-case variables on the command line
  Makefile
  build/variables.mk
Owners: @cockroachdb/build-prs

build: only allow setting upper-case variables on the command line
  Makefile
  build/variables.mk
Owners: @cockroachdb/build-prs

temporary debugging
  pkg/testutils/lint/lint_test.go
Owners: none

exec: sort indices of the selection vector in the testing framework
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: sort indices of the selection vector in the testing framework
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

opt: handle differently sized plans in the plan cache
  pkg/server/config.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/querycache/query_cache_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

jobs,sql,storage: minor code fixes
  pkg/jobs/jobs.go
  pkg/sql/conn_fsm.go
  pkg/sql/distsqlrun/aggregator.go
  pkg/storage/engine/batch.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/core-prs

jobs,sql,storage: minor code fixes
  pkg/jobs/jobs.go
  pkg/sql/conn_fsm.go
  pkg/sql/distsqlrun/aggregator.go
  pkg/storage/engine/batch.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/core-prs

rpc/nodedialer: check context for cancellation before dialing
  pkg/rpc/nodedialer/nodedialer.go
Owners: @cockroachdb/core-prs

rpc/nodedialer: check context for cancellation before dialing
  pkg/rpc/nodedialer/nodedialer.go
Owners: @cockroachdb/core-prs

roachtest: switch roachtests and roachprod to no-barrier ext4 option by default
  pkg/cmd/roachprod/main.go
  pkg/cmd/roachtest/cdc.go
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/sysbench.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/tpcc.go
  pkg/cmd/roachtest/ycsb.go
Owners: none

roachtest: switch roachtests and roachprod to no-barrier ext4 option by default
  pkg/cmd/roachprod/main.go
  pkg/cmd/roachtest/cdc.go
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/sysbench.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/tpcc.go
  pkg/cmd/roachtest/ycsb.go
Owners: none

exec: add OFFSET columnar operator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/offset.go
  pkg/sql/exec/offset_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix a crash when an INSERT ON CONFLICT SET UPDATE uses the results of a subquery
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix a crash when an INSERT ON CONFLICT SET UPDATE uses the results of a subquery
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: add OFFSET columnar operator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/offset.go
  pkg/sql/exec/offset_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: add a cluster.name setting
  docs/generated/settings/settings.html
  pkg/sql/exec_util.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

ui: show cluster name in window title
  pkg/server/server.go
  pkg/ui/src/util/dataFromServer.ts
  pkg/ui/src/views/app/containers/layout/index.tsx
  pkg/ui/ui.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

distsqlrun: add metrics for queue size and wait duration
  pkg/sql/distsqlrun/flow_scheduler.go
  pkg/sql/distsqlrun/metrics.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsqlrun: add metrics for queue size and wait duration
  pkg/sql/distsqlrun/flow_scheduler.go
  pkg/sql/distsqlrun/metrics.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

*: update all deps
  Gopkg.lock
Owners: @cockroachdb/build-prs

*: update all deps
  Gopkg.lock
Owners: @cockroachdb/build-prs

server: refactor the grpc server
  pkg/server/grpc_server.go
  pkg/server/servemode_test.go
  pkg/server/server.go
  pkg/server/status.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: refactor the grpc server
  pkg/server/grpc_server.go
  pkg/server/servemode_test.go
  pkg/server/server.go
  pkg/server/status.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

opt/cat: replace Version with Equals
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

changefeedccl: use pgx in sinkless changefeed tests
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
Owners: @cockroachdb/sql-ccl-prs

builder: target OSX 10.10+
  build/builder.sh
  build/builder/Dockerfile
  build/builder/mkrelease.sh
Owners: @cockroachdb/build-prs

builder: target OSX 10.10+
  build/builder.sh
  build/builder/Dockerfile
  build/builder/mkrelease.sh
Owners: @cockroachdb/build-prs

exec: add OFFSET columnar operator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/offset.go
  pkg/sql/exec/offset_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

rfc: node names
  docs/RFCS/20190114_node_names.md
Owners: @cockroachdb/rfc-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
