Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-opt-prs, @cockroachdb/cli-prs, @cockroachdb/admin-ui-prs

randutil: allow COCKROACH_RANDOM_SEED to seed NewPseudoRand
  pkg/internal/sqlsmith/sqlsmith_test.go
  pkg/util/randutil/rand.go
Owners: none

coldata: clean up the templates
  pkg/col/coldata/bytes.go
  pkg/col/coldata/bytes_test.go
  pkg/col/coldata/nulls.go
  pkg/col/coldata/nulls_test.go
  pkg/col/coldata/vec_tmpl.go
  pkg/col/coltypes/types.go
  pkg/sql/exec/execgen/cmd/execgen/data_manipulation_gen.go
  pkg/sql/exec/execgen/cmd/execgen/vec_gen.go
  pkg/sql/exec/execgen/placeholders.go
Owners: none

exec: unify Vec and Nulls to use VecArgs with Append and Copy
  pkg/col/coldata/nulls.go
  pkg/col/coldata/nulls_test.go
  pkg/col/coldata/vec.go
  pkg/col/coldata/vec_test.go
  pkg/col/coldata/vec_tmpl.go
  pkg/col/colserde/arrowbatchconverter_test.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/case.go
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/colrpc/colrpc_test.go
  pkg/sql/exec/deselector.go
  pkg/sql/exec/hash_aggregator.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_tmpl.go
  pkg/sql/exec/orderedsynchronizer.go
  pkg/sql/exec/routers.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_chunks.go
  pkg/sql/exec/sorttopk.go
Owners: none

bulk: split-and-scatter when SSTBatcher 'fills' range
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/storageccl/import.go
  pkg/ccl/workloadccl/format/sstable.go
  pkg/internal/client/db.go
  pkg/storage/bulk/buffering_adder.go
  pkg/storage/bulk/sst_batcher.go
  pkg/storage/bulk/sst_batcher_test.go
  pkg/storage/bulk/sst_writer.go
  pkg/storage/storagebase/bulk_adder.go
Owners: none

bulk: split-and-scatter when SSTBatcher 'fills' range
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/storageccl/import.go
  pkg/ccl/workloadccl/format/sstable.go
  pkg/internal/client/db.go
  pkg/storage/bulk/buffering_adder.go
  pkg/storage/bulk/sst_batcher.go
  pkg/storage/bulk/sst_batcher_test.go
  pkg/storage/bulk/sst_writer.go
  pkg/storage/storagebase/bulk_adder.go
Owners: none

demo: Get a temporary license upon demo startup
  pkg/cli/demo.go
  pkg/cli/start.go
Owners: @cockroachdb/cli-prs

exec: Add framework for vectorized casts.
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/.gitignore
  pkg/sql/exec/cast_test.go
  pkg/sql/exec/cast_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/cast_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/logictest/testdata/logic_test/vectorize
  pkg/sql/sem/tree/datum.go
Owners: none

sql: Add a SHOW webui command.
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/vars.go
Owners: none

exec: generate a separate file for each join type for merge joiner
  Makefile
  pkg/sql/exec/.gitignore
  pkg/sql/exec/execgen/cmd/execgen/mergejoinbase_gen.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoinbase_tmpl.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: none

exec: generate a separate file for each join type for merge joiner
  Makefile
  pkg/sql/exec/.gitignore
  pkg/sql/exec/execgen/cmd/execgen/mergejoinbase_gen.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoinbase_tmpl.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: none

exec: generate a separate file for each join type for merge joiner
  Makefile
  pkg/sql/exec/.gitignore
  pkg/sql/exec/execgen/cmd/execgen/mergejoinbase_gen.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoinbase_tmpl.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: none

sql: Add range size to SHOW RANGES command.
  docs/generated/sql/functions.md
  pkg/sql/crdb_internal.go
  pkg/sql/delegate/show_ranges.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/show_ranges_test.go
Owners: none

sql: add cluster setting for opt-driven FK checks
  docs/generated/settings/settings.html
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/cascade_opt
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/fk-mixed-19.1-19.2
  pkg/sql/logictest/testdata/logic_test/fk_opt
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/bench/fk_test.go
  pkg/sql/opt/exec/execbuilder/testdata/explain_env
  pkg/sql/opt/exec/execbuilder/testdata/fk_opt
  pkg/sql/opt_exec_factory.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-opt-prs

sql: add cluster setting for opt-driven FK checks
  docs/generated/settings/settings.html
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/cascade_opt
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/fk-mixed-19.1-19.2
  pkg/sql/logictest/testdata/logic_test/fk_opt
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/bench/fk_test.go
  pkg/sql/opt/exec/execbuilder/testdata/explain_env
  pkg/sql/opt/exec/execbuilder/testdata/fk_opt
  pkg/sql/opt_exec_factory.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-opt-prs

sql: rename experimental_enable_zigzag_join
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/opt/exec/execbuilder/testdata/explain_env
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/stats
  pkg/sql/opt_exec_factory.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-opt-prs

sql: rename experimental_enable_zigzag_join
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/opt/exec/execbuilder/testdata/explain_env
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/stats
  pkg/sql/opt_exec_factory.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-opt-prs

cli: Add location information to default demo localities.
  pkg/cli/demo.go
  pkg/roachpb/metadata.go
  pkg/sqlmigrations/migrations.go
  pkg/sqlmigrations/migrations_test.go
Owners: @cockroachdb/cli-prs

cli: Add location information to default demo localities.
  pkg/cli/demo.go
  pkg/roachpb/metadata.go
  pkg/sqlmigrations/migrations.go
  pkg/sqlmigrations/migrations_test.go
Owners: @cockroachdb/cli-prs

exec: Add framework for vectorized casts.
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/.gitignore
  pkg/sql/exec/cast_test.go
  pkg/sql/exec/cast_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/cast_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/logictest/testdata/logic_test/vectorize
  pkg/sql/sem/tree/datum.go
Owners: none

exec: Add framework for vectorized casts.
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/.gitignore
  pkg/sql/exec/cast_test.go
  pkg/sql/exec/cast_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/cast_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/logictest/testdata/logic_test/vectorize
  pkg/sql/sem/tree/datum.go
Owners: none

sqlsmith: improve vec for bin exprs and distinct
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: none

sqlsmith: improve vec for bin exprs and distinct
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: none

storage: fix multiTestContext changeReplicas
  pkg/storage/client_test.go
Owners: none

storage: fix multiTestContext changeReplicas
  pkg/storage/client_test.go
Owners: none

importccl: skip TestImportMySQL
  pkg/ccl/importccl/import_stmt_test.go
Owners: none

importccl: skip TestImportMySQL
  pkg/ccl/importccl/import_stmt_test.go
Owners: none

roachpb: unwrap MixedSuccess when preparing txn for retry
  pkg/roachpb/data.go
  pkg/roachpb/data_test.go
Owners: none

cli: support \d client-side command with no arguments
  pkg/cli/sql.go
  pkg/cli/sql_test.go
Owners: @cockroachdb/cli-prs

cli: support \d client-side command with no arguments
  pkg/cli/sql.go
  pkg/cli/sql_test.go
Owners: @cockroachdb/cli-prs

sql: add width_bucket builtin
  docs/generated/sql/functions.md
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/builtins/builtins_test.go
Owners: none

sql: add width_bucket builtin
  docs/generated/sql/functions.md
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/builtins/builtins_test.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs
/pkg/sql/stats/              @cockroachdb/sql-opt-prs

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js
