Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

cli: set modified times in debug zip
  pkg/cli/zip.go
Owners: @cockroachdb/cli-prs

cli: set modified times in debug zip
  pkg/cli/zip.go
Owners: @cockroachdb/cli-prs

sql: fix omitted columns bug in wrapped plans
  pkg/sql/logictest/testdata/logic_test/statement_source
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix type-indexing bug for wrapped planNodes
  pkg/sql/logictest/testdata/logic_test/ordinality
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

build,Makefile: break up the release process into two phases
  Makefile
  build/teamcity-bless-provisional-binaries.sh
  build/teamcity-publish-provisional-binaries.sh
  build/variables.mk
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: @cockroachdb/build-prs

build: fork publish-artifacts to publish-provisional-artifacts
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: none

storage: update comments on a test
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: update comments on a test
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage/bulk: attempt to avoid making range-spanning SSTs
  pkg/storage/bulk/sst_batcher.go
  pkg/storage/bulk/sst_batcher_test.go
Owners: @cockroachdb/core-prs

server: rework the initServer
  pkg/server/init.go
  pkg/server/node.go
  pkg/server/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: rework the initServer
  pkg/server/init.go
  pkg/server/node.go
  pkg/server/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: move ReplicaChecksum
  pkg/storage/replica.go
  pkg/storage/replica_consistency.go
Owners: @cockroachdb/core-prs

storage: move ReplicaChecksum
  pkg/storage/replica.go
  pkg/storage/replica_consistency.go
Owners: @cockroachdb/core-prs

storage: extract metrics-related code
  pkg/storage/replica.go
  pkg/storage/replica_closedts.go
  pkg/storage/replica_metrics.go
Owners: @cockroachdb/core-prs

storage: extract closedts code from replica
  pkg/storage/replica.go
  pkg/storage/replica_closedts.go
Owners: @cockroachdb/core-prs

storage: move processRaftCommand
  pkg/storage/replica.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_init.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_range_lease.go
Owners: @cockroachdb/core-prs

storage: move raft processing into own file
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: extract closedts code from replica
  pkg/storage/replica.go
  pkg/storage/replica_closedts.go
Owners: @cockroachdb/core-prs

storage: extract replica gossip helpers
  pkg/storage/replica.go
  pkg/storage/replica_gossip.go
Owners: @cockroachdb/core-prs

storage: move pendingCmdSlice
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: factor out replica quota and destroy methods
  pkg/storage/replica.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_proposal_quota.go
Owners: @cockroachdb/core-prs

storage: move processRaftCommand
  pkg/storage/replica.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_init.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_range_lease.go
Owners: @cockroachdb/core-prs

storage: factor out replica quota and destroy methods
  pkg/storage/replica.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_proposal_quota.go
Owners: @cockroachdb/core-prs

storage: extract replica gossip helpers
  pkg/storage/replica.go
  pkg/storage/replica_gossip.go
Owners: @cockroachdb/core-prs

storage: factor out quiescer methods
  pkg/storage/replica.go
  pkg/storage/replica_raft_quiesce.go
Owners: @cockroachdb/core-prs

storage: separate files for read/write path
  pkg/storage/replica.go
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_read.go
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

storage: more assorted code movement
  pkg/storage/replica.go
  pkg/storage/replica_corruption.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_metrics.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_split_load.go
Owners: @cockroachdb/core-prs

storage: more assorted code movement
  pkg/storage/replica.go
  pkg/storage/replica_corruption.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_metrics.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_split_load.go
Owners: @cockroachdb/core-prs

storage: extract metrics-related code
  pkg/storage/replica.go
  pkg/storage/replica_closedts.go
  pkg/storage/replica_metrics.go
Owners: @cockroachdb/core-prs

storage: factor out quiescer methods
  pkg/storage/replica.go
  pkg/storage/replica_raft_quiesce.go
Owners: @cockroachdb/core-prs

storage: move pendingCmdSlice
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: move raft processing into own file
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: separate files for read/write path
  pkg/storage/replica.go
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_read.go
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

sql: fix a crash when an INSERT ON CONFLICT SET UPDATE uses the results of a subquery
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: load build version for bench
  pkg/cmd/roachtest/main.go
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: load build version for bench
  pkg/cmd/roachtest/main.go
  pkg/cmd/roachtest/test.go
Owners: none

ui: fix combineStatementStats to coalesce sensitiveInfo
  pkg/ui/src/util/appStats.spec.ts
  pkg/ui/src/util/appStats.ts
  pkg/ui/src/views/statements/statements.spec.tsx
Owners: @cockroachdb/admin-ui-prs

ui: fix combineStatementStats to coalesce sensitiveInfo
  pkg/ui/src/util/appStats.spec.ts
  pkg/ui/src/util/appStats.ts
  pkg/ui/src/views/statements/statements.spec.tsx
Owners: @cockroachdb/admin-ui-prs

storage: get rid of VersionRangeAppliedStateKey
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/helpers_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
Owners: @cockroachdb/core-prs

server: refactor the grpc server
  pkg/server/grpc_server.go
  pkg/server/servemode_test.go
  pkg/server/server.go
  pkg/server/status.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
