Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv

util: add iterutil to create consistent iterators
  pkg/util/iterutil/iterutil.go
  pkg/util/iterutil/iterutil_test.go
Owners: none

kvserver: refactor iterator to use iterutil.State
  pkg/kv/kvserver/store.go
  pkg/kv/kvserver/store_test.go
Owners: @cockroachdb/kv

kvserver: refactor iterator to use iterutil.State
  pkg/kv/kvserver/store.go
  pkg/kv/kvserver/store_test.go
Owners: @cockroachdb/kv

util: add iterutil to create consistent iterators
  pkg/util/iterutil/iterutil.go
  pkg/util/iterutil/iterutil_test.go
Owners: none

cli: explain certs in mt start-sql --help
  pkg/cli/mt_start_sql.go
Owners: @cockroachdb/cli-prs

test_certs: remove stale comment
  pkg/security/securitytest/test_certs/regenerate.sh
Owners: none

test_certs: remove stale comment
  pkg/security/securitytest/test_certs/regenerate.sh
Owners: none

server: use a dummier dummyServer
  pkg/server/testserver.go
  pkg/testutils/lint/lint_test.go
Owners: none

cli: explain certs in mt start-sql --help
  pkg/cli/mt_start_sql.go
Owners: @cockroachdb/cli-prs

server: use a dummier dummyServer
  pkg/server/testserver.go
  pkg/testutils/lint/lint_test.go
Owners: none

backupccl: include all tenants in (no-rev-history) full cluster backup
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/targets.go
Owners: @cockroachdb/bulk-io

sqlmigrations: add migration for system.tenants
  pkg/sqlmigrations/migrations.go
Owners: none

cli: add telemetry for flag usage
  pkg/cli/flags.go
  pkg/cli/interactive_tests/common.tcl
  pkg/cli/interactive_tests/test_flags.tcl
Owners: @cockroachdb/cli-prs

cli: add telemetry for flag usage
  pkg/cli/flags.go
  pkg/cli/interactive_tests/common.tcl
  pkg/cli/interactive_tests/test_flags.tcl
Owners: @cockroachdb/cli-prs

cli: add telemetry for flag usage
  pkg/cli/flags.go
  pkg/cli/interactive_tests/common.tcl
  pkg/cli/interactive_tests/test_flags.tcl
Owners: @cockroachdb/cli-prs

backup: Add BACKUP INTO varient of BACKUP TO
  docs/generated/sql/bnf/backup.bnf
  docs/generated/sql/bnf/restore.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/backupccl/backup_job.go
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/create_scheduled_backup.go
  pkg/ccl/backupccl/manifest_handling.go
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/targets.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/internal/sqlsmith/bulkio.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/backup.go
  pkg/sql/sem/tree/pretty.go
Owners: @cockroachdb/bulk-io

backup: Add BACKUP INTO varient of BACKUP TO
  docs/generated/sql/bnf/backup.bnf
  docs/generated/sql/bnf/restore.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/backupccl/backup_job.go
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/create_scheduled_backup.go
  pkg/ccl/backupccl/manifest_handling.go
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/targets.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/internal/sqlsmith/bulkio.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/backup.go
  pkg/sql/sem/tree/pretty.go
Owners: @cockroachdb/bulk-io

roachtest: add full cluster backup to acceptance/version-upgrade
  pkg/cmd/roachtest/versionupgrade.go
Owners: none

sql: resolve public.geometry and public.geography as built-in types
  pkg/sql/catalog/accessors/logical_schema_accessors.go
  pkg/sql/create_table.go
  pkg/sql/create_type.go
  pkg/sql/logictest/testdata/logic_test/geospatial
  pkg/sql/types/alias.go
Owners: none

jobs: gate reading created_by field on cluster version
  pkg/jobs/jobs.go
Owners: none

jobs: gate reading created_by field on cluster version
  pkg/jobs/jobs.go
Owners: none

coldata: minor tweak of flat bytes
  pkg/col/coldata/bytes.go
  pkg/col/coldata/bytes_test.go
Owners: none

coldata: minor tweak of flat bytes
  pkg/col/coldata/bytes.go
  pkg/col/coldata/bytes_test.go
Owners: none

roachtest: don't run kv0bench tests nightly
  pkg/cmd/roachtest/kvbench.go
Owners: none

roachtest: remove old cdc poller tests
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: remove old cdc poller tests
  pkg/cmd/roachtest/cdc.go
Owners: none

cliccl: add ./cockroach mt start-proxy
  pkg/ccl/cliccl/mtproxy.go
  pkg/cli/mt.go
Owners: @cockroachdb/cli-prs

types: refactor user defined type API's in types package
  pkg/ccl/backupccl/restore_planning.go
  pkg/cli/dump.go
  pkg/internal/sqlsmith/type.go
  pkg/sql/catalog/descs/collection.go
  pkg/sql/create_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/resolver.go
  pkg/sql/sem/tree/format.go
  pkg/sql/sem/tree/type_name.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/type_desc.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/types/oid.go
  pkg/sql/types/types.go
  pkg/sql/types/types.pb.go
  pkg/sql/types/types.proto
  pkg/sql/types/types_test.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

cmd/generate-spatial-ref-sys: adapt script for scale
  pkg/cmd/generate-spatial-ref-sys/main.go
Owners: none

cmd/generate-spatial-ref-sys: adapt script for scale
  pkg/cmd/generate-spatial-ref-sys/main.go
Owners: none

sql: collect histogram stats for all index columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: none

importccl: fix case sensitive INSERT INTO column names in PGDUMP
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

cli: add userfile delete command to remove uploaded user files
  pkg/cli/userfile.go
  pkg/cli/userfiletable_test.go
  pkg/storage/cloud/external_storage.go
  pkg/storage/cloudimpl/file_table_storage.go
  pkg/storage/cloudimpl/filetable/file_table_read_writer.go
Owners: @cockroachdb/cli-prs

cli: add userfile delete command to remove uploaded user files
  pkg/cli/userfile.go
  pkg/cli/userfiletable_test.go
  pkg/storage/cloud/external_storage.go
  pkg/storage/cloudimpl/file_table_storage.go
  pkg/storage/cloudimpl/filetable/file_table_read_writer.go
Owners: @cockroachdb/cli-prs

sql: implement `ALTER SCHEMA RENAME TO`
  pkg/ccl/backupccl/restore_schema_change_creation.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/alter_schema.go
  pkg/sql/backfill.go
  pkg/sql/catalog/descs/collection.go
  pkg/sql/conn_executor.go
  pkg/sql/create_schema.go
  pkg/sql/database_test.go
  pkg/sql/logictest/testdata/logic_test/schema
  pkg/sql/schema.go
  pkg/sql/schema_change_migrations_test.go
  pkg/sql/schema_changer.go
  pkg/sql/sqlbase/schema_desc.go
  pkg/sql/table.go
  pkg/sql/walk.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/bulk-io

sqlbase,catalogkv: move more kv interactions to sqlbase
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/targets.go
  pkg/ccl/importccl/import_stmt.go
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/backfill.go
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/catalog/catalogkv/namespace.go
  pkg/sql/catalog/catalogkv/physical_accessor.go
  pkg/sql/catalog/lease/lease.go
  pkg/sql/create_schema.go
  pkg/sql/create_sequence.go
  pkg/sql/create_table.go
  pkg/sql/create_type.go
  pkg/sql/database.go
  pkg/sql/descriptor.go
  pkg/sql/drop_database.go
  pkg/sql/namespace_test.go
  pkg/sql/rename_table.go
  pkg/sql/schema_change_migrations_test.go
  pkg/sql/schema_changer.go
  pkg/sql/sqlbase/helpers_test.go
  pkg/sql/sqlbase/index_encoding.go
  pkg/sql/sqlbase/table.go
  pkg/sql/temporary_schema.go
  pkg/sql/truncate.go
  pkg/sql/zone_config.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/bulk-io

release: add script to add qualification tags to release
  build/release/teamcity-mark-build.sh
Owners: none

sql: resolve public.geometry and public.geography as built-in types
  pkg/sql/catalog/accessors/logical_schema_accessors.go
  pkg/sql/create_table.go
  pkg/sql/create_type.go
  pkg/sql/logictest/testdata/logic_test/geospatial
  pkg/sql/types/alias.go
Owners: none

sql: resolve public.geometry and public.geography as built-in types
  pkg/sql/catalog/accessors/logical_schema_accessors.go
  pkg/sql/create_table.go
  pkg/sql/create_type.go
  pkg/sql/logictest/testdata/logic_test/geospatial
  pkg/sql/types/alias.go
Owners: none

sql: use errgroup in schema change job migration tests
  pkg/sql/schema_change_migrations_test.go
Owners: none
