Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

fixup remove duplicates in blacklist
  pkg/cmd/roachtest/sqlalchemy_blacklist.go
Owners: none

opt: Fix panic on insert with check constraint and dropping column
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Fix panic on insert with check constraint and dropping column
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

kv: disable size check on marshaling to reduce panics
  pkg/kv/transport.go
  pkg/kv/transport_test.go
Owners: @cockroachdb/core-prs

kv: disable size check on marshaling to reduce panics
  pkg/kv/transport.go
  pkg/kv/transport_test.go
Owners: @cockroachdb/core-prs

intentresolver: fix test flake due to timing of batches
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: fix test flake due to timing of batches
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

opt: add a framework for testing the cost model
  pkg/sql/opt/opbench/cat.go
  pkg/sql/opt/opbench/config.go
  pkg/sql/opt/opbench/config_test.go
  pkg/sql/opt/opbench/opbench_test.go
  pkg/sql/opt/opbench/spec.go
  pkg/sql/opt/opbench/testdata/tpch-hash-join.csv
  pkg/sql/opt/opbench/testdata/tpch-lookup-join.csv
  pkg/sql/opt/opbench/testdata/tpch-merge-join.csv
Owners: @cockroachdb/sql-opt-prs

opt: make lookup join more expensive
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

opt: make lookup join more expensive
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

Add generated docs and fix failing tests
  docs/generated/settings/settings.html
  pkg/server/goroutinedumper/goroutinedumper_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: add checks after all referenced columns have been backfilled
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/opt_catalog.go
  pkg/sql/rename_column.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/show_create.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: add checks after all referenced columns have been backfilled
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/opt_catalog.go
  pkg/sql/rename_column.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/show_create.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

Fix tests
  pkg/server/goroutinedumper/goroutinedumper.go
  pkg/server/goroutinedumper/goroutinedumper_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

Fix failing tests
  pkg/server/goroutinedumper/goroutinedumper_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: add feature usage telemetry for CTEs
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/sqltelemetry/planning.go
  pkg/sql/with.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add telemetry for usage of subqueries
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/subquery.go
  pkg/sql/sqltelemetry/planning.go
  pkg/sql/subquery.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: enhance/fix the detection of correlated subqueries
  pkg/sql/conn_executor_exec.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/plan.go
  pkg/sql/plan_opt.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/query_cache.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: add telemetry for usage of correlated subqueries
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/sqltelemetry/planning.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: produce telemetry for usage of relational operators
  Makefile
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/telemetry
  pkg/sql/opt/optgen/cmd/optgen/main.go
  pkg/sql/opt/optgen/cmd/optgen/telemetry_gen.go
  pkg/sql/opt/telemetry.og.go
  pkg/sql/sqltelemetry/opt.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: fix the multidimensional array telemetry
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/pgerror/errors.go
  pkg/sql/pgwire/types.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/parse_array.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

engineccl/mvcc: fix time-bound iterator's interaction with moving intents
  pkg/ccl/storageccl/engineccl/mvcc.go
  pkg/ccl/storageccl/engineccl/mvcc_test.go
Owners: @cockroachdb/sql-bulk-prs

engineccl/mvcc: fix time-bound iterator's interaction with moving intents
  pkg/ccl/storageccl/engineccl/mvcc.go
  pkg/ccl/storageccl/engineccl/mvcc_test.go
Owners: @cockroachdb/sql-bulk-prs

storage: improve the heuristic for recomputing raft log size
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: improve the heuristic for recomputing raft log size
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: facilitate side effect mutation in applyRaftCommand
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: facilitate side effect mutation in applyRaftCommand
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

sql: enhance/fix the detection of correlated subqueries
  pkg/sql/conn_executor_exec.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/plan.go
  pkg/sql/plan_opt.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/query_cache.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: enhance/fix the detection of correlated subqueries
  pkg/sql/conn_executor_exec.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/plan.go
  pkg/sql/plan_opt.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/query_cache.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

stats,distsqlrun: improve create stats job progress reporting
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

sql: fix the multidimensional array telemetry
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/pgerror/errors.go
  pkg/sql/pgwire/types.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/parse_array.go
  pkg/sql/sem/tree/parse_array_test.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

sql: fix the multidimensional array telemetry
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/pgerror/errors.go
  pkg/sql/pgwire/types.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/parse_array.go
  pkg/sql/sem/tree/parse_array_test.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

sql: clean up the `array` logic test
  .gitattributes
  pkg/sql/logictest/testdata/logic_test/array
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

sql: clean up the `array` logic test
  .gitattributes
  pkg/sql/logictest/testdata/logic_test/array
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

sql: add telemetry for usage of subqueries
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/subquery.go
  pkg/sql/sqltelemetry/planning.go
  pkg/sql/subquery.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add feature usage telemetry for CTEs
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/sqltelemetry/planning.go
  pkg/sql/with.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add telemetry for usage of correlated subqueries
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/sqltelemetry/planning.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: add telemetry for usage of correlated subqueries
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/sqltelemetry/planning.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: add feature usage telemetry for CTEs
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/sqltelemetry/planning.go
  pkg/sql/with.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add telemetry for usage of subqueries
  pkg/server/updates_test.go
  pkg/sql/opt/optbuilder/subquery.go
  pkg/sql/sqltelemetry/planning.go
  pkg/sql/subquery.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
