Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

roachtest: skip disk_usage/* tests
  pkg/cmd/roachtest/disk_space.go
Owners: none

rangefeed: test that GCThreshold is respected
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

roachtest: use less ranges in kv/splits/.../quiesce=false
  pkg/cmd/roachtest/kv.go
Owners: none

roachtest: use less ranges in kv/splits/.../quiesce=false
  pkg/cmd/roachtest/kv.go
Owners: none

sql: ensure spans get anonymized in plan collection
  pkg/sql/explain_plan.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: list only tables in pg_catalog.pg_tables
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: list only tables in pg_catalog.pg_tables
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: list only tables in pg_catalog.pg_tables
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

build: fix the make rule `testccllogic`, include in `testlogic`
  Makefile
Owners: @cockroachdb/build-prs

build: fix the make rule `testccllogic`, include in `testlogic`
  Makefile
Owners: @cockroachdb/build-prs

importccl: add workload frontend that skips detour though CSV
  pkg/ccl/importccl/read_import_proc.go
  pkg/ccl/importccl/read_import_workload.go
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

importccl: add direct-ingest, no sort IMPORT mode
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_proc.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

sql: pass walltime to the IMPORT reader
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

sql: pass walltime to the IMPORT reader
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

importccl: add direct-ingest, no sort IMPORT mode
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_proc.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

sem/tree: use StmtTimestamp as max for AsOf, enforce non-zero intervals
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/planhook.go
  pkg/sql/render.go
  pkg/sql/sem/tree/as_of.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

wip
  pkg/sql/apply_join.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

sql: wip: apply join
  pkg/sql/apply_join.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan_columns.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

wip
  pkg/sql/apply_join.go
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/builder.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_physical_props.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachprod: add timeout on command to destroy GCE instances
  pkg/cmd/roachprod/vm/gce/gcloud.go
Owners: none

roachprod: add timeout on command to destroy GCE instances
  pkg/cmd/roachprod/vm/gce/gcloud.go
Owners: none

sql: introduce PREPARE AS OPT PLAN
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/conn_executor_exec.go
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/private.go
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan_opt.go
  pkg/sql/sem/tree/prepare.go
  pkg/sql/sem/tree/stmt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs

wip: vectorized merge join operator 2: electric boogaloo
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

distsqlplan: fix error in union planning
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/logictest/testdata/logic_test/sqlsmith
  pkg/sql/logictest/testdata/logic_test/union
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

storage: clarify rangefeed catchup iter ownership
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

storage: clarify rangefeed catchup iter ownership
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

sql: introduce PREPARE AS OPT PLAN
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/conn_executor_exec.go
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/opt/idxconstraint/index_constraints_test.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/parse_type.go
  pkg/sql/opt/optgen/exprgen/private.go
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/testutils/utils.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan_opt.go
  pkg/sql/sem/tree/prepare.go
  pkg/sql/sem/tree/stmt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs

kv: dont wrap a MixedSuccessError within a MixedSuccessError
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/core-prs

workload: add idxstress workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/util/randutil/rand.go
  pkg/workload/idxstress/idxstress.go
  pkg/workload/workload.go
Owners: @cockroachdb/sql-ccl-prs

storage: hook rangefeed iter limiter to a cluster setting
  docs/generated/settings/settings.html
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: hook rangefeed iter limiter to a cluster setting
  docs/generated/settings/settings.html
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

changefeedccl: support more columns types with avro
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder_test.go
Owners: @cockroachdb/sql-ccl-prs

sql: confine auto-commit to TableWriterBase
  pkg/sql/backfill.go
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/delete_range.go
  pkg/sql/insert.go
  pkg/sql/tablewriter.go
  pkg/sql/tablewriter_delete.go
  pkg/sql/tablewriter_insert.go
  pkg/sql/tablewriter_update.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/truncate.go
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: confine auto-commit to TableWriterBase
  pkg/sql/backfill.go
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/delete_range.go
  pkg/sql/insert.go
  pkg/sql/tablewriter.go
  pkg/sql/tablewriter_delete.go
  pkg/sql/tablewriter_insert.go
  pkg/sql/tablewriter_update.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/truncate.go
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

caller: don't panic on modules usage
  pkg/util/caller/resolver.go
Owners: none

caller: don't panic on modules usage
  pkg/util/caller/resolver.go
Owners: none

importccl: add a cluster version check to direct_ingest
  docs/generated/settings/settings.html
  pkg/ccl/importccl/import_stmt.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

importccl: add a cluster version check to direct_ingest
  docs/generated/settings/settings.html
  pkg/ccl/importccl/import_stmt.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

intentresolver: limit number of txns processed at a time in CleanupIntents
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

internal/sqlsmith: ignore all crdb_internal.force_* functions
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs
