Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql: benchmark for the query cache
  pkg/sql/plan_opt_test.go
  pkg/sql/querycache/query_cache_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: benchmark for the query cache
  pkg/sql/plan_opt_test.go
  pkg/sql/querycache/query_cache_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: add more EXPLAIN (OPT) flavors
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/memo/testdata/format
  pkg/sql/opt/memo/typing_test.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

opt: Support check constraints
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/xform/testdata/external/customer
Owners: @cockroachdb/sql-opt-prs

opt: Support check constraints
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/xform/testdata/external/customer
Owners: @cockroachdb/sql-opt-prs

opt: Add execution support for check constraints
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/update.go
  pkg/sql/upsert.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

sql/stats: rename sql.stats.experimental_automatic
  docs/generated/settings/settings.html
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

sql/stats: rename sql.stats.experimental_automatic
  docs/generated/settings/settings.html
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

opt: add rule to simplify DistinctOn with no grouping columns
  pkg/sql/logictest/testdata/logic_test/distinct_on
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/distinct_on
  pkg/sql/opt/norm/groupby.go
  pkg/sql/opt/norm/rules/groupby.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/norm/testdata/rules/select
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: add ids to expressions
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/operator.go
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/exprs
  pkg/sql/opt/xform/testdata/rules/groupby
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

cli: Deflake TestRemoveDeadReplicas
  pkg/cli/debug_test.go
  pkg/storage/store.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

sql: plumb BulkAdder though distsql
  pkg/server/server.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/server.go
  pkg/storage/bulk/main_test.go
  pkg/storage/bulk/sst_batcher.go
  pkg/storage/bulk/sst_batcher_test.go
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: add support for bulk backfilling indexes via AddSST
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/distsqlrun/indexbackfiller.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs

sql: plumb BulkAdder though distsql
  pkg/server/server.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/server.go
  pkg/storage/bulk/main_test.go
  pkg/storage/bulk/sst_batcher_test.go
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: plumb BulkAdder though distsql
  pkg/server/server.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/server.go
  pkg/storage/bulk/main_test.go
  pkg/storage/bulk/sst_batcher_test.go
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsql: rip out the experimental lookup join code
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/stats.pb.go
  pkg/sql/distsqlrun/stats.proto
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/distsql_lookup_join
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

opt: sort entries in a filter list
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
Owners: @cockroachdb/sql-opt-prs

opt: add reorder joins flag
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachtest: run mixed version tests on more releases
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/upgrade.go
  pkg/cmd/roachtest/version.go
Owners: none

roachtest: run mixed version tests on more releases
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/upgrade.go
  pkg/cmd/roachtest/version.go
Owners: none

opt: reorder joins (off by default)
  pkg/sql/exec_util.go
  pkg/sql/opt/exec/execbuilder/testdata/join_order
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

opt: Add execution support for check constraints
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/update.go
  pkg/sql/upsert.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: Add execution support for check constraints
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/update.go
  pkg/sql/upsert.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

server,rpc: validate node IDs in RPC heartbeats
  pkg/gossip/client_test.go
  pkg/gossip/gossip_test.go
  pkg/rpc/context.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat.pb.go
  pkg/rpc/heartbeat.proto
  pkg/rpc/heartbeat_test.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/server/admin.go
  pkg/server/server.go
  pkg/server/status.go
  pkg/sql/distsqlrun/cluster_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/server_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

server, logictest: minor cleanups around cluster version
  pkg/base/testing_knobs.go
  pkg/server/server_update.go
  pkg/server/version_cluster_test.go
  pkg/sql/logictest/logic.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

server, logictest: minor cleanups around cluster version
  pkg/base/testing_knobs.go
  pkg/server/server_update.go
  pkg/server/version_cluster_test.go
  pkg/sql/logictest/logic.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

opt: mitigation of query cache overhead on bad workloads
  pkg/sql/conn_executor.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/querycache/query_cache_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: mitigation of query cache overhead on bad workloads
  pkg/sql/conn_executor.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/querycache/query_cache_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: add more EXPLAIN (OPT) flavors
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/memo/testdata/format
  pkg/sql/opt/memo/typing_test.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

opt: add more EXPLAIN (OPT) flavors
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/memo/testdata/format
  pkg/sql/opt/memo/typing_test.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

build: test enterprise features in the every-pr teamcity build
  build/teamcity-local-roachtest.sh
  pkg/cmd/roachtest/cdc.go
Owners: @cockroachdb/build-prs

storage: fix filterUnremovableReplicas badness
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/replicate_queue.go
Owners: @cockroachdb/core-prs

sql,sqlbase: fix the introspection for pre-2.1 BIT columns
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/colencoding/value_encoding.go
  pkg/sql/crdb_internal_test.go
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/materializer.go
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/sqlbase/column_type_properties.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

sql: avoid calling planNode.Close() during execution
  pkg/sql/plan.go
  pkg/sql/subquery.go
  pkg/sql/union.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachprod: bump ubuntu image
  pkg/cmd/roachprod/vm/gce/gcloud.go
Owners: none

roachprod: bump ubuntu image
  pkg/cmd/roachprod/vm/gce/gcloud.go
Owners: none

roachtest: disable encryption in upgrade test
  pkg/cmd/roachtest/upgrade.go
Owners: none

roachtest: disable encryption in upgrade test
  pkg/cmd/roachtest/upgrade.go
Owners: none

storage: fix lastReplicaAdded computation
  pkg/storage/replica_init.go
  pkg/storage/replica_init_test.go
Owners: @cockroachdb/core-prs

storage: reimplement StorePool.AvailableNodeCount
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/storage/allocator_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
  pkg/storage/node_liveness.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_rebalancer_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
