Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sqlsmith: return tree.Name in namer
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: remove a done TODO
  pkg/internal/sqlsmith/scope.go
Owners: @cockroachdb/core-prs

sqlsmith: add join types
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: use INSERT table cols in RETURNING
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: make db optional
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: make db optional
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: use the scopes rand when available
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: wrap BinOps in ParenExpr
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: teach values how to return colRefs
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: teach values how to return colRefs
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: support DEFAULT VALUES in INSERT
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: return tree.Name in namer
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: remove unsupported [ ] table expr in joins
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: add ORDER BY to SELECT
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: support non-named INSERT clauses
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: add test to parse generated statements
  pkg/internal/sqlsmith/main_test.go
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: ignore pg_sleep
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: use the scopes rand when available
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: remove unsupported [ ] table expr in joins
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: add join types
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sql/parser: add a missing contextual help annotation
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql/parser: add a missing contextual help annotation
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: comments in the information_schema definitions
  pkg/sql/information_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: comments in the information_schema definitions
  pkg/sql/information_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix the match type reporting in information_schema.referential_constraints
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix the match type reporting in information_schema.referential_constraints
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: properly exclude non-table, non-view objects in information_schema
  pkg/sql/information_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: properly mark sequences as `bigint` in information_schema.sequences
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: properly mark sequences as `bigint` in information_schema.sequences
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: populate information_schema.table_privileges.with_hierarchy
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: populate information_schema.table_privileges.with_hierarchy
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: properly populate attributes in information_schema.views
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: properly populate attributes in information_schema.views
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/information_schema
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: Add "retry" option to zone logic test to prevent flakes
  pkg/ccl/logictestccl/testdata/logic_test/zone
Owners: @cockroachdb/sql-ccl-prs

opt: Add "retry" option to zone logic test to prevent flakes
  pkg/ccl/logictestccl/testdata/logic_test/zone
Owners: @cockroachdb/sql-ccl-prs

fixup more blacklists
  pkg/cmd/roachtest/sqlalchemy_blacklist.go
Owners: none

sql: make the datetime logic test more portable
  pkg/sql/logictest/testdata/logic_test/datetime
Owners: @cockroachdb/sql-rest-prs

Makefile: bump the test timeout
  Makefile
Owners: @cockroachdb/build-prs

Makefile: bump the test timeout
  Makefile
Owners: @cockroachdb/build-prs

sql: provide table comments on virtual tables
  pkg/server/admin.go
  pkg/sql/comment_on_column.go
  pkg/sql/comment_on_table.go
  pkg/sql/crdb_internal.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/show_tables.go
  pkg/sql/sqlbase/constants.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-async-prs
