Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

opt: change catalog interface to not mutate table names in-place
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/create_table.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add auto-spilling disk backed hash row container
  pkg/sql/distsqlrun/hash_row_container.go
  pkg/sql/distsqlrun/hash_row_container_test.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/hashjoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: add auto-spilling disk backed hash row container
  pkg/sql/distsqlrun/hash_row_container.go
  pkg/sql/distsqlrun/hash_row_container_test.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/hashjoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

roachtest: turn on bulk insert backfill in schema change tpcc
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
Owners: none

roachtest: turn on bulk insert backfill in schema change tpcc
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
Owners: none

opt: rename "provided" to "actual" in expressions
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt/xform/testdata/ruleprops/orderings
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/manual
  pkg/sql/opt/xform/testdata/rules/scan
Owners: @cockroachdb/sql-opt-prs

opt: rename "provided" to "actual" in expressions
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt/xform/testdata/ruleprops/orderings
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/manual
  pkg/sql/opt/xform/testdata/rules/scan
Owners: @cockroachdb/sql-opt-prs

sql: rename TableNameWithIndex
  docs/generated/sql/bnf/show_ranges_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/config/zone.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/sql.y
  pkg/sql/resolver.go
  pkg/sql/sem/tree/alter_index.go
  pkg/sql/sem/tree/drop.go
  pkg/sql/sem/tree/rename.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/split.go
  pkg/sql/sem/tree/table_name.go
  pkg/sql/sem/tree/zone.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: rename TableNameWithIndex
  docs/generated/sql/bnf/show_ranges_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/config/zone.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/sql.y
  pkg/sql/resolver.go
  pkg/sql/sem/tree/alter_index.go
  pkg/sql/sem/tree/drop.go
  pkg/sql/sem/tree/rename.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/split.go
  pkg/sql/sem/tree/table_name.go
  pkg/sql/sem/tree/zone.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

roachtest: add cdc/cloud-sink
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: add cdc/cloud-sink
  pkg/cmd/roachtest/cdc.go
Owners: none

opt: improve memo dependency staleness check
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/sem/tree/table_name.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: sort entries in a filter list
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
Owners: @cockroachdb/sql-opt-prs

opt: add reorder joins flag
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

opt: improve memo dependency staleness check
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/sem/tree/table_name.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: clean up TableNameWithIndex semantics
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  docs/generated/sql/bnf/drop_index.bnf
  docs/generated/sql/bnf/rename_index.bnf
  docs/generated/sql/bnf/show_zone_stmt.bnf
  docs/generated/sql/bnf/split_index_at.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/config/zone.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/resolver.go
  pkg/sql/sem/tree/table_name.go
  pkg/sql/sem/tree/zone.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

distsqlrun: move RowBuffer ProducerClosed behind a mutex
  pkg/sql/distsqlplan/aggregator_funcs_test.go
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/distinct_test.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/hashjoiner_test.go
  pkg/sql/distsqlrun/interleaved_reader_joiner_test.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/mergejoiner_test.go
  pkg/sql/distsqlrun/routers_test.go
  pkg/sql/distsqlrun/sorter_test.go
  pkg/sql/distsqlrun/tablereader_test.go
  pkg/sql/distsqlrun/utils_test.go
  pkg/sql/distsqlrun/values_test.go
  pkg/sql/distsqlrun/zigzagjoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli: skip TestRemoveDeadReplicas
  pkg/cli/debug_test.go
Owners: @cockroachdb/cli-prs

util/batcher: create library for batching requests based on range ID
  pkg/util/batcher/batcher.go
  pkg/util/batcher/batcher_test.go
Owners: none

intentresolver: adopt Batcher for GCRequests
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/util/batcher/batcher.go
  pkg/util/batcher/batcher_test.go
Owners: @cockroachdb/core-prs

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: clean up TableNameWithIndex semantics
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  docs/generated/sql/bnf/drop_index.bnf
  docs/generated/sql/bnf/rename_index.bnf
  docs/generated/sql/bnf/show_zone_stmt.bnf
  docs/generated/sql/bnf/split_index_at.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/config/zone.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/resolver.go
  pkg/sql/sem/tree/table_name.go
  pkg/sql/sem/tree/zone.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: clean up TableNameWithIndex semantics
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  docs/generated/sql/bnf/drop_index.bnf
  docs/generated/sql/bnf/rename_index.bnf
  docs/generated/sql/bnf/show_zone_stmt.bnf
  docs/generated/sql/bnf/split_index_at.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/config/zone.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/resolver.go
  pkg/sql/sem/tree/table_name.go
  pkg/sql/sem/tree/zone.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql,sqlbase: fix the introspection for pre-2.1 BIT columns
  pkg/sql/crdb_internal_test.go
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/sqlbase/column_type_properties.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

server,rpc: validate node IDs in RPC heartbeats
  pkg/gossip/client_test.go
  pkg/gossip/gossip_test.go
  pkg/rpc/context.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat.pb.go
  pkg/rpc/heartbeat.proto
  pkg/rpc/heartbeat_test.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/server/admin.go
  pkg/server/node.go
  pkg/server/node_test.go
  pkg/server/status.go
  pkg/sql/distsqlrun/cluster_test.go
  pkg/sql/distsqlrun/inbound_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/server_test.go
  pkg/storage/client_test.go
  pkg/storage/raft_transport_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

deps: bump elastic/gosigar
  Gopkg.lock
Owners: @cockroachdb/build-prs

deps: bump elastic/gosigar
  Gopkg.lock
Owners: @cockroachdb/build-prs

changefeedccl: fix a bug with cloud storage sink file ordering
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: fix a bug with cloud storage sink file ordering
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: pass along unknown sink params to ExportStorage
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: pass along unknown sink params to ExportStorage
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink.go
Owners: @cockroachdb/sql-ccl-prs

opt: reorder joins (off by default)
  pkg/sql/exec_util.go
  pkg/sql/opt/exec/execbuilder/testdata/join_order
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

storage: rework load-based splitting
  pkg/storage/merge_queue.go
  pkg/storage/replica.go
  pkg/storage/replica_init.go
  pkg/storage/replica_split_load.go
  pkg/storage/split/decider.go
  pkg/storage/split/decider_test.go
  pkg/storage/split/finder.go
  pkg/storage/split/finder_test.go
  pkg/storage/split_queue.go
  pkg/storage/split_queue_test.go
Owners: @cockroachdb/core-prs

storage: rework load-based splitting
  pkg/storage/merge_queue.go
  pkg/storage/replica.go
  pkg/storage/replica_init.go
  pkg/storage/replica_split_load.go
  pkg/storage/split/decider.go
  pkg/storage/split/decider_test.go
  pkg/storage/split/finder.go
  pkg/storage/split/finder_test.go
  pkg/storage/split_queue.go
  pkg/storage/split_queue_test.go
Owners: @cockroachdb/core-prs

roachprod: error aws-machine-type flag will be ignored due to local-ssd flag
  pkg/cmd/roachprod/vm/aws/aws.go
Owners: none

roachprod: error aws-machine-type flag will be ignored due to local-ssd flag
  pkg/cmd/roachprod/vm/aws/aws.go
Owners: none

pretty: make union and concat pointer receivers
  pkg/util/pretty/document.go
  pkg/util/pretty/pretty.go
  pkg/util/pretty/util.go
Owners: none

pretty: make union and concat pointer receivers
  pkg/util/pretty/document.go
  pkg/util/pretty/pretty.go
  pkg/util/pretty/util.go
Owners: none

batcheval: move export MockEvalCtx
  pkg/storage/batcheval/cmd_clear_range_test.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/mock_eval_context_test.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
