Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

cli/interactive_tests: unskip test_url_db_override
  pkg/cli/interactive_tests/test_url_db_override.tcl
Owners: @cockroachdb/cli-prs

cli/interactive_tests: unskip test_url_db_override
  pkg/cli/interactive_tests/test_url_db_override.tcl
Owners: @cockroachdb/cli-prs

storage: fatal on replica corruption
  pkg/storage/client_raft_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: fatal on replica corruption
  pkg/storage/client_raft_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

roachtest: update hibernate blacklist for 2.1
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

roachtest: update hibernate blacklist for 2.1
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

roachtest: run SCRUB in schemachange tests
  pkg/cmd/roachtest/schemachange.go
Owners: none

sql: stop returning dropped unique columns in DELETE RETURNING
  pkg/sql/delete.go
  pkg/sql/logictest/testdata/logic_test/delete
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: stop returning dropped unique columns in DELETE RETURNING
  pkg/sql/delete.go
  pkg/sql/logictest/testdata/logic_test/delete
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

libroach/engine: plumb support for SingleDelete operation
  c-deps/libroach/batch.cc
  c-deps/libroach/batch.h
  c-deps/libroach/db.cc
  c-deps/libroach/engine.cc
  c-deps/libroach/engine.h
  c-deps/libroach/include/libroach.h
  c-deps/libroach/snapshot.cc
  c-deps/libroach/snapshot.h
  pkg/storage/engine/batch.go
  pkg/storage/engine/batch_test.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/spanset/batch.go
Owners: @cockroachdb/core-prs

opt: Make it easier to intern by object pointer
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/interner_test.go
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
Owners: @cockroachdb/sql-opt-prs

opt: Add Schema support to catalog and metadata
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/cat/object.go
  pkg/sql/opt/cat/schema.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add execbuilder support for the CreateTable operator
  pkg/server/updates_test.go
  pkg/sql/create_table.go
  pkg/sql/metric_test.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

opt: Add CreateTable support to optimizer
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/create_table.go
  pkg/sql/opt/optbuilder/testdata/create_table
  pkg/sql/opt/optbuilder/util.go
Owners: @cockroachdb/sql-opt-prs

opt: Inline constant values
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/project
Owners: @cockroachdb/sql-opt-prs

opt: Inline constant values
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/project
Owners: @cockroachdb/sql-opt-prs

sql: fix panic in insert on conflict do update
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: pessimize the weekly/tpcc-max test
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: pessimize the weekly/tpcc-max test
  pkg/cmd/roachtest/tpcc.go
Owners: none

sql: wait for node statuses in StartTestCluster
  pkg/ccl/partitionccl/partition_test.go
  pkg/sql/show_trace_replica_test.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: wait for node statuses in StartTestCluster
  pkg/ccl/partitionccl/partition_test.go
  pkg/sql/show_trace_replica_test.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: show line number for expectation failures
  pkg/sql/opt/testutils/opt_tester.go
Owners: @cockroachdb/sql-opt-prs

opt: show line number for expectation failures
  pkg/sql/opt/testutils/opt_tester.go
Owners: @cockroachdb/sql-opt-prs

libroach/engine: plumb support for SingleDelete operation
  c-deps/libroach/batch.cc
  c-deps/libroach/batch.h
  c-deps/libroach/db.cc
  c-deps/libroach/engine.cc
  c-deps/libroach/engine.h
  c-deps/libroach/include/libroach.h
  c-deps/libroach/snapshot.cc
  c-deps/libroach/snapshot.h
  pkg/storage/engine/batch.go
  pkg/storage/engine/batch_test.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/spanset/batch.go
Owners: @cockroachdb/core-prs

roachtest: ignore unrelated tags when looking for build version
  pkg/cmd/roachtest/test.go
Owners: none

Makefile: ignore unrelated tags when looking for build version
  Makefile
Owners: @cockroachdb/build-prs

settings: rename kv.raft_log.synchronize to kv.raft_log.disable_synchronization_unsafe
  docs/generated/settings/settings.html
  pkg/cmd/allocsim/main.go
  pkg/settings/registry.go
  pkg/storage/replica.go
  pkg/storage/replica_raftstorage.go
Owners: @cockroachdb/core-prs

settings: rename kv.raft_log.synchronize to kv.raft_log.disable_synchronization_unsafe
  docs/generated/settings/settings.html
  pkg/cmd/allocsim/main.go
  pkg/settings/registry.go
  pkg/storage/replica.go
  pkg/storage/replica_raftstorage.go
Owners: @cockroachdb/core-prs

*: ignore unrelated tags when looking for "closest" version tag
  Makefile
  build/teamcity-post-failures.py
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/roachtest/test.go
  scripts/release-notes.py
Owners: @cockroachdb/build-prs

*: ignore unrelated tags when looking for "closest" version tag
  Makefile
  build/teamcity-post-failures.py
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/roachtest/test.go
  scripts/release-notes.py
Owners: @cockroachdb/build-prs

*: ignore unrelated tags when looking for "closest" version tag
  Makefile
  build/teamcity-post-failures.py
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/roachtest/test.go
  scripts/release-notes.py
Owners: @cockroachdb/build-prs

sql: refactor common logic for logical plans
  pkg/sql/app_stats.go
  pkg/sql/crdb_internal.go
  pkg/sql/explain_plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachpb, sql: move sensitive info in StatementStatistics into sub-message
  pkg/roachpb/api.pb.go
  pkg/roachpb/app_stats.go
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/crdb_internal.go
  pkg/ui/src/util/appStats.spec.ts
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

sql: refactor common logic for logical plans
  pkg/sql/app_stats.go
  pkg/sql/crdb_internal.go
  pkg/sql/explain_plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql, roachpb: save representative logical plans in statement stats
  docs/generated/settings/settings.html
  pkg/roachpb/api.pb.go
  pkg/roachpb/app_stats.go
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
  pkg/sql/planner.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachpb, sql: move sensitive info in StatementStatistics into sub-message
  pkg/roachpb/api.pb.go
  pkg/roachpb/app_stats.go
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/crdb_internal.go
  pkg/ui/src/util/appStats.spec.ts
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

sql, roachpb: save representative logical plans in statement stats
  docs/generated/settings/settings.html
  pkg/roachpb/api.pb.go
  pkg/roachpb/app_stats.go
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
  pkg/sql/planner.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsql: refactor flow.StartSync()
  pkg/sql/distsql_running.go
  pkg/sql/distsqlplan/aggregator_funcs_test.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/flow_scheduler.go
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsql: refactor flow.StartSync()
  pkg/sql/distsql_running.go
  pkg/sql/distsqlplan/aggregator_funcs_test.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/flow_scheduler.go
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsql: flow start refactoring
  pkg/sql/distsqlrun/flow.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
