Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv

colexec: extend vecToDatumConverter to support "sparse" conversion
  pkg/sql/colexec/builtin_funcs.go
  pkg/sql/colexec/execgen/cmd/execgen/vec_to_datum_gen.go
  pkg/sql/colexec/hash_aggregator.go
  pkg/sql/colexec/materializer.go
  pkg/sql/colexec/projection_ops_test.go
  pkg/sql/colexec/vec_to_datum.eg.go
  pkg/sql/colexec/vec_to_datum_tmpl.go
  pkg/sql/colfetcher/cfetcher.go
Owners: none

execinfrapb: move ExprHelper and introduce a helper method
  pkg/sql/colexec/expr.go
  pkg/sql/distsql/inbound_test.go
  pkg/sql/execinfra/processorsbase.go
  pkg/sql/execinfrapb/expr.go
  pkg/sql/execinfrapb/expr_test.go
  pkg/sql/execinfrapb/processors.go
  pkg/sql/execinfrapb/processors_sql.pb.go
  pkg/sql/execinfrapb/processors_sql.proto
  pkg/sql/rowcontainer/datum_row_container.go
  pkg/sql/rowexec/aggregator.go
  pkg/sql/rowexec/inverted_joiner.go
  pkg/sql/rowexec/joinerbase.go
  pkg/sql/rowexec/project_set.go
  pkg/sql/sem/builtins/aggregate_builtins.go
  pkg/sql/sem/tree/datum.go
Owners: none

colexec: add default comparison operator
  Makefile
  pkg/col/coldataext/datum_vec.go
  pkg/sql/colexec/colbuilder/execplan.go
  pkg/sql/colexec/default_cmp_expr.eg.go
  pkg/sql/colexec/default_cmp_expr_tmpl.go
  pkg/sql/colexec/default_cmp_op_test.go
  pkg/sql/colexec/execgen/cmd/execgen/default_cmp_expr_gen.go
  pkg/sql/colexec/proj_const_left_ops.eg.go
  pkg/sql/colexec/proj_const_ops_tmpl.go
  pkg/sql/colexec/proj_const_right_ops.eg.go
  pkg/sql/colexec/proj_non_const_ops.eg.go
  pkg/sql/colexec/proj_non_const_ops_tmpl.go
  pkg/sql/colexec/projection_ops_test.go
  pkg/sql/colexec/selection_ops.eg.go
  pkg/sql/colexec/selection_ops_test.go
  pkg/sql/colexec/selection_ops_tmpl.go
  pkg/sql/colexec/utils.go
  pkg/sql/logictest/testdata/logic_test/vectorize_local
  pkg/sql/sem/tree/compare_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/normalize.go
  pkg/sql/sem/tree/pretty.go
  pkg/sql/sem/tree/type_check.go
Owners: none

colexec: add support for Tuple expressions and clean up tests
  pkg/sql/colexec/aggregators_test.go
  pkg/sql/colexec/colbuilder/execplan.go
  pkg/sql/colexec/default_cmp_op_test.go
  pkg/sql/colexec/distinct_test.go
  pkg/sql/colexec/mergejoiner_test.go
  pkg/sql/colexec/select_in_test.go
  pkg/sql/colexec/utils_test.go
Owners: none

sql: add WriteNameKeyToBatch function
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/catalog/catalogkv/namespace.go
  pkg/sql/planner.go
  pkg/sql/rename_table.go
  pkg/sql/schema_accessors.go
  pkg/sql/set_schema.go
Owners: none

sql: add WriteNameKeyToBatch function
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/catalog/catalogkv/namespace.go
  pkg/sql/planner.go
  pkg/sql/rename_table.go
  pkg/sql/schema_accessors.go
  pkg/sql/set_schema.go
Owners: none

sql: properly reset extraTxnState in COPY
  pkg/sql/conn_executor.go
  pkg/sql/copy.go
  pkg/sql/copy_in_test.go
Owners: none

sql: enforce COPY FROM options in parser
  pkg/sql/copy_file_upload.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/copy.go
Owners: none

sql: enforce COPY FROM options in parser
  pkg/sql/copy_file_upload.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/copy.go
Owners: none

sql: support COPY ... BINARY format
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/copy.go
  pkg/sql/copy_in_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/copy.go
Owners: none

sql: support COPY ... BINARY format
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/copy.go
  pkg/sql/copy_in_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/copy.go
Owners: none

opt: duplicate all table metadata fields when duplicating a scan
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/general_funcs.go
  pkg/sql/opt/norm/select_funcs.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-optimizer

importccl: prevent glob-expanding to multiple pgdumps
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/bulk-io

importccl: prevent glob-expanding to multiple pgdumps
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/bulk-io

sql: switch internal executor to iterator pattern
  pkg/cli/disable_replication.go
  pkg/jobs/registry.go
  pkg/kv/kvserver/protectedts/ptstorage/storage.go
  pkg/kv/kvserver/protectedts/ptstorage/storage_test.go
  pkg/kv/kvserver/reports/constraint_stats_report.go
  pkg/kv/kvserver/reports/critical_localities_report.go
  pkg/kv/kvserver/reports/critical_localities_report_test.go
  pkg/kv/kvserver/reports/replication_stats_report.go
  pkg/server/admin.go
  pkg/server/server_update.go
  pkg/server/statement_diagnostics_requests.go
  pkg/server/updates.go
  pkg/sql/authorization.go
  pkg/sql/catalog/lease/lease.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_io.go
  pkg/sql/crdb_internal.go
  pkg/sql/create_stats.go
  pkg/sql/distsql/server.go
  pkg/sql/explain_bundle.go
  pkg/sql/information_schema.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/scrub_constraint.go
  pkg/sql/scrub_fk.go
  pkg/sql/scrub_index.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/show_create.go
  pkg/sql/show_create_clauses.go
  pkg/sql/show_stats.go
  pkg/sql/sqlbase/internal.go
  pkg/sql/sqlutil/internal_executor.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/stmtdiagnostics/statement_diagnostics.go
  pkg/sql/unsplit.go
  pkg/sql/user.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/cli-prs, @cockroachdb/kv, @cockroachdb/sql-optimizer

lkj
  pkg/sql/internal.go
  pkg/sql/sqlutil/internal_executor.go
Owners: none

release: add script to add qualification tags to release
  build/release/teamcity-mark-build.sh
Owners: none

colexec: remove custom input/output batch size logic from few places
  pkg/sql/colexec/aggregators_test.go
  pkg/sql/colexec/mergejoiner.go
  pkg/sql/colexec/mergejoiner_exceptall.eg.go
  pkg/sql/colexec/mergejoiner_fullouter.eg.go
  pkg/sql/colexec/mergejoiner_inner.eg.go
  pkg/sql/colexec/mergejoiner_intersectall.eg.go
  pkg/sql/colexec/mergejoiner_leftanti.eg.go
  pkg/sql/colexec/mergejoiner_leftouter.eg.go
  pkg/sql/colexec/mergejoiner_leftsemi.eg.go
  pkg/sql/colexec/mergejoiner_rightouter.eg.go
  pkg/sql/colexec/mergejoiner_test.go
  pkg/sql/colexec/mergejoiner_tmpl.go
  pkg/sql/colexec/ordered_aggregator.go
  pkg/sql/colexec/parallel_unordered_synchronizer_test.go
  pkg/sql/colexec/relative_rank.eg.go
  pkg/sql/colexec/relative_rank_tmpl.go
  pkg/sql/colexec/routers.go
  pkg/sql/colexec/routers_test.go
  pkg/sql/colexec/spilling_queue.go
  pkg/sql/colexec/spilling_queue_test.go
  pkg/sql/colexec/types_integration_test.go
  pkg/sql/colexec/utils_test.go
Owners: none

colexec: introduce batches with dynamic capacity
  pkg/col/coldata/batch.go
  pkg/sql/colexec/columnarizer.go
  pkg/sql/colexec/deselector.go
  pkg/sql/colexec/dynamic_batch_size_helper.go
  pkg/sql/colexec/ordered_synchronizer.eg.go
  pkg/sql/colexec/ordered_synchronizer_tmpl.go
  pkg/sql/colexec/routers.go
  pkg/sql/colexec/sort.go
  pkg/sql/colexec/sorttopk.go
  pkg/sql/colexec/utils.go
  pkg/sql/colfetcher/cfetcher.go
  pkg/sql/colflow/colrpc/inbox.go
  pkg/sql/colmem/allocator.go
Owners: none

build: downgrade to Go 1.13
  Makefile
  build/bootstrap/bootstrap-debian.sh
  build/builder.sh
  build/builder/Dockerfile
  build/go-version-check.sh
  build/teamcity-verify-archive.sh
  go.mod
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/ccl/storageccl/engineccl/rocksdb.go
  pkg/cmd/roachprod/docker/Dockerfile
  pkg/storage/enginepb/mvcc3.pb.go
  pkg/storage/rocksdb.go
  pkg/util/hlc/timestamp.pb.go
Owners: @cockroachdb/bulk-io

build: downgrade to Go 1.13
  Makefile
  build/bootstrap/bootstrap-debian.sh
  build/builder.sh
  build/builder/Dockerfile
  build/go-version-check.sh
  build/teamcity-verify-archive.sh
  go.mod
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/ccl/storageccl/engineccl/rocksdb.go
  pkg/cmd/roachprod/docker/Dockerfile
  pkg/storage/enginepb/mvcc3.pb.go
  pkg/storage/rocksdb.go
  pkg/util/hlc/timestamp.pb.go
Owners: @cockroachdb/bulk-io

ui: Upgrade admin-ui-components package
  pkg/ui/package.json
  pkg/ui/yarn.lock
Owners: @cockroachdb/admin-ui-prs

ui: Upgrade admin-ui-components package
  pkg/ui/package.json
  pkg/ui/yarn.lock
Owners: @cockroachdb/admin-ui-prs

cliccl: add ./cockroach mt start-proxy
  pkg/ccl/cliccl/mtproxy.go
  pkg/cli/mt.go
Owners: @cockroachdb/cli-prs

security: don't load ca-server-tenant.crt on KV server config
  pkg/cli/mt_start_sql.go
  pkg/security/certificate_manager.go
  pkg/security/tls.go
Owners: @cockroachdb/cli-prs

[wip] rpc: serve tenants and node using single cert and port
  demo.sh
  pkg/cli/mt_cert.go
  pkg/rpc/auth.go
  pkg/rpc/auth_tenant.go
  pkg/rpc/context.go
  pkg/security/certificate_manager.go
  pkg/security/certs.go
  pkg/security/tls.go
  pkg/server/grpc_server.go
  pkg/server/server.go
  pkg/sql/execinfrapb/testutils.go
Owners: @cockroachdb/cli-prs

working wip
  pkg/blobs/blobspb/blobs.pb.go
  pkg/sql/backfill/backfill.go
  pkg/sql/colfetcher/cfetcher.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/sql/rowexec/interleaved_reader_joiner.go
  pkg/sql/rowexec/inverted_joiner.go
  pkg/sql/rowexec/joinreader.go
  pkg/sql/rowexec/joinreader_strategies.go
  pkg/sql/rowexec/rowfetcher.go
  pkg/sql/rowexec/scrub_tablereader.go
  pkg/sql/rowexec/stats.go
  pkg/sql/rowexec/tablereader.go
  pkg/sql/rowexec/zigzagjoiner.go
  pkg/sql/span/span_builder.go
  pkg/sql/tablewriter_delete.go
Owners: none

backupccl: sanitize passphrase in BACKUP job description
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/backup_test.go
Owners: @cockroachdb/bulk-io

backupccl: sanitize passphrase in BACKUP job description
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/backup_test.go
Owners: @cockroachdb/bulk-io

importccl: avoid TypeCheck erroring the import if column does not exist
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/testdata/pgdump/geo_ogr2ogr.sql
  pkg/ccl/importccl/testdata/pgdump/geo_shp2pgsql.sql
Owners: @cockroachdb/bulk-io

importccl: avoid TypeCheck erroring the import if column does not exist
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/testdata/pgdump/geo_ogr2ogr.sql
  pkg/ccl/importccl/testdata/pgdump/geo_shp2pgsql.sql
Owners: @cockroachdb/bulk-io

roachprod: fix log formatting in roachprod start
  pkg/cmd/roachprod/install/cockroach.go
Owners: none

roachprod: fix log formatting in roachprod start
  pkg/cmd/roachprod/install/cockroach.go
Owners: none

cliccl: add ./cockroach mt start-proxy
  pkg/ccl/cliccl/mtproxy.go
  pkg/cli/mt.go
Owners: @cockroachdb/cli-prs

cliccl: add ./cockroach mt start-proxy
  pkg/ccl/cliccl/mtproxy.go
  pkg/cli/mt.go
Owners: @cockroachdb/cli-prs

kvserver: skip TestStoreRangeMergeRHSLeaseExpiration
  pkg/kv/kvserver/client_merge_test.go
Owners: @cockroachdb/kv

kvserver: skip TestStoreRangeMergeRHSLeaseExpiration
  pkg/kv/kvserver/client_merge_test.go
Owners: @cockroachdb/kv

backupccl: clean up type descriptors after failed restore
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore_job.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
Owners: @cockroachdb/bulk-io

backupccl: clean up type descriptors after failed restore
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore_job.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
Owners: @cockroachdb/bulk-io

sql,changefeedccl,backupccl: adopt TableDescriptor interface more
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/changefeedccl/bench_test.go
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/sql/information_schema.go
  pkg/sql/pg_catalog.go
  pkg/sql/rename_database.go
  pkg/sql/set_zone_config.go
  pkg/sql/sqlbase/table_desc.go
  pkg/sql/zone_config.go
Owners: @cockroachdb/bulk-io
