Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql: reset table leases before executor can continue running
  pkg/sql/internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

json: allow ArrayBuilder to be reused
  pkg/sql/logictest/testdata/logic_test/window
  pkg/util/json/json.go
Owners: @cockroachdb/sql-rest-prs

json: allow ArrayBuilder to be reused
  pkg/sql/logictest/testdata/logic_test/window
  pkg/util/json/json.go
Owners: @cockroachdb/sql-rest-prs

exec: template avg operator and support floats
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/avg_agg.go
  pkg/sql/exec/avg_agg_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/avg_agg_gen.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: template avg operator and support floats
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/avg_agg.go
  pkg/sql/exec/avg_agg_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/avg_agg_gen.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: better checks on table version changes
  pkg/sql/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: add n:n support for hash joiner
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add n:n support for hash joiner
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

cli: include kv workload generator
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

cli: include kv workload generator
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

cli: include ycsb workload generator
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

cli: include ycsb workload generator
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

storage/spanlatch: use linked list instead of map for readSet
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/list.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: use linked list instead of map for readSet
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/list.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
Owners: @cockroachdb/core-prs

storage: skip TestStoreSplitFailsAfterMaxRetries on testshort
  pkg/storage/client_split_test.go
Owners: @cockroachdb/core-prs

storage: skip TestStoreSplitFailsAfterMaxRetries on testshort
  pkg/storage/client_split_test.go
Owners: @cockroachdb/core-prs

sql: better checks on table version changes
  pkg/sql/lease.go
  pkg/sql/table.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

storage/spanlatch: wait on writes before reads
  pkg/storage/spanlatch/manager.go
Owners: @cockroachdb/core-prs

storage/spanlatch: wait on writes before reads
  pkg/storage/spanlatch/manager.go
Owners: @cockroachdb/core-prs

sql: test a FK constraint cannot be added over an inactive column
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-rest-prs

sql: set mutation columns to nullable while backfilling
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: set mutation columns to nullable while backfilling
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: test a FK constraint cannot be added over an inactive column
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-rest-prs

sql: test UPSERT in TestRaceWithBackfill
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

sql: test UPSERT in TestRaceWithBackfill
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

sql: allow ADD NOT NULL computed columns
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/computed
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: allow ADD NOT NULL computed columns
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/computed
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add coalescer
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/coalescer_test.go
Owners: @cockroachdb/sql-rest-prs

sql: deflake TestDropTableInterleavedDeleteData
  pkg/sql/drop_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: deflake TestDropTableInterleavedDeleteData
  pkg/sql/drop_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: clean up makeOptimizerPlan
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: clean up makeOptimizerPlan
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

changefeedccl: add logs for slow ExportRequests and frontier spans
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/poller.go
  pkg/ccl/changefeedccl/span_frontier.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: add logs for slow ExportRequests and frontier spans
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/poller.go
  pkg/ccl/changefeedccl/span_frontier.go
Owners: @cockroachdb/sql-ccl-prs

sql: test UPSERT in TestRaceWithBackfill
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

sql: ensure table version can only be incremented once
  pkg/sql/backfill/backfill.go
  pkg/sql/lease.go
  pkg/sql/lease_internal_test.go
  pkg/sql/lease_test.go
  pkg/sql/opt_decompose_test.go
  pkg/sql/opt_index_selection_test.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/select_name_resolution_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured_test.go
  pkg/sql/table.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

sql,workload: port rand to workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/sql/sem/tree/create.go
  pkg/sql/sqlbase/encoded_datum_test.go
  pkg/sql/sqlbase/table_test.go
  pkg/sql/sqlbase/testutils.go
  pkg/sql/tests/random_schema_test.go
  pkg/workload/rand/rand.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql,workload: port rand to workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/sql/sem/tree/create.go
  pkg/sql/sqlbase/encoded_datum_test.go
  pkg/sql/sqlbase/table_test.go
  pkg/sql/sqlbase/testutils.go
  pkg/sql/tests/random_schema_test.go
  pkg/workload/rand/rand.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

roachtest: add sysbench roachtests
  pkg/cmd/roachprod/install/install.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/sysbench.go
Owners: none

sql: set mutation columns to nullable while backfilling
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/rowwriter.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
