Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

pgwire: use postgres instead of Go interval encoding for pgwire
  pkg/cli/testdata/dump/row
  pkg/cmd/generate-binary/main.go
  pkg/keys/printer_test.go
  pkg/roachpb/data_test.go
  pkg/server/settingsworker_test.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/collatedstring
  pkg/sql/logictest/testdata/logic_test/datetime
  pkg/sql/logictest/testdata/logic_test/json_builtins
  pkg/sql/logictest/testdata/logic_test/time
  pkg/sql/logictest/testdata/logic_test/typing
  pkg/sql/logictest/testdata/logic_test/window
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/window
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/norm/testdata/rules/comp
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/parser/parse_test.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/tree/datum_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/interval.go
  pkg/sql/sem/tree/interval_test.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sem/tree/parse_string_test.go
  pkg/sql/sem/tree/pretty_test.go
  pkg/sql/sem/tree/testdata/eval/annotate
  pkg/sql/sem/tree/testdata/eval/cast
  pkg/sql/sem/tree/testdata/eval/interval
  pkg/sql/sem/tree/type_check_test.go
  pkg/util/duration/duration.go
  pkg/util/encoding/encoding_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

pgwire: remove time output from dates
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: fix bit encoding for 0 length
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

ui: use equirectangular projection for node map
  pkg/ui/ccl/src/views/clusterviz/containers/map/mapLayout.tsx
Owners: @cockroachdb/admin-ui-prs

ui: use equirectangular projection for node map
  pkg/ui/ccl/src/views/clusterviz/containers/map/mapLayout.tsx
Owners: @cockroachdb/admin-ui-prs

ui, build: reproducible geography build
  Makefile
  pkg/ui/ccl/src/views/clusterviz/containers/map/us-states.1.json
  pkg/ui/ccl/src/views/clusterviz/containers/map/us-states.json
  pkg/ui/ccl/src/views/clusterviz/containers/map/world.json
  pkg/ui/ccl/src/views/clusterviz/containers/map/worldmap.tsx
  pkg/ui/package.json
  pkg/ui/scripts/topo.js
  pkg/ui/yarn.lock
Owners: @cockroachdb/build-prs, @cockroachdb/admin-ui-prs

ui, build: reproducible geography build
  Makefile
  pkg/ui/ccl/src/views/clusterviz/containers/map/us-states.1.json
  pkg/ui/ccl/src/views/clusterviz/containers/map/us-states.json
  pkg/ui/ccl/src/views/clusterviz/containers/map/world.json
  pkg/ui/ccl/src/views/clusterviz/containers/map/worldmap.tsx
  pkg/ui/package.json
  pkg/ui/scripts/topo.js
  pkg/ui/yarn.lock
Owners: @cockroachdb/build-prs, @cockroachdb/admin-ui-prs

opt: add perturb-cost flag to OptTester
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/main_test.go
  pkg/sql/opt/xform/optimizer.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/opt/xform/testdata/coster/perturb-cost
Owners: @cockroachdb/sql-opt-prs

opt: add perturb-cost flag to OptTester
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/main_test.go
  pkg/sql/opt/xform/optimizer.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/opt/xform/testdata/coster/perturb-cost
Owners: @cockroachdb/sql-opt-prs

pgwire: encoding tests/fixes for decimal and float nan/inf
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: enable text encoding tests
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: fix array and tuple encoding
  .gitattributes
  pkg/cli/sql_util_test.go
  pkg/cmd/generate-binary/main.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/alter_column_type
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/logictest/testdata/logic_test/bit
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/datetime
  pkg/sql/logictest/testdata/logic_test/default
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/no_primary_key
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/privileges_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/logictest/testdata/logic_test/select_search_path
  pkg/sql/logictest/testdata/logic_test/srfs
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/logictest/testdata/logic_test/tuple
  pkg/sql/logictest/testdata/logic_test/window
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/pgwire_encode.go
  pkg/sql/sem/tree/testdata/eval/convert
  pkg/util/stringencoding/string_encoding.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-wiring-prs

pgwire: encoding tests/fixes for decimal and float nan/inf
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: add encoding benchmarks
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: enable text encoding tests
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: add encoding benchmarks
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: fix array and tuple encoding
  .gitattributes
  pkg/cli/sql_util_test.go
  pkg/cmd/generate-binary/main.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/alter_column_type
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/logictest/testdata/logic_test/bit
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/datetime
  pkg/sql/logictest/testdata/logic_test/default
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/no_primary_key
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/privileges_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/logictest/testdata/logic_test/select_search_path
  pkg/sql/logictest/testdata/logic_test/srfs
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/logictest/testdata/logic_test/tuple
  pkg/sql/logictest/testdata/logic_test/window
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/pgwire_encode.go
  pkg/sql/sem/tree/testdata/eval/convert
  pkg/util/stringencoding/string_encoding.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-wiring-prs

kv: set sane default for kv.transaction.write_pipelining_max_batch_size
  docs/generated/settings/settings.html
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
Owners: @cockroachdb/core-prs

storage: partially deflake TestSystemZoneConfigs
  pkg/ccl/partitionccl/partition_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/node_liveness_test.go
  pkg/storage/replica.go
  pkg/storage/testing_knobs.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

storage: partially deflake TestSystemZoneConfigs
  pkg/ccl/partitionccl/partition_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/node_liveness_test.go
  pkg/storage/replica.go
  pkg/storage/testing_knobs.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

pgconnect: add some comments
  pkg/cmd/cmp-protocol/pgconnect/pgconnect.go
Owners: none

pgconnect: add some comments
  pkg/cmd/cmp-protocol/pgconnect/pgconnect.go
Owners: none

opt: Add expression and xform rule for secondary index zigzag joins
  pkg/sql/distsql_physical_planner.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-execution-prs

opt: Test changes for previous commit adding zigzag opt expr/xform rule.
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/stats
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

sql/sqlbase: move MutableTableDescriptor constructors to sqlbase
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/sql/create_table.go
  pkg/sql/create_view.go
  pkg/sql/logical_schema_accessors.go
  pkg/sql/physical_schema_accessors.go
  pkg/sql/resolver.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/table.go
  pkg/sql/truncate.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql/sqlbase: move MutableTableDescriptor constructors to sqlbase
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/sql/create_table.go
  pkg/sql/create_view.go
  pkg/sql/logical_schema_accessors.go
  pkg/sql/physical_schema_accessors.go
  pkg/sql/resolver.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/table.go
  pkg/sql/truncate.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

pgwire: decode bpchar OIDs
  pkg/sql/pgwire/pgwirebase/encoding.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: decode bpchar OIDs
  pkg/sql/pgwire/pgwirebase/encoding.go
Owners: @cockroachdb/sql-wiring-prs

distsql: bugfix to distsql planning of subqueries
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/distsql_subquery
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

sql: set mutation columns to nullable while backfilling
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsql: bugfix to distsql planning of subqueries
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/distsql_subquery
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

distsql: bugfix to distsql planning of subqueries
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/distsql_subquery
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

raftentry: rewrite storage.raftEntryCache with dense, per-replica state
  pkg/storage/entry_cache.go
  pkg/storage/entry_cache_test.go
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/metrics.go
  pkg/storage/raftentry/ring_buffer.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

roachtest: add smaller index add schemachange, tweak names
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
Owners: none

roachtest: add smaller index add schemachange, tweak names
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
Owners: none

sql: increase index checkpoint interval to 2min
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/schema_changer.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: increase index checkpoint interval to 2min
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/schema_changer.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

storage/cmdq: speed up unit tests
  pkg/storage/cmdq/interval_btree_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: catch identical upper bound on recomputation during removal
  pkg/storage/spanlatch/interval_btree.go
Owners: @cockroachdb/core-prs

storage/spanlatch: create spanlatch.Manager using immutable btrees
  pkg/storage/command_queue_test.go
  pkg/storage/spanlatch/doc.go
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/core-prs
