Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

exec: add chunkingBatchSource
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: add ColVec.Slice operator
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

storage: Downgrade a spammy log message
  pkg/storage/allocator_scorer.go
Owners: @cockroachdb/core-prs

storage: Downgrade a spammy log message
  pkg/storage/allocator_scorer.go
Owners: @cockroachdb/core-prs

exec: vectorized merge join operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: increase the default max snapshot rate
  docs/generated/settings/settings.html
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

storage: increase the default max snapshot rate
  docs/generated/settings/settings.html
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

storage: return non-truncated bytes sideloaded.TruncateTo
  pkg/storage/replica_proposal.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/core-prs

sql: bust incorrect usages of evalCtx.Ctx()
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/mergejoiner.go
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/distsqlrun/stream_group_accumulator.go
  pkg/sql/distsqlrun/stream_merger.go
  pkg/sql/executor_statement_metrics.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: bust incorrect usages of evalCtx.Ctx()
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/mergejoiner.go
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/distsqlrun/stream_group_accumulator.go
  pkg/sql/distsqlrun/stream_merger.go
  pkg/sql/executor_statement_metrics.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: allow recomputing Raft log size
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/helpers_test.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

sql: add support for pg_catalog.{current_setting,set_config}
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/server.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/planner.go
  pkg/sql/schema_changer.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/set_var.go
  pkg/sql/sqlbase/evalctx.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: fix processing of patterns with custom escape character
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/eval_internal_test.go
  pkg/sql/sem/tree/like_test.go
Owners: @cockroachdb/sql-rest-prs

wip
  pkg/ccl/changefeedccl/changefeed_dist.go
  pkg/internal/client/txn.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_io.go
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsql_running.go
  pkg/sql/distsql_running_test.go
  pkg/sql/pgwire/command_result.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

storage: use ComputeRaftLogSize in more tests
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

sql: EXECUTE .. RETURNING NOTHING
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/planner.go
  pkg/sql/sem/tree/prepare.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: don't panic in prod on processor double close
  pkg/sql/distsqlrun/processors.go
  pkg/util/log/crash_reporting.go
  pkg/util/mon/bytes_usage.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: don't panic in prod on processor double close
  pkg/sql/distsqlrun/processors.go
  pkg/util/log/crash_reporting.go
  pkg/util/mon/bytes_usage.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

roachtest: add retry loop to follower read test
  pkg/cmd/roachtest/follower_reads.go
Owners: none

sql: don't double call ConsumerClosed in wrapped local plans
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: don't double call ConsumerClosed in wrapped local plans
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

workload: default --tolerate-errors to true in `run`
  pkg/workload/cli/run.go
Owners: none

exec: vectorized merge join operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: accept+ignore precision 6 on TIME,TIMESTAMP,TIMESTAMPTZ
  pkg/sql/coltypes/timedate.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: accept+ignore precision 6 on TIME,TIMESTAMP,TIMESTAMPTZ
  pkg/sql/coltypes/timedate.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql/pgwire/hba: parse options
  pkg/sql/pgwire/hba/Makefile
  pkg/sql/pgwire/hba/conf.go
  pkg/sql/pgwire/hba/conf.rl
  pkg/sql/pgwire/hba/testdata/parse
Owners: @cockroachdb/build-prs, @cockroachdb/sql-wiring-prs

ccl/gssapiccl: add GSS authentication support on Linux
  .gitmodules
  Makefile
  build/builder.sh
  build/builder/Dockerfile
  c-deps/krb5-rebuild
  pkg/acceptance/cluster/certs.go
  pkg/acceptance/compose/gss/docker-compose.yml
  pkg/acceptance/compose/gss/kdc/Dockerfile
  pkg/acceptance/compose/gss/kdc/krb5.conf
  pkg/acceptance/compose/gss/kdc/start.sh
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/acceptance/compose/gss/psql/empty.go
  pkg/acceptance/compose/gss/psql/gss_test.go
  pkg/acceptance/compose/gss/psql/start.sh
  pkg/acceptance/compose_test.go
  pkg/ccl/ccl_init.go
  pkg/ccl/gssapiccl/empty.go
  pkg/ccl/gssapiccl/gssapi.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-wiring-prs

storage: use lease start time to determine follower read safety
  pkg/storage/replica_follower_read.go
Owners: @cockroachdb/core-prs

stats: quiesce automatic stats refresh task earlier
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

stats: quiesce automatic stats refresh task earlier
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

storage/engine,libroach: 1x write amplification on ingest sst
  c-deps/libroach/db.cc
  c-deps/libroach/include/libroach.h
  pkg/ccl/storageccl/engineccl/mvcc_test.go
  pkg/storage/batcheval/cmd_add_sstable_test.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/rocksdb_test.go
  pkg/storage/replica_proposal.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-bulk-prs

client/requestbatcher: fix testflake due to slow channel sends
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

client/requestbatcher: fix testflake due to slow channel sends
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

sql: EXECUTE .. DISCARD ROWS
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/planner.go
  pkg/sql/sem/tree/prepare.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

roachtest: remove debug log
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: remove debug log
  pkg/cmd/roachtest/test.go
Owners: none

sql: rank the errors received by the DistSQLReceiver
  pkg/internal/client/txn.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_io.go
  pkg/sql/distsql_running.go
  pkg/sql/distsql_running_test.go
  pkg/sql/pgwire/command_result.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

sql: rank the errors received by the DistSQLReceiver
  pkg/internal/client/txn.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_io.go
  pkg/sql/distsql_running.go
  pkg/sql/distsql_running_test.go
  pkg/sql/pgwire/command_result.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

sql: add inverted index validation after backfill
  docs/generated/sql/functions.md
  pkg/sql/backfill.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/builtins/builtins.go
  pkg/util/json/json.go
  pkg/util/json/json_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

sql: add inverted index validation after backfill
  docs/generated/sql/functions.md
  pkg/sql/backfill.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/builtins/builtins.go
  pkg/util/json/json.go
  pkg/util/json/json_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
