Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

intentresolver: fix test flake for CleanupIntents
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: fix test flake for CleanupIntents
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

sql: create stats after a schema change
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

sql: create stats after a schema change
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

jobs: separate description from statement
  pkg/jobs/jobs.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/registry.go
  pkg/server/admin.go
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/admin.proto
  pkg/sql/crdb_internal.go
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/show_jobs.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/admin-ui-prs

jobs: separate description from statement
  pkg/jobs/jobs.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/registry.go
  pkg/server/admin.go
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/admin.proto
  pkg/sql/crdb_internal.go
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/show_jobs.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/admin-ui-prs

sql: ensure column constraints are validated after SET for UPSERT
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: disable SimplifyZeroCardinalityGroup
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/memo/testdata/logprops/constraints-null
  pkg/sql/opt/memo/testdata/logprops/offset
  pkg/sql/opt/memo/testdata/logprops/srfs
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/testdata/rules/bool
  pkg/sql/opt/norm/testdata/rules/comp
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/limit
  pkg/sql/opt/norm/testdata/rules/max1row
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/norm/testdata/rules/zero_cardinality
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

workload/bank: generate random strings much faster
  cpu.prof
  pkg/ccl/storageccl/export_storage_test.go
  pkg/workload/bank/bank.go
  pkg/workload/bank/bank_test.go
  pkg/workload/csv_test.go
Owners: @cockroachdb/sql-bulk-prs

workload/bank: generate random strings much faster
  cpu.prof
  pkg/ccl/storageccl/export_storage_test.go
  pkg/workload/bank/bank.go
  pkg/workload/bank/bank_test.go
  pkg/workload/csv_test.go
Owners: @cockroachdb/sql-bulk-prs

tscache: reduce unit test logging output
  pkg/storage/tscache/cache_test.go
Owners: @cockroachdb/core-prs

tscache: reduce unit test logging output
  pkg/storage/tscache/cache_test.go
Owners: @cockroachdb/core-prs

roachtest: Fix blacklist lookups to handle change from v2.2 to v19.1
  pkg/cmd/roachtest/hibernate_blacklist.go
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
Owners: none

roachtest: Fix blacklist lookups to handle change from v2.2 to v19.1
  pkg/cmd/roachtest/hibernate_blacklist.go
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
Owners: none

storage: fix a comment
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: fix a comment
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

sqlsmith: refactor reference accounting
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
Owners: @cockroachdb/core-prs

sqlsmith: deterministic ordering of ops and funcs
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: merge Smither and schema types
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: use subquery.SetType instead of wrapping
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: improve crasher output
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/sql-rest-prs

sqlsmith: deterministic ordering of ops and funcs
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: switch types to cockroach types
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: extract funcs from code
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: simplify test output
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: extract funcs from code
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: switch types to cockroach types
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: use subquery.SetType instead of wrapping
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: get operators from code
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: refactor reference accounting
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
Owners: @cockroachdb/core-prs

sqlsmith: merge Smither and schema types
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: get operators from code
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: improve crasher output
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/sql-rest-prs

sqlsmith: simplify test output
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

exec: use NewMemBatchWithSize in NewMemBatch
  pkg/sql/exec/colbatch.go
Owners: @cockroachdb/sql-rest-prs

exec: use NewMemBatchWithSize in NewMemBatch
  pkg/sql/exec/colbatch.go
Owners: @cockroachdb/sql-rest-prs

opt: various small exprgen changes
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/testdata/explain
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/testdata/explain
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/sem/tree/explain.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachprod: default to sequential=true
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: default to sequential=true
  pkg/cmd/roachprod/main.go
Owners: none

opt: turn group collisions into a no-op
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/exprs
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
