Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

importccl: batch kvs by table+index when ingesting directly
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

sql: implement apply join
  pkg/sql/apply_join.go
  pkg/sql/join_predicate.go
  pkg/sql/logictest/testdata/logic_test/apply_join
  pkg/sql/logictest/testdata/logic_test/orms-opt
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/builder.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_columns.go
  pkg/sql/plan_physical_props.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

Init container not using bash
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
Owners: none

gss: skip test and make lint happy
  pkg/acceptance/compose/gss/psql/gss_test.go
  pkg/sql/pgwire/hba/hba_test.go
Owners: @cockroachdb/sql-wiring-prs

gss: skip test and make lint happy
  pkg/acceptance/compose/gss/psql/gss_test.go
  pkg/sql/pgwire/hba/hba_test.go
Owners: @cockroachdb/sql-wiring-prs

storage: return non-truncated bytes sideloaded.TruncateTo
  pkg/storage/replica_proposal.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/core-prs

storage: allow recomputing Raft log size
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/helpers_test.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: move TestTruncateLog
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: use ComputeRaftLogSize in more tests
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: add comments to diskSideloadStorage's methods
  pkg/storage/replica_sideload_disk.go
Owners: @cockroachdb/core-prs

storage: use ComputeRaftLogSize in more tests
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: add comments to diskSideloadStorage's methods
  pkg/storage/replica_sideload_disk.go
Owners: @cockroachdb/core-prs

storage: move TestTruncateLog
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: recompute raft log size in Raft log queue when zero
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/helpers_test.go
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: allow recomputing Raft log size
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/helpers_test.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: return non-truncated bytes sideloaded.TruncateTo
  pkg/storage/replica_proposal.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/core-prs

storage: recompute raft log size in Raft log queue when zero
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/helpers_test.go
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

batcheval: estimate stats in EvalAddSSTable
  pkg/storage/batcheval/cmd_add_sstable.go
Owners: @cockroachdb/core-prs

sql: provide table comments for `crdb_internal`
  pkg/server/admin.go
  pkg/sql/crdb_internal.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pg_catalog.go
  pkg/sql/show_tables.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

importccl: fix bug in progress of direct workload imports
  pkg/ccl/importccl/read_import_workload.go
Owners: @cockroachdb/sql-bulk-prs

importccl: fix bug in progress of direct workload imports
  pkg/ccl/importccl/read_import_workload.go
Owners: @cockroachdb/sql-bulk-prs

execbuild: bugfix to group by with input ordering
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distinct
  pkg/sql/opt/exec/execbuilder/testdata/distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-opt-prs

execbuild: bugfix to group by with input ordering
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distinct
  pkg/sql/opt/exec/execbuilder/testdata/distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-opt-prs

ccl: debug encryption-active-key command to show active store key ID.
  pkg/ccl/cliccl/debug.go
Owners: @cockroachdb/sql-ccl-prs

ccl: debug encryption-active-key command to show active store key ID.
  pkg/ccl/cliccl/debug.go
Owners: @cockroachdb/sql-ccl-prs

importccl: batch kvs by table+index when ingesting directly
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

exec: add deselector operator
  pkg/sql/exec/deselector.go
  pkg/sql/exec/deselector_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

roachtest: add an ignore list to psycopg
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
Owners: none

roachtest: add an ignore list to psycopg
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
Owners: none

exec: add ColVec.Slice operator
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: vectorized merge join operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add chunkingBatchSource
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: vectorized merge join operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add chunkingBatchSource
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: add ColVec.Slice operator
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: extract spooling phase of sorter into a separate operator
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/sql-rest-prs

exec: add deselector operator
  pkg/sql/exec/deselector.go
  pkg/sql/exec/deselector_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

importccl: batch kvs by table+index when ingesting directly
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

importccl: batch kvs by table+index when ingesting directly
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

sql,stats: collect stats on non-index columns too
  pkg/ccl/backupccl/backup_test.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/sql/stats/row_sampling.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
