Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql: allow ADD NOT NULL computed columns
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/computed
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: test a FK constraint cannot be added over an inactive column
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-rest-prs

kv, sql: replace TestTraceFromErrorReplica
  pkg/kv/transport_test.go
  pkg/sql/trace_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: move uncommitted-tables check alongside the other consistency checks
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

workload/rand: test schema consistency
  pkg/ccl/workloadccl/allccl/all_test.go
  pkg/sql/sqlbase/testutils.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

workload/rand: test schema consistency
  pkg/ccl/workloadccl/allccl/all_test.go
  pkg/sql/sqlbase/testutils.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

roachtest: add sysbench roachtests
  pkg/cmd/roachprod/install/install.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/sysbench.go
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: add sysbench roachtests
  pkg/cmd/roachprod/install/install.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/sysbench.go
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: fix core -> aws machine translation
  pkg/cmd/roachtest/cluster.go
Owners: none

roachtest: fix core -> aws machine translation
  pkg/cmd/roachtest/cluster.go
Owners: none

storage: Collect IntentHistory for transactions
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.h
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/enginepb/file_registry.pb.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/enginepb/mvcc.pb.go
  pkg/storage/engine/enginepb/mvcc.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/replica_test.go
  pkg/storage/stats_test.go
Owners: @cockroachdb/core-prs

sql: move uncommitted-tables check alongside the other consistency checks
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: move uncommitted-tables check alongside the other consistency checks
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: move uncommitted-tables check alongside the other consistency checks
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: ensure table version can only be incremented once
  pkg/sql/backfill/backfill.go
  pkg/sql/lease.go
  pkg/sql/lease_internal_test.go
  pkg/sql/lease_test.go
  pkg/sql/opt_decompose_test.go
  pkg/sql/opt_index_selection_test.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/select_name_resolution_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured_test.go
  pkg/sql/table.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

sql: ensure table version can only be incremented once
  pkg/sql/backfill/backfill.go
  pkg/sql/lease.go
  pkg/sql/lease_internal_test.go
  pkg/sql/lease_test.go
  pkg/sql/opt_decompose_test.go
  pkg/sql/opt_index_selection_test.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/select_name_resolution_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured_test.go
  pkg/sql/table.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

roachpb: avoid accidental MinTxnPriority due to rounding error
  pkg/roachpb/data.go
  pkg/roachpb/data_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

roachpb: avoid accidental MinTxnPriority due to rounding error
  pkg/roachpb/data.go
  pkg/roachpb/data_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

sql: prevent a crash and add telemetry for an assertion
  pkg/sql/cluster_wide_id.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/pgerror/errors.go
  pkg/util/uint128/uint128.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

sql: prevent a crash and add telemetry for an assertion
  pkg/sql/cluster_wide_id.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/pgerror/errors.go
  pkg/util/uint128/uint128.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

scripts: fix names in rn generator
  scripts/release-notes.py
Owners: @cockroachdb/build-prs

scripts: fix names in rn generator
  scripts/release-notes.py
Owners: @cockroachdb/build-prs

sql: better checks on table version changes
  pkg/sql/descriptor.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
  pkg/sql/table.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

sql: better checks on table version changes
  pkg/sql/descriptor.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
  pkg/sql/table.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

storage: block preemptive snapshot on member replica
  pkg/storage/client_merge_test.go
  pkg/storage/client_test.go
  pkg/storage/store.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: block preemptive snapshot on member replica
  pkg/storage/client_merge_test.go
  pkg/storage/client_test.go
  pkg/storage/store.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: delay manual splits that would result in more snapshots
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/replica_command.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_delay_helper_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

storage: delay manual splits that would result in more snapshots
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/replica_command.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_delay_helper_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

raftentry: fix typo in comment
  pkg/storage/raftentry/cache.go
Owners: @cockroachdb/core-prs

raftentry: fix typo in comment
  pkg/storage/raftentry/cache.go
Owners: @cockroachdb/core-prs

sql: prevent a crash and add telemetry for an assertion
  pkg/sql/cluster_wide_id.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/pgerror/errors.go
  pkg/util/uint128/uint128.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

Revert "Revert "libroach: use FlushWAL instead of SyncWAL""
  c-deps/libroach/db.cc
  c-deps/libroach/options.cc
  pkg/storage/engine/rocksdb_test.go
Owners: @cockroachdb/core-prs

Revert "Revert "libroach: use FlushWAL instead of SyncWAL""
  c-deps/libroach/db.cc
  c-deps/libroach/options.cc
  pkg/storage/engine/rocksdb_test.go
Owners: @cockroachdb/core-prs

roachtest: add disk-full roachtest
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/disk_full.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/synctest.go
Owners: none

roachtest: add disk-full roachtest
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/disk_full.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/synctest.go
Owners: none

roachtest: reenable skipped import tests
  pkg/cmd/roachtest/import.go
  pkg/cmd/roachtest/restore.go
Owners: none

roachtest: reenable skipped import tests
  pkg/cmd/roachtest/import.go
  pkg/cmd/roachtest/restore.go
Owners: none

sql: bump noteworthy internal mem usage threshold to 1mb
  pkg/sql/planner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: use descriptive name for memory monitor
  pkg/jobs/registry.go
  pkg/sql/planner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: log when rebalance-after-split causes snapshot
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs
