Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

exec: execute and plan multi-col asc sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/bool_vec_to_sel.go
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: Update the zone specifier formatter
  pkg/sql/parser/parse_test.go
  pkg/sql/sem/tree/zone.go
  pkg/sql/set_zone_config.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: support `COMMENT ON TABLE`
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/logictestccl/testdata/logic_test/role
  pkg/cli/cli_test.go
  pkg/keys/constants.go
  pkg/sql/comment_on_table.go
  pkg/sql/comment_on_table_test.go
  pkg/sql/drop_table.go
  pkg/sql/event_log.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/role
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/plan.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/comment_on_table.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_tables.go
  pkg/sql/sqlbase/system.go
  pkg/sql/tests/system_table_test.go
  pkg/sql/truncate.go
  pkg/sql/walk.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/core-prs

Update docker deps
  Gopkg.lock
  pkg/acceptance/cluster/dockercluster.go
Owners: @cockroachdb/build-prs

Update docker deps
  Gopkg.lock
  pkg/acceptance/cluster/dockercluster.go
Owners: @cockroachdb/build-prs

exec: add support for descending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage/spanlatch: address minor PR comments
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: address minor PR comments
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
Owners: @cockroachdb/core-prs

storage: replace CommandQueue with spanlatch.Manager
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/server/serverpb/status.proto
  pkg/server/status.go
  pkg/server/status/health_check.go
  pkg/storage/client_merge_test.go
  pkg/storage/command_queue.go
  pkg/storage/command_queue_test.go
  pkg/storage/metrics.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
  pkg/storage/spanset/spanset.go
  pkg/storage/storagebase/base.go
  pkg/storage/storagepb/lease_status.pb.go
  pkg/storage/storagepb/state.pb.go
  pkg/storage/storagepb/state.proto
  pkg/storage/store.go
  pkg/storage/testing_knobs.go
  pkg/ui/package.json
  pkg/ui/src/index.tsx
  pkg/ui/src/redux/apiReducers.ts
  pkg/ui/src/util/api.ts
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/requests.tsx
  pkg/ui/src/views/reports/containers/commandQueue/commandQueueViz.tsx
  pkg/ui/src/views/reports/containers/commandQueue/command_queue.styl
  pkg/ui/src/views/reports/containers/commandQueue/index.tsx
  pkg/ui/src/views/reports/containers/range/rangeTable.tsx
  pkg/ui/yarn.lock
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

storage: replace CommandQueue with spanlatch.Manager
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/server/serverpb/status.proto
  pkg/server/status.go
  pkg/server/status/health_check.go
  pkg/storage/client_merge_test.go
  pkg/storage/command_queue.go
  pkg/storage/command_queue_test.go
  pkg/storage/metrics.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
  pkg/storage/spanset/spanset.go
  pkg/storage/storagebase/base.go
  pkg/storage/storagepb/lease_status.pb.go
  pkg/storage/storagepb/state.pb.go
  pkg/storage/storagepb/state.proto
  pkg/storage/store.go
  pkg/storage/testing_knobs.go
  pkg/ui/package.json
  pkg/ui/src/index.tsx
  pkg/ui/src/redux/apiReducers.ts
  pkg/ui/src/util/api.ts
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/requests.tsx
  pkg/ui/src/views/reports/containers/commandQueue/commandQueueViz.tsx
  pkg/ui/src/views/reports/containers/commandQueue/command_queue.styl
  pkg/ui/src/views/reports/containers/commandQueue/index.tsx
  pkg/ui/src/views/reports/containers/range/rangeTable.tsx
  pkg/ui/yarn.lock
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

*: fix all comments referencing the CommandQueue
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20180603_follower_reads.md
  docs/tech-notes/index-backfill.md
  pkg/bench/bench_test.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_gc.go
  pkg/storage/batcheval/cmd_lease_request.go
  pkg/storage/client_replica_test.go
  pkg/storage/replica_eval_context.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_range_lease.go
  pkg/storage/storagepb/proposer_kv.pb.go
  pkg/storage/storagepb/proposer_kv.proto
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

*: fix all comments referencing the CommandQueue
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20180603_follower_reads.md
  docs/tech-notes/index-backfill.md
  pkg/bench/bench_test.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_gc.go
  pkg/storage/batcheval/cmd_lease_request.go
  pkg/storage/client_replica_test.go
  pkg/storage/replica_eval_context.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_range_lease.go
  pkg/storage/storagepb/proposer_kv.pb.go
  pkg/storage/storagepb/proposer_kv.proto
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

opt: Move insertBuilder to new file
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

sql: Do not automatically add mutation columns
  pkg/sql/data_source.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/scan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Re-format mutation operator output
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Generalize mutationBuilder
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/norm/ordering.go
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Rename insertBuilder to mutationBuilder
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Don't qualify names that are identical
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/logprops/project
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/memo/testdata/typing
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/srfs
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/testdata/view
  pkg/sql/opt/optbuilder/testdata/where
  pkg/sql/opt/optbuilder/testdata/with
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/limit
Owners: @cockroachdb/sql-opt-prs

opt: Change mutation column metadata interface
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add Update support to CBO
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/ordering/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add experimental_optimizer_updates flag
  docs/generated/settings/settings.html
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add execbuilder support for the Update operator
  pkg/server/updates_test.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/subquery
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/metric_test.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/ddl
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: add support for IFERROR/ISERROR
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optbuilder/testdata/scalar
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/testdata/eval/conditional
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: separate mutations by element and state
  pkg/sql/distsqlrun/colbatch_scan.go
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/insert.go
  pkg/sql/opt_catalog.go
  pkg/sql/row/writer.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/default_exprs.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

build: link libncurses statically
  build/builder.sh
  build/builder/Dockerfile
  build/builder/ncurses.conf
  pkg/cmd/publish-artifacts/main.go
Owners: @cockroachdb/build-prs

build: link libncurses statically
  build/builder.sh
  build/builder/Dockerfile
  build/builder/ncurses.conf
  pkg/cmd/publish-artifacts/main.go
Owners: @cockroachdb/build-prs

build: link libncurses statically
  build/builder.sh
  build/builder/Dockerfile
  build/builder/ncurses.conf
  pkg/cmd/publish-artifacts/main.go
Owners: @cockroachdb/build-prs

build: fix windows build
  Makefile
  c-deps/rocksdb-rebuild
Owners: @cockroachdb/build-prs

build: fix windows build
  Makefile
  c-deps/rocksdb-rebuild
Owners: @cockroachdb/build-prs

Update gRPC deps
  Gopkg.lock
  pkg/server/serverpb/admin.pb.gw.go
  pkg/server/serverpb/authentication.pb.gw.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/ts/tspb/timeseries.pb.gw.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

exec: use distsqlpb.Aggregator_Spec_Func directly
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: support `COMMENT ON TABLE`
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/logictestccl/testdata/logic_test/role
  pkg/cli/cli_test.go
  pkg/keys/constants.go
  pkg/sql/comment_on_table.go
  pkg/sql/comment_on_table_test.go
  pkg/sql/drop_table.go
  pkg/sql/event_log.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/role
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/plan.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/comment_on_table.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_tables.go
  pkg/sql/sqlbase/system.go
  pkg/sql/tests/system_table_test.go
  pkg/sql/truncate.go
  pkg/sql/walk.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/core-prs

sql: support `COMMENT ON TABLE`
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/logictestccl/testdata/logic_test/role
  pkg/cli/cli_test.go
  pkg/keys/constants.go
  pkg/sql/comment_on_table.go
  pkg/sql/comment_on_table_test.go
  pkg/sql/drop_table.go
  pkg/sql/event_log.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/role
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/plan.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/comment_on_table.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_tables.go
  pkg/sql/sqlbase/system.go
  pkg/sql/tests/system_table_test.go
  pkg/sql/truncate.go
  pkg/sql/walk.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/core-prs

pgwire: support hba.conf auth configuration
  docs/generated/settings/settings.html
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/Makefile
  pkg/sql/pgwire/hba/conf.go
  pkg/sql/pgwire/hba/conf.rl
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/hba_test.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs, @cockroachdb/build-prs

storage: add interfaces for copysets
  docs/generated/settings/settings.html
  pkg/roachpb/metadata.go
  pkg/storage/api.pb.go
  pkg/storage/copysets.go
  pkg/storage/copysets.pb.go
  pkg/storage/copysets.proto
  pkg/storage/store_rebalancer.go
Owners: @cockroachdb/core-prs

RFC: Lazy Transaction Record Creation
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20181209_lazy_txn_record_creation.md
Owners: @cockroachdb/rfc-prs

storage: factor out lastUpdateMap's accessors
  pkg/storage/helpers_test.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: refactor log truncation index computation
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: don't truncate when probing active followers are present
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: harden purgatory error check
  pkg/storage/queue.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
