Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: bump RaftDelaySplitToSuppressSnapshotTicks
  pkg/base/config.go
Owners: none

storage: bump RaftDelaySplitToSuppressSnapshotTicks
  pkg/base/config.go
Owners: none

storage: deflake TestStoreRangeRemoveDead
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

storage: deflake TestStoreRangeRemoveDead
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

kv: stop using BeginTransaction requests
  docs/RFCS/20181209_lazy_txn_record_creation.md
  docs/generated/settings/settings.html
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/kv/txn_interceptor_metrics.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/roachpb/batch.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/upsert_test.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/replica.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix the collection of logical plan samples
  pkg/ccl/changefeedccl/changefeed_dist.go
  pkg/sql/backfill.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsql_running.go
  pkg/sql/distsql_running_test.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/explain_distsql.go
  pkg/sql/scrub.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

storage: bump RaftDelaySplitToSuppressSnapshotTicks
  pkg/base/config.go
Owners: none

roachpb: Rename RetryUsingTransactionError to TransactionRetryWithProtoRefreshError
  pkg/internal/client/client_test.go
  pkg/internal/client/db.go
  pkg/internal/client/txn.go
  pkg/internal/client/txn_test.go
  pkg/kv/dist_sender_server_test.go
  pkg/kv/integration_test.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_server_test.go
  pkg/kv/txn_coord_sender_test.go
  pkg/roachpb/batch_generated.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/lease_test.go
  pkg/sql/logictest/testdata/logic_test/manual_retry
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/pgwire/conn.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/txn_state_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-wiring-prs

roachpb: Rename RetryUsingTransactionError to TransactionRetryWithProtoRefreshError
  pkg/internal/client/client_test.go
  pkg/internal/client/db.go
  pkg/internal/client/txn.go
  pkg/internal/client/txn_test.go
  pkg/kv/dist_sender_server_test.go
  pkg/kv/integration_test.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_server_test.go
  pkg/kv/txn_coord_sender_test.go
  pkg/roachpb/batch_generated.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/lease_test.go
  pkg/sql/logictest/testdata/logic_test/manual_retry
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/pgwire/conn.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/txn_state_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-wiring-prs

sql: lookup join planning fix
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: lookup join planning fix
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql,ccl: refresh table statistics after IMPORT and RESTORE
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/insert.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/update.go
  pkg/sql/upsert.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql,ccl: refresh table statistics after IMPORT and RESTORE
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/insert.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/update.go
  pkg/sql/upsert.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: project out temporary columns used by window functions
  pkg/acceptance/testdata/java/src/main/java/MainTest.java
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_window.go
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

sql: run check constraint mutations and validation by schema changer
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/check.go
  pkg/sql/create_table.go
  pkg/sql/distsql_plan_backfill.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/checkbackfiller.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

parser: change ParseOne to return parser.Statement
  pkg/ccl/backupccl/restore.go
  pkg/ccl/backupccl/targets_test.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/importccl/csv_internal_test.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/load.go
  pkg/ccl/partitionccl/partition_test.go
  pkg/cli/dump.go
  pkg/sql/app_stats.go
  pkg/sql/conn_io_test.go
  pkg/sql/data_source.go
  pkg/sql/database_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/explain_tree_test.go
  pkg/sql/internal.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/testutils/testcat/vtable.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/parser/parse.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/plan.go
  pkg/sql/sem/tree/col_types_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/function_name_test.go
  pkg/sql/sem/tree/name_resolution_test.go
  pkg/sql/sem/tree/pretty_test.go
  pkg/sql/subquery_test.go
  pkg/sql/tests/random_schema_test.go
  pkg/sql/testutils.go
  pkg/sql/virtual_schema.go
  pkg/testutils/sqlutils/name_resolution_testutils.go
  pkg/testutils/sqlutils/pretty.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sql: pass around parser.Statement
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/conn_io_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/explain_tree_test.go
  pkg/sql/internal.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/statement.go
  pkg/sql/subquery_test.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

storage: remove clockless mode support in updateTimestampCache
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

Added span to TableReader flow diagram
  pkg/sql/distsqlpb/flow_diagram.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/logictest/testdata/planner_test/distsql_agg
  pkg/sql/logictest/testdata/planner_test/distsql_auto_mode
  pkg/sql/logictest/testdata/planner_test/distsql_distinct_on
  pkg/sql/logictest/testdata/planner_test/distsql_indexjoin
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/distsql_join
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/logictest/testdata/planner_test/distsql_numtables
  pkg/sql/logictest/testdata/planner_test/distsql_sort
  pkg/sql/logictest/testdata/planner_test/distsql_srfs
  pkg/sql/logictest/testdata/planner_test/distsql_subquery
  pkg/sql/logictest/testdata/planner_test/distsql_union
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_indexjoin
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_numtables
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

txnwait: don't reset pusheeTxnTimer when pusher is updated
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

opt: fold additional comparison operations with constant inputs
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/inline
Owners: @cockroachdb/sql-opt-prs

roachtest: update `upgrade` roachtest to start at v2.1.3
  pkg/cmd/roachtest/upgrade.go
Owners: none

roachtest: update `upgrade` roachtest to start at v2.1.3
  pkg/cmd/roachtest/upgrade.go
Owners: none

sql: separate prepared statement metadata
  pkg/sql/conn_executor_prepare.go
  pkg/sql/prepared_stmt.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: use query cache for prepare
  pkg/sql/conn_executor_prepare.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/plan_opt.go
  pkg/sql/plan_opt_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

RFC: copysets
  docs/RFCS/20181204_copysets.md
Owners: @cockroachdb/rfc-prs

storage: tolerate missing transaction records when pushing
  docs/RFCS/20181209_lazy_txn_record_creation.md
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/batcheval/transaction.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

docs/tech-notes: add tobias' note about raft snapshots
  docs/tech-notes/raft-snapshots.md
  docs/tech-notes/raft-snapshots.png
Owners: none

docs/tech-notes: add tobias' note about raft snapshots
  docs/tech-notes/raft-snapshots.md
  docs/tech-notes/raft-snapshots.png
Owners: none

storage: deflake TestLeaseExtensionNotBlockedByRead
  pkg/storage/client_replica_test.go
Owners: @cockroachdb/core-prs

storage: deflake TestLeaseExtensionNotBlockedByRead
  pkg/storage/client_replica_test.go
Owners: @cockroachdb/core-prs

server: don't bail when a range is missing
  pkg/server/status.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

acceptance: re-enable bank/zerosum-restart
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/bank.go
Owners: none

acceptance: re-enable bank/zerosum-restart
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/bank.go
Owners: none

server: don't bail when a range is missing
  pkg/server/status.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: don't bail when a range is missing
  pkg/server/status.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: project out temporary columns used by window functions
  pkg/acceptance/testdata/java/src/main/java/MainTest.java
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_window.go
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

sql: project out temporary columns used by window functions
  pkg/acceptance/testdata/java/src/main/java/MainTest.java
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_window.go
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

sql: refactor usage of placeholder TypeHints
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/execute.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

sql: refactor usage of placeholder TypeHints
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/execute.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
