Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storage: use env var to adjust sst info logging
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

backupccl: rewrite spans that include unknown tableIDs
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/storageccl/key_rewriter.go
  pkg/ccl/storageccl/key_rewriter_test.go
Owners: @cockroachdb/sql-bulk-prs

backupccl: rewrite spans that include unknown tableIDs
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/storageccl/key_rewriter.go
  pkg/ccl/storageccl/key_rewriter_test.go
Owners: @cockroachdb/sql-bulk-prs

jobs: fix potential npe on not-found job
  pkg/jobs/jobs.go
Owners: none

opt: Fix panic when comparing empty tuples
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/logictest/testdata/logic_test/tuple
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/comp
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Fix panic when comparing empty tuples
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/logictest/testdata/logic_test/tuple
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/comp
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: allow the InternalExecutor to work with a modified schema
  pkg/sql/conn_executor.go
  pkg/sql/internal.go
  pkg/sql/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: allow the InternalExecutor to work with a modified schema
  pkg/sql/conn_executor.go
  pkg/sql/internal.go
  pkg/sql/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

importccl: fix flaky test TestImportCSVStmt
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: @cockroachdb/sql-bulk-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

storage: improve comment on processRaftCommand
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: improve comment on processRaftCommand
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

sql: verify index before declaring it public
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/internal.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: verify index before declaring it public
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/internal.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

importccl: fix flaky test TestImportCSVStmt
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: @cockroachdb/sql-bulk-prs

importccl: fix flaky test TestImportCSVStmt
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: @cockroachdb/sql-bulk-prs

distsqlrun: remove queuing behavior from flowScheduler
  docs/generated/settings/settings.html
  pkg/sql/distsqlrun/flow_scheduler.go
  pkg/sql/distsqlrun/metrics.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: add comment on how log truncation works
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

intentresolver: limit number of txns processed at a time in CleanupIntents
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

roachtest: minor error wrapping cleanup
  pkg/cmd/roachtest/cluster.go
Owners: none

roachtest: minor error wrapping cleanup
  pkg/cmd/roachtest/cluster.go
Owners: none

sql: add spilling to disk for window functions
  pkg/sql/distsqlrun/windower.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/hash_row_container_test.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

roachtest: run YCSB and kv tests on 32 core machine in addtion to current 8 core
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/ycsb.go
Owners: none

sem/tree: use StmtTimestamp as max for AsOf, enforce non-zero intervals
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/planhook.go
  pkg/sql/render.go
  pkg/sql/sem/tree/as_of.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachtest: report better line numbers for some failures
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: skip tests on failure to create clusters
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: skip tests on failure to create clusters
  pkg/cmd/roachtest/test.go
Owners: none

opt: Fix UPDATE error when constraint is used with computed column
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/testcat/create_table.go
Owners: @cockroachdb/sql-opt-prs

sql: add spilling to disk for window functions
  pkg/sql/distsqlrun/windower.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/hash_row_container_test.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

storage: clarify TestComputeTruncateDecisionProgressStatusProbe
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: ignore non-live probing follower during log truncation
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: clarify TestComputeTruncateDecisionProgressStatusProbe
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: ignore non-live probing follower during log truncation
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: add comment on how log truncation works
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

storage: add comment on how log truncation works
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

storage: harden getQuorumIndex
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: harden getQuorumIndex
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

roachtest: run YCSB and kv tests on 32 core machine in addtion to current 8 core
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/ycsb.go
Owners: none

roachtest: run YCSB and kv tests on 32 core machine in addtion to current 8 core
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/ycsb.go
Owners: none
