Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

distsqlrun: add debugging info to a test
  pkg/sql/distsqlrun/cluster_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsqlrun: remove redundant code from some processors
  pkg/sql/distsqlrun/countrows.go
  pkg/sql/distsqlrun/distinct.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsqlrun: refactor the ridiculous processor.Run() interface
  pkg/ccl/importccl/exportcsv.go
  pkg/ccl/importccl/read_import_proc.go
  pkg/ccl/importccl/sst_writer_proc.go
  pkg/sql/distsqlrun/aggregator_test.go
  pkg/sql/distsqlrun/backfiller.go
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/distinct_test.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/hashjoiner_test.go
  pkg/sql/distsqlrun/interleaved_reader_joiner_test.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/mergejoiner_test.go
  pkg/sql/distsqlrun/noop_test.go
  pkg/sql/distsqlrun/processor_utils_test.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/distsqlrun/project_set_test.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sample_aggregator_test.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/distsqlrun/sorter_test.go
  pkg/sql/distsqlrun/tablereader_test.go
  pkg/sql/distsqlrun/utils_test.go
  pkg/sql/distsqlrun/values_test.go
  pkg/sql/distsqlrun/zigzagjoiner_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsql: refactor flow.StartSync()
  pkg/sql/distsql_running.go
  pkg/sql/distsqlplan/aggregator_funcs_test.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/flow_scheduler.go
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: support `COMMENT ON COLUMN`
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/keys/constants.go
  pkg/sql/alter_table.go
  pkg/sql/comment_on_column.go
  pkg/sql/comment_on_column_test.go
  pkg/sql/drop_table.go
  pkg/sql/event_log.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/plan.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/comment_on_column.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/truncate.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: support `COMMENT ON COLUMN`
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/keys/constants.go
  pkg/sql/alter_table.go
  pkg/sql/comment_on_column.go
  pkg/sql/comment_on_column_test.go
  pkg/sql/drop_table.go
  pkg/sql/event_log.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/plan.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/comment_on_column.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/truncate.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: support `COMMENT ON COLUMN`
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/keys/constants.go
  pkg/sql/alter_table.go
  pkg/sql/comment_on_column.go
  pkg/sql/comment_on_column_test.go
  pkg/sql/drop_table.go
  pkg/sql/event_log.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/plan.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/comment_on_column.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/truncate.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

ccl/partitionccl: re-enable Test{InitialPartitioning,Repartitioning}
  pkg/ccl/partitionccl/partition_test.go
Owners: @cockroachdb/sql-ccl-prs

ccl/partitionccl: re-enable Test{InitialPartitioning,Repartitioning}
  pkg/ccl/partitionccl/partition_test.go
Owners: @cockroachdb/sql-ccl-prs

ccl/partitionccl: workaround stressrace failures
  pkg/ccl/partitionccl/partition_test.go
Owners: @cockroachdb/sql-ccl-prs

ccl/partitionccl: workaround stressrace failures
  pkg/ccl/partitionccl/partition_test.go
Owners: @cockroachdb/sql-ccl-prs

sql: make pg_catalog OIDs stable and refer to the descriptor IDs directly
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/pg_catalog.go
  pkg/sql/sem/tree/table_ref.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/table.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: Inline constant values
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/project
Owners: @cockroachdb/sql-opt-prs

opt: Tighten up InlineProjectInProject rule
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/testdata/rules/inline
Owners: @cockroachdb/sql-opt-prs

opt: Tighten up InlineProjectInProject rule
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/testdata/rules/inline
Owners: @cockroachdb/sql-opt-prs

sql: test for #33012
  pkg/sql/logictest/testdata/logic_test/insert
Owners: @cockroachdb/sql-rest-prs

sql: test for #33012
  pkg/sql/logictest/testdata/logic_test/insert
Owners: @cockroachdb/sql-rest-prs

sql: don't close portals when the prepared stmt is closed
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/prepared_stmt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: remove memory accounting from portals
  pkg/sql/conn_executor_prepare.go
  pkg/sql/prepared_stmt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: drop -q from gsutil
  pkg/cmd/roachtest/store_gen.go
Owners: none

roachtest: drop -q from gsutil
  pkg/cmd/roachtest/store_gen.go
Owners: none

storage: justify skipping of TestStoreSplitFailsAfterMaxRetries
  pkg/storage/client_split_test.go
Owners: @cockroachdb/core-prs

storage: justify skipping of TestStoreSplitFailsAfterMaxRetries
  pkg/storage/client_split_test.go
Owners: @cockroachdb/core-prs

sql: fix the duplicate detection for INSERT ON CONFLICT DO NOTHING
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/sqlbase/index_encoding.go
  pkg/sql/tablewriter_upsert_strict.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: re-optimize INSERT ON CONFLICT DO NOTHING
  pkg/sql/tablewriter_upsert_strict.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli: improve default program for merge-logs
  pkg/cli/debug.go
Owners: @cockroachdb/cli-prs

cli: improve default program for merge-logs
  pkg/cli/debug.go
Owners: @cockroachdb/cli-prs

sql: report unsupported built-in functions in telemetry
  pkg/server/updates_test.go
  pkg/sql/sem/builtins/aggregate_builtins.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

exec: support index/lookup joins
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/distsqlrun/columnarizer.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

settings: rename kv.raft_log.synchronize to kv.raft_log.disable_synchronization_unsafe
  docs/generated/settings/settings.html
  pkg/cmd/allocsim/main.go
  pkg/storage/replica.go
  pkg/storage/replica_raftstorage.go
Owners: @cockroachdb/core-prs

exec: improvements to EncDatumRows to ColVec conversion
  pkg/sql/exec/execgen/cmd/execgen/rowstovec_gen.go
  pkg/sql/exec/rowstovec_test.go
  pkg/sql/exec/rowstovec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: improvements to EncDatumRows to ColVec conversion
  pkg/sql/exec/execgen/cmd/execgen/rowstovec_gen.go
  pkg/sql/exec/rowstovec_test.go
  pkg/sql/exec/rowstovec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: change experimental_vectorize setting to an enum
  docs/generated/settings/settings.html
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
  pkg/sql/logictest/testdata/logic_test/set
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

exec: change experimental_vectorize setting to an enum
  docs/generated/settings/settings.html
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
  pkg/sql/logictest/testdata/logic_test/set
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

sql: clarify and document formatting flags
  pkg/ccl/importccl/exportcsv.go
  pkg/ccl/importccl/exportcsv_test.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/format.go
  pkg/sql/sem/tree/parse_string.go
  pkg/sql/sem/tree/parse_string_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

sql: clarify and document formatting flags
  pkg/ccl/importccl/exportcsv.go
  pkg/ccl/importccl/exportcsv_test.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/format.go
  pkg/sql/sem/tree/parse_string.go
  pkg/sql/sem/tree/parse_string_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

sql/sem: add additional cases to TestParseDatumStringAs
  pkg/sql/sem/tree/parse_string_test.go
Owners: @cockroachdb/sql-rest-prs

sql/sem: add additional cases to TestParseDatumStringAs
  pkg/sql/sem/tree/parse_string_test.go
Owners: @cockroachdb/sql-rest-prs

cli/start,server: clarify init vs join
  pkg/cli/interactive_tests/test_init_command.tcl
  pkg/cli/start.go
  pkg/server/config.go
  pkg/server/server.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

sql/opt: avoid swallowing TransactionAbortedErrors
  pkg/sql/internal_test.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/metadata.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs
