Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

requestbatcher: add backpressure mechanism
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

intentresolver: batch intent resolution across transactions by range
  pkg/server/server.go
  pkg/storage/gc_queue_test.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/storage/storagebase/knobs.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: delete local implementations of planNodes
  pkg/sql/distinct.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/filter.go
  pkg/sql/group.go
  pkg/sql/index_join.go
  pkg/sql/join.go
  pkg/sql/join_predicate.go
  pkg/sql/join_test.go
  pkg/sql/limit.go
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/logictest/testdata/planner_test/limit
  pkg/sql/logictest/testdata/planner_test/order_by
  pkg/sql/logictest/testdata/planner_test/select_index
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/lookup_join.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt_decompose_test.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/render.go
  pkg/sql/row_buffer.go
  pkg/sql/row_source_to_plan_node.go
  pkg/sql/scan.go
  pkg/sql/scrub_constraint.go
  pkg/sql/scrub_physical.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sort.go
  pkg/sql/subquery.go
  pkg/sql/subquery_test.go
  pkg/sql/union.go
  pkg/sql/walk.go
  pkg/sql/window.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: delete local implementations of planNodes
  pkg/sql/distinct.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/filter.go
  pkg/sql/group.go
  pkg/sql/index_join.go
  pkg/sql/join.go
  pkg/sql/join_predicate.go
  pkg/sql/join_test.go
  pkg/sql/limit.go
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/logictest/testdata/planner_test/limit
  pkg/sql/logictest/testdata/planner_test/order_by
  pkg/sql/logictest/testdata/planner_test/select_index
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/lookup_join.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt_decompose_test.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/render.go
  pkg/sql/row_buffer.go
  pkg/sql/row_source_to_plan_node.go
  pkg/sql/scan.go
  pkg/sql/scrub_constraint.go
  pkg/sql/scrub_physical.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sort.go
  pkg/sql/subquery.go
  pkg/sql/subquery_test.go
  pkg/sql/union.go
  pkg/sql/walk.go
  pkg/sql/window.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

storage: stop sending BeginTxn requests in merge transactions
  pkg/storage/batcheval/cmd_lease_request.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: stop sending BeginTxn requests in merge transactions
  pkg/storage/batcheval/cmd_lease_request.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: remove EagerRecord hatch entirely
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/storage/client_replica_test.go
Owners: @cockroachdb/core-prs

storage: remove EagerRecord hatch entirely
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/storage/client_replica_test.go
Owners: @cockroachdb/core-prs

server: log rocks stats when crashing due to hang
  pkg/server/server_engine_health.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: log rocks stats when crashing due to hang
  pkg/server/server_engine_health.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

distsqlrun: sanity check sortTopKProcessor's parameters
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/distsqlrun/sorter_test.go
  pkg/sql/logictest/testdata/logic_test/select
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

distsqlrun: sanity check sortTopKProcessor's parameters
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/distsqlrun/sorter_test.go
  pkg/sql/logictest/testdata/logic_test/select
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

add long multi batch test
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/hash_aggregator.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

release: bump k8s templates to v2.1.5
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

release: bump k8s templates to v2.1.5
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

opt: remove HasZeroRows
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

requestbatcher: add backpressure mechanism
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

requestbatcher: add backpressure mechanism
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

kv: add simpler RangeDescriptorCache.LookupRangeDescriptor interface
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/kvbase/range_cache.go
  pkg/kv/range_cache.go
  pkg/kv/range_cache_test.go
  pkg/storage/bulk/sst_batcher_test.go
Owners: @cockroachdb/core-prs

kv: add simpler RangeDescriptorCache.LookupRangeDescriptor interface
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/kvbase/range_cache.go
  pkg/kv/range_cache.go
  pkg/kv/range_cache_test.go
  pkg/storage/bulk/sst_batcher_test.go
Owners: @cockroachdb/core-prs

intentresolver: batch intent resolution across transactions by range
  pkg/server/server.go
  pkg/storage/gc_queue_test.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/storage/storagebase/knobs.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

intentresolver: batch intent resolution across transactions by range
  pkg/server/server.go
  pkg/storage/gc_queue_test.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/storage/storagebase/knobs.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

opt: fold EXISTS operators where possible
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/rules/scalar.opt
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/scalar
Owners: @cockroachdb/sql-opt-prs

opt: relax SimplifyZeroCardinalityGroup
  pkg/sql/opt/memo/testdata/logprops/srfs
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/testdata/rules/limit
  pkg/sql/opt/norm/testdata/rules/zero_cardinality
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

opt: distinguish VALUES clauses by a unique id
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/decorrelate.opt
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/values.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

opt: distinguish VALUES clauses by a unique id
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/decorrelate.opt
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/values.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

sql: add inverted index validation after backfill
  docs/generated/sql/functions.md
  pkg/sql/backfill.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/builtins/builtins.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

Address yahor's review comments
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

opt: test reproducing detached memo race
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
  pkg/sql/opt/testutils/build.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

opt: fix race caused by shared table annotations
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/props/col_stats_map.go
  pkg/sql/opt/props/statistics.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

opt: replace ColumnMeta.TableMeta with a TableID
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/join.go
Owners: @cockroachdb/sql-opt-prs

opt: fix race caused by shared table annotations
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/props/col_stats_map.go
  pkg/sql/opt/props/statistics.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

opt: logical props and stats for merge join
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/optgen/exprgen/testdata/limit
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/testutils/opttester/opt_tester.go
Owners: @cockroachdb/sql-opt-prs

distsqlrun: ensure outbox's RowChannel is closed
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/outbox_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

opt: add parallel test for create stats
  pkg/sql/logictest/testdata/parallel_test/create_stats/create_stats
  pkg/sql/logictest/testdata/parallel_test/create_stats/setup
  pkg/sql/logictest/testdata/parallel_test/create_stats/test.yaml
Owners: @cockroachdb/sql-rest-prs

roachprod: fix bug which required setting aws-machine-type-ssd
  pkg/cmd/roachprod/vm/aws/aws.go
Owners: none

roachprod: fix bug which required setting aws-machine-type-ssd
  pkg/cmd/roachprod/vm/aws/aws.go
Owners: none

workload: add indexes workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/workload/indexes/indexes.go
  pkg/workload/kv/kv.go
Owners: @cockroachdb/sql-ccl-prs

exec: verify test results based on set or ordered comparison
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/count_test.go
  pkg/sql/exec/distinct_test.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/limit_test.go
  pkg/sql/exec/offset_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: verify test results based on set or ordered comparison
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/count_test.go
  pkg/sql/exec/distinct_test.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/limit_test.go
  pkg/sql/exec/offset_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
