Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

cli: fix nil pointer error in debug zip
  pkg/cli/zip.go
Owners: @cockroachdb/cli-prs

workload: plumb 'user-facing' though cmds, hide Internal workloads
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/workload/bulkingest/bulkingest.go
  pkg/workload/cli/check.go
  pkg/workload/cli/cli.go
  pkg/workload/cli/csv_server.go
  pkg/workload/cli/run.go
  pkg/workload/workload.go
Owners: @cockroachdb/sql-ccl-prs

opt: fix computation of apply join outer columns
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/norm/reject_nulls.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/testutils/opttester/opt_tester.go
Owners: @cockroachdb/sql-opt-prs

opt: fix computation of apply join outer columns
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/norm/reject_nulls.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/testutils/opttester/opt_tester.go
Owners: @cockroachdb/sql-opt-prs

storage: remove TODOs in cmd_push_txn
  pkg/storage/batcheval/cmd_push_txn.go
Owners: @cockroachdb/core-prs

storage: remove TODOs in cmd_push_txn
  pkg/storage/batcheval/cmd_push_txn.go
Owners: @cockroachdb/core-prs

storage: trim backpressurable request methods
  pkg/storage/client_split_test.go
  pkg/storage/replica_backpressure.go
Owners: @cockroachdb/core-prs

storage: trim backpressurable request methods
  pkg/storage/client_split_test.go
  pkg/storage/replica_backpressure.go
Owners: @cockroachdb/core-prs

storage: remove final reference to DeprecatedBatchIndex
  pkg/storage/replica_evaluate.go
Owners: @cockroachdb/core-prs

opt: ensure NULLs folded out of a CASE are typed
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/scalar
Owners: @cockroachdb/sql-opt-prs

opt: ensure NULLs folded out of a CASE are typed
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/scalar
Owners: @cockroachdb/sql-opt-prs

exec: use go runtime hash functions in hashjoiner
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hash.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

sql: join hints
  docs/generated/sql/bnf/joined_table.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/data_source.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/join.go
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/pretty.go
  pkg/sql/sem/tree/select.go
  pkg/sql/sqlbase/join_type.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

util/mon: Downgrade "bytes usage increases" log message
  pkg/util/mon/bytes_usage.go
Owners: none

util/mon: Downgrade "bytes usage increases" log message
  pkg/util/mon/bytes_usage.go
Owners: none

sql: join hints
  docs/generated/sql/bnf/joined_table.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/data_source.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/join.go
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/pretty.go
  pkg/sql/sem/tree/select.go
  pkg/sql/sqlbase/join_type.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: ensure spans get anonymized in plan collection
  pkg/sql/explain_plan.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: ensure spans get anonymized in plan collection
  pkg/sql/explain_plan.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql,stats: collect stats on non-index columns too
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

workload: plumb 'user-facing' though cmds, hide internal workloads
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/workload/bank/bank.go
  pkg/workload/cli/check.go
  pkg/workload/cli/cli.go
  pkg/workload/cli/csv_server.go
  pkg/workload/cli/run.go
  pkg/workload/examples/intro.go
  pkg/workload/examples/startrek.go
  pkg/workload/kv/kv.go
  pkg/workload/tpcc/tpcc.go
  pkg/workload/workload.go
  pkg/workload/ycsb/ycsb.go
Owners: @cockroachdb/sql-ccl-prs

cli: add bulkingest workload to main binary
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

workload: plumb 'user-facing' though cmds, hide internal workloads
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/workload/bank/bank.go
  pkg/workload/cli/check.go
  pkg/workload/cli/cli.go
  pkg/workload/cli/csv_server.go
  pkg/workload/cli/run.go
  pkg/workload/examples/intro.go
  pkg/workload/examples/startrek.go
  pkg/workload/kv/kv.go
  pkg/workload/tpcc/tpcc.go
  pkg/workload/workload.go
  pkg/workload/ycsb/ycsb.go
Owners: @cockroachdb/sql-ccl-prs

cli: add bulkingest workload to main binary
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

workload: add separate field for long-form help text
  pkg/workload/cli/run.go
  pkg/workload/kv/kv.go
  pkg/workload/workload.go
Owners: none

workload: add separate field for long-form help text
  pkg/workload/cli/run.go
  pkg/workload/kv/kv.go
  pkg/workload/workload.go
Owners: none

storage: improve testing around transactional idempotency
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: employ transactional idempotency to refresh mixed-success batches
  pkg/kv/dist_sender_server_test.go
  pkg/kv/txn_interceptor_span_refresher.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: @cockroachdb/core-prs

importccl: add microbenchmark of direct workload generator -> kvs
  pkg/ccl/importccl/read_import_workload_test.go
  pkg/workload/bulkingest/bulkingest.go
Owners: @cockroachdb/sql-bulk-prs

distsqlrun: ensure outbox's RowChannel is closed
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/outbox_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsqlrun: ensure outbox's RowChannel is closed
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/outbox_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

cli: fix nil pointer error in debug zip
  pkg/cli/zip.go
Owners: @cockroachdb/cli-prs

cli: fix nil pointer error in debug zip
  pkg/cli/zip.go
Owners: @cockroachdb/cli-prs

opt: Make opt catalog objects immutable
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Make opt catalog objects immutable
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage/engine: fix Go 1.12 build due to missing C.bool type casts
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

storage/engine: fix Go 1.12 build due to missing C.bool type casts
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

requestbatcher: fix bug when deadline for two batches is exactly equal
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

build: fixus for various krb5 fallout
  CONTRIBUTING.md
  build/bootstrap/bootstrap-debian.sh
  pkg/cmd/publish-artifacts/main.go
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: @cockroachdb/build-prs

build: fixus for various krb5 fallout
  CONTRIBUTING.md
  build/bootstrap/bootstrap-debian.sh
  pkg/cmd/publish-artifacts/main.go
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: @cockroachdb/build-prs

storage: remove maybeWrapWithBeginTransaction helper
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
