Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

settings, storage: get rid of the IsMinSupported/IsActive differences
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/partitionccl/partition.go
  pkg/jobs/registry.go
  pkg/kv/dist_sender.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat_test.go
  pkg/server/node.go
  pkg/server/status/recorder.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cluster_version.go
  pkg/settings/cluster/cluster_version.pb.go
  pkg/settings/cluster/cluster_version.proto
  pkg/settings/cluster/settings.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/cluster_version
  pkg/sql/set_zone_config.go
  pkg/sql/sqlbase/structured.go
  pkg/sqlmigrations/migrations.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_lease.go
  pkg/storage/client_test.go
  pkg/storage/replica_consistency.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_split_load.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/store.go
  pkg/storage/store_rebalancer.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
  pkg/storage/stores_test.go
  pkg/ts/db.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs

settings, storage: get rid of the IsMinSupported/IsActive differences
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/partitionccl/partition.go
  pkg/jobs/registry.go
  pkg/kv/dist_sender.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat_test.go
  pkg/server/node.go
  pkg/server/status/recorder.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cluster_version.go
  pkg/settings/cluster/cluster_version.pb.go
  pkg/settings/cluster/cluster_version.proto
  pkg/settings/cluster/settings.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/cluster_version
  pkg/sql/set_zone_config.go
  pkg/sql/sqlbase/structured.go
  pkg/sqlmigrations/migrations.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_lease.go
  pkg/storage/client_test.go
  pkg/storage/replica_consistency.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_split_load.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/store.go
  pkg/storage/store_rebalancer.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
  pkg/storage/stores_test.go
  pkg/ts/db.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs

sql/row: use pgerror.NewAssertionErrorf
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move an error def
  pkg/sql/row/fk.go
  pkg/sql/row/fk_existence_base.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the base FK to a separate file, add docs
  pkg/sql/row/fk.go
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: use pgerror.NewAssertionErrorf
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: rename row.TableLookup struct -> row.TableEntry
  pkg/ccl/importccl/import_stmt.go
  pkg/sql/delete_test.go
  pkg/sql/planner.go
  pkg/sql/resolver.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/row: move an error def
  pkg/sql/row/fk.go
  pkg/sql/row/fk_existence_base.go
Owners: @cockroachdb/sql-rest-prs

sql/row: clarify the initialization of the base FK helper
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: minor renames to clarify; add comments
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the fkInsertHelper to its own file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_insert_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: add clarifying comments.
  pkg/sql/row/fk_batch_checker.go
Owners: @cockroachdb/sql-rest-prs

sql/row: minor rename to improve readability
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/opt_catalog.go
  pkg/sql/planner.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql/row: move the low-level FK existence checker to its own file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_batch_checker.go
Owners: @cockroachdb/sql-rest-prs

sql/row: minor renames for clarity
  pkg/sql/insert.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/row: move the fkInsertHelper to its own file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_insert_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: minor renames for clarity
  pkg/sql/insert.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/row: rename writeIdx -> mutatedIdx
  pkg/sql/row/fk.go
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move fkDeleteHelper/fkUpdateHelper to separate files
  pkg/sql/row/fk.go
  pkg/sql/row/fk_delete_helper.go
  pkg/sql/row/fk_update_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: split the FK span generation into a separate file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_spans.go
Owners: @cockroachdb/sql-rest-prs

sql: clarify some code
  pkg/sql/delete.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql/row: move the base FK to a separate file, add docs
  pkg/sql/row/fk.go
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: minor renames to improve readability
  pkg/sql/delete.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fetcher_test.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_delete.go
  pkg/sql/row/fk_existence_insert.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_existence_update.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
  pkg/sql/row/writer.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/row: clarify the code by renaming some objects
  pkg/sql/row/fk.go
  pkg/sql/row/fk_delete_helper.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_batch.go
  pkg/sql/row/fk_existence_check.go
  pkg/sql/row/fk_existence_delete.go
  pkg/sql/row/fk_existence_insert.go
  pkg/sql/row/fk_existence_update.go
  pkg/sql/row/fk_spans.go
  pkg/sql/row/writer.go
Owners: @cockroachdb/sql-rest-prs

sql/*: properly use IndexDescriptor references
  pkg/ccl/partitionccl/partition_test.go
  pkg/sql/alter_table.go
  pkg/sql/create_index.go
  pkg/sql/create_table.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/drop_index.go
  pkg/sql/drop_table.go
  pkg/sql/rename_index.go
  pkg/sql/resolver.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_base_helper.go
  pkg/sql/show_fingerprints.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
  pkg/sql/zone_config.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql/row: minor renames to clarify; add comments
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
Owners: @cockroachdb/sql-rest-prs

sql/row: add a missing comment
  pkg/sql/row/fk_table_lookup.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the table lookup logic to a separate file; add comments
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the table lookup logic to a separate file; add comments
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the low-level FK existence checker to its own file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_batch_checker.go
Owners: @cockroachdb/sql-rest-prs

sql/row: rename fk.go -> fk_existence_prepare.go
  pkg/sql/row/fk_existence_prepare.go
Owners: @cockroachdb/sql-rest-prs

sql/row: clarify the initialization of the base FK helper
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/*: properly use IndexDescriptor references
  pkg/ccl/partitionccl/partition_test.go
  pkg/sql/alter_table.go
  pkg/sql/create_index.go
  pkg/sql/create_table.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/drop_index.go
  pkg/sql/drop_table.go
  pkg/sql/rename_index.go
  pkg/sql/resolver.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_base_helper.go
  pkg/sql/show_fingerprints.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
  pkg/sql/zone_config.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql/row: add a missing comment
  pkg/sql/row/fk_table_lookup.go
Owners: @cockroachdb/sql-rest-prs

sql/row: rename fk.go -> fk_existence_prepare.go
  pkg/sql/row/fk_existence_prepare.go
Owners: @cockroachdb/sql-rest-prs

sql/row: rename row.TableLookup struct -> row.TableEntry
  pkg/ccl/importccl/import_stmt.go
  pkg/sql/delete_test.go
  pkg/sql/planner.go
  pkg/sql/resolver.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/row: split the FK span generation into a separate file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_spans.go
Owners: @cockroachdb/sql-rest-prs

sql/row: add clarifying comments.
  pkg/sql/row/fk_batch_checker.go
Owners: @cockroachdb/sql-rest-prs

sql/row: minor rename to improve readability
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/opt_catalog.go
  pkg/sql/planner.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql/row: minor renames to improve readability
  pkg/sql/delete.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fetcher_test.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_delete.go
  pkg/sql/row/fk_existence_insert.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_existence_update.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
  pkg/sql/row/writer.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
