Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

opt: Improve formatting when aliases are present
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/interner_test.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/having
  pkg/sql/opt/optbuilder/testdata/inner-join
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/project
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/virtual-scan
  pkg/sql/opt/props/physical/required.go
  pkg/sql/opt/props/physical/required_test.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/opt/xform/testdata/external/activerecord
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgadmin
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/plan.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: count number of execPlan columns correctly
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/union
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: count number of execPlan columns correctly
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/union
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachtest: Add test of graceful draining during shutdown
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/registry.go
Owners: none

roachtest: Add test of graceful draining during shutdown
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/registry.go
Owners: none

cli: Fix mix-up between under-replicated and unavailable range counts
  pkg/cli/node.go
Owners: @cockroachdb/cli-prs

cli: Fix mix-up between under-replicated and unavailable range counts
  pkg/cli/node.go
Owners: @cockroachdb/cli-prs

cli: Fix mix-up between under-replicated and unavailable range counts
  pkg/cli/node.go
Owners: @cockroachdb/cli-prs

enginepb: add benchmark for ScanDecodeKeyValue
  pkg/storage/engine/enginepb/decode_test.go
Owners: @cockroachdb/core-prs

sql: remove maps from cfetcher hot path
  pkg/sql/row/cfetcher.go
  pkg/sql/row/kv_fetcher.go
Owners: @cockroachdb/sql-rest-prs

enginepb: optimize ScanDecodeKeyValue
  pkg/storage/engine/enginepb/decode.go
  pkg/storage/engine/enginepb/decode_test.go
Owners: @cockroachdb/core-prs

gossip: require node descriptors have non-empty addresses
  pkg/gossip/gossip.go
  pkg/kv/dist_sender_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

gossip: require node descriptors have non-empty addresses
  pkg/gossip/gossip.go
  pkg/kv/dist_sender_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

Update go-winio dependency
  Gopkg.lock
Owners: @cockroachdb/build-prs

Update go-winio dependency
  Gopkg.lock
Owners: @cockroachdb/build-prs

opt: Improve dependency checking
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/metadata.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Improve formatting when aliases are present
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/interner_test.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/having
  pkg/sql/opt/optbuilder/testdata/inner-join
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/project
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/virtual-scan
  pkg/sql/opt/props/physical/required.go
  pkg/sql/opt/props/physical/required_test.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/opt/xform/testdata/external/activerecord
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgadmin
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/plan.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: add AS OF SYSTEM TIME to SCRUB test
  pkg/cmd/roachtest/scrub.go
Owners: none

roachtest: add AS OF SYSTEM TIME to SCRUB test
  pkg/cmd/roachtest/scrub.go
Owners: none

opt: support string_agg
  pkg/sql/distsqlrun/aggregator.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/norm/groupby.go
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/operator.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs

opt: support string_agg
  pkg/sql/distsqlrun/aggregator.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/norm/groupby.go
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/operator.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs

opt: implement use of sequences as data sources
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/select
  pkg/sql/opt/memo/testdata/stats/scan
  pkg/sql/opt/metadata.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/sequence
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/testutils/testcat/create_sequence.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

Update opencensus.io
  Gopkg.lock
Owners: @cockroachdb/build-prs

Update opencensus.io
  Gopkg.lock
Owners: @cockroachdb/build-prs

docs: s/ChangeFeed/RangeFeed/
  docs/RFCS/20170613_change_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

docs: update RangeFeed RFC with ResolvedTS and WriteBatch-decoding discussions
  docs/RFCS/20170613_change_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

docs: update RangeFeed RFC with ResolvedTS and WriteBatch-decoding discussions
  docs/RFCS/20170613_change_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

docs: update RangeFeed RFC about new MVCCOps log
  docs/RFCS/20170613_change_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

docs: s/ChangeFeed/RangeFeed/
  docs/RFCS/20170613_change_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

docs: update RangeFeed RFC about new MVCCOps log
  docs/RFCS/20170613_change_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

docs: update RangeFeed RFC with PR comments
  docs/RFCS/20170613_range_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

docs: update RangeFeed RFC with PR comments
  docs/RFCS/20170613_range_feeds_storage_primitive.md
Owners: @cockroachdb/rfc-prs

ts: Update doc.go
  pkg/ts/doc.go
Owners: none

ts: Update doc.go
  pkg/ts/doc.go
Owners: none

pgwire: detect, log, and immediately close any cancel requests
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

bench: benchmark writes with computed columns
  pkg/bench/bench_test.go
Owners: none

sql/sqlbase: memoize parsed, type checked computed col expressions
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/lease_internal_test.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/fk.go
  pkg/sql/row/fk_test.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

cloud: Update k8s templates to 2.1.3
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

cloud: Update k8s templates to 2.1.3
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

telemetry: make sure test starts with clean slate
  pkg/server/updates_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
