Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

importccl: avoid TypeCheck erroring the import if column does not exist
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/testdata/pgdump/geo_ogr2ogr.sql
  pkg/ccl/importccl/testdata/pgdump/geo_shp2pgsql.sql
Owners: @cockroachdb/bulk-io

physicalplan: narrow the information exposed by a RangeIterator
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/roachpb/errors.go
  pkg/sql/physicalplan/replicaoracle/oracle.go
  pkg/sql/physicalplan/replicaoracle/oracle_test.go
  pkg/sql/physicalplan/span_resolver.go
Owners: @cockroachdb/kv

sql: add tests for computed columns that reference other new columns
  pkg/sql/logictest/testdata/logic_test/computed
Owners: none

backupccl: clean up type descriptors after failed restore
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore_job.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
Owners: @cockroachdb/bulk-io

sql: enforce COPY FROM options in parser
  pkg/sql/copy_file_upload.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/copy.go
Owners: none

backupccl: avoid hanging forever on intents
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/backup_processor.go
  pkg/ccl/backupccl/backup_test.go
Owners: @cockroachdb/bulk-io

coldata: minor tweak of flat bytes
  pkg/col/coldata/bytes.go
  pkg/col/coldata/bytes_test.go
Owners: none

sql: new statement `SHOW ENUMS`
  docs/generated/sql/bnf/show_var.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/delegate/delegate.go
  pkg/sql/delegate/show_enums.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/parser/help_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/stmt.go
Owners: none

backupccl: sanitize passphrase in BACKUP job description
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/backup_test.go
Owners: @cockroachdb/bulk-io

sql: backfill partial indexes
  pkg/sql/add_column.go
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/create_index.go
  pkg/sql/create_table.go
  pkg/sql/logictest/testdata/logic_test/partial_index
  pkg/sql/rowexec/indexbackfiller.go
  pkg/sql/rowexec/processors.go
  pkg/sql/schema_changer_test.go
  pkg/sql/schemaexpr/check_constraint.go
  pkg/sql/schemaexpr/check_constraint_test.go
  pkg/sql/schemaexpr/column.go
  pkg/sql/schemaexpr/computed_column.go
  pkg/sql/schemaexpr/expr.go
  pkg/sql/schemaexpr/partial_index.go
  pkg/sql/schemaexpr/partial_index_test.go
  pkg/sql/sqlbase/default_exprs.go
  pkg/sql/sqlbase/table_col_set.go
  pkg/sql/sqlbase/table_col_set_test.go
Owners: none

opt: duplicate all table metadata fields when duplicating a scan
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/general_funcs.go
  pkg/sql/opt/norm/select_funcs.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-optimizer

flowinfra: avoid locking mutex in ScheduleFlow happy case
  pkg/sql/flowinfra/flow_scheduler.go
  pkg/sql/flowinfra/flow_scheduler_test.go
Owners: none

sql: add TRUNCATE tests for partial indexes
  pkg/sql/logictest/testdata/logic_test/partial_index
Owners: none

kv: update MVCCStats to track abort span size
  c-deps/libroach/include/libroach.h
  c-deps/libroach/keys.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.cc
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.h
  c-deps/libroach/protos/storage/enginepb/mvcc3.pb.cc
  c-deps/libroach/protos/storage/enginepb/mvcc3.pb.h
  docs/generated/settings/settings.html
  pkg/ccl/storageccl/engineccl/rocksdb.go
  pkg/clusterversion/cockroach_versions.go
  pkg/clusterversion/versionkey_string.go
  pkg/keys/gen_cpp_keys.go
  pkg/kv/kvserver/abortspan/abortspan_test.go
  pkg/kv/kvserver/batcheval/cmd_clear_range.go
  pkg/kv/kvserver/batcheval/cmd_clear_range_test.go
  pkg/kv/kvserver/batcheval/transaction_test.go
  pkg/kv/kvserver/below_raft_protos_test.go
  pkg/kv/kvserver/client_metrics_test.go
  pkg/kv/kvserver/client_split_test.go
  pkg/kv/kvserver/client_test.go
  pkg/kv/kvserver/gc_queue.go
  pkg/kv/kvserver/gc_queue_test.go
  pkg/kv/kvserver/metrics.go
  pkg/kv/kvserver/replica_consistency.go
  pkg/kv/kvserver/replica_proposal.go
  pkg/kv/kvserver/stateloader/stateloader.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/storage/enginepb/mvcc.go
  pkg/storage/enginepb/mvcc.pb.go
  pkg/storage/enginepb/mvcc.proto
  pkg/storage/enginepb/mvcc3.pb.go
  pkg/storage/enginepb/mvcc3.proto
  pkg/storage/mvcc.go
  pkg/storage/mvcc_test.go
  pkg/storage/rocksdb.go
  pkg/ts/catalog/chart_catalog.go
Owners: @cockroachdb/bulk-io, @cockroachdb/kv

sql: fix internal error when trying to parse strings as arrays
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/sem/tree/constant.go
Owners: none

collection: add a TODO comment about use of PublicSchema
  pkg/sql/catalog/descs/collection.go
Owners: none

schemaexpr: return serialized expressions from schemaexpr functions
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/sql/alter_column_type.go
  pkg/sql/catalog/descpb/column.go
  pkg/sql/check.go
  pkg/sql/crdb_internal.go
  pkg/sql/create_index.go
  pkg/sql/create_table.go
  pkg/sql/information_schema.go
  pkg/sql/schemaexpr/check_constraint.go
  pkg/sql/schemaexpr/column.go
  pkg/sql/schemaexpr/column_test.go
  pkg/sql/schemaexpr/computed_column.go
  pkg/sql/schemaexpr/expr.go
  pkg/sql/schemaexpr/expr_test.go
  pkg/sql/schemaexpr/partial_index.go
  pkg/sql/schemaexpr/partial_index_test.go
  pkg/sql/show_create.go
  pkg/sql/show_create_clauses.go
Owners: @cockroachdb/bulk-io

sql: add tests for enums within partial index predicates
  pkg/sql/logictest/testdata/logic_test/partial_index
Owners: none

sql: improve SHOW TABLES to show row count
  pkg/cli/zip_test.go
  pkg/server/admin.go
  pkg/sql/catalog/catconstants/constants.go
  pkg/sql/crdb_internal.go
  pkg/sql/delegate/show_tables.go
  pkg/sql/logictest/testdata/logic_test/alter_table_mixed_19.2_20.1
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/drop_index
  pkg/sql/logictest/testdata/logic_test/drop_table
  pkg/sql/logictest/testdata/logic_test/drop_view
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/namespace
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/rename_database
  pkg/sql/logictest/testdata/logic_test/rename_table
  pkg/sql/logictest/testdata/logic_test/rename_view
  pkg/sql/logictest/testdata/logic_test/role
  pkg/sql/logictest/testdata/logic_test/save_table
  pkg/sql/logictest/testdata/logic_test/select_search_path
  pkg/sql/logictest/testdata/logic_test/set
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pgwire/pgwire_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-optimizer

export/csv: prepend a unique id to file name of csv exports
  pkg/ccl/importccl/exportcsv_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/export.go
  pkg/sql/walk.go
Owners: @cockroachdb/bulk-io

importccl: allow COPY to import unordered or omitted columns
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

opt: do not assert volatility while building mutation partial index predicates
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/insert
Owners: @cockroachdb/sql-optimizer

sql: fix set schema for enum array type
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/set_schema
Owners: none

sql: drop the "experimental" in experimental_follower_read_timestamp
  docs/generated/sql/functions.md
  pkg/ccl/kvccl/kvfollowerreadsccl/followerreads_test.go
  pkg/ccl/logictestccl/testdata/logic_test/as_of
  pkg/cmd/roachtest/follower_reads.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/as_of.go
Owners: none

cmd/generate-spatial-ref-sys: adapt script for scale
  pkg/cmd/generate-spatial-ref-sys/main.go
Owners: none

sql: format human-readable UDTs in partial index predicates
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/sql/catalog/descpb/index.go
  pkg/sql/crdb_internal.go
  pkg/sql/logictest/testdata/logic_test/partial_index
  pkg/sql/schemaexpr/partial_index.go
  pkg/sql/schemaexpr/partial_index_test.go
  pkg/sql/show_create.go
  pkg/sql/sqlbase/structured_test.go
Owners: @cockroachdb/bulk-io

kvserver: avoid redundant liveness heartbeats under a thundering herd
  pkg/kv/kvserver/client_lease_test.go
  pkg/kv/kvserver/client_merge_test.go
  pkg/kv/kvserver/client_raft_test.go
  pkg/kv/kvserver/closed_timestamp_test.go
  pkg/kv/kvserver/node_liveness.go
  pkg/kv/kvserver/node_liveness_test.go
  pkg/server/admin_test.go
  pkg/ts/catalog/chart_catalog.go
Owners: @cockroachdb/kv

cliccl: add ./cockroach mt start-proxy
  pkg/ccl/cliccl/mtproxy.go
  pkg/cli/mt.go
Owners: @cockroachdb/cli-prs

types: refactor user defined type API's in types package
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/targets_test.go
  pkg/cli/dump.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/type.go
  pkg/sql/catalog/descs/collection.go
  pkg/sql/create_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/numeric_references
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/parser/sql.y
  pkg/sql/pg_catalog.go
  pkg/sql/resolver.go
  pkg/sql/sem/tree/format.go
  pkg/sql/sem/tree/type_name.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured_test.go
  pkg/sql/sqlbase/type_desc.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table_test.go
  pkg/sql/types/oid.go
  pkg/sql/types/types.go
  pkg/sql/types/types.pb.go
  pkg/sql/types/types.proto
  pkg/sql/types/types_test.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

kv: grab RLock in leasePostApply
  pkg/kv/kvserver/replica_proposal.go
Owners: @cockroachdb/kv

kvclient: handle speculative descriptors in the range cache better
  pkg/ccl/kvccl/kvfollowerreadsccl/followerreads_test.go
  pkg/kv/bulk/sst_batcher.go
  pkg/kv/bulk/sst_batcher_test.go
  pkg/kv/kvbase/range_cache.go
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/dist_sender_test.go
  pkg/kv/kvclient/kvcoord/range_cache.go
  pkg/kv/kvclient/kvcoord/range_cache_test.go
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/kv/kvserver/intentresolver/intent_resolver.go
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/execinfra/readerbase.go
Owners: @cockroachdb/kv

sql: add notice for ALTER TYPE ADD VALUE IF NOT EXIST command Release note (sql change): Show notice to user when user tries to add value which already exists in enum.
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/notice
  pkg/sql/sqlbase/type_desc.go
Owners: none

kvserver: remove unsafe recursive RLock acquisition
  pkg/kv/kvserver/client_merge_test.go
  pkg/kv/kvserver/replica.go
Owners: @cockroachdb/kv

builtins: implement regexp_split_to{table,array}
  docs/generated/sql/functions.md
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/builtins/generator_builtins.go
Owners: none

wip: testing FatalOnStatsMismatch = true Release note: None
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.h
  pkg/kv/kvserver/batcheval/transaction_test.go
  pkg/kv/kvserver/below_raft_protos_test.go
  pkg/storage/enginepb/mvcc.pb.go
  pkg/storage/enginepb/mvcc3.pb.go
  pkg/storage/mvcc.go
Owners: @cockroachdb/kv

[wip] *: AbortSpanBytes migration attempt
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.h
  docs/generated/redact_safe.md
  pkg/cmd/roachtest/versionupgrade.go
  pkg/kv/kvserver/abortspan/abortspan_test.go
  pkg/kv/kvserver/replica_consistency.go
  pkg/kv/kvserver/stores_server.go
  pkg/storage/enginepb/mvcc.pb.go
  pkg/storage/enginepb/mvcc3.pb.go
Owners: @cockroachdb/kv

txn heartbeat request batcher wip
  docs/generated/redact_safe.md
  pkg/internal/client/requestbatcher/batcher.go
  pkg/kv/kvclient/kvcoord/txn_lock_gatekeeper.go
  pkg/ui/yarn-error.log
  pkg/workload/tpcc/new_order.go
Owners: @cockroachdb/kv, @cockroachdb/admin-ui-prs

build: ask tar to read to end
  build/release/teamcity-make-and-publish-build.sh
Owners: none

build: avoid errors when tar closes curl's pipe
  build/release/teamcity-make-and-publish-build.sh
Owners: none

build: print git tag at end of Make and Publish so it's easy to find
  build/release/teamcity-make-and-publish-build.sh
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv
