Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: remove clockless mode support in updateTimestampCache
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

txnwait: don't reset pusheeTxnTimer when pusher is updated
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

txnwait: don't reset pusheeTxnTimer when pusher is updated
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

storage: remove clockless mode support in updateTimestampCache
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

opt: fold additional comparison operations with constant inputs
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/memo/typing_test.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/inline
Owners: @cockroachdb/sql-opt-prs

opt: fold additional comparison operations with constant inputs
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/memo/typing_test.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/inline
Owners: @cockroachdb/sql-opt-prs

roachtest: use import instead of load on AWS for tpcc
  pkg/cmd/roachtest/tpcc.go
Owners: none

sql: added span to TableReader flow diagram
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/distsqlpb/flow_diagram.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/logictest/testdata/planner_test/distsql_agg
  pkg/sql/logictest/testdata/planner_test/distsql_auto_mode
  pkg/sql/logictest/testdata/planner_test/distsql_distinct_on
  pkg/sql/logictest/testdata/planner_test/distsql_indexjoin
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/distsql_join
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/logictest/testdata/planner_test/distsql_numtables
  pkg/sql/logictest/testdata/planner_test/distsql_sort
  pkg/sql/logictest/testdata/planner_test/distsql_srfs
  pkg/sql/logictest/testdata/planner_test/distsql_subquery
  pkg/sql/logictest/testdata/planner_test/distsql_union
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_indexjoin
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_numtables
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachtest: use import instead of load on AWS for tpcc
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: use import instead of load on AWS for tpcc
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: fetch logs regardless of whether tests fail
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: fetch logs regardless of whether tests fail
  pkg/cmd/roachtest/test.go
Owners: none

server,sql: introduce optional migrations
  pkg/server/init.go
  pkg/server/server.go
  pkg/server/status_test.go
  pkg/sql/create_test.go
  pkg/sql/sqlbase/system.go
  pkg/sqlmigrations/migrations.go
  pkg/sqlmigrations/migrations_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs

storage: tolerate missing transaction records when pushing
  docs/RFCS/20181209_lazy_txn_record_creation.md
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/batcheval/transaction.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

storage: tolerate missing transaction records when pushing
  docs/RFCS/20181209_lazy_txn_record_creation.md
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/batcheval/transaction.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

sql: separate prepared statement metadata
  pkg/sql/conn_executor_prepare.go
  pkg/sql/prepared_stmt.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: use query cache for prepare
  pkg/sql/conn_executor_prepare.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/plan_opt.go
  pkg/sql/plan_opt_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: separate prepared statement metadata
  pkg/sql/conn_executor_prepare.go
  pkg/sql/prepared_stmt.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: use query cache for prepare
  pkg/sql/conn_executor_prepare.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/plan_opt.go
  pkg/sql/plan_opt_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

storage: remove the old VersionRaftLastIndex migration
  pkg/cli/debug.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/stateloader.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_split_test.go
  pkg/storage/client_test.go
  pkg/storage/consistency_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_consistency.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/initial_test.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/stats_test.go
  pkg/storage/store.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

kv: stop using BeginTransaction requests
  docs/RFCS/20181209_lazy_txn_record_creation.md
  docs/generated/settings/settings.html
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/kv/txn_interceptor_metrics.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/roachpb/batch.go
  pkg/roachpb/batch_test.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/upsert_test.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/replica.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

parser: change ParseOne to return parser.Statement
  pkg/ccl/backupccl/restore.go
  pkg/ccl/backupccl/targets_test.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/importccl/csv_internal_test.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/load.go
  pkg/ccl/partitionccl/partition_test.go
  pkg/cli/dump.go
  pkg/sql/app_stats.go
  pkg/sql/conn_io_test.go
  pkg/sql/data_source.go
  pkg/sql/database_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/explain_tree_test.go
  pkg/sql/internal.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/testutils/testcat/vtable.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/parser/parse.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/plan.go
  pkg/sql/sem/tree/col_types_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/function_name_test.go
  pkg/sql/sem/tree/name_resolution_test.go
  pkg/sql/sem/tree/pretty_test.go
  pkg/sql/subquery_test.go
  pkg/sql/tests/random_schema_test.go
  pkg/sql/testutils.go
  pkg/sql/virtual_schema.go
  pkg/testutils/sqlutils/name_resolution_testutils.go
  pkg/testutils/sqlutils/pretty.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

parser: change ParseOne to return parser.Statement
  pkg/ccl/backupccl/restore.go
  pkg/ccl/backupccl/targets_test.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/importccl/csv_internal_test.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/load.go
  pkg/ccl/partitionccl/partition_test.go
  pkg/cli/dump.go
  pkg/sql/app_stats.go
  pkg/sql/conn_io_test.go
  pkg/sql/data_source.go
  pkg/sql/database_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/explain_tree_test.go
  pkg/sql/internal.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/testutils/testcat/vtable.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/parser/parse.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/plan.go
  pkg/sql/sem/tree/col_types_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/function_name_test.go
  pkg/sql/sem/tree/name_resolution_test.go
  pkg/sql/sem/tree/pretty_test.go
  pkg/sql/subquery_test.go
  pkg/sql/tests/random_schema_test.go
  pkg/sql/testutils.go
  pkg/sql/virtual_schema.go
  pkg/testutils/sqlutils/name_resolution_testutils.go
  pkg/testutils/sqlutils/pretty.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sql: pass around parser.Statement
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/conn_io_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/explain_tree_test.go
  pkg/sql/internal.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/sqlbase/prepared_statement.go
  pkg/sql/statement.go
  pkg/sql/subquery_test.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

sql: pass around parser.Statement
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/conn_io_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/explain_tree_test.go
  pkg/sql/internal.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/sqlbase/prepared_statement.go
  pkg/sql/statement.go
  pkg/sql/subquery_test.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

*: update deps
  Gopkg.lock
  Gopkg.toml
  pkg/server/serverpb/admin.pb.gw.go
  pkg/server/serverpb/authentication.pb.gw.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/ts/tspb/timeseries.pb.gw.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

cluster: bump BinaryMinimumSupportedVersion=Version2_1 from 2_0
  pkg/settings/cluster/cockroach_versions.go
Owners: none

cluster: relax the instructions for deleting versions
  pkg/settings/cluster/cockroach_versions.go
Owners: none

cluster: relax the instructions for deleting versions
  pkg/settings/cluster/cockroach_versions.go
Owners: none

kv: stop using BeginTransaction requests
  docs/RFCS/20181209_lazy_txn_record_creation.md
  docs/generated/settings/settings.html
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/kv/txn_interceptor_metrics.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/roachpb/batch.go
  pkg/roachpb/batch_test.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/upsert_test.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

kv: stop using BeginTransaction requests
  docs/RFCS/20181209_lazy_txn_record_creation.md
  docs/generated/settings/settings.html
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/kv/txn_interceptor_metrics.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/roachpb/batch.go
  pkg/roachpb/batch_test.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/upsert_test.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: run check constraint mutations and validation by schema changer
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/check.go
  pkg/sql/create_table.go
  pkg/sql/distsql_plan_backfill.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/checkbackfiller.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

sql: run check constraint mutations and validation by schema changer
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/check.go
  pkg/sql/create_table.go
  pkg/sql/distsql_plan_backfill.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/checkbackfiller.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

roachtest: use `fixtures import` for tpccbench on AWS
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: use `fixtures import` for tpccbench on AWS
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: use `fixtures import` for tpccbench on AWS
  pkg/cmd/roachtest/tpcc.go
Owners: none

changefeed: add experimental support for cloud storage sinks
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_test.go
  pkg/ccl/changefeedccl/table_history.go
Owners: @cockroachdb/sql-ccl-prs

tree: clean up ProcessPlaceholderAnnotations
  pkg/sql/conn_executor_prepare.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: don't recheck CanCreateTxnRecord on txn epoch bump
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: skip TestWedgedReplicaDetection on test short
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
