Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: InitPut failures only update tscache on ConditionFailed error
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

storage: move FollowerReadsEnabled to replica_follower_reads.go
  pkg/storage/replica.go
  pkg/storage/replica_follower_read.go
Owners: @cockroachdb/core-prs

storage: move FollowerReadsEnabled to replica_follower_reads.go
  pkg/storage/replica.go
  pkg/storage/replica_follower_read.go
Owners: @cockroachdb/core-prs

roachpb/storage: remove special cases for Refresh{Range}Request
  pkg/roachpb/api.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

roachpb/storage: remove special cases for Refresh{Range}Request
  pkg/roachpb/api.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

batcheval: add TODO to improve Refresh{Range}Request
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range.go
Owners: @cockroachdb/core-prs

storage: apply lease change side-effects on snapshot recipients
  pkg/storage/client_replica_test.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

opt: Invalidate memo if SafeUpdates changes
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
Owners: @cockroachdb/sql-opt-prs

opt: Invalidate memo if SafeUpdates changes
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
Owners: @cockroachdb/sql-opt-prs

jobs: fix potential npe on not-found job
  pkg/jobs/jobs.go
Owners: none

jobs: fix potential npe on not-found job
  pkg/jobs/jobs.go
Owners: none

roachtest: add O-roachtest label to failures
  pkg/cmd/github-post/main.go
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: add O-roachtest label to failures
  pkg/cmd/github-post/main.go
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/internal/issues/issues_test.go
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: add O-roachtest label to failures
  pkg/cmd/github-post/main.go
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/internal/issues/issues_test.go
  pkg/cmd/roachtest/test.go
Owners: none

opt: fix panic due to incorrect null counts
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/props/statistics.go
Owners: @cockroachdb/sql-opt-prs

opt: fix panic due to incorrect null counts
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/props/statistics.go
Owners: @cockroachdb/sql-opt-prs

client/requestbatcher: create library for batching requests based on range ID
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

client/requestbatcher: create library for batching requests based on range ID
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

gossip: demonstrate problem with loopback info propagation
  pkg/gossip/gossip_test.go
Owners: @cockroachdb/core-prs

storage: always gossip node liveness after lease changes hands
  pkg/storage/client_lease_test.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

intentresolver: adopt RequestBatcher for GCRequests
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

storage: apply lease change side-effects on snapshot recipients
  pkg/storage/client_replica_test.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: apply lease change side-effects on snapshot recipients
  pkg/storage/client_replica_test.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: prefer unreliableRaftHandler over manual circuit breaking
  pkg/storage/client_replica_test.go
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

storage: prefer unreliableRaftHandler over manual circuit breaking
  pkg/storage/client_replica_test.go
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

intentresolver: adopt RequestBatcher for GCRequests
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: adopt RequestBatcher for GCRequests
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

sql: add errors to IndexedRow(s) interfaces
  pkg/sql/distsqlrun/windower.go
  pkg/sql/sem/builtins/window_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins_test.go
  pkg/sql/sem/tree/window_funcs.go
  pkg/sql/sem/tree/window_funcs_test.go
  pkg/sql/sem/tree/window_funcs_util.go
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs

sql: add errors to IndexedRow(s) interfaces
  pkg/sql/distsqlrun/windower.go
  pkg/sql/sem/builtins/window_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins_test.go
  pkg/sql/sem/tree/window_funcs.go
  pkg/sql/sem/tree/window_funcs_test.go
  pkg/sql/sem/tree/window_funcs_util.go
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs

batcheval: add TODO to improve Refresh{Range}Request
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range.go
Owners: @cockroachdb/core-prs

batcheval: add TODO to improve Refresh{Range}Request
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range.go
Owners: @cockroachdb/core-prs

importccl: skip TestImportCSVStmt
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/sql-bulk-prs

importccl: skip TestImportCSVStmt
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/sql-bulk-prs

importccl: disable automatic stats for TestImportCSVStmt
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/sql-bulk-prs

importccl: fix flaky test TestImportCSVStmt
  pkg/ccl/importccl/import_stmt_test.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: @cockroachdb/sql-bulk-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

ui: implement logical plan design
  pkg/ui/src/views/statements/planView.spec.tsx
  pkg/ui/src/views/statements/planView.tsx
  pkg/ui/src/views/statements/statements.styl
Owners: @cockroachdb/admin-ui-prs

sql: fix FK validation join implementation
  pkg/sql/check.go
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix FK validation join implementation
  pkg/sql/check.go
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: have sequenced reads use the intent history
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.h
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
