Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

kv: Add telemetry for transaction restart error subtypes
  pkg/kv/txn_coord_sender.go
  pkg/server/telemetry/features.go
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/distributed.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

sql: Push error telemetry down into pgwire
  pkg/sql/conn_executor.go
  pkg/sql/err_count_test.go
  pkg/sql/internal.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

sql: Push error telemetry down into pgwire
  pkg/sql/conn_executor.go
  pkg/sql/err_count_test.go
  pkg/sql/internal.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

opt: various small exprgen changes
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/testdata/explain
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/testdata/explain
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/sem/tree/explain.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: various small exprgen changes
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/testdata/explain
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/testdata/explain
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/sem/tree/explain.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: turn group collisions into a no-op
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/exprs
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

opt: turn group collisions into a no-op
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/exprs
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

tscache: remove a couple more unit test logf calls
  pkg/storage/tscache/interval_skl_test.go
Owners: @cockroachdb/core-prs

tscache: remove a couple more unit test logf calls
  pkg/storage/tscache/interval_skl_test.go
Owners: @cockroachdb/core-prs

rpc/nodedialer: avoid tripping breaker on context errors
  pkg/rpc/nodedialer/nodedialer.go
  pkg/rpc/nodedialer/nodedialer_test.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/core-prs

sql: fix data race in validateChecks
  pkg/sql/backfill.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix data race in validateChecks
  pkg/sql/backfill.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql,ui: clarify/cleanup the display of internal queries
  pkg/cli/demo.go
  pkg/cli/sql_util.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.proto
  pkg/server/statements.go
  pkg/server/updates_test.go
  pkg/sql/app_stats.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/ui/src/views/statements/statementsPage.tsx
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

libroach: update comment on `SeekForPrev` usage
  Makefile
  c-deps/libroach/mvcc.h
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

roachtest: remove redundant --sequential flags
  pkg/cmd/roachtest/allocator.go
  pkg/cmd/roachtest/cli.go
  pkg/cmd/roachtest/decommission.go
  pkg/cmd/roachtest/gossip.go
  pkg/cmd/roachtest/rebalance_load.go
  pkg/cmd/roachtest/replicagc.go
  pkg/cmd/roachtest/store_gen.go
Owners: none

roachtest: remove redundant --sequential flags
  pkg/cmd/roachtest/allocator.go
  pkg/cmd/roachtest/cli.go
  pkg/cmd/roachtest/decommission.go
  pkg/cmd/roachtest/gossip.go
  pkg/cmd/roachtest/rebalance_load.go
  pkg/cmd/roachtest/replicagc.go
  pkg/cmd/roachtest/store_gen.go
Owners: none

Add "encryption_type" to EnvStats.
  c-deps/libroach/ccl/db.cc
  c-deps/libroach/ccl/db_test.cc
  c-deps/libroach/db_test.cc
  c-deps/libroach/engine.cc
  c-deps/libroach/env_manager.h
  c-deps/libroach/include/libroach.h
  pkg/storage/engine/engine.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-ccl-prs

Report per-store encryption type as a metric and in DiagnosticReport.
  pkg/server/diagnosticspb/diagnostics.pb.go
  pkg/server/diagnosticspb/diagnostics.proto
  pkg/server/updates.go
  pkg/storage/metrics.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: check that there are no window functions in window definitions
  pkg/sql/logictest/testdata/logic_test/window
  pkg/sql/window.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: check that there are no window functions in window definitions
  pkg/sql/logictest/testdata/logic_test/window
  pkg/sql/window.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql,ui: clarify/cleanup the display of internal queries
  pkg/cli/demo.go
  pkg/cli/sql_util.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.proto
  pkg/server/statements.go
  pkg/server/updates_test.go
  pkg/sql/app_stats.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/ui/src/views/statements/statementsPage.tsx
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

sql,ui: clarify/cleanup the display of internal queries
  pkg/cli/demo.go
  pkg/cli/sql_util.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.proto
  pkg/server/statements.go
  pkg/server/updates_test.go
  pkg/sql/app_stats.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/ui/src/views/statements/statementsPage.tsx
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

sql: improve error message for Test{Active,Idle}CancelSession
  pkg/sql/run_control_test.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: hide internal sessions by default for SHOW {QUERIES,SESSIONS}
  docs/generated/sql/bnf/show_queries.bnf
  docs/generated/sql/bnf/show_sessions.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/sql/internal_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/show.go
  pkg/sql/show_queries.go
  pkg/sql/show_sessions.go
  pkg/sql/show_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql: ensure column constraints are validated after SET for UPSERT
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: ensure column constraints are validated after SET for UPSERT
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: do the same thing as the previous commit for the CBO UPSERT
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: do the same thing as the previous commit for the CBO UPSERT
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

workload: use workload split functionality with tpcc
  pkg/workload/tpcc/ddls.go
  pkg/workload/tpcc/tpcc.go
Owners: none

sql: hide internal sessions by default for SHOW {QUERIES,SESSIONS}
  docs/generated/sql/bnf/show_queries.bnf
  docs/generated/sql/bnf/show_sessions.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/sql/internal_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/show.go
  pkg/sql/show_queries.go
  pkg/sql/show_sessions.go
  pkg/sql/show_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql: hide internal sessions by default for SHOW {QUERIES,SESSIONS}
  docs/generated/sql/bnf/show_queries.bnf
  docs/generated/sql/bnf/show_sessions.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/sql/internal_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/show.go
  pkg/sql/show_queries.go
  pkg/sql/show_sessions.go
  pkg/sql/show_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql: improve error message for Test{Active,Idle}CancelSession
  pkg/sql/run_control_test.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: improve error message for Test{Active,Idle}CancelSession
  pkg/sql/run_control_test.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add support for pg_catalog.{current_setting,set_config}
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/server.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/planner.go
  pkg/sql/schema_changer.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/set_var.go
  pkg/sql/sqlbase/evalctx.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: add support for pg_catalog.{current_setting,set_config}
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/server.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/planner.go
  pkg/sql/schema_changer.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/set_var.go
  pkg/sql/sqlbase/evalctx.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: rearchitecture ALTER TABLE RENAME, add support for renaming constraints
  docs/generated/sql/bnf/alter_table.bnf
  docs/generated/sql/bnf/rename_column.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/server/updates_test.go
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/rename_column
  pkg/sql/logictest/testdata/logic_test/rename_constraint
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/logictest/testdata/logic_test/unimplemented
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/rename_column.go
  pkg/sql/sem/tree/alter_table.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-async-prs

sql: rearchitecture ALTER TABLE RENAME, add support for renaming constraints
  docs/generated/sql/bnf/alter_table.bnf
  docs/generated/sql/bnf/rename_column.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/server/updates_test.go
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/rename_column
  pkg/sql/logictest/testdata/logic_test/rename_constraint
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/logictest/testdata/logic_test/unimplemented
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/rename_column.go
  pkg/sql/sem/tree/alter_table.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-async-prs

sqlsmith: lock on name fetching
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: lock on name fetching
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

workload: use workload split functionality with tpcc
  pkg/workload/tpcc/ddls.go
  pkg/workload/tpcc/generate.go
  pkg/workload/tpcc/tpcc.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
