Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

config: Remove an unnecessary static split
  pkg/cli/cli_test.go
  pkg/config/system.go
  pkg/config/system_test.go
  pkg/server/admin_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

storage/engine: extract an MVCCGetOptions struct
  pkg/storage/abortspan/abortspan.go
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/batcheval/cmd_subsume.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
  pkg/storage/client_test.go
  pkg/storage/engine/bench_test.go
  pkg/storage/engine/doc.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/engine_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/rocksdb_iter_stats_test.go
  pkg/storage/engine/rocksdb_test.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_test.go
  pkg/storage/spanset/batch.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs

storage/engine: change MVCCGet to return an intent pointer, not slice
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/batcheval/cmd_subsume.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/replica.go
  pkg/storage/spanset/batch.go
Owners: @cockroachdb/core-prs

libroach: negate consistent parameter in MVCC{Get,Scan}
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/mvcc.h
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

storage/engine: extract an MVCCGetOptions struct
  pkg/storage/abortspan/abortspan.go
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/batcheval/cmd_subsume.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
  pkg/storage/client_test.go
  pkg/storage/engine/bench_test.go
  pkg/storage/engine/doc.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/engine_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/rocksdb_iter_stats_test.go
  pkg/storage/engine/rocksdb_test.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_test.go
  pkg/storage/spanset/batch.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs

libroach: negate consistent parameter in MVCC{Get,Scan}
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/mvcc.h
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

storage/engine: change MVCCGet to return an intent pointer, not slice
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/batcheval/cmd_subsume.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/replica.go
  pkg/storage/spanset/batch.go
Owners: @cockroachdb/core-prs

opt: fix panic in CREATE STATISTICS for table with no columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/sqlbase: memoize parsed, type checked computed col expressions
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/lease_internal_test.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/fk.go
  pkg/sql/row/fk_test.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql,roachpb: improve ScanResponse.combine
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

enginepb: add benchmark for ScanDecodeKeyValue
  pkg/storage/engine/enginepb/decode_test.go
Owners: @cockroachdb/core-prs

enginepb: add benchmark for ScanDecodeKeyValue
  pkg/storage/engine/enginepb/decode_test.go
Owners: @cockroachdb/core-prs

storage: deflake Test...AbandonedFollowersAutomaticallyGarbageCollected
  pkg/storage/client_merge_test.go
Owners: @cockroachdb/core-prs

storage: deflake Test...AbandonedFollowersAutomaticallyGarbageCollected
  pkg/storage/client_merge_test.go
Owners: @cockroachdb/core-prs

enginepb: optimize ScanDecodeKeyValue
  pkg/storage/engine/enginepb/decode.go
  pkg/storage/engine/enginepb/decode_test.go
Owners: @cockroachdb/core-prs

enginepb: optimize ScanDecodeKeyValue
  pkg/storage/engine/enginepb/decode.go
  pkg/storage/engine/enginepb/decode_test.go
Owners: @cockroachdb/core-prs

sql: remove maps from cfetcher hot path
  pkg/sql/row/cfetcher.go
  pkg/sql/row/kv_fetcher.go
Owners: @cockroachdb/sql-rest-prs

sql: remove maps from cfetcher hot path
  pkg/sql/row/cfetcher.go
  pkg/sql/row/kv_fetcher.go
Owners: @cockroachdb/sql-rest-prs

opt: adjust cache size
  pkg/server/config.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

opt: adjust cache size
  pkg/server/config.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

exec: template out colvec
  Makefile
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: template out colvec
  Makefile
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

closedts: fix bug ignoring zero MLIAs to stabilize roachtest cdc/rangefeed
  pkg/cmd/roachtest/cdc.go
  pkg/storage/closedts/minprop/tracker.go
  pkg/storage/closedts/minprop/tracker_test.go
  pkg/storage/closedts/storage/storage_mem.go
  pkg/storage/closedts/storage/storage_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

closedts: fix bug ignoring zero MLIAs to stabilize roachtest cdc/rangefeed
  pkg/cmd/roachtest/cdc.go
  pkg/storage/closedts/minprop/tracker.go
  pkg/storage/closedts/minprop/tracker_test.go
  pkg/storage/closedts/storage/storage_mem.go
  pkg/storage/closedts/storage/storage_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

sql: ensure orphaned lease deletion uses a post bootstrap timestamp
  pkg/server/server.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-async-prs

sql: ensure orphaned lease deletion uses a post bootstrap timestamp
  pkg/server/server.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-async-prs

sql: release orphaned table leases at server startup
  pkg/server/server.go
  pkg/server/updates_test.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
  pkg/sql/metric_test.go
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: Plan zigzag joins on inverted indexes with 2 constraints
  pkg/sql/distsqlrun/zigzagjoiner.go
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

sql: fix panic in insert on conflict do update
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix panic in insert on conflict do update
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: null handling
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/exec/colvec.go
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/select
  pkg/sql/row/cfetcher.go
  pkg/sql/row/fetcherstate_string.go
Owners: @cockroachdb/sql-rest-prs

util: add FastIntSet.CopyFrom
  pkg/util/fast_int_set.go
Owners: none

storage: deflake TestStoreRangeMergeSlowWatcher
  pkg/storage/client_merge_test.go
Owners: @cockroachdb/core-prs

storage: deflake TestStoreRangeMergeSlowWatcher
  pkg/storage/client_merge_test.go
Owners: @cockroachdb/core-prs

kv: dont wrap a MixedSuccessError within a MixedSuccessError
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/core-prs

kv: dont wrap a MixedSuccessError within a MixedSuccessError
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/core-prs

pgwire: detect, log, and immediately close any cancel requests
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

sql: always use typed expressions for shift on int
  pkg/sql/logictest/testdata/logic_test/shift
  pkg/sql/sem/tree/constant.go
  pkg/sql/sem/tree/constant_test.go
  pkg/sql/sem/tree/eval.go
Owners: @cockroachdb/sql-rest-prs

roachtest: fix SCRUB tests
  pkg/cmd/roachtest/scrub.go
  pkg/testutils/sqlutils/scrub.go
Owners: none

diagnosticspb: restore deleted fields
  pkg/server/diagnosticspb/diagnostics.pb.go
  pkg/server/diagnosticspb/diagnostics.proto
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs
