Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql: fix the evaluation of CHECK after ON CONFLICT DO UPDATE SET
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix the evaluation of CHECK after ON CONFLICT DO UPDATE SET
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: smarten logic to wait for split trigger
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/replica.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_trigger_helper.go
  pkg/storage/split_trigger_helper_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: bump collectChecksumTimeout from 5s to 15s
  pkg/storage/replica_consistency.go
Owners: @cockroachdb/core-prs

storage: bump collectChecksumTimeout from 5s to 15s
  pkg/storage/replica_consistency.go
Owners: @cockroachdb/core-prs

storage: smarten logic to wait for split trigger
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/replica.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_trigger_helper.go
  pkg/storage/split_trigger_helper_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

build: better capture the output of tests into artifacts
  build/teamcity-acceptance.sh
  build/teamcity-bench.sh
  build/teamcity-check.sh
  build/teamcity-local-roachtest.sh
  build/teamcity-sqllogictest.sh
  build/teamcity-stress.sh
  build/teamcity-test-deadlock.sh
  build/teamcity-test.sh
  build/teamcity-testlogic-verbose.sh
  build/teamcity-testlogicrace.sh
  build/teamcity-testrace.sh
Owners: @cockroachdb/build-prs

opt: Add expression and xform rule for secondary index zigzag joins
  pkg/sql/distsql_physical_planner.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-execution-prs

opt: Test changes for previous commit adding zigzag opt expr/xform rule.
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/stats
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

opt: plumb "max results" hint
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/constraint/constraint.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: add coalescer
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: add coalescer
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

sql: fix INSERT results incorrectly including mutation column values
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/upsert
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix INSERT results incorrectly including mutation column values
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/upsert
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

cli: add debug merge-logs command to merge log files into a single stream.
  pkg/cli/debug.go
  pkg/cli/debug_merge_logs.go
  pkg/cli/debug_merge_logs_test.go
  pkg/cli/testdata/merge_logs/2/2.logs/cockroach.stderr
  pkg/cli/testdata/merge_logs/2/2.logs/roachprod.log
  pkg/util/log/file.go
  pkg/util/log/file_test.go
Owners: @cockroachdb/cli-prs

roachtest: Update hibernate blacklist 2.2
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

roachtest: Update hibernate blacklist 2.2
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

sql: parallelize cross-range scans when maxResultHint is specified
  docs/generated/settings/settings.html
  pkg/sql/data_source.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlrun/processors.pb.go
  pkg/sql/distsqlrun/processors.proto
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/settings.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

kv, sql: replace TestTraceFromErrorReplica
  pkg/kv/transport_test.go
  pkg/sql/trace_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

kv, sql: replace TestTraceFromErrorReplica
  pkg/kv/transport_test.go
  pkg/sql/trace_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli: add debug merge-logs command to merge log files into a single stream.
  pkg/cli/debug.go
  pkg/cli/debug_merge_logs.go
  pkg/cli/debug_merge_logs_test.go
  pkg/cli/testdata/merge_logs/1/1.logs/cockroach.test-0001.ubuntu.2018-11-30T22_06_47Z.004130.log
  pkg/cli/testdata/merge_logs/1/2.logs/cockroach.test-0002.ubuntu.2018-11-30T22_06_47Z.003959.log
  pkg/cli/testdata/merge_logs/2/1.logs/cockroach.test-0001.ubuntu.2018-11-30T22_06_47Z.004130.log
  pkg/cli/testdata/merge_logs/2/1.logs/cockroach.test-0001.ubuntu.2018-11-30T22_14_47Z.004130.log
  pkg/cli/testdata/merge_logs/2/2.logs/cockroach.stderr
  pkg/cli/testdata/merge_logs/2/2.logs/cockroach.test-0002.ubuntu.2018-11-30T22_06_47Z.003959.log
  pkg/cli/testdata/merge_logs/2/2.logs/roachprod.log
  pkg/util/log/file.go
  pkg/util/log/file_test.go
Owners: @cockroachdb/cli-prs

roachtest: remove stable vs unstable distinction
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/allocator.go
  pkg/cmd/roachtest/backup.go
  pkg/cmd/roachtest/cancel.go
  pkg/cmd/roachtest/cdc.go
  pkg/cmd/roachtest/clearrange.go
  pkg/cmd/roachtest/clock_jump_crash.go
  pkg/cmd/roachtest/clock_monotonic.go
  pkg/cmd/roachtest/copy.go
  pkg/cmd/roachtest/debug.go
  pkg/cmd/roachtest/decommission.go
  pkg/cmd/roachtest/disk_space.go
  pkg/cmd/roachtest/drop.go
  pkg/cmd/roachtest/election.go
  pkg/cmd/roachtest/encryption.go
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/hotspotsplits.go
  pkg/cmd/roachtest/import.go
  pkg/cmd/roachtest/interleavedpartitioned.go
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/rebalance_load.go
  pkg/cmd/roachtest/restore.go
  pkg/cmd/roachtest/roachmart.go
  pkg/cmd/roachtest/scaledata.go
  pkg/cmd/roachtest/schemachange.go
  pkg/cmd/roachtest/slack.go
  pkg/cmd/roachtest/split.go
  pkg/cmd/roachtest/sqlsmith.go
  pkg/cmd/roachtest/synctest.go
  pkg/cmd/roachtest/sysbench.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
  pkg/cmd/roachtest/tpcc.go
  pkg/cmd/roachtest/version.go
Owners: none

roachtest: remove stable vs unstable distinction
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/allocator.go
  pkg/cmd/roachtest/backup.go
  pkg/cmd/roachtest/cancel.go
  pkg/cmd/roachtest/cdc.go
  pkg/cmd/roachtest/clearrange.go
  pkg/cmd/roachtest/clock_jump_crash.go
  pkg/cmd/roachtest/clock_monotonic.go
  pkg/cmd/roachtest/copy.go
  pkg/cmd/roachtest/debug.go
  pkg/cmd/roachtest/decommission.go
  pkg/cmd/roachtest/disk_space.go
  pkg/cmd/roachtest/drop.go
  pkg/cmd/roachtest/election.go
  pkg/cmd/roachtest/encryption.go
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/hotspotsplits.go
  pkg/cmd/roachtest/import.go
  pkg/cmd/roachtest/interleavedpartitioned.go
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/rebalance_load.go
  pkg/cmd/roachtest/restore.go
  pkg/cmd/roachtest/roachmart.go
  pkg/cmd/roachtest/scaledata.go
  pkg/cmd/roachtest/schemachange.go
  pkg/cmd/roachtest/slack.go
  pkg/cmd/roachtest/split.go
  pkg/cmd/roachtest/sqlsmith.go
  pkg/cmd/roachtest/synctest.go
  pkg/cmd/roachtest/sysbench.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
  pkg/cmd/roachtest/tpcc.go
  pkg/cmd/roachtest/version.go
Owners: none

storage: Collect IntentHistory for transactions
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.h
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/enginepb/file_registry.pb.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/enginepb/mvcc.pb.go
  pkg/storage/engine/enginepb/mvcc.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql/row: Implement MATCH SIMPLE for composite FK matching
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: sometimes skip TestCopyTransaction
  pkg/sql/copy_in_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: use ImmutableTableDesc when resolving uncached immutable table
  pkg/sql/resolver.go
  pkg/sql/schema_accessors.go
  pkg/sql/show_fingerprints.go
  pkg/sql/show_stats.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: plumb SQL string alongside statements
  pkg/cli/interactive_tests/test_auto_trace.tcl
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/distsql_running_test.go
  pkg/sql/internal.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/statement.go
  pkg/sql/subquery_test.go
  pkg/sql/testutils.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

parser: batch some allocations in the scanner
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

server: plumb a ctx in node tests
  pkg/server/node_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: plumb a ctx in node tests
  pkg/server/node_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: use ImmutableTableDesc when resolving uncached immutable table
  pkg/sql/resolver.go
  pkg/sql/schema_accessors.go
  pkg/sql/show_fingerprints.go
  pkg/sql/show_stats.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: use ImmutableTableDesc when resolving uncached immutable table
  pkg/sql/resolver.go
  pkg/sql/schema_accessors.go
  pkg/sql/show_fingerprints.go
  pkg/sql/show_stats.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

storage: de-flake TestStoreRangeRemoveDead
  pkg/storage/allocator_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_test.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
Owners: @cockroachdb/core-prs

sql: improve clarity of kvFetcher interfaces
  docs/RFCS/20171025_interleaved_table_joins.md
  docs/tech-notes/life_of_a_query.md
  pkg/sql/row/cfetcher.go
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/sql-rest-prs

sql: rewrite cfetcher to be an explicit state machine
  pkg/roachpb/data.go
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/distsqlrun/colbatch_scan.go
  pkg/sql/row/cfetcher.go
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fetcherstate_string.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/sql/sqlbase/index_encoding.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

util: add FastIntSet.CopyFrom
  pkg/util/fast_int_set.go
Owners: none

cli: add cpu benchmark to cockroach
  pkg/cli/systembench.go
  pkg/cli/systembench/cpu_bench.go
  pkg/cli/systembench/disk_bench.go
  pkg/cli/systembench/histograms.go
  pkg/cli/systembench/systembench_common.go
Owners: @cockroachdb/cli-prs

sql: fix the evaluation of CHECK after ON CONFLICT DO UPDATE SET
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix the evaluation of CHECK after ON CONFLICT DO UPDATE SET
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
