Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

internal/sqlsmith: ignore all crdb_internal.force_* functions
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

kv: add simpler RangeDescriptorCache.LookupRangeDescriptor interface
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/kvbase/range_cache.go
  pkg/kv/range_cache.go
  pkg/kv/range_cache_test.go
  pkg/storage/bulk/sst_batcher_test.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

exec: remove extra cols in tests and modify tuples comparison
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/count_test.go
  pkg/sql/exec/distinct_test.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/limit_test.go
  pkg/sql/exec/offset_test.go
  pkg/sql/exec/projection_ops_test.go
  pkg/sql/exec/selection_ops_test.go
  pkg/sql/exec/simple_project_test.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: remove extra cols in tests and modify tuples comparison
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/count_test.go
  pkg/sql/exec/distinct_test.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/limit_test.go
  pkg/sql/exec/offset_test.go
  pkg/sql/exec/projection_ops_test.go
  pkg/sql/exec/selection_ops_test.go
  pkg/sql/exec/simple_project_test.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

*: replace use context.WithTimeout with a wrapper
  pkg/acceptance/cluster/docker.go
  pkg/ccl/storageccl/export_storage.go
  pkg/cli/cli_test.go
  pkg/cli/debug_synctest.go
  pkg/cli/zip.go
  pkg/cmd/roachtest/cluster.go
  pkg/internal/client/txn.go
  pkg/rpc/context.go
  pkg/server/admin.go
  pkg/server/status.go
  pkg/sql/show_cluster_setting.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/node_liveness.go
  pkg/storage/queue.go
  pkg/storage/replica_command.go
  pkg/storage/replica_consistency.go
  pkg/storage/store.go
  pkg/storage/store_rebalancer.go
  pkg/testutils/lint/lint_test.go
  pkg/util/contextutil/context.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

*: replace use context.WithTimeout with a wrapper
  pkg/acceptance/cluster/docker.go
  pkg/ccl/storageccl/export_storage.go
  pkg/cli/cli_test.go
  pkg/cli/debug_synctest.go
  pkg/cli/zip.go
  pkg/cmd/roachtest/cluster.go
  pkg/internal/client/txn.go
  pkg/rpc/context.go
  pkg/server/admin.go
  pkg/server/status.go
  pkg/sql/show_cluster_setting.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/node_liveness.go
  pkg/storage/queue.go
  pkg/storage/replica_command.go
  pkg/storage/replica_consistency.go
  pkg/storage/store.go
  pkg/storage/store_rebalancer.go
  pkg/testutils/lint/lint_test.go
  pkg/util/contextutil/context.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

workloadccl: add a `fixtures import` flag for experimental faster IMPORT
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
Owners: @cockroachdb/sql-ccl-prs

workloadccl: add a `fixtures import` flag for experimental faster IMPORT
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
Owners: @cockroachdb/sql-ccl-prs

wip: vectorized merge join operator 2: electric boogaloo
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

intentresolver: limit number of txns processed at a time in CleanupIntents
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: limit number of txns processed at a time in CleanupIntents
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

opt: add JoinPrivate
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/norm/rules/decorrelate.opt
  pkg/sql/opt/norm/rules/inline.opt
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/rules/reject_nulls.opt
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/join.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optgen/exprgen/expr_gen_test.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/optgen/lang/compiler.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
Owners: @cockroachdb/sql-opt-prs

exec: add chunkingBatchSource
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

distsqlrun: add throttling to automatic stats
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

importccl: send correct number of values back
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

importccl: send correct number of values back
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

roachtest: Add a psycopg roachtest
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
  pkg/cmd/roachtest/registry.go
Owners: none

roachtest: Add a psycopg roachtest
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
  pkg/cmd/roachtest/registry.go
Owners: none

sql: introduce PREPARE AS OPT PLAN
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/idxconstraint/index_constraints_test.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/parse_type.go
  pkg/sql/opt/optgen/exprgen/private.go
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/testutils/utils.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan_opt.go
  pkg/sql/sem/tree/prepare.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs

server: log rocks stats when crashing due to hang
  pkg/server/server_engine_health.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: stop sending BeginTxn requests in merge transactions
  pkg/storage/batcheval/cmd_lease_request.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: remove EagerRecord hatch entirely
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/storage/client_replica_test.go
Owners: @cockroachdb/core-prs

distsqlrun: add throttling to automatic stats
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

kv: rename txnHeartbeat to txnHeartbeater and document
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeater.go
Owners: @cockroachdb/core-prs

kv: rename txnHeartbeat to txnHeartbeater and document
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeater.go
Owners: @cockroachdb/core-prs

kv: rename txnMetrics to txnMetricRecorder and document
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_metric_recorder.go
Owners: @cockroachdb/core-prs

kv: rename txnMetrics to txnMetricRecorder and document
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_metric_recorder.go
Owners: @cockroachdb/core-prs

kv: document txnSeqNumAllocator
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_seq_num_allocator.go
Owners: @cockroachdb/core-prs

kv: document txnSeqNumAllocator
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_seq_num_allocator.go
Owners: @cockroachdb/core-prs

kv: strengthen guarantee about txnInterceptor.closeLocked
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_metric_recorder.go
Owners: @cockroachdb/core-prs

kv: strengthen guarantee about txnInterceptor.closeLocked
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_metric_recorder.go
Owners: @cockroachdb/core-prs

kv: clean up interceptor initialization and document
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_metric_recorder.go
Owners: @cockroachdb/core-prs

kv: clean up interceptor initialization and document
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_metric_recorder.go
Owners: @cockroachdb/core-prs

kv: unit test txnSeqNumAllocator
  pkg/kv/txn_interceptor_seq_num_allocator.go
  pkg/kv/txn_interceptor_seq_num_allocator_test.go
Owners: @cockroachdb/core-prs

roachpb: remove indent on TransactionRestart.NONE comment
  pkg/roachpb/api.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: @cockroachdb/core-prs

kv: unit test txnSeqNumAllocator
  pkg/kv/txn_interceptor_seq_num_allocator.go
  pkg/kv/txn_interceptor_seq_num_allocator_test.go
Owners: @cockroachdb/core-prs

roachpb: remove indent on TransactionRestart.NONE comment
  pkg/roachpb/api.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: @cockroachdb/core-prs

sql: bust incorrect usages of evalCtx.Ctx()
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/mergejoiner.go
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/distsqlrun/stream_group_accumulator.go
  pkg/sql/distsqlrun/stream_merger.go
  pkg/sql/executor_statement_metrics.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

[WIP] cdctest: prototype a jepsen-style changefeed test
  pkg/ccl/changefeedccl/cdctest/cdcnemeses.go
  pkg/ccl/changefeedccl/nemeses_test.go
Owners: @cockroachdb/sql-ccl-prs

sql: improve InternalExecutor.Query interface
  pkg/jobs/registry.go
  pkg/server/server_update.go
  pkg/server/updates.go
  pkg/sql/authorization.go
  pkg/sql/crdb_internal.go
  pkg/sql/create_stats.go
  pkg/sql/information_schema.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/lease.go
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/show_stats.go
  pkg/sql/sqlutil/internal_executor.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/user.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs
