Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

opt: Change how mutation columns are exposed by the catalog
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/opt/cat/column.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/delete
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/delete
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

opt: Store table alias as TableName
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/orderby
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
Owners: @cockroachdb/sql-opt-prs

opt: Prune Delete operator input columns
  pkg/sql/delete.go
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Expose mutation indexes in catalog
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: fix errant log message caused by load-based splitting
  pkg/storage/split/decider.go
  pkg/storage/split/decider_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

storage: fix errant log message caused by load-based splitting
  pkg/storage/split/decider.go
  pkg/storage/split/decider_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

sql: add support for AS OF SYSTEM TIME clause in BEGIN and SET TRANSACTION
  docs/generated/sql/bnf/begin_transaction.bnf
  docs/generated/sql/bnf/set_transaction.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/as_of_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_fsm.go
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/txn.go
  pkg/sql/set_transaction.go
  pkg/sql/txn_state.go
  pkg/sql/txn_state_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

util/batcher: create library for batching requests based on range ID
  pkg/util/batcher/batcher.go
  pkg/util/batcher/batcher_test.go
Owners: none

cli: Deflake TestRemoveDeadReplicas
  pkg/cli/debug_test.go
  pkg/storage/store.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

internal/rsg: make rsg.Rnd's source thread safe
  pkg/internal/rsg/rsg.go
Owners: @cockroachdb/core-prs

internal/rsg: make rsg.Rnd's source thread safe
  pkg/internal/rsg/rsg.go
Owners: @cockroachdb/core-prs

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: break delete fast path into its own node
  pkg/sql/delete.go
  pkg/sql/delete_range.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/needed_columns
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/plan.go
  pkg/sql/plan_physical_props.go
  pkg/sql/plan_spans.go
  pkg/sql/show_trace_replica_test.go
  pkg/sql/tablewriter_delete.go
  pkg/sql/walk.go
  pkg/sql/with.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: break delete fast path into its own node
  pkg/sql/delete.go
  pkg/sql/delete_range.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/needed_columns
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/plan.go
  pkg/sql/plan_physical_props.go
  pkg/sql/plan_spans.go
  pkg/sql/show_trace_replica_test.go
  pkg/sql/tablewriter_delete.go
  pkg/sql/walk.go
  pkg/sql/with.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

changefeedccl: add envelope=wrapped support to format=json
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: deprecate `envelope=row` in favor of `envelope=wrapped`
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validator.go
  pkg/ccl/changefeedccl/validator_test.go
Owners: @cockroachdb/sql-ccl-prs

intentresolver: adopt Batcher for GCRequests
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/util/batcher/batcher.go
  pkg/util/batcher/batcher_test.go
Owners: @cockroachdb/core-prs

sql: move function privilege check to execution time
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/expr.go
  pkg/sql/distsqlrun/expr_test.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/idxconstraint/index_constraints_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/alter_table.go
  pkg/sql/opt/testutils/utils.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/opt_index_selection_test.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/planner.go
  pkg/sql/schemachange/alter_column_type.go
  pkg/sql/sem/tree/constant_eval_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/tree/type_check_test.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

wip: vectorized merge join operator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: move function privilege check to execution time
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/expr.go
  pkg/sql/distsqlrun/expr_test.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/idxconstraint/index_constraints_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/alter_table.go
  pkg/sql/opt/testutils/utils.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/opt_index_selection_test.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/planner.go
  pkg/sql/schemachange/alter_column_type.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/constant_eval_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/tree/type_check_test.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

sql: move function privilege check to execution time
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/expr.go
  pkg/sql/distsqlrun/expr_test.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/idxconstraint/index_constraints_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/alter_table.go
  pkg/sql/opt/testutils/utils.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/opt_index_selection_test.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/planner.go
  pkg/sql/schemachange/alter_column_type.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/constant_eval_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/tree/type_check_test.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

changefeedccl: fix bug with changefeeds on previously backfilled tables
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

sql/tests: add sqlsmith to nightly RSG tests
  pkg/internal/sqlsmith/random.go
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/type.go
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

sql/tests: add sqlsmith to nightly RSG tests
  pkg/internal/sqlsmith/random.go
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/type.go
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

sql: use time-based sampling for logical plans
  docs/generated/settings/settings.html
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: use time-based sampling for logical plans
  docs/generated/settings/settings.html
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

changefeedccl: fix bug with changefeeds on previously backfilled tables
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: fix bug with changefeeds on previously backfilled tables
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: fix bug with changefeeds on previously backfilled tables
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

engine: refine mvcc logic around moving intent timestamps
  pkg/storage/engine/mvcc.go
Owners: @cockroachdb/core-prs

engine: refine mvcc logic around moving intent timestamps
  pkg/storage/engine/mvcc.go
Owners: @cockroachdb/core-prs

storage: fix two typos
  pkg/storage/replica_raft.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: fix two typos
  pkg/storage/replica_raft.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

changefeedccl: deprecate `envelope=row` in favor of `envelope=wrapped`
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validator.go
  pkg/ccl/changefeedccl/validator_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: deprecate `envelope=row` in favor of `envelope=wrapped`
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validator.go
  pkg/ccl/changefeedccl/validator_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: add envelope=wrapped support to format=json
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: add envelope=wrapped support to format=json
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

sql: add support for AS OF SYSTEM TIME clause in BEGIN and SET TRANSACTION
  docs/generated/sql/bnf/begin_transaction.bnf
  docs/generated/sql/bnf/set_transaction.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/as_of_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_fsm.go
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/txn.go
  pkg/sql/sem/tree/walk.go
  pkg/sql/set_transaction.go
  pkg/sql/txn_state.go
  pkg/sql/txn_state_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

opt: limit types of statements that get cached
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs
