Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

opt: relax SimplifyZeroCardinalityGroup
  pkg/sql/opt/memo/testdata/logprops/srfs
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/testdata/rules/limit
  pkg/sql/opt/norm/testdata/rules/zero_cardinality
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

intentresolver: fix testrace flake by extending timeouts
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

mvcc: don't write below provisional commit timestamp on WriteTooOld errors
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql: fix confupdtype, confdeltype, confmatchtype in pg_constraint
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/pg_catalog.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_check.go
  pkg/sql/sem/tree/create.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: fix confupdtype, confdeltype, confmatchtype in pg_constraint
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/pg_catalog.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_check.go
  pkg/sql/sem/tree/create.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

storage: fix bug in TestReplicaRangefeed
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

storage: fix bug in TestReplicaRangefeed
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

intentresolver: skip TestCleanupIntents
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: skip TestCleanupIntents
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

sql: Fix judgment condition when judging spans overlap.
  pkg/sql/row/kv_batch_fetcher.go
Owners: @cockroachdb/sql-rest-prs

rangefeed: avoid extraneous context.Context
  pkg/server/node.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_rangefeed_test.go
  pkg/storage/store.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

rangefeed: avoid extraneous context.Context
  pkg/server/node.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_rangefeed_test.go
  pkg/storage/store.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

rangefeed: error instead of hang in snapshot rangefeed retry test
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

rangefeed: error instead of hang in snapshot rangefeed retry test
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

rangefeed: fix up raft interception in snapshot test
  pkg/storage/client_merge_test.go
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

rangefeed: fix test that could end up cutting off Raft leader
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

rangefeed: fix up raft interception in snapshot test
  pkg/storage/client_merge_test.go
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

rangefeed: fix test that could end up cutting off Raft leader
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/core-prs

logictest: avoid having to edit random files on new cluster versions
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-rest-prs

storage: remove replicaID dependency from sideloaded storage
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/replica_init.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

storage: remove {Has,Put}BogusSideloadedData
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/helpers_test.go
Owners: @cockroachdb/core-prs

workload: add --files-per-node to fixtures import
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
Owners: @cockroachdb/sql-ccl-prs

workload: add --files-per-node to fixtures import
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
Owners: @cockroachdb/sql-ccl-prs

gofmt
  pkg/workload/kv/kv.go
Owners: none

Release note: None
  pkg/workload/kv/kv.go
Owners: none

intentresolver: fix testrace flake by extending timeouts
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

opt: test reproducing detached memo race
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
  pkg/sql/opt/testutils/build.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

opt: test reproducing detached memo race
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
  pkg/sql/opt/testutils/build.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

opt: fix race caused by shared table annotations
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

opt: replace ColumnMeta.TableMeta with a TableID
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/join.go
Owners: @cockroachdb/sql-opt-prs

opt: replace ColumnMeta.TableMeta with a TableID
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/join.go
Owners: @cockroachdb/sql-opt-prs

opt: logical props and stats for merge join
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/optgen/exprgen/testdata/limit
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/testutils/opttester/opt_tester.go
Owners: @cockroachdb/sql-opt-prs

opt: logical props and stats for merge join
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/optgen/exprgen/testdata/limit
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/testutils/opttester/opt_tester.go
Owners: @cockroachdb/sql-opt-prs

workload: add bulkingest workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/util/randutil/rand.go
  pkg/workload/bulkingest/bulkingest.go
  pkg/workload/workload.go
Owners: @cockroachdb/sql-ccl-prs

sql: Fix judgment condition when judging spans overlap
  pkg/sql/row/kv_batch_fetcher.go
Owners: @cockroachdb/sql-rest-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/deselector.go
  pkg/sql/exec/execgen/cmd/execgen/tuple_differentiator_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/tuple_differentiator_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

workload/kv: support target compression ratio
  pkg/workload/kv/kv.go
Owners: none

workload/kv: support target compression ratio
  pkg/workload/kv/kv.go
Owners: none

roachtest: use high connect timeout in clearrange
  pkg/cmd/roachtest/clearrange.go
Owners: none

roachtest: use high connect timeout in clearrange
  pkg/cmd/roachtest/clearrange.go
Owners: none
