Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storage tests pass
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/server/server_update.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cluster_version.pb.go
  pkg/settings/cluster/cluster_version.proto
  pkg/settings/cluster/settings.go
  pkg/storage/client_test.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
  pkg/storage/testing_knobs.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

kv tests pass
  pkg/kv/txn_coord_sender_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

sql: remove nanoseconds from INTERVAL
  pkg/cli/dump_test.go
  pkg/keys/printer_test.go
  pkg/roachpb/data.go
  pkg/roachpb/data_test.go
  pkg/server/server_systemlog_gc_test.go
  pkg/sql/exec_util.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/types.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/builtins/aggregate_builtins_test.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/datum_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/interval.go
  pkg/sql/sem/tree/interval_test.go
  pkg/sql/sem/tree/testdata/eval/cast
  pkg/sql/set_cluster_setting.go
  pkg/sql/set_var.go
  pkg/sql/show_cluster_setting.go
  pkg/sql/sqlbase/testutils.go
  pkg/util/duration/duration.go
  pkg/util/duration/duration_test.go
  pkg/util/encoding/encoding.go
  pkg/util/encoding/encoding_test.go
  pkg/util/timeofday/time_of_day.go
  pkg/util/timeofday/time_of_day_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

sql: remove nanoseconds from INTERVAL
  pkg/cli/dump_test.go
  pkg/keys/printer_test.go
  pkg/roachpb/data.go
  pkg/roachpb/data_test.go
  pkg/server/server_systemlog_gc_test.go
  pkg/sql/exec_util.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/types.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/builtins/aggregate_builtins_test.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/datum_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/interval.go
  pkg/sql/sem/tree/interval_test.go
  pkg/sql/sem/tree/testdata/eval/cast
  pkg/sql/set_cluster_setting.go
  pkg/sql/set_var.go
  pkg/sql/show_cluster_setting.go
  pkg/sql/sqlbase/testutils.go
  pkg/util/duration/duration.go
  pkg/util/duration/duration_test.go
  pkg/util/encoding/encoding.go
  pkg/util/encoding/encoding_test.go
  pkg/util/timeofday/time_of_day.go
  pkg/util/timeofday/time_of_day_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs

kv,storage,sql tests pass without MakeTestSettings
  pkg/kv/dist_sender.go
  pkg/kv/local_test_cluster_util.go
  pkg/kv/txn_coord_sender_test.go
  pkg/settings/cluster/settings.go
  pkg/storage/addressing_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_test.go
  pkg/storage/node_liveness.go
  pkg/storage/store_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

kv: cleanup txn more eagerly
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: @cockroachdb/core-prs

cli/sql,sql/parser: fix LastLexicalToken
  pkg/cli/sql_test.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
Owners: @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/sql-language-prs

cli/sql,sql/parser: fix LastLexicalToken
  pkg/cli/sql_test.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
Owners: @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/sql-language-prs

opt: Expose mutation indexes in catalog
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Change how mutation columns are exposed by the catalog
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/opt/cat/column.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/delete
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/delete
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

util/log: explain why log.Fatal never returns
  pkg/util/log/clog.go
Owners: none

util/log: explain why log.Fatal never returns
  pkg/util/log/clog.go
Owners: none

opt: Change how mutation columns are exposed by the catalog
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/opt/cat/column.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/delete
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/delete
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

opt: Expose mutation indexes in catalog
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Store table alias as TableName
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/orderby
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
Owners: @cockroachdb/sql-opt-prs

opt: Store table alias as TableName
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/orderby
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
Owners: @cockroachdb/sql-opt-prs

opt: Prune Delete operator input columns
  pkg/sql/delete_range.go
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

stateloader: remove obsolete TODO
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/core-prs

batcheval: TODO about alternative Raft log size computation
  pkg/storage/batcheval/cmd_truncate_log.go
Owners: @cockroachdb/core-prs

batcheval: VersionRaftLogTruncationBelowRaft is always active
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

datadriven: touch up and add ScanArgs
  pkg/testutils/datadriven/datadriven.go
  pkg/testutils/datadriven/datadriven_test.go
  pkg/testutils/datadriven/test_data_reader.go
Owners: none

sql, stats: allow at most one automatic stats run at a time
  pkg/sql/create_stats.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/sql/stats/delete_stats.go
  pkg/sql/stats/delete_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: Prune Delete operator input columns
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/delete_range.go
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Prune Delete operator input columns
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/delete_range.go
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/prune_cols.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

wip: vectorized merge join operator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

cli: show node status for all nodes
  pkg/cli/node.go
  pkg/cmd/roachtest/cli.go
Owners: @cockroachdb/cli-prs

cli: show node status for all nodes
  pkg/cli/node.go
  pkg/cmd/roachtest/cli.go
Owners: @cockroachdb/cli-prs

changefeedccl: default to RangeFeed
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validations_test.go
  pkg/cmd/roachtest/cdc.go
Owners: @cockroachdb/sql-ccl-prs

Cleaning up cluster create docs
  pkg/cmd/roachprod/README.md
Owners: none

sql: plumb through presizing for in-memory row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/routers.go
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: plumb through presizing for in-memory row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/routers.go
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

backupccl: rewrite spans that include unknown tableIDs
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/storageccl/key_rewriter.go
  pkg/ccl/storageccl/key_rewriter_test.go
Owners: @cockroachdb/sql-bulk-prs

storage: log decisions to not truncate a range
  pkg/storage/queue.go
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: fix NPE while printing trivial truncateDecision
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

Update setup/install instructions for roachprod and roachtest
  pkg/cmd/roachprod/README.md
  pkg/cmd/roachtest/README.md
Owners: none

datadriven: touch up and add ScanArgs
  pkg/testutils/datadriven/datadriven.go
  pkg/testutils/datadriven/datadriven_test.go
  pkg/testutils/datadriven/test_data_reader.go
Owners: none

datadriven: touch up and add ScanArgs
  pkg/testutils/datadriven/datadriven.go
  pkg/testutils/datadriven/datadriven_test.go
  pkg/testutils/datadriven/test_data_reader.go
Owners: none

batcheval: TODO about alternative Raft log size computation
  pkg/storage/batcheval/cmd_truncate_log.go
Owners: @cockroachdb/core-prs

stateloader: remove obsolete TODO
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/core-prs

stateloader: remove obsolete TODO
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/core-prs
