Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

workloadccl: add a `fixtures import` flag for experimental faster IMPORT
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
Owners: @cockroachdb/sql-ccl-prs

storage: rename RaftTruncatedState -> LegacyRaftTruncatedState
  pkg/cli/debug.go
  pkg/cli/debug/print.go
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/keys/keys_test.go
  pkg/keys/printer.go
  pkg/keys/printer_test.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/rditer/replica_data_iter_test.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

keys: remove misleading overview over encoded keys
  pkg/keys/printer.go
  pkg/keys/printer_test.go
Owners: none

storage: add Store.VisitReplicas
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

batcheval: add reminder when implementing divergent truncated states
  pkg/storage/batcheval/cmd_truncate_log.go
Owners: @cockroachdb/core-prs

storage: add Store.VisitReplicas
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

keys: remove misleading overview over encoded keys
  pkg/keys/printer.go
  pkg/keys/printer_test.go
Owners: none

batcheval: add reminder when implementing divergent truncated states
  pkg/storage/batcheval/cmd_truncate_log.go
Owners: @cockroachdb/core-prs

storage: rename RaftTruncatedState -> LegacyRaftTruncatedState
  pkg/cli/debug.go
  pkg/cli/debug/print.go
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/keys/keys_test.go
  pkg/keys/printer.go
  pkg/keys/printer_test.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/rditer/replica_data_iter_test.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

sql: reuse already allocated memory for the cache in a row container
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
Owners: @cockroachdb/sql-rest-prs

sql: reuse already allocated memory for the cache in a row container
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
Owners: @cockroachdb/sql-rest-prs

storageccl: accept and ignore a node-ID in the host of nodelocal:// uri
  pkg/ccl/storageccl/export_storage.go
  pkg/ccl/storageccl/export_storage_test.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs

storageccl: accept and ignore a node-ID in the host of nodelocal:// uri
  pkg/ccl/storageccl/export_storage.go
  pkg/ccl/storageccl/export_storage_test.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs

storage: make RaftTruncatedState unreplicated
  docs/generated/settings/settings.html
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/keys/printer.go
  pkg/keys/printer_test.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/batcheval/truncate_log_test.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/engine.go
  pkg/storage/main_test.go
  pkg/storage/raft.pb.go
  pkg/storage/raft.proto
  pkg/storage/replica_command.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_raft_truncation_test.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/stats_test.go
  pkg/storage/store.go
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
  pkg/storage/testdata/truncated_state_migration/migration
  pkg/storage/testdata/truncated_state_migration/pre_migration
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

storage: make RaftTruncatedState unreplicated
  docs/generated/settings/settings.html
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/keys/printer.go
  pkg/keys/printer_test.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/batcheval/truncate_log_test.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/engine.go
  pkg/storage/main_test.go
  pkg/storage/raft.pb.go
  pkg/storage/raft.proto
  pkg/storage/replica_command.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_raft_truncation_test.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/stats_test.go
  pkg/storage/store.go
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
  pkg/storage/testdata/truncated_state_migration/migration
  pkg/storage/testdata/truncated_state_migration/pre_migration
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

storage: improve message on slow Raft proposal
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

storage: improve message on slow Raft proposal
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

sql: add spilling to disk for window functions
  pkg/sql/distsqlrun/windower.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/hash_row_container_test.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

sql: add spilling to disk for window functions
  pkg/sql/distsqlrun/windower.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/hash_row_container_test.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

distsqlrun: routers should respond to cancellation
  pkg/ccl/importccl/exportcsv.go
  pkg/ccl/importccl/sst_writer_proc.go
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/backfiller.go
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/base_test.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/inbound.go
  pkg/sql/distsqlrun/inbound_test.go
  pkg/sql/distsqlrun/input_sync_test.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/outbox_test.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/distsqlrun/routers.go
  pkg/sql/distsqlrun/routers_test.go
  pkg/sql/distsqlrun/sample_aggregator_test.go
  pkg/sql/distsqlrun/utils_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

client/requestbatcher: add channel-based interface to enable concurrent sends
  pkg/internal/client/requestbatcher/batcher.go
Owners: @cockroachdb/core-prs

kv: add simpler RangeDescriptorCache.LookupRangeDescriptor interface
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/range_cache.go
  pkg/kv/range_cache_test.go
  pkg/storage/bulk/sst_batcher_test.go
Owners: @cockroachdb/core-prs

intentresolver: batch intent resolution across transactions by range
  pkg/kv/kvbase/range_cache.go
  pkg/server/server.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: prevent UPDATE from crashing if subquery returns no rows
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/update.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: prevent UPDATE from crashing if subquery returns no rows
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/update.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: prevent UPDATE from crashing if subquery returns no rows
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/update.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: prevent UPDATE from crashing if subquery returns no rows
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/update.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: fail YCSB for debugging if below performance expectations
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/ycsb.go
Owners: none

sql: add spilling to disk for window functions
  pkg/sql/distsqlrun/windower.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/hash_row_container_test.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

changefeedccl: partition cloud storage sink files by date
  pkg/ccl/changefeedccl/sink_cloudstorage.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
Owners: @cockroachdb/sql-ccl-prs

sql: validate check constraints with the schema changer
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/check.go
  pkg/sql/crdb_internal.go
  pkg/sql/create_table.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/opt_catalog.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

engine: fix bug in Distinct() after ApplyBatchRepr()
  pkg/storage/engine/batch_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

sql/pgwire: use OIDs when encoding some datum types
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
  pkg/sql/pgwire/types_test.go
Owners: @cockroachdb/sql-wiring-prs

sql: fix the subquery limit optimization
  pkg/sql/logictest/testdata/planner_test/needed_columns
  pkg/sql/logictest/testdata/planner_test/subquery
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/limit.opt
  pkg/sql/opt/norm/rules/scalar.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/max1row
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/subquery.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/optimize.go
  pkg/sql/subquery.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

stop: allow double-calling Stop()
  pkg/util/stop/stopper.go
  pkg/util/stop/stopper_test.go
Owners: none

stop: allow double-calling Stop()
  pkg/util/stop/stopper.go
  pkg/util/stop/stopper_test.go
Owners: none

txnwait: add missing stopper check
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

txnwait: add missing stopper check
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

roachtest: disable follower_reads test for versions prior to v2.2.0
  pkg/cmd/roachtest/follower_reads.go
Owners: none

roachtest: disable follower_reads test for versions prior to v2.2.0
  pkg/cmd/roachtest/follower_reads.go
Owners: none
