Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage/tscache: Pick up andy-kimball/arenaskl fix
  Gopkg.lock
  pkg/storage/tscache/interval_skl_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

sqlsmith: support DEFAULT VALUES in INSERT
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: support DEFAULT VALUES in INSERT
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: support non-named INSERT clauses
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: support non-named INSERT clauses
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: use INSERT table cols in RETURNING
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: add ORDER BY to SELECT
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: add ORDER BY to SELECT
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: use INSERT table cols in RETURNING
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: weighted sampling for data and returnings
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: wrap BinOps in ParenExpr
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: weighted sampling for data and returnings
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: refactor makeScalar to use weighted sampling
  pkg/internal/sqlsmith/random.go
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/sampler.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/sqlsmith_test.go
  pkg/internal/sqlsmith/type.go
Owners: @cockroachdb/core-prs

sqlsmith: refactor makeScalar to use weighted sampling
  pkg/internal/sqlsmith/random.go
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/sampler.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/sqlsmith_test.go
  pkg/internal/sqlsmith/type.go
Owners: @cockroachdb/core-prs

sqlsmith: convert data sources to weighted sampler
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: wrap BinOps in ParenExpr
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: convert data sources to weighted sampler
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: test improvements
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: fix ORDER BY in SELECT DISTINCT
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: fix ORDER BY in SELECT DISTINCT
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: replace level and push concepts with a budget
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: use from refs in where clause
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: replace level and push concepts with a budget
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: use from refs in where clause
  pkg/internal/sqlsmith/relational.go
Owners: @cockroachdb/core-prs

sqlsmith: remove bool return from makeScalar
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: remove bool return from makeScalar
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: test improvements
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

storage/tscache: return ErrArenaFull whenever a node cantInit
  pkg/storage/tscache/interval_skl.go
Owners: @cockroachdb/core-prs

storage/tscache: return ErrArenaFull whenever a node cantInit
  pkg/storage/tscache/interval_skl.go
Owners: @cockroachdb/core-prs

sql: avoid reporting zero counters in crdb_internal.feature_counts
  pkg/sql/crdb_internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: avoid reporting zero counters in crdb_internal.feature_counts
  pkg/sql/crdb_internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: equip scalar expressions with telemetry
  pkg/server/updates_test.go
  pkg/sql/sem/tree/datum_invariants_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/operators.go
  pkg/sql/sem/tree/overload.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

sql: equip scalar expressions with telemetry
  pkg/server/updates_test.go
  pkg/sql/sem/tree/datum_invariants_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/operators.go
  pkg/sql/sem/tree/overload.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

build: reject builds with go 1.12.
  build/go-version-check.sh
  build/teamcity-assert-clean.sh
  build/teamcity-verify-archive.sh
Owners: @cockroachdb/build-prs

build: reject builds with go 1.12.
  build/go-version-check.sh
  build/teamcity-assert-clean.sh
  build/teamcity-verify-archive.sh
Owners: @cockroachdb/build-prs

build: reject builds with go 1.12.
  build/go-version-check.sh
  build/teamcity-assert-clean.sh
  build/teamcity-verify-archive.sh
Owners: @cockroachdb/build-prs

opt: propagate set operation output types to input columns
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/union
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/stats/set
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/norm/rules/set.opt
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/norm/testdata/rules/set
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/sequence
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/union.go
  pkg/sql/opt/xform/testdata/coster/set
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
Owners: @cockroachdb/sql-opt-prs

storage: enable follower_reads by default
  docs/generated/settings/settings.html
  pkg/storage/replica_follower_read.go
Owners: @cockroachdb/core-prs

storage: enable follower_reads by default
  docs/generated/settings/settings.html
  pkg/storage/replica_follower_read.go
Owners: @cockroachdb/core-prs

roachtest: suppress `debug zip` output unless it fails
  pkg/cmd/roachtest/cluster.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
