Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

sql,ccl: change table constructors to return pointers
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/bench_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/sink_test.go
  pkg/ccl/importccl/import_processor_test.go
  pkg/ccl/importccl/import_table_creation.go
  pkg/ccl/importccl/load.go
  pkg/ccl/importccl/read_import_avro_test.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/testutils_test.go
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/create_sequence.go
  pkg/sql/create_table.go
  pkg/sql/sqlbase/index_encoding.go
  pkg/sql/testutils.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/bulk-io

sql: infect more things with sqlbase.TableDescriptor interface
  pkg/ccl/backupccl/targets.go
  pkg/ccl/importccl/import_table_creation.go
  pkg/ccl/partitionccl/partition.go
  pkg/sql/catalog/catalog.go
  pkg/sql/catalog/resolver/resolver.go
  pkg/sql/crdb_internal.go
  pkg/sql/drop_sequence.go
  pkg/sql/information_schema.go
  pkg/sql/opt_catalog.go
  pkg/sql/partition_utils.go
  pkg/sql/pg_catalog.go
  pkg/sql/pg_extension.go
  pkg/sql/planner.go
  pkg/sql/schemaexpr/column.go
  pkg/sql/show_create.go
  pkg/sql/show_create_clauses.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
  pkg/sql/sqlbase/table_desc.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/bulk-io

schemaexpr: move testing code to _test.go
  pkg/sql/schemaexpr/testutils_test.go
Owners: none

sqlbase,util/sort: move sort implementation to a util package
  pkg/sql/rowcontainer/row_container.go
  pkg/util/sort/sort.go
Owners: none

faketreeeval: move more code from sqlbase
  pkg/sql/distsql/server.go
  pkg/sql/faketreeeval/evalctx.go
  pkg/sql/schema_changer.go
Owners: none

sqlbase,*: move even more code out of sqlbase
  pkg/ccl/importccl/load.go
  pkg/jobs/registry.go
  pkg/jobs/registry_external_test.go
  pkg/jobs/registry_test.go
  pkg/server/server.go
  pkg/server/server_sql.go
  pkg/server/testserver.go
  pkg/sql/backfill/backfill.go
  pkg/sql/execinfra/expr.go
  pkg/sql/join_predicate.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/optionalnodeliveness/node_liveness.go
  pkg/sql/physicalplan/expression.go
  pkg/sql/row/row_converter.go
  pkg/sql/schemaexpr/computed_exprs.go
  pkg/sql/schemaexpr/default_exprs.go
  pkg/sql/schemaexpr/expr_filter.go
  pkg/sql/update.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

schemaexpr: move NameResolutionVisitor from sqlbase
  pkg/sql/planner.go
  pkg/sql/schemaexpr/computed_column.go
  pkg/sql/schemaexpr/select_name_resolution.go
  pkg/sql/select_name_resolution.go
Owners: none

sqlbase,catalog: move MapDescGetter
  pkg/ccl/backupccl/restore_planning.go
  pkg/sql/catalog/desc_getter.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured_test.go
Owners: @cockroachdb/bulk-io

descpb: move code for picking apart wrapped descriptors back to descpb
  pkg/ccl/backupccl/backup_job.go
  pkg/ccl/backupccl/backup_planning.go
  pkg/ccl/backupccl/manifest_handling.go
  pkg/ccl/backupccl/restore_planning.go
  pkg/ccl/backupccl/show.go
  pkg/ccl/backupccl/targets.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/schemafeed/schema_feed.go
  pkg/ccl/cliccl/load.go
  pkg/ccl/storageccl/bench_test.go
  pkg/ccl/storageccl/key_rewriter.go
  pkg/ccl/storageccl/key_rewriter_test.go
  pkg/ccl/utilccl/sampledataccl/bankdata.go
  pkg/kv/kvserver/reports/constraint_stats_report_test.go
  pkg/kv/kvserver/reports/reporter.go
  pkg/server/updates.go
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/catalog/descpb/descriptor.go
  pkg/sql/catalog/lease/lease.go
  pkg/sql/catalog/lease/lease_test.go
  pkg/sql/rename_test.go
  pkg/sql/zone_config.go
  pkg/sqlmigrations/migrations.go
  pkg/sqlmigrations/migrations_test.go
Owners: @cockroachdb/bulk-io, @cockroachdb/kv

sqlbase,*: move more packages out of sqlbase
  pkg/ccl/partitionccl/partition.go
  pkg/sql/catalog/colinfo/column_type_properties.go
  pkg/sql/catalog/descriptor.go
  pkg/sql/colexec/cancel_checker.go
  pkg/sql/colexec/cancel_checker_test.go
  pkg/sql/colexec/parallel_unordered_synchronizer.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/flowinfra/flow.go
  pkg/sql/flowinfra/flow_registry_test.go
  pkg/sql/flowinfra/inbound.go
  pkg/sql/flowinfra/outbox_test.go
  pkg/sql/planner.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/prepared_statement.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/querycache/query_cache_test.go
  pkg/sql/row/row_converter.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowexec/aggregator.go
  pkg/sql/rowexec/hashjoiner.go
  pkg/sql/rowexec/mergejoiner.go
  pkg/sql/rowexec/project_set.go
  pkg/sql/rowexec/windower.go
  pkg/sql/rowexec/zigzagjoiner.go
  pkg/sql/sqlbase/default_exprs.go
  pkg/sql/sqlbase/errors.go
  pkg/sql/sqlbase/sort.go
  pkg/sql/update.go
  pkg/sql/virtual_table.go
  pkg/sql/virtual_table_test.go
  pkg/util/cancelchecker/cancel_checker.go
Owners: none

schemadesc: move SchemaDescriptor implementations out of sqlbase
  pkg/ccl/backupccl/manifest_handling.go
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/catalog/catalogkv/physical_accessor.go
  pkg/sql/catalog/schemadesc/schema_desc.go
  pkg/sql/catalog/systemschema/system_test.go
  pkg/sql/create_schema.go
  pkg/sql/pg_catalog.go
  pkg/sql/resolver.go
Owners: @cockroachdb/bulk-io

schemaexpr: move more from sqlbase and break the dependency cycle
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/partitionccl/partition.go
  pkg/sql/alter_table.go
  pkg/sql/catalog/descriptor.go
  pkg/sql/execute.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/row/expr_walker.go
  pkg/sql/schemaexpr/check_constraint.go
  pkg/sql/schemaexpr/check_constraint_test.go
  pkg/sql/schemaexpr/column.go
  pkg/sql/schemaexpr/computed_column.go
  pkg/sql/schemaexpr/expr.go
  pkg/sql/schemaexpr/expr_test.go
  pkg/sql/schemaexpr/partial_index.go
  pkg/sql/schemaexpr/partial_index_test.go
  pkg/sql/schemaexpr/testutils_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

roachtest: deflake decommissioning roachtest
  pkg/cmd/roachtest/decommission.go
  pkg/cmd/roachtest/mixed_version_decommission.go
  pkg/cmd/roachtest/registry.go
Owners: none

kv: add WaitPolicy option to BatchRequest
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.cc
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.h
  c-deps/libroach/protos/roachpb/api.pb.cc
  c-deps/libroach/protos/roachpb/api.pb.h
  pkg/kv/kvclient/kvcoord/txn_test.go
  pkg/kv/kvserver/concurrency/concurrency_control.go
  pkg/kv/kvserver/concurrency/concurrency_manager_test.go
  pkg/kv/kvserver/concurrency/datadriven_util_test.go
  pkg/kv/kvserver/concurrency/lock/locking.pb.go
  pkg/kv/kvserver/concurrency/lock/locking.proto
  pkg/kv/kvserver/concurrency/lock_table_waiter.go
  pkg/kv/kvserver/concurrency/lock_table_waiter_test.go
  pkg/kv/kvserver/concurrency/testdata/concurrency_manager/wait_policy_error
  pkg/kv/kvserver/replica_send.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/batch.go
  pkg/roachpb/errors.go
  pkg/roachpb/string_test.go
Owners: @cockroachdb/kv

kv: add WaitPolicy option to BatchRequest
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.cc
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.h
  c-deps/libroach/protos/roachpb/api.pb.cc
  c-deps/libroach/protos/roachpb/api.pb.h
  pkg/kv/kvclient/kvcoord/txn_test.go
  pkg/kv/kvserver/concurrency/concurrency_control.go
  pkg/kv/kvserver/concurrency/concurrency_manager_test.go
  pkg/kv/kvserver/concurrency/datadriven_util_test.go
  pkg/kv/kvserver/concurrency/lock/locking.pb.go
  pkg/kv/kvserver/concurrency/lock/locking.proto
  pkg/kv/kvserver/concurrency/lock_table_waiter.go
  pkg/kv/kvserver/concurrency/lock_table_waiter_test.go
  pkg/kv/kvserver/concurrency/testdata/concurrency_manager/wait_policy_error
  pkg/kv/kvserver/replica_send.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/batch.go
  pkg/roachpb/errors.go
  pkg/roachpb/string_test.go
Owners: @cockroachdb/kv

sql: infect more things with sqlbase.TableDescriptor interface
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/targets.go
  pkg/ccl/importccl/import_table_creation.go
  pkg/ccl/partitionccl/partition.go
  pkg/sql/catalog/catalog.go
  pkg/sql/catalog/resolver/resolver.go
  pkg/sql/crdb_internal.go
  pkg/sql/drop_sequence.go
  pkg/sql/information_schema.go
  pkg/sql/opt_catalog.go
  pkg/sql/partition_utils.go
  pkg/sql/pg_catalog.go
  pkg/sql/pg_extension.go
  pkg/sql/planner.go
  pkg/sql/row/fetcher.go
  pkg/sql/rowexec/interleaved_reader_joiner_test.go
  pkg/sql/schemaexpr/column.go
  pkg/sql/show_create.go
  pkg/sql/show_create_clauses.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
  pkg/sql/sqlbase/table_desc.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/bulk-io

kv: update MVCCStats to track abort span size
  c-deps/libroach/include/libroach.h
  c-deps/libroach/keys.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.cc
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.h
  c-deps/libroach/protos/storage/enginepb/mvcc3.pb.cc
  c-deps/libroach/protos/storage/enginepb/mvcc3.pb.h
  docs/generated/settings/settings.html
  pkg/ccl/storageccl/engineccl/rocksdb.go
  pkg/clusterversion/cockroach_versions.go
  pkg/clusterversion/versionkey_string.go
  pkg/keys/gen_cpp_keys.go
  pkg/kv/kvserver/abortspan/abortspan_test.go
  pkg/kv/kvserver/batcheval/cmd_clear_range.go
  pkg/kv/kvserver/batcheval/cmd_clear_range_test.go
  pkg/kv/kvserver/batcheval/transaction_test.go
  pkg/kv/kvserver/below_raft_protos_test.go
  pkg/kv/kvserver/client_metrics_test.go
  pkg/kv/kvserver/client_split_test.go
  pkg/kv/kvserver/client_test.go
  pkg/kv/kvserver/gc_queue.go
  pkg/kv/kvserver/gc_queue_test.go
  pkg/kv/kvserver/metrics.go
  pkg/kv/kvserver/replica_consistency.go
  pkg/kv/kvserver/replica_proposal.go
  pkg/kv/kvserver/stateloader/stateloader.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/storage/enginepb/mvcc.go
  pkg/storage/enginepb/mvcc.pb.go
  pkg/storage/enginepb/mvcc.proto
  pkg/storage/enginepb/mvcc3.pb.go
  pkg/storage/enginepb/mvcc3.proto
  pkg/storage/mvcc.go
  pkg/storage/mvcc_test.go
  pkg/storage/rocksdb.go
  pkg/ts/catalog/chart_catalog.go
Owners: @cockroachdb/bulk-io, @cockroachdb/kv

kv: update MVCCStats to track abort span size
  c-deps/libroach/include/libroach.h
  c-deps/libroach/keys.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.cc
  c-deps/libroach/protos/storage/enginepb/mvcc.pb.h
  c-deps/libroach/protos/storage/enginepb/mvcc3.pb.cc
  c-deps/libroach/protos/storage/enginepb/mvcc3.pb.h
  docs/generated/settings/settings.html
  pkg/ccl/storageccl/engineccl/rocksdb.go
  pkg/clusterversion/cockroach_versions.go
  pkg/clusterversion/versionkey_string.go
  pkg/keys/gen_cpp_keys.go
  pkg/kv/kvserver/abortspan/abortspan_test.go
  pkg/kv/kvserver/batcheval/cmd_clear_range.go
  pkg/kv/kvserver/batcheval/cmd_clear_range_test.go
  pkg/kv/kvserver/batcheval/transaction_test.go
  pkg/kv/kvserver/below_raft_protos_test.go
  pkg/kv/kvserver/client_metrics_test.go
  pkg/kv/kvserver/client_split_test.go
  pkg/kv/kvserver/client_test.go
  pkg/kv/kvserver/gc_queue.go
  pkg/kv/kvserver/gc_queue_test.go
  pkg/kv/kvserver/metrics.go
  pkg/kv/kvserver/replica_consistency.go
  pkg/kv/kvserver/replica_proposal.go
  pkg/kv/kvserver/stateloader/stateloader.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/storage/enginepb/mvcc.go
  pkg/storage/enginepb/mvcc.pb.go
  pkg/storage/enginepb/mvcc.proto
  pkg/storage/enginepb/mvcc3.pb.go
  pkg/storage/enginepb/mvcc3.proto
  pkg/storage/mvcc.go
  pkg/storage/mvcc_test.go
  pkg/storage/rocksdb.go
  pkg/ts/catalog/chart_catalog.go
Owners: @cockroachdb/bulk-io, @cockroachdb/kv

kvserver: don't unquiesce on liveness changes of up-to-date replicas
  pkg/kv/kvserver/kvserverpb/liveness.go
  pkg/kv/kvserver/node_liveness.go
  pkg/kv/kvserver/node_liveness_test.go
  pkg/kv/kvserver/raft.pb.go
  pkg/kv/kvserver/raft.proto
  pkg/kv/kvserver/replica.go
  pkg/kv/kvserver/replica_raft.go
  pkg/kv/kvserver/replica_raft_quiesce.go
  pkg/kv/kvserver/replica_test.go
  pkg/kv/kvserver/replicate_queue.go
  pkg/kv/kvserver/store_raft.go
  pkg/roachpb/data.go
Owners: @cockroachdb/kv

sql: adding privileges to enum types
  docs/generated/sql/bnf/grant_privileges.bnf
  docs/generated/sql/bnf/grant_roles.bnf
  docs/generated/sql/bnf/revoke_privileges.bnf
  docs/generated/sql/bnf/revoke_roles.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/backupccl/show.go
  pkg/cmd/docgen/diagrams.go
  pkg/sql/alter_type.go
  pkg/sql/authorization.go
  pkg/sql/catalog/descpb/privilege.go
  pkg/sql/catalog/descpb/privilege_test.go
  pkg/sql/catalog/descpb/structured.pb.go
  pkg/sql/catalog/descpb/structured.proto
  pkg/sql/create_type.go
  pkg/sql/descriptor.go
  pkg/sql/drop_type.go
  pkg/sql/grant_revoke.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/enum_privileges
  pkg/sql/logictest/testdata/logic_test/grant_database
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/parser/sql.y
  pkg/sql/privilege/kind_string.go
  pkg/sql/privilege/privilege.go
  pkg/sql/privilege/privilege_test.go
  pkg/sql/rename_database.go
  pkg/sql/resolver.go
  pkg/sql/sem/tree/grant.go
  pkg/sql/sqlbase/type_desc.go
  pkg/sql/sqltelemetry/iam.go
Owners: @cockroachdb/bulk-io

kvserver: migrate in lagging_quiescence field
  pkg/kv/kvserver/raft.pb.go
  pkg/kv/kvserver/raft.proto
  pkg/kv/kvserver/replica.go
  pkg/kv/kvserver/replica_raft.go
  pkg/kv/kvserver/replica_raft_quiesce.go
  pkg/kv/kvserver/store_raft.go
Owners: @cockroachdb/kv

opt: duplicate all table metadata fields when duplicating a scan
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/general_funcs.go
  pkg/sql/opt/norm/select_funcs.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-optimizer

opt: duplicate all table metadata fields when duplicating a scan
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/general_funcs.go
  pkg/sql/opt/norm/select_funcs.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-optimizer

importccl: support random() and gen_random_uuid() as default expression
  pkg/ccl/importccl/import_processor.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_base.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/sql/row/expr_walker.go
  pkg/sql/row/row_converter.go
Owners: @cockroachdb/bulk-io

kvserver: Allow rebalances between stores on the same nodes.
  pkg/kv/kvserver/allocator.go
  pkg/kv/kvserver/allocator_scorer.go
  pkg/kv/kvserver/allocator_scorer_test.go
  pkg/kv/kvserver/allocator_test.go
  pkg/kv/kvserver/replica_command.go
  pkg/kv/kvserver/replica_command_test.go
  pkg/kv/kvserver/store_pool.go
  pkg/kv/kvserver/store_pool_test.go
  pkg/kv/kvserver/store_rebalancer.go
  pkg/roachpb/metadata.go
  pkg/roachpb/metadata_test.go
Owners: @cockroachdb/kv

sql: support FOR {UPDATE,SHARE} NOWAIT
  pkg/ccl/changefeedccl/rowfetcher_cache.go
  pkg/sql/backfill/backfill.go
  pkg/sql/catalog/descpb/locking.pb.go
  pkg/sql/catalog/descpb/locking.proto
  pkg/sql/colfetcher/cfetcher.go
  pkg/sql/colfetcher/colbatch_scan.go
  pkg/sql/delete_range.go
  pkg/sql/execinfrapb/processors_sql.pb.go
  pkg/sql/execinfrapb/processors_sql.proto
  pkg/sql/logictest/testdata/logic_test/select_for_update
  pkg/sql/logictest/testdata/logic_test/select_for_update_nowait_interleaved
  pkg/sql/opt/exec/execbuilder/testdata/select_for_update
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select_for_update
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fetcher_mvcc_test.go
  pkg/sql/row/fetcher_test.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/sql/rowexec/interleaved_reader_joiner.go
  pkg/sql/rowexec/inverted_joiner.go
  pkg/sql/rowexec/joinreader.go
  pkg/sql/rowexec/rowfetcher.go
  pkg/sql/rowexec/scrub_tablereader.go
  pkg/sql/rowexec/tablereader.go
  pkg/sql/rowexec/zigzagjoiner.go
  pkg/sql/sem/tree/select.go
  pkg/sql/tablewriter_delete.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

importccl: support random() and gen_random_uuid() as default expression
  pkg/ccl/importccl/import_processor.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_base.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/sql/row/expr_walker.go
  pkg/sql/row/row_converter.go
Owners: @cockroachdb/bulk-io

opt: replace DPSub algorithm with DPHyp
  pkg/sql/opt/citations.md
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/update_from
  pkg/sql/opt/memo/testdata/stats_quality/tpch/q02
  pkg/sql/opt/memo/testdata/stats_quality/tpch/q05
  pkg/sql/opt/memo/testdata/stats_quality/tpch/q07
  pkg/sql/opt/memo/testdata/stats_quality/tpch/q21
  pkg/sql/opt/optbuilder/testdata/update_from
  pkg/sql/opt/testutils/opttester/testdata/explore-trace
  pkg/sql/opt/xform/join_order_builder.go
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/tpce-no-stats
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/external/tpch-no-stats
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-optimizer

roachtest: fold getRandNode{,OtherThan} into helper struct
  pkg/cmd/roachtest/decommission.go
  pkg/cmd/roachtest/mixed_version_decommission.go
Owners: none

roachtest: fold getRandNode{,OtherThan} into helper struct
  pkg/cmd/roachtest/decommission.go
  pkg/cmd/roachtest/mixed_version_decommission.go
Owners: none

deflake decomm-mixed-versions roachtest
  pkg/cmd/roachtest/mixed_version_decommission.go
Owners: none

deflake decomm-mixed-versions roachtest
  pkg/cmd/roachtest/mixed_version_decommission.go
Owners: none

security: remove the use of separate tenant server certs
  pkg/cli/cli_test.go
  pkg/cli/flags.go
  pkg/cli/mt.go
  pkg/cli/mt_cert.go
  pkg/rpc/context.go
  pkg/security/certificate_loader.go
  pkg/security/certificate_loader_test.go
  pkg/security/certificate_manager.go
  pkg/security/certs.go
  pkg/security/certs_tenant_test.go
  pkg/security/certs_test.go
  pkg/security/securitytest/embedded.go
  pkg/security/securitytest/test_certs/ca-server-tenant.crt
  pkg/security/securitytest/test_certs/ca-server-tenant.key
  pkg/security/securitytest/test_certs/regenerate.sh
  pkg/security/securitytest/test_certs/server-tenant.crt
  pkg/security/securitytest/test_certs/server-tenant.key
  pkg/security/tls.go
  pkg/security/x509.go
  pkg/security/x509_test.go
  pkg/ts/catalog/chart_catalog.go
Owners: @cockroachdb/cli-prs

security: remove the use of separate tenant server certs
  pkg/cli/cli_test.go
  pkg/cli/flags.go
  pkg/cli/mt.go
  pkg/cli/mt_cert.go
  pkg/rpc/context.go
  pkg/security/certificate_loader.go
  pkg/security/certificate_loader_test.go
  pkg/security/certificate_manager.go
  pkg/security/certs.go
  pkg/security/certs_tenant_test.go
  pkg/security/certs_test.go
  pkg/security/securitytest/embedded.go
  pkg/security/securitytest/test_certs/ca-server-tenant.crt
  pkg/security/securitytest/test_certs/ca-server-tenant.key
  pkg/security/securitytest/test_certs/regenerate.sh
  pkg/security/securitytest/test_certs/server-tenant.crt
  pkg/security/securitytest/test_certs/server-tenant.key
  pkg/security/tls.go
  pkg/security/x509.go
  pkg/security/x509_test.go
  pkg/ts/catalog/chart_catalog.go
Owners: @cockroachdb/cli-prs

sql: support FOR {UPDATE,SHARE} NOWAIT
  pkg/ccl/changefeedccl/rowfetcher_cache.go
  pkg/sql/backfill/backfill.go
  pkg/sql/catalog/descpb/locking.pb.go
  pkg/sql/catalog/descpb/locking.proto
  pkg/sql/colfetcher/cfetcher.go
  pkg/sql/colfetcher/colbatch_scan.go
  pkg/sql/delete_range.go
  pkg/sql/execinfrapb/processors_sql.pb.go
  pkg/sql/execinfrapb/processors_sql.proto
  pkg/sql/logictest/testdata/logic_test/select_for_update
  pkg/sql/logictest/testdata/logic_test/select_for_update_nowait_interleaved
  pkg/sql/opt/exec/execbuilder/testdata/select_for_update
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select_for_update
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fetcher_mvcc_test.go
  pkg/sql/row/fetcher_test.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/sql/rowexec/interleaved_reader_joiner.go
  pkg/sql/rowexec/inverted_joiner.go
  pkg/sql/rowexec/joinreader.go
  pkg/sql/rowexec/rowfetcher.go
  pkg/sql/rowexec/scrub_tablereader.go
  pkg/sql/rowexec/tablereader.go
  pkg/sql/rowexec/zigzagjoiner.go
  pkg/sql/sem/tree/select.go
  pkg/sql/tablewriter_delete.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

wip
  pkg/geo/geomfn/set_point.go
Owners: @cockroachdb/geospatial

--wip-- [skip ci]
  pkg/geo/geomfn/set_point_test.go
Owners: @cockroachdb/geospatial

kvserver: stop creating a new error on every empty raft command
  pkg/kv/kvserver/replica_application_state_machine.go
Owners: @cockroachdb/kv

kvserver: stop creating a new error on every empty raft command
  pkg/kv/kvserver/replica_application_state_machine.go
Owners: @cockroachdb/kv

notice/hint added for Alter TYPE ADD VALUE IF NOT EXIST command
  pkg/sql/sqlbase/type_desc.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv
