Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql: deflake the logic test `event_log`
  pkg/sql/logictest/testdata/logic_test/event_log
Owners: @cockroachdb/sql-rest-prs

pgwire: add counter metric to track number of incoming connections
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: add counter metric to track number of incoming connections
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

rpc: adopt logger in circuit breaker
  Gopkg.lock
  Gopkg.toml
  pkg/gossip/client.go
  pkg/gossip/client_test.go
  pkg/gossip/gossip.go
  pkg/gossip/gossip_test.go
  pkg/rpc/breaker.go
  pkg/rpc/context.go
  pkg/storage/client_test.go
  pkg/storage/raft_transport.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

sql: ensure that auto-gen idx names go to event_log
  pkg/sql/create_index.go
  pkg/sql/logictest/testdata/logic_test/event_log
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: ensure that auto-gen idx names go to event_log
  pkg/sql/create_index.go
  pkg/sql/logictest/testdata/logic_test/event_log
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: automatically disable result buffering for sinkless changefeeds
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/backupccl/show.go
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/exportcsv.go
  pkg/ccl/importccl/import_stmt.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_io.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/plan.go
  pkg/sql/planhook.go
  pkg/sql/tests/planhook.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sql: automatically disable result buffering for sinkless changefeeds
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/backupccl/show.go
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/exportcsv.go
  pkg/ccl/importccl/import_stmt.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_io.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/plan.go
  pkg/sql/planhook.go
  pkg/sql/tests/planhook.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sqlbase: avoid a race in sqlbase.CancelChecker
  pkg/sql/sqlbase/cancel_checker.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sqlbase: avoid a race in sqlbase.CancelChecker
  pkg/sql/sqlbase/cancel_checker.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql/stats: read the list of initial tables synchronously
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

sql/stats: use a historical read for every stat backfill but the first
  pkg/server/server.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

sql/stats: read the list of initial tables asynchronously
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

sql/stats: read the list of initial tables asynchronously
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

storage: use lease start time to determine follower read safety
  pkg/storage/closed_timestamp_test.go
  pkg/storage/closedts/closedts.go
  pkg/storage/closedts/container/container_test.go
  pkg/storage/closedts/container/noop.go
  pkg/storage/closedts/provider/provider.go
  pkg/storage/replica_follower_read.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

add some blacklists
  pkg/cmd/roachtest/sqlalchemy_blacklist.go
Owners: none

cli: print key range hex in "debug raft-log"
  pkg/cli/debug.go
  pkg/cli/debug/print.go
Owners: @cockroachdb/cli-prs

sql/opt/exec: make the show_trace logic test more deterministic
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
Owners: @cockroachdb/sql-opt-prs

sql/opt/exec: make the show_trace logic test more deterministic
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
Owners: @cockroachdb/sql-opt-prs

sql: add a test for table name lookups in system db
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: avoid a db descriptor lookup on every table name resolution
  pkg/sql/authorization.go
  pkg/sql/database.go
  pkg/sql/logical_schema_accessors.go
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/physical_schema_accessors.go
  pkg/sql/rename_database.go
  pkg/sql/resolver.go
  pkg/sql/schema_accessors.go
  pkg/sql/scrub.go
  pkg/sql/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

sql,sqlbase: bypass KV to look up system descriptor IDs
  pkg/sql/database.go
  pkg/sql/descriptor.go
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/physical_schema_accessors.go
  pkg/sql/sqlbase/metadata.go
  pkg/sql/sqlbase/system.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

sql/stats: read the list of initial tables asynchronously
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

Address Hassan's comments
  pkg/server/goroutinedumper/goroutinedumper_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: Fix TPCH workload
  pkg/workload/tpch/queries.go
Owners: none

sql: Fix TPCH workload
  pkg/workload/tpch/queries.go
Owners: none

opt: make lookup join more expensive
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

sql/stats: read the list of initial tables asynchronously
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

sql/stats: read the list of initial tables asynchronously
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

cli/debug: remove unused param
  pkg/cli/debug.go
  pkg/cli/debug/print.go
Owners: @cockroachdb/cli-prs

cli/debug: teach debug raft-log to decode write batches
  pkg/cli/debug/print.go
Owners: @cockroachdb/cli-prs

sql: remove yet more trace non-determinism
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: remove yet more trace non-determinism
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachprod: mount drives on c4 machines
  pkg/cmd/roachprod/vm/aws/support.go
Owners: none

roachprod: mount drives on c4 machines
  pkg/cmd/roachprod/vm/aws/support.go
Owners: none

workload: run all TPC-H queries by default
  pkg/workload/tpch/tpch.go
Owners: none

workload: run all TPC-H queries by default
  pkg/workload/tpch/tpch.go
Owners: none

sqlsmith: remove a done TODO
  pkg/internal/sqlsmith/scope.go
Owners: @cockroachdb/core-prs

sqlsmith: add test to parse generated statements
  pkg/internal/sqlsmith/main_test.go
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: ignore pg_sleep
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs
