Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

opt: add array flatten operator
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/scalar
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/rules/scalar.opt
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/scalar
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/props/logical.go
  pkg/sql/opt/xform/optimizer.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/sem/tree/expr.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

optgen: fix bug in generation of list literals
  pkg/sql/opt/optgen/cmd/optgen/rule_gen.go
Owners: @cockroachdb/sql-opt-prs

changefeedccl: enable the RangeFeed version of more tests
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/validations_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: enable the RangeFeed version of more tests
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/validations_test.go
Owners: @cockroachdb/sql-ccl-prs

sql: add max1row planNode
  pkg/sql/distsql_running.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/planner_test/needed_columns
  pkg/sql/logictest/testdata/planner_test/subquery
  pkg/sql/max_one_row.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/plan_columns.go
  pkg/sql/plan_physical_props.go
  pkg/sql/plan_spans.go
  pkg/sql/subquery.go
  pkg/sql/walk.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: add max1row planNode
  pkg/sql/distsql_running.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/planner_test/needed_columns
  pkg/sql/logictest/testdata/planner_test/subquery
  pkg/sql/max_one_row.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/plan_columns.go
  pkg/sql/plan_physical_props.go
  pkg/sql/plan_spans.go
  pkg/sql/subquery.go
  pkg/sql/walk.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: fix subquery crashes w/ explain analyze
  pkg/sql/explain.go
  pkg/sql/explain_distsql.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: parallelize cross-range scans when maxResultHint is specified
  docs/generated/settings/settings.html
  pkg/sql/data_source.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlrun/processors.pb.go
  pkg/sql/distsqlrun/processors.proto
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/settings.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: plumb "max results" hint
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/constraint/constraint.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: improve clarity of kvFetcher interfaces
  docs/RFCS/20171025_interleaved_table_joins.md
  docs/tech-notes/life_of_a_query.md
  pkg/sql/row/cfetcher.go
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/sql-rest-prs

sql: improve clarity of kvFetcher interfaces
  docs/RFCS/20171025_interleaved_table_joins.md
  docs/tech-notes/life_of_a_query.md
  pkg/sql/row/cfetcher.go
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/sql-rest-prs

cli: clean up and add buffering to debug merge-logs
  pkg/cli/debug.go
  pkg/cli/debug_merge_logs.go
  pkg/cli/debug_merge_logs_test.go
  pkg/cli/testdata/merge_logs/results/1.filter-program
Owners: @cockroachdb/cli-prs

sql: rewrite cfetcher to be an explicit state machine
  pkg/roachpb/data.go
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/distsqlrun/colbatch_scan.go
  pkg/sql/row/cfetcher.go
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fetcherstate_string.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/sql/sqlbase/index_encoding.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

sql: rewrite cfetcher to be an explicit state machine
  pkg/roachpb/data.go
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/distsqlrun/colbatch_scan.go
  pkg/sql/row/cfetcher.go
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fetcherstate_string.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/sql/sqlbase/index_encoding.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

sql: fix race between backfill and insert on non-null column
  pkg/sql/insert.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/default_exprs.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

server: fix a bug in a test
  pkg/server/server_systemlog_gc_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: fix a bug in a test
  pkg/server/server_systemlog_gc_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: fix flake in TestContendedIntentChangesOnRetry
  pkg/storage/intent_resolver_test.go
Owners: @cockroachdb/core-prs

storage: fix flake in TestContendedIntentChangesOnRetry
  pkg/storage/intent_resolver_test.go
Owners: @cockroachdb/core-prs

storage: replace CommandQueue with spanlatch.Manager
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/server/serverpb/status.proto
  pkg/server/status.go
  pkg/server/status/health_check.go
  pkg/storage/client_merge_test.go
  pkg/storage/command_queue.go
  pkg/storage/command_queue_test.go
  pkg/storage/metrics.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
  pkg/storage/spanset/spanset.go
  pkg/storage/storagebase/base.go
  pkg/storage/storagepb/lease_status.pb.go
  pkg/storage/storagepb/state.pb.go
  pkg/storage/storagepb/state.proto
  pkg/storage/store.go
  pkg/storage/testing_knobs.go
  pkg/ui/package.json
  pkg/ui/src/index.tsx
  pkg/ui/src/redux/apiReducers.ts
  pkg/ui/src/util/api.ts
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/requests.tsx
  pkg/ui/src/views/reports/containers/commandQueue/commandQueueViz.tsx
  pkg/ui/src/views/reports/containers/commandQueue/command_queue.styl
  pkg/ui/src/views/reports/containers/commandQueue/index.tsx
  pkg/ui/src/views/reports/containers/range/rangeTable.tsx
  pkg/ui/yarn.lock
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

*: fix all comments referencing the CommandQueue
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20180603_follower_reads.md
  docs/tech-notes/index-backfill.md
  pkg/bench/bench_test.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_gc.go
  pkg/storage/batcheval/cmd_lease_request.go
  pkg/storage/client_replica_test.go
  pkg/storage/replica_eval_context.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_range_lease.go
  pkg/storage/storagepb/proposer_kv.pb.go
  pkg/storage/storagepb/proposer_kv.proto
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

storage: fix flake in TestContendedIntentChangesOnRetry
  pkg/storage/intent_resolver_test.go
Owners: @cockroachdb/core-prs

kv,storage,sql: purge snapshot isolation
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.h
  pkg/internal/client/client_test.go
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_correctness_test.go
  pkg/kv/txn_test.go
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/roachpb/data_test.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/roachpb/string_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/txn_state.go
  pkg/storage/batcheval/cmd_delete_range.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/gc_queue_test.go
  pkg/storage/intent_resolver_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
  pkg/storage/txn_wait_queue_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

server: future-proof TestAdminAPIRangeLogByRangeID
  pkg/server/admin_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: future-proof TestAdminAPIRangeLogByRangeID
  pkg/server/admin_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

roachtest: skip sysbench roachtest
  pkg/cmd/roachtest/sysbench.go
Owners: none

roachtest: skip sysbench roachtest
  pkg/cmd/roachtest/sysbench.go
Owners: none

storage: Collect IntentHistory for transactions
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.h
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/enginepb/mvcc.pb.go
  pkg/storage/engine/enginepb/mvcc.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

changefeedccl: add logs for slow ExportRequests and frontier spans
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/poller.go
  pkg/ccl/changefeedccl/span_frontier.go
Owners: @cockroachdb/sql-ccl-prs

sql: fix race between backfill and insert on non-null column
  pkg/sql/insert.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: fix race between backfill and insert on non-null column
  pkg/sql/insert.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

changefeedccl: add logs for slow ExportRequests and frontier spans
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/poller.go
  pkg/ccl/changefeedccl/span_frontier.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: add metrics for performance debugging
  pkg/ccl/changefeedccl/buffer.go
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/poller.go
  pkg/jobs/metrics.go
  pkg/jobs/registry.go
  pkg/jobs/registry_external_test.go
  pkg/jobs/registry_test.go
  pkg/server/config.go
  pkg/server/server.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

update cloud storage deps
  Gopkg.lock
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-bulk-prs

update cloud storage deps
  Gopkg.lock
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-bulk-prs

sql/logictest: expunge range_id from all SHOW EXPERIMENTAL_RANGES queries
  pkg/sql/logictest/testdata/logic_test/distsql_distinct_on
  pkg/sql/logictest/testdata/logic_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/logic_test/distsql_subquery
  pkg/sql/logictest/testdata/logic_test/distsql_tighten_spans
  pkg/sql/logictest/testdata/logic_test/distsql_union
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/logictest/testdata/logic_test/ranges
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/distsql_distinct_on
  pkg/sql/logictest/testdata/planner_test/distsql_indexjoin
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/distsql_join
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/distsql_sort
  pkg/sql/logictest/testdata/planner_test/distsql_tighten_spans
  pkg/sql/logictest/testdata/planner_test/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_indexjoin
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_tighten_spans
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql/logictest: expunge range_id from all SHOW EXPERIMENTAL_RANGES queries
  pkg/sql/logictest/testdata/logic_test/distsql_distinct_on
  pkg/sql/logictest/testdata/logic_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/logic_test/distsql_subquery
  pkg/sql/logictest/testdata/logic_test/distsql_tighten_spans
  pkg/sql/logictest/testdata/logic_test/distsql_union
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/logictest/testdata/logic_test/ranges
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/distsql_distinct_on
  pkg/sql/logictest/testdata/planner_test/distsql_indexjoin
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/distsql_join
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/distsql_sort
  pkg/sql/logictest/testdata/planner_test/distsql_tighten_spans
  pkg/sql/logictest/testdata/planner_test/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_indexjoin
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_tighten_spans
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: add COPY FROM PARENT command for zone configs
  docs/generated/sql/bnf/alter_zone_database_stmt.bnf
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  docs/generated/sql/bnf/alter_zone_range_stmt.bnf
  docs/generated/sql/bnf/alter_zone_table_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/config/zone.go
  pkg/sql/parser/sql.y
  pkg/sql/set_zone_config.go
  pkg/sql/set_zone_config_test.go
  pkg/sql/zone_test.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

kv: detect lease transfer and back off in DistSender
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
Owners: @cockroachdb/core-prs

parser: unexport Scanner
  pkg/ccl/importccl/load.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/cli/sql.go
  pkg/cli/sql_test.go
  pkg/sql/parser/help.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/sql-language-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
