Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storage: have sequenced reads use the intent history
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.h
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

mvcc: make MVCCDeleteRange idempotent
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

storage: fix bug and cleanup around sequenced reads using intent history
  c-deps/libroach/mvcc.h
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

storage: wrap sequential reads around a cluster version
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/mvcc.h
  docs/generated/settings/settings.html
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

storage: fix bug and cleanup around sequenced reads using intent history
  c-deps/libroach/mvcc.h
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

mvcc: make MVCCDeleteRange idempotent
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

storage: wrap sequential reads around a cluster version
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/mvcc.h
  docs/generated/settings/settings.html
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

opt: Fix panic in SQLSmith query
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/interner_test.go
Owners: @cockroachdb/sql-opt-prs

opt: Fix panic in SQLSmith query
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/interner_test.go
Owners: @cockroachdb/sql-opt-prs

sql: plumb through context argument to IndexedRows methods
  pkg/sql/distsqlrun/windower.go
  pkg/sql/sem/builtins/window_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins_test.go
  pkg/sql/sem/tree/window_funcs.go
  pkg/sql/sem/tree/window_funcs_test.go
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs

sql: plumb through context argument to IndexedRows methods
  pkg/sql/distsqlrun/windower.go
  pkg/sql/sem/builtins/window_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins.go
  pkg/sql/sem/builtins/window_frame_builtins_test.go
  pkg/sql/sem/tree/window_funcs.go
  pkg/sql/sem/tree/window_funcs_test.go
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs

roachtest: fix cancel test
  pkg/cmd/roachtest/cancel.go
Owners: none

roachtest: fix cancel test
  pkg/cmd/roachtest/cancel.go
Owners: none

storage: simplify the stores' handling of version updates
  pkg/server/node.go
  pkg/storage/store.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: simplify the stores' handling of version updates
  pkg/server/node.go
  pkg/storage/store.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

settings,server,sql: rationalize StateMachineSetting
  pkg/cli/context.go
  pkg/cli/gen.go
  pkg/kv/dist_sender.go
  pkg/kv/local_test_cluster_util.go
  pkg/kv/txn_coord_sender_test.go
  pkg/roachpb/version.go
  pkg/rpc/context.go
  pkg/rpc/heartbeat.go
  pkg/server/node.go
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/server/server_update.go
  pkg/server/testserver.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cluster_version.go
  pkg/settings/cluster/cluster_version.pb.go
  pkg/settings/cluster/cluster_version.proto
  pkg/settings/cluster/settings.go
  pkg/settings/setting.go
  pkg/settings/statemachine.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/cluster_version
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/set_cluster_setting.go
  pkg/sql/show_cluster_setting.go
  pkg/storage/addressing_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_test.go
  pkg/storage/node_liveness.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
  pkg/storage/testing_knobs.go
  pkg/testutils/localtestcluster/local_test_cluster.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

ui: implement logical plan design
  pkg/ui/src/views/statements/planView.spec.tsx
  pkg/ui/src/views/statements/planView.tsx
  pkg/ui/src/views/statements/statements.styl
Owners: @cockroachdb/admin-ui-prs

ui: implement logical plan design
  pkg/ui/src/views/statements/planView.spec.tsx
  pkg/ui/src/views/statements/planView.tsx
  pkg/ui/src/views/statements/statements.styl
Owners: @cockroachdb/admin-ui-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

wip getting rid of stores.minVersion/serverVersion
  pkg/server/node.go
  pkg/storage/client_test.go
  pkg/storage/stores.go
  pkg/storage/stores_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

partitionccl: skip TestInitialPartitioning on testshort
  pkg/ccl/partitionccl/partition_test.go
Owners: @cockroachdb/sql-ccl-prs

partitionccl: skip TestInitialPartitioning on testshort
  pkg/ccl/partitionccl/partition_test.go
Owners: @cockroachdb/sql-ccl-prs

all tests pass (except cluster upgrade tests)
  pkg/ccl/partitionccl/partition_test.go
  pkg/ccl/storageccl/export_storage_test.go
  pkg/server/status/recorder_test.go
  pkg/settings/settings_test.go
  pkg/settings/statemachine.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

server: rework TestClusterVersionBootstrapStrict
  pkg/server/version_cluster_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: rework TestClusterVersionBootstrapStrict
  pkg/server/version_cluster_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

wip
  pkg/kv/dist_sender.go
  pkg/kv/local_test_cluster_util.go
  pkg/server/node.go
  pkg/server/server.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/settings.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: ignore non-live probing follower during log truncation
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: don't leak committed protos to pushers on reproposal
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: don't leak committed protos to pushers on reproposal
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

keys: remove misleading overview over encoded keys
  pkg/keys/printer.go
  pkg/keys/printer_test.go
Owners: none

storage: add Store.VisitReplicas
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

batcheval: add reminder when implementing divergent truncated states
  pkg/storage/batcheval/cmd_truncate_log.go
Owners: @cockroachdb/core-prs

storage: rename RaftTruncatedState -> LegacyRaftTruncatedState
  pkg/cli/debug.go
  pkg/cli/debug/print.go
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/keys/keys_test.go
  pkg/keys/printer.go
  pkg/keys/printer_test.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/rditer/replica_data_iter_test.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

storage: make RaftTruncatedState unreplicated
  docs/generated/settings/settings.html
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/keys/printer.go
  pkg/keys/printer_test.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/batcheval/truncate_log_test.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/engine.go
  pkg/storage/main_test.go
  pkg/storage/raft.pb.go
  pkg/storage/raft.proto
  pkg/storage/replica_command.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_raft_truncation_test.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/stats_test.go
  pkg/storage/store.go
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
  pkg/storage/testdata/truncated_state_migration/migration
  pkg/storage/testdata/truncated_state_migration/pre_migration
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

storage: add interfaces for copysets
  pkg/storage/copysets/copysets.go
  pkg/storage/copysets/copysets.pb.go
  pkg/storage/copysets/copysets.proto
  pkg/storage/copysets/doc.go
Owners: @cockroachdb/core-prs

storage: add interfaces for copysets
  pkg/storage/copysets/copysets.go
  pkg/storage/copysets/copysets.pb.go
  pkg/storage/copysets/copysets.proto
  pkg/storage/copysets/doc.go
Owners: @cockroachdb/core-prs

sql: make pg_catalog OIDs stable and refer to the descriptor IDs directly
  pkg/keys/constants.go
  pkg/sql/crdb_internal.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/pg_catalog.go
  pkg/sql/pg_oid_test.go
  pkg/sql/sqlbase/constants.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: fix zero-column groups in joins colliding
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

opt: fix zero-column groups in joins colliding
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

storage: use env var to adjust sst info logging
  pkg/storage/store.go
Owners: @cockroachdb/core-prs
