Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

changefeedccl: support updated and resolved timestamps in avro
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

workload: add a `FromFlags` helper for using workload in unit tests
  pkg/workload/bank/bank.go
  pkg/workload/ledger/generate.go
  pkg/workload/ledger/ledger.go
  pkg/workload/tpcc/tpcc.go
  pkg/workload/workload.go
Owners: none

changefeedccl: add a test for the ledger workload with avro
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/encoder_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: add a test for the ledger workload with avro
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/encoder_test.go
Owners: @cockroachdb/sql-ccl-prs

workload: add a `FromFlags` helper for using workload in unit tests
  pkg/workload/bank/bank.go
  pkg/workload/ledger/generate.go
  pkg/workload/ledger/ledger.go
  pkg/workload/tpcc/tpcc.go
  pkg/workload/workload.go
Owners: none

opt: add support for aggregate FILTER
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

rangefeed: Resilience to Slow Consumer
  pkg/kv/dist_sender_rangefeed.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/eval_context.go
  pkg/storage/rangefeed/processor.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

opt: add rule to simplify DistinctOn with no grouping columns
  pkg/sql/logictest/testdata/logic_test/distinct_on
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/distinct_on
  pkg/sql/opt/norm/groupby.go
  pkg/sql/opt/norm/rules/groupby.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/xform/optimizer.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: add rule to simplify DistinctOn with no grouping columns
  pkg/sql/logictest/testdata/logic_test/distinct_on
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/distinct_on
  pkg/sql/opt/norm/groupby.go
  pkg/sql/opt/norm/rules/groupby.opt
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/xform/optimizer.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: allow specifying scan direction in index hint
  pkg/sql/logictest/testdata/logic_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/memo/expr_view_format.go
  pkg/sql/opt/memo/private_defs.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/xform/testdata/rules/limit
  pkg/sql/opt_index_selection.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/scan.go
  pkg/sql/sem/tree/select.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs

storage: fix filterUnremovableReplicas badness
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/replicate_queue.go
Owners: @cockroachdb/core-prs

storage: fix lastReplicaAdded computation
  pkg/storage/replica_init.go
  pkg/storage/replica_init_test.go
Owners: @cockroachdb/core-prs

sql: fix comment grammar
  pkg/sql/crdb_internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix comment grammar
  pkg/sql/crdb_internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: reimplement StorePool.AvailableNodeCount
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/storage/allocator_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
  pkg/storage/node_liveness.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_rebalancer_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

roachtest: add replicate/wide roachtest
  pkg/cmd/roachtest/allocator.go
Owners: none

docs: Tech note on the rebalancing system
  docs/tech-notes/rebalancing.md
Owners: none

sql: remove execStartable interface
  pkg/sql/cancel_queries.go
  pkg/sql/cancel_sessions.go
  pkg/sql/control_jobs.go
  pkg/sql/create_stats.go
  pkg/sql/filter.go
  pkg/sql/index_join.go
  pkg/sql/lookup_join.go
  pkg/sql/max_one_row.go
  pkg/sql/ordinality.go
  pkg/sql/plan.go
  pkg/sql/plan_physical_props.go
  pkg/sql/project_set.go
  pkg/sql/relocate.go
  pkg/sql/render.go
  pkg/sql/sequence_select.go
  pkg/sql/sort.go
  pkg/sql/spool.go
  pkg/sql/unary.go
  pkg/sql/virtual_table.go
  pkg/sql/zero.go
  pkg/sql/zigzag_join.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: remove execStartable interface
  pkg/sql/cancel_queries.go
  pkg/sql/cancel_sessions.go
  pkg/sql/control_jobs.go
  pkg/sql/create_stats.go
  pkg/sql/filter.go
  pkg/sql/index_join.go
  pkg/sql/lookup_join.go
  pkg/sql/max_one_row.go
  pkg/sql/ordinality.go
  pkg/sql/plan.go
  pkg/sql/plan_physical_props.go
  pkg/sql/project_set.go
  pkg/sql/relocate.go
  pkg/sql/render.go
  pkg/sql/sequence_select.go
  pkg/sql/sort.go
  pkg/sql/spool.go
  pkg/sql/unary.go
  pkg/sql/virtual_table.go
  pkg/sql/zero.go
  pkg/sql/zigzag_join.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

logictest: rename --rewrite-results-in-testfiles to --rewrite
  pkg/sql/logictest/logic.go
Owners: @cockroachdb/sql-rest-prs

logictest: rename --rewrite-results-in-testfiles to --rewrite
  pkg/sql/logictest/logic.go
Owners: @cockroachdb/sql-rest-prs

sql: clean up EXPLAIN for index-join and lookup-join
  pkg/sql/index_join.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/aggregate
  pkg/sql/logictest/testdata/planner_test/custom_mutation_indexes
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/inverted_index
  pkg/sql/logictest/testdata/planner_test/limit
  pkg/sql/logictest/testdata/planner_test/order_by
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/tuple
  pkg/sql/lookup_join.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/limit
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/prepare
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/tuple
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: add more EXPLAIN (OPT) flavors
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/memo/testdata/format
  pkg/sql/opt/memo/typing_test.go
  pkg/sql/opt/optbuilder/builder_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

roachtest: run version/mixedWith against 2.1 cluster
  pkg/cmd/roachtest/version.go
Owners: none

storage: delete TestReplicaMigrateRangeAppliedStateKey
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: delete TestReplicaMigrateRangeAppliedStateKey
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: remove VersionRangeMerges
  pkg/jobs/registry.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/client_merge_test.go
  pkg/storage/merge_queue.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: remove VersionRangeMerges
  pkg/jobs/registry.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/client_merge_test.go
  pkg/storage/merge_queue.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: delete TestReplicaMigrateRangeAppliedStateKey
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

settings, storage: get rid of the IsMinSupported/IsActive differences
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/partitionccl/partition.go
  pkg/jobs/registry.go
  pkg/kv/dist_sender.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat_test.go
  pkg/server/node.go
  pkg/server/status/recorder.go
  pkg/server/version_cluster_test.go
  pkg/settings/cluster/cluster_version.go
  pkg/settings/cluster/cluster_version.pb.go
  pkg/settings/cluster/cluster_version.proto
  pkg/settings/cluster/settings.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/cluster_version
  pkg/sql/set_zone_config.go
  pkg/sql/sqlbase/structured.go
  pkg/sqlmigrations/migrations.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_lease.go
  pkg/storage/client_test.go
  pkg/storage/replica_consistency.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_split_load.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/store.go
  pkg/storage/store_rebalancer.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
  pkg/storage/stores_test.go
  pkg/ts/db.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs

roachtest: increase schema change cancel test timeout to 90 minutes
  pkg/cmd/roachtest/schemachange.go
Owners: none

roachtest: increase schema change cancel test timeout to 90 minutes
  pkg/cmd/roachtest/schemachange.go
Owners: none

storage: enhance slow handle Raft ready log messages
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: enhance slow handle Raft ready log messages
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

gossip: require node descriptors have non-empty addresses
  pkg/gossip/gossip.go
  pkg/kv/dist_sender_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

RFC: copysets
  docs/RFCS/20181204_copysets.md
Owners: @cockroachdb/rfc-prs

RFC: copysets
  docs/RFCS/20181204_copysets.md
Owners: @cockroachdb/rfc-prs

release: Bump k8s samples to v2.1.4
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

release: Bump k8s samples to v2.1.4
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

gossip: avoid removing nodes that get a new address
  pkg/gossip/gossip.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
