Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

opt: Fix CopyAndReplace to work for optimized expressions
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
Owners: @cockroachdb/sql-opt-prs

opt: distinguish VALUES clauses by a unique id
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/norm/prune_cols.go
  pkg/sql/opt/norm/rules/decorrelate.opt
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/values.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/private.go
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

exec: verify test results based on set or ordered comparison
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/count_test.go
  pkg/sql/exec/distinct_test.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/limit_test.go
  pkg/sql/exec/offset_test.go
  pkg/sql/exec/projection_ops_test.go
  pkg/sql/exec/selection_ops_test.go
  pkg/sql/exec/simple_project_test.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

storage: add support for copyset based rebalancing
  docs/generated/settings/settings.html
  pkg/storage/allocator.go
  pkg/storage/allocator_scorer.go
  pkg/storage/allocator_scorer_test.go
  pkg/storage/allocator_test.go
  pkg/storage/copysets/copysets.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_rebalancer.go
  pkg/storage/store_rebalancer_test.go
Owners: @cockroachdb/core-prs

sql: check invalid table identifier
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/name_resolution.go
Owners: @cockroachdb/sql-rest-prs

importccl: let individual frontends decide to use readFiles helper
  pkg/ccl/importccl/read_import_csv.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysqlout.go
  pkg/ccl/importccl/read_import_pgcopy.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

importccl: let individual frontends decide to use readFiles helper
  pkg/ccl/importccl/read_import_csv.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysqlout.go
  pkg/ccl/importccl/read_import_pgcopy.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

importccl: add workload frontend that skips detour though CSV
  pkg/ccl/importccl/read_import_proc.go
  pkg/ccl/importccl/read_import_workload.go
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

importccl: add workload frontend that skips detour though CSV
  pkg/ccl/importccl/read_import_proc.go
  pkg/ccl/importccl/read_import_workload.go
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

workload: add --files-per-node to fixtures import
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
Owners: @cockroachdb/sql-ccl-prs

importccl: re-enable IMPORT tests
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/sql-bulk-prs

importccl: re-enable IMPORT tests
  pkg/ccl/importccl/import_stmt_test.go
Owners: @cockroachdb/sql-bulk-prs

opt: replace ColumnMeta.TableMeta with a TableID
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/join.go
Owners: @cockroachdb/sql-opt-prs

opt: test reproducing detached memo race
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/factory_test.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
  pkg/sql/opt/testutils/build.go
  pkg/sql/opt/xform/optimizer_test.go
Owners: @cockroachdb/sql-opt-prs

opt: fix race caused by shared table annotations
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/props/col_stats_map.go
  pkg/sql/opt/props/statistics.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

Update the min Go version for building from source
  CONTRIBUTING.md
Owners: none

storage: remove the concept of "dead replicas"
  pkg/cli/debug.go
  pkg/gossip/keys.go
  pkg/gossip/keys_test.go
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/server/node.go
  pkg/storage/allocator_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/helpers_test.go
  pkg/storage/replica_corruption.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_init.go
  pkg/storage/replica_proposal_quota.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/track_raft_protos.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

storage: remove the concept of "dead replicas"
  pkg/cli/debug.go
  pkg/gossip/keys.go
  pkg/gossip/keys_test.go
  pkg/keys/constants.go
  pkg/keys/keys.go
  pkg/server/node.go
  pkg/storage/allocator_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/helpers_test.go
  pkg/storage/replica_corruption.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_init.go
  pkg/storage/replica_proposal_quota.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/track_raft_protos.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

storage/raftentry: fix bug caused by concurrent Add and Get operations
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/ring_buffer.go
Owners: @cockroachdb/core-prs

rangefeed: test that GCThreshold is respected
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

rangefeed: test that GCThreshold is respected
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/storage/replica_rangefeed_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

changefeedccl: unskip TestChangefeedDataTTL
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/roachpb/errors.go
  pkg/sql/schema_changer.go
  pkg/storage/replica_rangefeed_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/sql-async-prs

changefeedccl: unskip TestChangefeedDataTTL
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/roachpb/errors.go
  pkg/sql/schema_changer.go
  pkg/storage/replica_rangefeed_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/sql-async-prs

Update the min Go version for building from source
  CONTRIBUTING.md
Owners: none

Update the min Go version for building from source
  CONTRIBUTING.md
Owners: none

storage/raftentry: fix bug caused by concurrent Add and Get operations
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/ring_buffer.go
Owners: @cockroachdb/core-prs

storage/raftentry: fix bug caused by concurrent Add and Get operations
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/ring_buffer.go
Owners: @cockroachdb/core-prs

kv: delay starting heartbeat loop until after first interval
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_server_test.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/util/stop/delayed_stopper.go
Owners: @cockroachdb/core-prs

storage: remove replicaID dependency from sideloaded storage
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/replica_init.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

logictest: avoid having to edit random files on new cluster versions
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-rest-prs

roachtest: use ranges_no_leases in clearrange
  pkg/cmd/roachtest/clearrange.go
Owners: none

roachtest: use ranges_no_leases in clearrange
  pkg/cmd/roachtest/clearrange.go
Owners: none

roachtest: log import duration in clearrange
  pkg/cmd/roachtest/clearrange.go
Owners: none

roachtest: log import duration in clearrange
  pkg/cmd/roachtest/clearrange.go
Owners: none

roachtest: use high connect timeout in clearrange
  pkg/cmd/roachtest/clearrange.go
Owners: none

sql: fix conupdtype, confdeltype, conmatchtype in pg_constraint
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/pg_catalog.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: fix semantics of JSON ? operator on strings
  pkg/sql/logictest/testdata/logic_test/json
  pkg/util/json/encoded.go
  pkg/util/json/json.go
  pkg/util/json/json_test.go
Owners: @cockroachdb/sql-rest-prs

requestbatcher: add channel-based interface to enable concurrent sends
  pkg/internal/client/requestbatcher/batcher.go
Owners: @cockroachdb/core-prs

requestbatcher: add channel-based interface to enable concurrent sends
  pkg/internal/client/requestbatcher/batcher.go
Owners: @cockroachdb/core-prs

kv: add simpler RangeDescriptorCache.LookupRangeDescriptor interface
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/kv/kvbase/range_cache.go
  pkg/kv/range_cache.go
  pkg/kv/range_cache_test.go
  pkg/storage/bulk/sst_batcher_test.go
Owners: @cockroachdb/core-prs
