Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: tolerate missing transaction records when pushing
  docs/RFCS/20181209_lazy_txn_record_creation.md
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/batcheval/transaction.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

kv: remove legacy code around VersionTxnCoordMetaInvalidField
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  pkg/kv/txn_interceptor_span_refresher.go
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlpb/api.pb.go
  pkg/sql/distsqlpb/api.proto
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

kv: remove legacy code around VersionTxnCoordMetaInvalidField
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  pkg/kv/txn_interceptor_span_refresher.go
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlpb/api.pb.go
  pkg/sql/distsqlpb/api.proto
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

RFC: copysets
  docs/RFCS/20181204_copysets.md
Owners: @cockroachdb/rfc-prs

storage: split canServeFollowerRead to separate file
  pkg/storage/replica.go
  pkg/storage/replica_follower_read.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/batcheval/result/result.go
Owners: @cockroachdb/core-prs

storage: avoid optimizePuts() in read-only batches
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

sql: deflake TestInternalExecAppNameInitialization
  pkg/sql/internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: run fewer splits in kv/splits
  pkg/cmd/roachtest/kv.go
Owners: none

roachtest: run fewer splits in kv/splits
  pkg/cmd/roachtest/kv.go
Owners: none

build,Makefile: break up the release process into two phases
  Makefile
  build/teamcity-bless-provisional-binaries.sh
  build/teamcity-publish-provisional-binaries.sh
  build/variables.mk
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: @cockroachdb/build-prs

build,Makefile: break up the release process into two phases
  Makefile
  build/teamcity-bless-provisional-binaries.sh
  build/teamcity-publish-provisional-binaries.sh
  build/variables.mk
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: @cockroachdb/build-prs

docs: add RFC to expose follower reads to clients
  docs/RFCS/20181227_follower_reads_implementation.md
Owners: @cockroachdb/rfc-prs

storage: move evaluateBatch/Command to their own file batch_eval.go
  pkg/storage/batch_eval.go
  pkg/storage/replica.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: add some clarifying comments
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs

sql: deflake TestInternalExecAppNameInitialization
  pkg/sql/lease.go
Owners: @cockroachdb/sql-async-prs

sql: deflake TestInternalExecAppNameInitialization
  pkg/sql/lease.go
Owners: @cockroachdb/sql-async-prs

wip - added span to TableReader flow diagram
  pkg/sql/distsqlpb/flow_diagram.go
Owners: @cockroachdb/sql-rest-prs

opt: Add support for DELETE operator
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/delete
  pkg/sql/opt/memo/testdata/stats/delete
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/delete
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Rename experimental_optimizer_updates
  docs/generated/settings/settings.html
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Rename experimental_optimizer_updates
  docs/generated/settings/settings.html
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add support for DELETE operator
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/delete
  pkg/sql/opt/memo/testdata/stats/delete
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/delete
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Add execbuilder support for Delete operator
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add execbuilder support for Delete operator
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

wip - dirty, but spans now use the right indexes
  pkg/sql/distsqlpb/flow_diagram.go
Owners: @cockroachdb/sql-rest-prs

sql,ccl: refresh table statistics after IMPORT and RESTORE
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/insert.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/update.go
  pkg/sql/upsert.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

roachpb: Rename HandledRetryableTxnError to RetryUsingTransactionError
  pkg/internal/client/client_test.go
  pkg/internal/client/db.go
  pkg/internal/client/txn.go
  pkg/internal/client/txn_test.go
  pkg/kv/dist_sender_server_test.go
  pkg/kv/integration_test.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_server_test.go
  pkg/kv/txn_coord_sender_test.go
  pkg/roachpb/batch_generated.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/lease_test.go
  pkg/sql/logictest/testdata/logic_test/manual_retry
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/pgwire/conn.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/txn_state_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-wiring-prs

roachpb: Rename HandledRetryableTxnError to RetryUsingTransactionError
  pkg/internal/client/client_test.go
  pkg/internal/client/db.go
  pkg/internal/client/txn.go
  pkg/internal/client/txn_test.go
  pkg/kv/dist_sender_server_test.go
  pkg/kv/integration_test.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_server_test.go
  pkg/kv/txn_coord_sender_test.go
  pkg/roachpb/batch_generated.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/lease_test.go
  pkg/sql/logictest/testdata/logic_test/manual_retry
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/pgwire/conn.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/txn_state_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-wiring-prs

roachtest: add MinVersion to scrub tests
  pkg/cmd/roachtest/scrub.go
Owners: none

roachtest: add MinVersion to scrub tests
  pkg/cmd/roachtest/scrub.go
Owners: none

storage: clarify a comment
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

shortened the output in the case of multiple spans
  pkg/sql/distsqlpb/flow_diagram.go
Owners: @cockroachdb/sql-rest-prs

sql: use query cache for prepare
  pkg/sql/conn_executor_prepare.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/plan_opt.go
  pkg/sql/plan_opt_test.go
  pkg/sql/prepared_stmt.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: Do not pass table descriptor by value
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/fk.go
  pkg/sql/row/fk_test.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: remove clockless mode support in updateTimestampCache
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

txnwait: don't reset pusheeTxnTimer when pusher is updated
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

storage: tolerate missing transaction records when pushing
  docs/RFCS/20181209_lazy_txn_record_creation.md
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/batcheval/transaction.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
