Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storage/spanlatch: create spanlatch.Manager using immutable btrees
  pkg/storage/command_queue_test.go
  pkg/storage/spanlatch/doc.go
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: catch identical upper bound on recomputation during removal
  pkg/storage/spanlatch/interval_btree.go
Owners: @cockroachdb/core-prs

storage/spanlatch: catch identical upper bound on recomputation during removal
  pkg/storage/spanlatch/interval_btree.go
Owners: @cockroachdb/core-prs

storage/spanlatch: use linked list instead of map for readSet
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/list.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
Owners: @cockroachdb/core-prs

raftentry: rewrite storage.raftEntryCache with dense, per-replica state
  pkg/storage/entry_cache.go
  pkg/storage/entry_cache_test.go
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/metrics.go
  pkg/storage/raftentry/ring_buffer.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

opt: Disable race-only asserts when -race flag isn't specified
  pkg/sql/opt/memo/check_expr.go
Owners: @cockroachdb/sql-opt-prs

opt: Disable race-only asserts when -race flag isn't specified
  pkg/sql/opt/memo/check_expr.go
Owners: @cockroachdb/sql-opt-prs

exec: plan single-column ascending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: template quicksort
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: add sorter
  Makefile
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

backupccl: support to back up data to BOS , for case #32626
  Gopkg.lock
  pkg/ccl/storageccl/export_storage.go
  pkg/ccl/storageccl/export_storage_test.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
Owners: @cockroachdb/build-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs

[dnm] log all truncations
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

storage: log verbose Raft status when causing snapshot
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

[wip] logging for long queue and processing phases
  pkg/storage/queue.go
  pkg/storage/queue_test.go
  pkg/storage/raft_snapshot_queue.go
Owners: @cockroachdb/core-prs

[dnm] hacky greppable Raft msg logging
  pkg/storage/raft.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

log: repeat header for multi-line messages
  pkg/util/log/clog.go
Owners: none

storage: delay split that would result in more snapshots
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

backupccl: return better error on failed backup
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/cli/dump.go
  pkg/cmd/cmp-protocol/pgconnect/pgconnect.go
  pkg/util/ctxgroup/ctxgroup.go
  pkg/util/ctxgroup/ctxgroup_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs

backupccl: return better error on failed backup
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/cli/dump.go
  pkg/cmd/cmp-protocol/pgconnect/pgconnect.go
  pkg/util/ctxgroup/ctxgroup.go
  pkg/util/ctxgroup/ctxgroup_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs

storage: print log message when blocked for >4s on snapshot semaphore
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

log: repeat header for multi-line messages
  pkg/util/log/clog.go
Owners: none

storage: print snapshot send duration as %.2f
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: print snapshot send duration as %.2f
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: print snapshot send duration as %.2f
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: print log message when blocked for >4s on snapshot semaphore
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

sql,server: fix the listing of sessions for admin/root users
  pkg/server/status.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/conn.go
  pkg/sql/show_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

sql,server: fix the listing of sessions for admin/root users
  pkg/server/status.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/conn.go
  pkg/sql/show_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

sql,server: fix the listing of sessions for admin/root users
  pkg/server/status.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/conn.go
  pkg/sql/show_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

cli/sql: make the final time printer more informative
  pkg/cli/cli_test.go
  pkg/cli/format_table.go
  pkg/cli/gen.go
  pkg/cli/sql_util.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs

cli/sql: make the final time printer more informative
  pkg/cli/cli_test.go
  pkg/cli/format_table.go
  pkg/cli/gen.go
  pkg/cli/sql_util.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs

storage: delay manual splits that would result in more snapshots
  pkg/storage/replica_command.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_delay_helper_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

storage: add comment to replicaGC with pending split
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs

storage: add comment to replicaGC with pending split
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs

storage: print log message when blocked on snapshot semaphore
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

sql: prevent a crash and add telemetry for an assertion
  pkg/sql/cluster_wide_id.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/pgerror/errors.go
  pkg/util/uint128/uint128.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

storage: delay manual splits that would result in more snapshots
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/replica_command.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_delay_helper_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

raftentry: rewrite storage.raftEntryCache with dense, per-replica state
  pkg/storage/entry_cache.go
  pkg/storage/entry_cache_test.go
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/metrics.go
  pkg/storage/raftentry/ring_buffer.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

raftentry: rewrite storage.raftEntryCache with dense, per-replica state
  pkg/storage/entry_cache.go
  pkg/storage/entry_cache_test.go
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/metrics.go
  pkg/storage/raftentry/ring_buffer.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: print log message when blocked on snapshot semaphore
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: print log message when blocked on snapshot semaphore
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs
