Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

causer: provide method for walking an error chain
  pkg/util/causer/causer.go
  pkg/util/causer/causer_test.go
Owners: none

storage: never truncate log for inflight snapshots
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_command.go
  pkg/storage/replica_raftstorage.go
Owners: @cockroachdb/core-prs

storage: harden admin split retryable errors
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: don't log benign queue errors
  pkg/storage/queue.go
  pkg/storage/replica.go
  pkg/storage/replica_command.go
  pkg/storage/replicate_queue.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: truncate aggressively only after 4mb of logs
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

sql: Add default_int_size to control INT alias
  docs/generated/settings/settings.html
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/int_size
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

storage: exit process when disks are stalled
  pkg/cmd/roachtest/disk_stall.go
  pkg/cmd/roachtest/registry.go
  pkg/server/server.go
  pkg/server/server_engine_health.go
  pkg/storage/engine/engine.go
  pkg/storage/node_liveness.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: support CREATE STATISTICS with no columns and table refs
  docs/generated/sql/bnf/create_stats_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/create.go
  pkg/sql/stats/histogram.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

exec: add the hashed aggregator
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
Owners: @cockroachdb/sql-rest-prs

exec: fix ColBatchSize to type uint16
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/colbatch.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/distinct_test.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/projection_ops_test.go
  pkg/sql/exec/selection_ops_test.go
Owners: @cockroachdb/sql-rest-prs

exec: remove redundant hashed aggregator work
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/coalescer_test.go
Owners: @cockroachdb/sql-rest-prs

Update sql drivers
  Gopkg.lock
Owners: @cockroachdb/build-prs

Update sql drivers
  Gopkg.lock
Owners: @cockroachdb/build-prs

opt: Move insertBuilder to new file
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Rename insertBuilder to mutationBuilder
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Move insertBuilder to new file
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Rename insertBuilder to mutationBuilder
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Re-format mutation operator output
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Change mutation column metadata interface
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Re-format mutation operator output
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Generalize mutationBuilder
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/norm/ordering.go
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Generalize mutationBuilder
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/norm/ordering.go
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Change mutation column metadata interface
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Don't qualify names that are identical
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/logprops/project
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/memo/testdata/typing
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/srfs
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/testdata/view
  pkg/sql/opt/optbuilder/testdata/where
  pkg/sql/opt/optbuilder/testdata/with
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/limit
Owners: @cockroachdb/sql-opt-prs

opt: Don't qualify names that are identical
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/logprops/project
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/memo/testdata/typing
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/srfs
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/testdata/view
  pkg/sql/opt/optbuilder/testdata/where
  pkg/sql/opt/optbuilder/testdata/with
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/limit
Owners: @cockroachdb/sql-opt-prs

sql: Do not automatically add mutation columns
  pkg/sql/data_source.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/scan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: Do not automatically add mutation columns
  pkg/sql/data_source.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/scan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add Update support to CBO
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/ordering/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add Update support to CBO
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/ordering/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add execbuilder support for the Update operator
  pkg/server/updates_test.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/subquery
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/metric_test.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/ddl
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: Add execbuilder support for the Update operator
  pkg/server/updates_test.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/subquery
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/metric_test.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/ddl
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

sql: future-proof a test
  pkg/sql/logictest/testdata/logic_test/show_trace
Owners: @cockroachdb/sql-rest-prs

sql: future-proof a test
  pkg/sql/logictest/testdata/logic_test/show_trace
Owners: @cockroachdb/sql-rest-prs

Update gRPC deps
  Gopkg.lock
  pkg/server/serverpb/admin.pb.gw.go
  pkg/server/serverpb/authentication.pb.gw.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/ts/tspb/timeseries.pb.gw.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

Update gRPC deps
  Gopkg.lock
  pkg/server/serverpb/admin.pb.gw.go
  pkg/server/serverpb/authentication.pb.gw.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/ts/tspb/timeseries.pb.gw.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

opt: Add experimental_optimizer_updates flag
  docs/generated/settings/settings.html
  pkg/server/updates_test.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/metric_test.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add experimental_optimizer_updates flag
  docs/generated/settings/settings.html
  pkg/server/updates_test.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/metric_test.go
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachtest: start changefeed 1s in the past
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: start changefeed 1s in the past
  pkg/cmd/roachtest/cdc.go
Owners: none

changefeedccl: skip flaky TestValidations/rangefeed/bank
  pkg/ccl/changefeedccl/validations_test.go
Owners: @cockroachdb/sql-ccl-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
