Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storage: write at provisional commit ts, not orig ts
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

sql: delete leftover file from move to distsqlpb
  pkg/sql/distsqlrun/flow_diagram.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: delete leftover file from move to distsqlpb
  pkg/sql/distsqlrun/flow_diagram.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: allow transactions to run at a lower sequence
  pkg/storage/client_split_test.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

sql: support CREATE STATISTICS with no columns and table refs
  docs/generated/sql/bnf/create_stats_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/create.go
  pkg/sql/stats/histogram.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: support CREATE STATISTICS with no columns and table refs
  docs/generated/sql/bnf/create_stats_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/create.go
  pkg/sql/stats/histogram.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

storage/spanlatch: return NodeUnavailableError on stopper Quiesce
  pkg/storage/replica.go
  pkg/storage/spanlatch/manager.go
Owners: @cockroachdb/core-prs

storage/spanlatch: return NodeUnavailableError on stopper Quiesce
  pkg/storage/replica.go
  pkg/storage/spanlatch/manager.go
Owners: @cockroachdb/core-prs

storage: assert syscfg gossip
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
Owners: @cockroachdb/core-prs

storage: assert syscfg gossip
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
Owners: @cockroachdb/core-prs

engineccl/mvcc: work around time-bound iterator bug
  pkg/ccl/storageccl/engineccl/mvcc.go
  pkg/ccl/storageccl/engineccl/mvcc_test.go
Owners: @cockroachdb/sql-bulk-prs

RFC: Lazy Transaction Record Creation
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20181209_lazy_txn_record_creation.md
Owners: @cockroachdb/rfc-prs

kv: dont wrap a MixedSuccessError within a MixedSuccessError
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/core-prs

RFC: copysets
  docs/RFCS/20181204_copysets.md
Owners: @cockroachdb/rfc-prs

storage: fix stuck lookups in multiTestContext.FirstRange
  pkg/storage/client_test.go
Owners: @cockroachdb/core-prs

roachtest: don't fail tests based on slow health checker
  pkg/cmd/roachtest/restore.go
Owners: none

roachtest: don't fail tests based on slow health checker
  pkg/cmd/roachtest/restore.go
Owners: none

roachtest: don't filter gossip alerts
  pkg/cmd/roachtest/restore.go
Owners: none

roachtest: don't filter gossip alerts
  pkg/cmd/roachtest/restore.go
Owners: none

storage: un-starve TestReplicateQueueDownReplicate
  pkg/storage/replicate_queue_test.go
Owners: @cockroachdb/core-prs

storage: un-starve TestReplicateQueueDownReplicate
  pkg/storage/replicate_queue_test.go
Owners: @cockroachdb/core-prs

storage: improve snapshot info messages in log truncation
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: print snapshot send duration as %.2f
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: print log message when blocked on snapshot semaphore
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: improve split-snapshot warning
  pkg/storage/replica_command.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: add comment to replicaGC with pending split
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs

storage: readd overlap check for preemptive-on-uninitialized snapshots
  pkg/storage/store_snapshot.go
  pkg/storage/store_snapshot_test.go
Owners: @cockroachdb/core-prs

storage: readd overlap check for preemptive-on-uninitialized snapshots
  pkg/storage/store_snapshot.go
  pkg/storage/store_snapshot_test.go
Owners: @cockroachdb/core-prs

opt: plumb "max results" guarantee
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/constraint/constraint.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: parallelize cross-range scans when maxResults is specified
  docs/generated/settings/settings.html
  pkg/sql/data_source.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/settings.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

backport-2.1: storage: delay manual splits that would result in more snapshots
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/replica_command.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_delay_helper_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

opt: add support for IFERROR/ISERROR
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/testdata/rules/side_effects
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optbuilder/testdata/scalar
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/testdata/eval/conditional
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

exec: template quicksort
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: plan single-column ascending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: template quicksort
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

execgen: remove empty comments from *.eg.go
  pkg/sql/exec/execgen/cmd/execgen/main.go
Owners: @cockroachdb/sql-rest-prs

exec: execute and plan multi-col asc sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/bool_vec_to_sel.go
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

execgen: remove empty comments from *.eg.go
  pkg/sql/exec/execgen/cmd/execgen/main.go
Owners: @cockroachdb/sql-rest-prs

exec: add sorter
  Makefile
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: plan single-column ascending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs
