Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

exec: use go runtime hash functions in hashjoiner
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hash.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/noescape.s
Owners: @cockroachdb/sql-rest-prs

exec: use go runtime hash functions in hashjoiner
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hash.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/noescape.s
Owners: @cockroachdb/sql-rest-prs

workload/tpcc: reduce some allocations
  pkg/workload/tpcc/generate.go
  pkg/workload/tpcc/random.go
  pkg/workload/tpcc/tpcc.go
Owners: none

workload/tpcc: reduce some allocations
  pkg/workload/tpcc/generate.go
  pkg/workload/tpcc/random.go
  pkg/workload/tpcc/tpcc.go
Owners: none

workload/tpcc: use a faster random number generator
  Gopkg.lock
  pkg/workload/tpcc/delivery.go
  pkg/workload/tpcc/generate.go
  pkg/workload/tpcc/new_order.go
  pkg/workload/tpcc/order_status.go
  pkg/workload/tpcc/partition.go
  pkg/workload/tpcc/payment.go
  pkg/workload/tpcc/random.go
  pkg/workload/tpcc/stock_level.go
  pkg/workload/tpcc/tpcc.go
  pkg/workload/tpcc/worker.go
Owners: @cockroachdb/build-prs

workload/tpcc: use a faster random number generator
  Gopkg.lock
  pkg/workload/tpcc/delivery.go
  pkg/workload/tpcc/generate.go
  pkg/workload/tpcc/new_order.go
  pkg/workload/tpcc/order_status.go
  pkg/workload/tpcc/partition.go
  pkg/workload/tpcc/payment.go
  pkg/workload/tpcc/random.go
  pkg/workload/tpcc/stock_level.go
  pkg/workload/tpcc/tpcc.go
  pkg/workload/tpcc/worker.go
Owners: @cockroachdb/build-prs

workload/tpcc: faster random string generation
  pkg/workload/tpcc/random.go
  pkg/workload/tpcc/random_test.go
Owners: none

workload/tpcc: faster random string generation
  pkg/workload/tpcc/random.go
  pkg/workload/tpcc/random_test.go
Owners: none

exec: Fix integer overflow bugs in vectorized merge joiner
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: Fix integer overflow bugs in vectorized merge joiner
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

changefeedccl: strip secrets from sink in job description
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: strip secrets from sink in job description
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: add entries in/out metrics to the RangeFeed buffer
  pkg/ccl/changefeedccl/buffer.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

storage: point users at docs in the "rangefeeds are off" error
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

changefeed: add feature telemetry
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeed: add feature telemetry
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

storage: point users at docs in the "rangefeeds are off" error
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

changefeedccl: add entries in/out metrics to the RangeFeed buffer
  pkg/ccl/changefeedccl/buffer.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

sql: fix missing cleanup on early return
  pkg/sql/conn_executor_exec.go
  pkg/sql/parallel_stmts.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix missing cleanup on early return
  pkg/sql/conn_executor_exec.go
  pkg/sql/parallel_stmts.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

README: remove links to gitter
  README.md
Owners: none

README: remove links to gitter
  README.md
Owners: none

changefeedccl: add a metric for largest commit-to-emit latency
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/changefeeds.tsx
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/admin-ui-prs

changefeedccl: add a metric for largest commit-to-emit latency
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/changefeeds.tsx
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/admin-ui-prs

changefeedccl: clean up TestChangefeedTimestamps
  cpu.prof
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: clean up TestChangefeedTimestamps
  cpu.prof
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

stats: cap throttling wait time
  pkg/sql/distsqlrun/sampler.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

stats: cap throttling wait time
  pkg/sql/distsqlrun/sampler.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: hint joins after the JOIN keyword, not before
  docs/generated/sql/bnf/joined_table.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/pretty.go
  pkg/sql/sem/tree/select.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/tuples_differ_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_chunks.go
  pkg/sql/exec/sort_chunks_test.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/tuples_differ_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/tuples_differ_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_chunks.go
  pkg/sql/exec/sort_chunks_test.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/tuples_differ_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

roachtest: backup: use AOST time slightly in the past
  pkg/cmd/roachtest/backup.go
Owners: none

roachtest: backup: use AOST time slightly in the past
  pkg/cmd/roachtest/backup.go
Owners: none

Makefile: use addprefix in -I for zcgo CPPFLAGS
  Makefile
Owners: @cockroachdb/build-prs

Makefile: use addprefix in -I for zcgo CPPFLAGS
  Makefile
Owners: @cockroachdb/build-prs

opt: show hints for merge/lookup join
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

opt: show hints for merge/lookup join
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

opt: reuse catalog across queries
  pkg/sql/conn_executor.go
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli: fix `debug zip` nil pointer dereference
  pkg/cli/zip.go
  pkg/cmd/roachtest/debug.go
Owners: @cockroachdb/cli-prs

server: introduce a new bootstrapping RPC service
  pkg/roachpb/api.pb.go
  pkg/server/init.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/serverpb/init.pb.go
  pkg/server/serverpb/init.proto
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
