Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

acceptance: add flyway 6.0.0-beta test
  pkg/acceptance/compose/flyway/docker-compose.yml
  pkg/acceptance/compose/flyway/sql/V1__init.sql
  pkg/acceptance/compose/flyway/sql/V2__make_index.sql
  pkg/acceptance/compose/flyway/sql/V3__make_fk.sql
  pkg/acceptance/compose_test.go
Owners: none

acceptance: add flyway 6.0.0-beta test
  pkg/acceptance/compose/flyway/docker-compose.yml
  pkg/acceptance/compose/flyway/sql/V1__init.sql
  pkg/acceptance/compose/flyway/sql/V2__make_index.sql
  pkg/acceptance/compose/flyway/sql/V3__make_fk.sql
  pkg/acceptance/compose_test.go
Owners: none

sql: check that there are no window functions in window definitions
  pkg/sql/logictest/testdata/logic_test/window
  pkg/sql/window.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: Adds a SQL Alchemy canary test
  pkg/cmd/roachtest/canary.go
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/hibernate_blacklist.go
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/sqlalchemy.go
  pkg/cmd/roachtest/sqlalchemy_blacklist.go
Owners: none

sql: cache planners differently
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

kv: change the DistSender range feed interface pErr-error
  pkg/ccl/changefeedccl/poller.go
  pkg/kv/dist_sender_rangefeed.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

kv: change the DistSender range feed interface pErr-error
  pkg/ccl/changefeedccl/poller.go
  pkg/kv/dist_sender_rangefeed.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

sql: ensure column constraints are validated after SET for UPSERT
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: ensure column constraints are validated after SET for UPSERT
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: do the same thing as the previous commit for the CBO UPSERT
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert_opt.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cmd/roachtest: revert debugging code for core dump gathering
  pkg/cmd/roachtest/kv.go
Owners: none

cmd/roachtest: revert debugging code for core dump gathering
  pkg/cmd/roachtest/kv.go
Owners: none

cli: fix `debug zip` nil pointer dereference
  pkg/cli/zip.go
  pkg/cmd/roachtest/debug.go
Owners: @cockroachdb/cli-prs

cli: fix `debug zip` nil pointer dereference
  pkg/cli/zip.go
  pkg/cmd/roachtest/debug.go
Owners: @cockroachdb/cli-prs

opt: propagate set operation output types to input columns
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/union
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/stats/set
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/norm/rules/set.opt
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/norm/testdata/rules/set
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/testdata/sequence
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/union.go
  pkg/sql/opt/xform/testdata/coster/set
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
Owners: @cockroachdb/sql-opt-prs

sqlsmith: use column -> tree.ColumnTableDef
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
Owners: @cockroachdb/core-prs

sqlsmith: use column -> tree.ColumnTableDef
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
Owners: @cockroachdb/core-prs

sqlsmith: remove DB from schema type
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: remove DB from schema type
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: Format -> tree.NodeFormatter
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

sqlsmith: Format -> tree.NodeFormatter
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

storage: better error when stores are throttled
  pkg/storage/allocator.go
  pkg/storage/helpers_test.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

storage: better error when stores are throttled
  pkg/storage/allocator.go
  pkg/storage/helpers_test.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

[dnm] kv: investigte the batch marshaling assertion failures
  pkg/kv/transport_test.go
Owners: @cockroachdb/core-prs

sql: do the same thing as the previous commit for the CBO UPSERT
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/logic_test/upsert_local
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_opt.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

editorconfig: Use tabs for Makefile indentation
  .editorconfig
Owners: @cockroachdb/build-prs

editorconfig: Use tabs for Makefile indentation
  .editorconfig
Owners: @cockroachdb/build-prs

requestbatcher: put finished batches back in the pool
  pkg/internal/client/requestbatcher/batcher.go
Owners: @cockroachdb/core-prs

requestbatcher: put finished batches back in the pool
  pkg/internal/client/requestbatcher/batcher.go
Owners: @cockroachdb/core-prs

kv: also save the pre-corruption bytes
  pkg/kv/transport.go
  pkg/kv/transport_test.go
Owners: @cockroachdb/core-prs

kv: make the assertion more effective (and expensive)
  pkg/kv/transport.go
Owners: @cockroachdb/core-prs

opt: Add zone support to catalog package
  pkg/config/zone.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/sequence.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/cat/view.go
  pkg/sql/opt/cat/zone.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/set_zone_config.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add zone support to catalog package
  pkg/config/zone.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/sequence.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/cat/view.go
  pkg/sql/opt/cat/zone.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/set_zone_config.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Prefer index with zone constraints that most closely match locality
  pkg/ccl/logictestccl/testdata/logic_test/zone
  pkg/config/zone.go
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/testutils/opttester/opt_tester.go
  pkg/sql/opt/testutils/testcat/set_zone_config.go
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/optimizer.go
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt_catalog.go
  pkg/sql/planner.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/zone_config.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Prefer index with zone constraints that most closely match locality
  pkg/ccl/logictestccl/testdata/logic_test/zone
  pkg/config/zone.go
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/testutils/opttester/opt_tester.go
  pkg/sql/opt/testutils/testcat/set_zone_config.go
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/optimizer.go
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt_catalog.go
  pkg/sql/planner.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/zone_config.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachprod: sync after gc’ing / destroying clusters
  pkg/cmd/roachprod/cloud/gc.go
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: add DNS entries for roachprod hosts
  pkg/cmd/roachprod/cloud/cluster_cloud.go
  pkg/cmd/roachprod/main.go
  pkg/cmd/roachprod/vm/gce/utils.go
  pkg/cmd/roachprod/vm/vm.go
Owners: none

roachprod: only use dns name for adminurl if it resolves
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: add DNS entries for roachprod hosts
  pkg/cmd/roachprod/cloud/cluster_cloud.go
  pkg/cmd/roachprod/main.go
  pkg/cmd/roachprod/vm/gce/utils.go
  pkg/cmd/roachprod/vm/vm.go
Owners: none

roachprod: sync after gc’ing / destroying clusters
  pkg/cmd/roachprod/cloud/gc.go
  pkg/cmd/roachprod/main.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
