Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

fixup! massage message when delaying split on follower
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

sql: plumb BulkAdder though distsql
  pkg/server/server.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/server.go
  pkg/storage/bulk/main_test.go
  pkg/storage/bulk/sst_batcher.go
  pkg/storage/bulk/sst_batcher_test.go
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: prettify error when change replicas races with a merge
  pkg/storage/client_merge_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: prettify error when change replicas races with a merge
  pkg/storage/client_merge_test.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage/engine: wrap long lines in tests
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

storage/engine: wrap long lines in tests
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

distsql: bugfix to distsql planning of subqueries
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/distsql_subquery
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

storage: fix disappearing RHS merge bug
  pkg/storage/api.pb.go
  pkg/storage/api.proto
  pkg/storage/client_merge_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/replica_command.go
  pkg/storage/stores_server.go
Owners: @cockroachdb/core-prs

storage: fix GC of subsumed replicas
  pkg/storage/client_merge_test.go
  pkg/storage/queue.go
Owners: @cockroachdb/core-prs

exec: add sorter
  Makefile
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: plan single-column ascending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: template quicksort
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/sql-rest-prs

storage: improve split-snapshot warning
  pkg/storage/replica_command.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: improve split-snapshot warning
  pkg/storage/replica_command.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

distsql: preserve input ordering in joinreader
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/processors.pb.go
  pkg/sql/distsqlrun/processors.proto
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/plan_physical_props.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs

roachtest: disable the range-merge check in import/tpch/nodes=4
  pkg/cmd/roachtest/import.go
  pkg/cmd/roachtest/restore.go
Owners: none

roachtest: disable the range-merge check in import/tpch/nodes=4
  pkg/cmd/roachtest/import.go
  pkg/cmd/roachtest/restore.go
Owners: none

storage: improve snapshot info messages in log truncation
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: improve snapshot info messages in log truncation
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: fix a lying test comment
  pkg/storage/gossip_test.go
Owners: @cockroachdb/core-prs

storage: fix a lying test comment
  pkg/storage/gossip_test.go
Owners: @cockroachdb/core-prs

sql: add support for bulk backfilling indexes via AddSST
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/distsqlrun/indexbackfiller.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs

opt: plumb "max results" hint
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/constraint/constraint.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

base: small testserver comment
  pkg/base/test_server_args.go
Owners: none

base: small testserver comment
  pkg/base/test_server_args.go
Owners: none

exec: add decimal average operator
  pkg/sql/exec/avg_agg.go
Owners: @cockroachdb/sql-rest-prs

exec: add decimal average operator
  pkg/sql/exec/avg_agg.go
Owners: @cockroachdb/sql-rest-prs

exec: plan decimal avg aggregator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: plan decimal avg aggregator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: template avg operator and support floats
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/avg_agg.go
  pkg/sql/exec/avg_agg_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/avg_agg_gen.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sqlbase: don't re-allocate index descriptor ids
  pkg/sql/logictest/testdata/logic_test/storing
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

build: add Docker Compose to TeamCity agents
  build/packer/teamcity-agent.sh
Owners: @cockroachdb/build-prs

build: add Docker Compose to TeamCity agents
  build/packer/teamcity-agent.sh
Owners: @cockroachdb/build-prs

raftentry: rewrite storage.raftEntryCache with dense, per-replica state
  pkg/storage/entry_cache.go
  pkg/storage/entry_cache_test.go
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/metrics.go
  pkg/storage/raftentry/ring_buffer.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

pgwire: verify encoding length instead of ignoring it in TestEncodings
  pkg/cmd/cmp-protocol/main.go
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: remove time output from dates
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: decode bpchar OIDs
  pkg/sql/pgwire/pgwirebase/encoding.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: update generate-binary tool; use in new tests
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/binary_test.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/testdata/date_test.json
  pkg/sql/pgwire/testdata/decimal_array_test.json
  pkg/sql/pgwire/testdata/decimal_test.json
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/testdata/inet_test.json
  pkg/sql/pgwire/testdata/interval_test.json
  pkg/sql/pgwire/testdata/jsonb_test.json
  pkg/sql/pgwire/testdata/time_test.json
  pkg/sql/pgwire/testdata/timestamp_test.json
  pkg/sql/pgwire/testdata/timestamptz_test.json
  pkg/sql/pgwire/testdata/timetz_test.json
  pkg/sql/pgwire/testdata/uuid_array_test.json
  pkg/sql/pgwire/testdata/uuid_test.json
Owners: @cockroachdb/sql-wiring-prs

cmp-protocol: add cmp-protocol to compare pgwires
  pkg/cmd/cmp-protocol/main.go
  pkg/cmd/cmp-protocol/pgconnect/pgconnect.go
Owners: none

pgwire: enable text encoding tests in generate-binary
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
