Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

telemetry: make sure test starts with clean slate
  pkg/server/updates_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: ensure that internal executors have a valid application_name
  pkg/sql/conn_executor.go
  pkg/sql/internal_test.go
  pkg/sql/run_control_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

docs: clarify that the sources must be checked out inside the GOPATH
  CONTRIBUTING.md
Owners: none

storage/engine: extract an MVCCGetOptions struct
  pkg/storage/abortspan/abortspan.go
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/batcheval/cmd_subsume.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
  pkg/storage/client_test.go
  pkg/storage/engine/bench_test.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/engine_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/rocksdb_iter_stats_test.go
  pkg/storage/engine/rocksdb_test.go
  pkg/storage/gc_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/replica_test.go
  pkg/storage/spanset/batch.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs

storage/engine: change MVCCGet to return an intent pointer, not slice
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/batcheval/cmd_refresh.go
  pkg/storage/batcheval/cmd_subsume.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/replica.go
  pkg/storage/spanset/batch.go
Owners: @cockroachdb/core-prs

builder: upgrade to go1.10.7
  build/builder.sh
  build/builder/Dockerfile
Owners: @cockroachdb/build-prs

builder: upgrade to go1.10.7
  build/builder.sh
  build/builder/Dockerfile
Owners: @cockroachdb/build-prs

roachtest: make the listBench global into a local
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/main.go
Owners: none

roachtest: make the listBench global into a local
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/main.go
Owners: none

opt: Update metadata files
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_column.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

opt: Update metadata files
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_column.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

opt: Refactor Metadata classes
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/constraint_builder.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/format.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/memo_format.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Refactor Metadata classes
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/constraint_builder.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/format.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/memo_format.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Improve dependency checking
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/metadata.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Improve dependency checking
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/metadata.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachtest: add support for testSpec.Tags
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/main.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
Owners: none

roachtest: add support for testSpec.Tags
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/main.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
Owners: none

roachtest: print a warning if no tests are selected to run
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
Owners: none

roachtest: print a warning if no tests are selected to run
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
Owners: none

sql,roachpb: improve BatchResponse.combine
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

opt: Improve formatting when aliases are present
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/interner_test.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/having
  pkg/sql/opt/optbuilder/testdata/inner-join
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/project
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/virtual-scan
  pkg/sql/opt/props/physical/required.go
  pkg/sql/opt/props/physical/required_test.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/opt/xform/testdata/external/activerecord
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgadmin
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/plan.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Improve formatting when aliases are present
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/memo/interner_test.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/having
  pkg/sql/opt/optbuilder/testdata/inner-join
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/project
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/virtual-scan
  pkg/sql/opt/props/physical/required.go
  pkg/sql/opt/props/physical/required_test.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/opt/xform/testdata/external/activerecord
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgadmin
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/plan.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: disable some index schemachange tests
  pkg/cmd/roachtest/schemachange.go
Owners: none

roachtest: disable some index schemachange tests
  pkg/cmd/roachtest/schemachange.go
Owners: none

pgwire: detect, log, and immediately close any cancel requests
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: detect, log, and immediately close any cancel requests
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

storage: write at provisional commit ts, not orig ts
  pkg/roachpb/batch.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/sql/upsert_test.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_logical_ops_test.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: Use HAProxy for non-local graceful draining test
  pkg/cmd/roachtest/kv.go
Owners: none

[wip] storage/engine: never delete MVCC metadata keys
  c-deps/libroach/mvcc.cc
  c-deps/libroach/mvcc.h
  pkg/ccl/storageccl/engineccl/mvcc.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-bulk-prs

sql: always use typed expressions for shift on int
  pkg/sql/logictest/testdata/logic_test/shift
  pkg/sql/sem/tree/constant.go
  pkg/sql/sem/tree/constant_test.go
  pkg/sql/sem/tree/eval.go
Owners: @cockroachdb/sql-rest-prs

sql: always use typed expressions for shift on int
  pkg/sql/logictest/testdata/logic_test/shift
  pkg/sql/sem/tree/constant.go
  pkg/sql/sem/tree/constant_test.go
  pkg/sql/sem/tree/eval.go
Owners: @cockroachdb/sql-rest-prs

pgwire: test \u0001 in JSON pgwire encoding
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

pgwire: test \u0001 in JSON pgwire encoding
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

storage: use correct threshold for in liveness status
  pkg/storage/node_liveness.go
Owners: @cockroachdb/core-prs

Bump etcd/raft
  Gopkg.lock
Owners: @cockroachdb/build-prs

config: Remove an unnecessary static split
  pkg/cli/cli_test.go
  pkg/config/system.go
  pkg/config/system_test.go
  pkg/server/admin_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

sql: run show cluster setting in a restartable txn
  pkg/sql/show_cluster_setting.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: adopt new raft MaxCommittedSizePerReady config parameter
  pkg/base/config.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: fix TestApplyPaginatedCommittedEntries, use MaxCommittedSizePerReady
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

config: Remove an unnecessary static split
  pkg/cli/cli_test.go
  pkg/config/system.go
  pkg/config/system_test.go
  pkg/server/admin_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs
