Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

roachtest: get dmesg on failed runs
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/test.go
Owners: none

util: fix NoCopy on go1.11 and later
  pkg/base/node_id.go
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/expr.go
  pkg/sql/join_predicate.go
  pkg/sql/pgwire/write_buffer.go
  pkg/sql/render.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/row_container.go
  pkg/sql/upsert.go
  pkg/util/nocopy.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

util: fix NoCopy on go1.11 and later
  pkg/base/node_id.go
  pkg/sql/conn_executor.go
  pkg/sql/distsqlrun/expr.go
  pkg/sql/join_predicate.go
  pkg/sql/pgwire/write_buffer.go
  pkg/sql/render.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/row_container.go
  pkg/sql/upsert.go
  pkg/util/nocopy.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

opt: add ids to expressions
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/operator.go
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/exprs
  pkg/sql/opt/xform/testdata/rules/groupby
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

opt: add ids to expressions
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/operator.go
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/exprs
  pkg/sql/opt/xform/testdata/rules/groupby
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

opt: sort entries in a filter list
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
Owners: @cockroachdb/sql-opt-prs

opt: sort entries in a filter list
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/join.opt
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/optgen/cmd/optgen/exprs_gen.go
Owners: @cockroachdb/sql-opt-prs

opt: add reorder joins flag
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: add reorder joins flag
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: reorder joins (off by default)
  pkg/sql/exec_util.go
  pkg/sql/opt/exec/execbuilder/testdata/join_order
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

opt: reorder joins (off by default)
  pkg/sql/exec_util.go
  pkg/sql/opt/exec/execbuilder/testdata/join_order
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

sql: use time-based sampling for logical plans
  docs/generated/settings/settings.html
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: fix errant log message caused by load-based splitting
  pkg/storage/split/decider.go
  pkg/storage/split/decider_test.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/utils_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: trim backpressurable request methods
  pkg/storage/replica_backpressure.go
Owners: @cockroachdb/core-prs

storage: helpful error when split fails due to mono-row range
  pkg/storage/replica_backpressure.go
Owners: @cockroachdb/core-prs

tree: use fixed seed in BenchmarkFormatRandomStatements
  pkg/sql/sem/tree/format_test.go
Owners: @cockroachdb/sql-rest-prs

lex: speed up isReservedKeyword
  pkg/sql/lex/predicates.go
Owners: @cockroachdb/sql-rest-prs

tree: use fixed seed in BenchmarkFormatRandomStatements
  pkg/sql/sem/tree/format_test.go
Owners: @cockroachdb/sql-rest-prs

lex: speed up isReservedKeyword
  pkg/sql/lex/predicates.go
Owners: @cockroachdb/sql-rest-prs

storage: skip TestShowTraceReplica
  pkg/sql/show_trace_replica_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: skip TestShowTraceReplica
  pkg/sql/show_trace_replica_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: don't recheck CanCreateTxnRecord on txn epoch bump
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: don't recheck CanCreateTxnRecord on txn epoch bump
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

querybench: upgrade 2.1-sql-20 for new tpch schema
  pkg/workload/querybench/2.1-sql-20
Owners: none

querybench: upgrade 2.1-sql-20 for new tpch schema
  pkg/workload/querybench/2.1-sql-20
Owners: none

opt: improve memo dependency staleness check
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/cat/object.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/sem/tree/table_name.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: improve memo dependency staleness check
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/cat/object.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/sem/tree/table_name.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

refactor nanos. will be squashed into first commit before merging.
  pkg/internal/rsg/rsg.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/interval.go
  pkg/sql/sem/tree/interval_test.go
  pkg/sql/sqlbase/testutils.go
  pkg/util/duration/duration.go
  pkg/util/duration/duration_test.go
  pkg/util/encoding/encoding.go
  pkg/util/encoding/encoding_test.go
  pkg/util/timeofday/time_of_day.go
  pkg/util/timeofday/time_of_day_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

intentresolver: adopt Batcher for GCRequests
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
  pkg/util/batcher/batcher.go
  pkg/util/batcher/batcher_test.go
Owners: @cockroachdb/core-prs

util/batcher: create library for batching requests based on range ID
  pkg/util/batcher/batcher.go
  pkg/util/batcher/batcher_test.go
Owners: none

publish-provisional-artifacts: add tests
  pkg/cmd/publish-provisional-artifacts/main.go
  pkg/cmd/publish-provisional-artifacts/main_test.go
Owners: none

publish-provisional-artifacts: don't build the archive during -bless
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: none

publish-provisional-artifacts: don't build the archive during -bless
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: none

publish-provisional-artifacts: add tests
  pkg/cmd/publish-provisional-artifacts/main.go
  pkg/cmd/publish-provisional-artifacts/main_test.go
Owners: none

internal/rsg: use the common rand datum creator instead of our own
  pkg/internal/rsg/rsg.go
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

internal/rsg: use the common rand datum creator instead of our own
  pkg/internal/rsg/rsg.go
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/disk_row_container.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/routers.go
  pkg/sql/distsqlrun/row_container.go
  pkg/sql/distsqlrun/row_container_test.go
  pkg/sql/distsqlrun/sorter.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: validate check constraints with the schema changer
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/check.go
  pkg/sql/crdb_internal.go
  pkg/sql/create_table.go
  pkg/sql/distsql_plan_backfill.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/checkbackfiller.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/opt_catalog.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs
