Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

changefeedccl: skip flaky TestValidations/rangefeed/bank
  pkg/ccl/changefeedccl/validations_test.go
Owners: @cockroachdb/sql-ccl-prs

exec: add sorter
  Makefile
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: template quicksort
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

execgen: remove empty comments from *.eg.go
  pkg/sql/exec/execgen/cmd/execgen/main.go
Owners: @cockroachdb/sql-rest-prs

exec: plan single-column ascending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

RFC: Lazy Transaction Record Creation
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20181209_lazy_txn_record_creation.md
Owners: @cockroachdb/rfc-prs

exec: add support for descending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: execute and plan multi-col asc sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/bool_vec_to_sel.go
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/row: Implement MATCH SIMPLE for composite FK matching
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql/row: Implement MATCH SIMPLE for composite FK matching
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

[WIP] storage/engine: propertly support batches containing only LogData
  pkg/storage/engine/batch.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

sql: Add default_int_size to control INT and SERIAL aliases.
  docs/generated/settings/settings.html
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/int_size
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

exec: use distsqlpb.Aggregator_Spec_Func directly
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add any not null aggregate
  Makefile
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/any_not_null_agg_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/any_not_null_agg_gen.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: add count(*) agg
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/count_agg.go
Owners: @cockroachdb/sql-rest-prs

exec: bugfix in aggregation planning
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add arithmetic ops with const on left
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/execgen/cmd/execgen/projection_ops_gen.go
  pkg/sql/exec/projection_ops_test.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: bugfix to projection batch
  pkg/sql/exec/colbatch.go
  pkg/sql/exec/execgen/cmd/execgen/projection_ops_gen.go
Owners: @cockroachdb/sql-rest-prs

exec: bugfix to projection batch
  pkg/sql/exec/colbatch.go
  pkg/sql/exec/execgen/cmd/execgen/projection_ops_gen.go
Owners: @cockroachdb/sql-rest-prs

sql: separate mutations by element and state
  pkg/sql/distsqlrun/colbatch_scan.go
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/insert.go
  pkg/sql/row/writer.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/default_exprs.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: separate mutations by element and state
  pkg/sql/distsqlrun/colbatch_scan.go
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/insert.go
  pkg/sql/row/writer.go
  pkg/sql/scan.go
  pkg/sql/sqlbase/default_exprs.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

opt: query cache prototype
  docs/generated/settings/settings.html
  pkg/server/config.go
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/plan.go
  pkg/sql/plan_test.go
  pkg/sql/planner.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/querycache/query_cache_test.go
  pkg/workload/connection.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

opt: query cache prototype
  docs/generated/settings/settings.html
  pkg/server/config.go
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/plan.go
  pkg/sql/plan_test.go
  pkg/sql/planner.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/querycache/query_cache_test.go
  pkg/workload/connection.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

pgwire: support hba.conf auth configuration
  docs/generated/settings/settings.html
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/Makefile
  pkg/sql/pgwire/hba/conf.go
  pkg/sql/pgwire/hba/conf.rl
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/hba_test.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs, @cockroachdb/build-prs

pgwire: support hba.conf auth configuration
  docs/generated/settings/settings.html
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/Makefile
  pkg/sql/pgwire/hba/conf.go
  pkg/sql/pgwire/hba/conf.rl
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/hba_test.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs, @cockroachdb/build-prs

exec: deduplicate distinct inner loop
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/distinct_gen.go
Owners: @cockroachdb/sql-rest-prs

exec: deduplicate distinct inner loop
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/distinct_gen.go
Owners: @cockroachdb/sql-rest-prs

sql: fix comments on Comments table migration
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

sql: fix comments on Comments table migration
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

server: remove unncecessary WaitForInitialSplits() from test
  pkg/server/updates_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: remove unncecessary WaitForInitialSplits() from test
  pkg/server/updates_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

Update misc dependencies
  Gopkg.lock
  pkg/keys/printer.go
  pkg/server/debug/pprofui/fakeflags.go
  pkg/testutils/lint/testdata/errcheck_excludes.txt
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

Update misc dependencies
  Gopkg.lock
  pkg/keys/printer.go
  pkg/server/debug/pprofui/fakeflags.go
  pkg/testutils/lint/testdata/errcheck_excludes.txt
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

server: remove unncecessary WaitForInitialSplits() from TestAuthenticationAPIUserLogin
  pkg/server/authentication_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: remove unncecessary WaitForInitialSplits() from TestAuthenticationAPIUserLogin
  pkg/server/authentication_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

cli: fix version checks, update hashicorp/go-version
  Gopkg.lock
  pkg/cli/dump.go
  pkg/cli/sql_util.go
  pkg/cli/user.go
  pkg/cli/zone.go
  pkg/cmd/roachprod/install/cockroach.go
Owners: @cockroachdb/build-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs

opt: add support for IFERROR/ISERROR
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/testdata/rules/side_effects
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optbuilder/testdata/scalar
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/testdata/eval/conditional
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

build/kubernetes: update to v2.1.2
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

build/kubernetes: update to v2.1.2
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/client-secure.yaml
  cloud/kubernetes/v1.6/cluster-init-secure.yaml
  cloud/kubernetes/v1.6/cluster-init.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/client-secure.yaml
  cloud/kubernetes/v1.7/cluster-init-secure.yaml
  cloud/kubernetes/v1.7/cluster-init.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

sql: Add support for composite key MATCH FULL
  docs/generated/sql/bnf/col_qualification.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  docs/generated/sql/bnf/table_constraint.bnf
  pkg/sql/create_table.go
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/opt/catalog.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt_catalog.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
  pkg/sql/sem/tree/create.go
  pkg/sql/show_create.go
  pkg/sql/show_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-async-prs
