Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql: fix the lifetime of portals
  pkg/internal/client/sender.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/internal.go
  pkg/sql/prepared_stmt.go
  pkg/sql/txn_state.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix the lifetime of portals
  pkg/internal/client/sender.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/internal.go
  pkg/sql/prepared_stmt.go
  pkg/sql/txn_state.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: remove re-evaluations of requests after a snapshot is applied
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: remove re-evaluations of requests after a snapshot is applied
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: refactor ambiguous errors
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: refactor ambiguous errors
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: update comments on a test
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

sql: add more fine grained progress report for schema change
  pkg/sql/backfill.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: fix schema change cancel test
  pkg/cmd/roachtest/schemachange.go
Owners: none

sql/lex: move all_keywords.go to a tagged file
  Makefile
  pkg/sql/lex/all_keywords.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

sql/lex: move all_keywords.go to a tagged file
  Makefile
  pkg/sql/lex/all_keywords.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

distsqlrun: fix lookup join order preservation
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

distsqlrun: fix lookup join order preservation
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

storage/rangefeed: per registration buffer
  pkg/storage/rangefeed/processor.go
  pkg/storage/rangefeed/processor_test.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
  pkg/storage/rangefeed/task.go
  pkg/storage/rangefeed/task_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

rangefeed: Proper ordering for catchup scan
  pkg/ccl/changefeedccl/validations_test.go
  pkg/ccl/changefeedccl/validator.go
  pkg/storage/rangefeed/processor_test.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

roachtest: add more exceptions to bank/zerosum-restart
  pkg/cmd/roachtest/bank.go
Owners: none

storage: extract replica gossip helpers
  pkg/storage/replica.go
  pkg/storage/replica_gossip.go
Owners: @cockroachdb/core-prs

storage: extract metrics-related code
  pkg/storage/replica.go
  pkg/storage/replica_closedts.go
  pkg/storage/replica_metrics.go
Owners: @cockroachdb/core-prs

storage: extract closedts code from replica
  pkg/storage/replica.go
  pkg/storage/replica_closedts.go
Owners: @cockroachdb/core-prs

storage: move raft processing into own file
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: move ReplicaChecksum
  pkg/storage/replica.go
  pkg/storage/replica_consistency.go
Owners: @cockroachdb/core-prs

builder: upgrade to go1.11.4
  build/bootstrap/bootstrap-debian.sh
  build/builder.sh
  build/builder/Dockerfile
  build/go-version-check.sh
Owners: @cockroachdb/build-prs

builder: upgrade to go1.11.4
  build/bootstrap/bootstrap-debian.sh
  build/builder.sh
  build/builder/Dockerfile
  build/go-version-check.sh
Owners: @cockroachdb/build-prs

roachtest: load build version for bench
  pkg/cmd/roachtest/main.go
Owners: none

rfc: node names
  docs/RFCS/20190114_node_names.md
Owners: @cockroachdb/rfc-prs

storage: raft and init movement
  pkg/storage/replica.go
  pkg/storage/replica_evaluate.go.go
  pkg/storage/replica_init.go
  pkg/storage/replica_write.go.go
Owners: @cockroachdb/core-prs

storage: move more Raft methods
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: more assorted code movement
  pkg/storage/replica.go
  pkg/storage/replica_corruption.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_metrics.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_split_load.go
Owners: @cockroachdb/core-prs

storage: move processRaftCommand
  pkg/storage/replica_raft.go
  pkg/storage/replica_raft.go.go
Owners: @cockroachdb/core-prs

storage: optimize order in replica.go
  pkg/storage/replica.go
  pkg/storage/replica_init.go
  pkg/storage/replica_proposal.go
Owners: @cockroachdb/core-prs

storage: move pendingCmdSlice
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: factor out quiescer methods
  pkg/storage/replica.go
  pkg/storage/replica_raft_quiesce.go
Owners: @cockroachdb/core-prs

storage: move methods next to receiver
  pkg/storage/replica.go
  pkg/storage/replica_destroy.go
Owners: @cockroachdb/core-prs

storage: separate files for read/write path
  pkg/storage/replica.go
  pkg/storage/replica.go.foo
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_read.go
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

storage: move lease acquisition code
  pkg/storage/replica.go
  pkg/storage/replica_range_lease.go.go
Owners: @cockroachdb/core-prs

storage: factor out replica quota and destroy methods
  pkg/storage/replica.go
  pkg/storage/replica_destroy.go
  pkg/storage/replica_proposal_quota.go
Owners: @cockroachdb/core-prs

sql: change QueryArguments map to a slice
  pkg/sql/conn_executor_prepare.go
  pkg/sql/sem/tree/placeholders.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: change QueryArguments map to a slice
  pkg/sql/conn_executor_prepare.go
  pkg/sql/sem/tree/placeholders.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

rpc: adopt logger in circuit breaker
  Gopkg.lock
  pkg/gossip/client_test.go
  pkg/gossip/gossip.go
  pkg/gossip/gossip_test.go
  pkg/rpc/breaker.go
  pkg/rpc/context.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

rpc: adopt logger in circuit breaker
  Gopkg.lock
  pkg/gossip/client_test.go
  pkg/gossip/gossip.go
  pkg/gossip/gossip_test.go
  pkg/rpc/breaker.go
  pkg/rpc/context.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
