Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql: ensure that internal executors have a valid application_name
  pkg/sql/conn_executor.go
  pkg/sql/internal_test.go
  pkg/sql/run_control_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add missing locking for txnState.mu.txn writes
  pkg/sql/txn_state.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: stub domain type info cols in information_schema.columns
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/vtable/information_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: skip TestInternalExecAppNameInitialization
  pkg/sql/internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: skip TestInternalExecAppNameInitialization
  pkg/sql/internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: write at provisional commit ts, not orig ts
  pkg/ccl/storageccl/engineccl/mvcc_test.go
  pkg/roachpb/batch.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/sql/upsert_test.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_logical_ops_test.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

ccl/changefeedccl: deflake TestChangefeedSchemaChangeAllowBackfill
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

exec: added null handling for hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

pgwire: change flushInfo.cmdStarts to a slice from a map
  pkg/sql/pgwire/conn.go
Owners: @cockroachdb/sql-wiring-prs

exec: added null handling for hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

roachtest: fix SCRUB tests
  pkg/cmd/roachtest/scrub.go
  pkg/testutils/sqlutils/scrub.go
Owners: none

closedts: fix bug ignoring zero MLIAs to stabilize roachtest cdc/rangefeed
  pkg/cmd/roachtest/cdc.go
  pkg/storage/closedts/minprop/tracker.go
  pkg/storage/closedts/minprop/tracker_test.go
  pkg/storage/closedts/storage/storage_mem.go
  pkg/storage/closedts/storage/storage_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

exec: null handling
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/exec/colvec.go
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/select
  pkg/sql/row/cfetcher.go
  pkg/sql/row/fetcherstate_string.go
Owners: @cockroachdb/sql-rest-prs

storage: deflake TestStoreRangeMergeSlowWatcher
  pkg/storage/client_merge_test.go
Owners: @cockroachdb/core-prs

opt: fix panic in CREATE STATISTICS for table with no columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: update pg_catalog.pg_am to support Postgres v9.5 and v9.6
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: added null handling for hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: added null handling for hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: added null handling for hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

sql: update pg_catalog.pg_am to support Postgres v9.5 and v9.6
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Plan zigzag joins on inverted indexes with 2 constraints
  pkg/sql/distsqlrun/zigzagjoiner.go
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

opt: Plan zigzag joins on inverted indexes with 2 constraints
  pkg/sql/distsqlrun/zigzagjoiner.go
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

roachpb, sql: move sensitive info in StatementStatistics into sub-message
  pkg/roachpb/api.pb.go
  pkg/roachpb/app_stats.go
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/crdb_internal.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: reduce impact of BACKUP on low-cpu machines
  docs/generated/settings/settings.html
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: reduce impact of BACKUP on low-cpu machines
  docs/generated/settings/settings.html
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

sql: refactor common logic for logical plans
  pkg/sql/app_stats.go
  pkg/sql/crdb_internal.go
  pkg/sql/explain_plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Tweak calculation of unapplied conjuncts for inv indexes
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

opt: Tweak calculation of unapplied conjuncts for inv indexes
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

storage: Add an assertion to help find #33016
  pkg/storage/replica.go
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/core-prs

storage: Add an assertion to help find #33016
  pkg/storage/replica.go
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/core-prs

exec: template hash joiner
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: template hash joiner
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

roachprod: disable diagnostics by default
  pkg/cmd/roachprod/install/cockroach.go
Owners: none

roachprod: disable diagnostics by default
  pkg/cmd/roachprod/install/cockroach.go
Owners: none

roachtest: use toxiproxy for network testing
  pkg/cmd/roachtest/network.go
  pkg/cmd/roachtest/registry.go
Owners: none

sql: update tablewriter_upsert to use a rowContainer
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: fix SCRUB test
  pkg/cmd/roachtest/scrub.go
Owners: none

storage: have sequenced reads use the intent history
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.h
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

distsqlrun: Fix zigzagjoin distsql plan in no-span case, add logictests
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/zigzag_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

distsqlrun: Fix zigzagjoin distsql plan in no-span case, add logictests
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/zigzag_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
