Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: remove the old VersionRaftLastIndex migration
  pkg/cli/debug.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/stateloader.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_split_test.go
  pkg/storage/client_test.go
  pkg/storage/consistency_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_consistency.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/initial_test.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/stats_test.go
  pkg/storage/store.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

storage: remove the old VersionRaftLastIndex migration
  pkg/cli/debug.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/stateloader.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_split_test.go
  pkg/storage/client_test.go
  pkg/storage/consistency_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_consistency.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/initial_test.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/stats_test.go
  pkg/storage/store.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

opt: Wrap NULL values when desired type is not types.Any
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/stats/upsert
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
Owners: @cockroachdb/sql-opt-prs

opt: Project merged Upsert columns
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/upsert
  pkg/sql/opt/memo/testdata/stats/upsert
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: workaround for flaky lookup_join test
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-opt-prs

opt: workaround for flaky lookup_join test
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-opt-prs

opt: Convert mutation operators to use set of return columns
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

gossip: add convenience methods for dealing with gossipping the cluster id
  pkg/gossip/gossip.go
  pkg/server/node.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: rework the initServer
  pkg/server/init.go
  pkg/server/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

cluster: bump BinaryMinimumSupportedVersion=Version2_1 from 2_0
  pkg/settings/cluster/cockroach_versions.go
Owners: none

storage: move the WriteInitialData() method out of Store
  pkg/server/node.go
  pkg/server/node_test.go
  pkg/settings/cluster/testutils.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/client_test.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: rename a param
  pkg/server/node.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sever,storage: minor refactorings around bootstrapping
  pkg/server/node.go
  pkg/storage/client_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: get rid of VersionRangeAppliedStateKey
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
Owners: @cockroachdb/core-prs

wip
  pkg/server/node.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: plumb a ctx to sotrate.NewStore()
  pkg/server/node.go
  pkg/storage/client_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_test.go
  pkg/storage/stores_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: remove an initStores() method
  pkg/server/node.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: remove unused code from bootstrapCluster
  pkg/server/node.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

pkg: remove an unused argument in bootstrapCluster()
  pkg/server/node.go
  pkg/server/node_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: refactor the grpc server
  pkg/server/grpc_server.go
  pkg/server/server.go
  pkg/server/status.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: rework the initServer
  pkg/server/init.go
  pkg/server/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

wip on moving init out of server
  pkg/server/config.go
  pkg/server/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: move the WriteInitialData() method out of Store
  pkg/server/node.go
  pkg/server/node_test.go
  pkg/settings/cluster/testutils.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/client_test.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

pkg: remove an unused argument in bootstrapCluster()
  pkg/server/node.go
  pkg/server/node_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

wip on moving init out of server
  pkg/server/config.go
  pkg/server/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: rename a param
  pkg/server/node.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: remove an initStores() method
  pkg/server/node.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

pkg: remove an unused argument in bootstrapCluster()
  pkg/server/node.go
  pkg/server/node_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sever,storage: minor refactorings around bootstrapping
  pkg/server/node.go
  pkg/storage/client_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

cluster: bump BinaryMinimumSupportedVersion=Version2_1 from 2_0
  pkg/settings/cluster/cockroach_versions.go
Owners: none

server: remove unused code from bootstrapCluster
  pkg/server/node.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: move the WriteInitialData() method out of Store
  pkg/server/node.go
  pkg/server/node_test.go
  pkg/settings/cluster/testutils.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/client_test.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
  pkg/storage/stateloader/stateloader.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: get rid of VersionRangeAppliedStateKey
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
Owners: @cockroachdb/core-prs

storage: plumb a ctx to storage.NewStore()
  pkg/server/node.go
  pkg/storage/client_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_test.go
  pkg/storage/stores_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: remove unused code
  pkg/server/testserver.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

gossip: add convenience methods for dealing with gossipping the cluster id
  pkg/gossip/gossip.go
  pkg/server/node.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

gossip: add convenience methods for dealing with gossipping the cluster id
  pkg/gossip/gossip.go
  pkg/server/node.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: fix leak of prepared statements
  pkg/sql/conn_executor.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: remove unused code
  pkg/server/testserver.go
  pkg/storage/client_replica_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: remove unused code
  pkg/server/testserver.go
  pkg/storage/client_replica_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
