Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

opt: restrict use of PREPARE AS OPT PLAN to root
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql,stats: collect stats on non-index columns too
  pkg/ccl/backupccl/backup_test.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/sql/stats/row_sampling.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

sql: allocate IDs after each command in ALTER TABLE
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/alter_table
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: allocate IDs after each command in ALTER TABLE
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/alter_table
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: set join limit default in opt tests
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/testutils/opttester/opt_tester.go
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/external/tpch-no-stats
  pkg/sql/opt/xform/testdata/rules/join_order
Owners: @cockroachdb/sql-opt-prs

sql,stats: collect stats on non-index columns too
  pkg/ccl/backupccl/backup_test.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/sql/stats/row_sampling.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

Makefile: don't build krb5 on musl
  Makefile
Owners: @cockroachdb/build-prs

sql: do not try to create stats on JSON columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: improve query cache benchmark
  pkg/sql/plan_opt_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: improve query cache benchmark
  pkg/sql/plan_opt_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: support SHOW SEQUENCES
  docs/generated/sql/bnf/show_sequences.bnf
  docs/generated/sql/bnf/show_var.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/sql/logictest/testdata/logic_test/sequences
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_sequences.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: vectorized merge join operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

distsqlrun: add throttling to automatic stats
  docs/generated/settings/settings.html
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

sql: don't reinitialize the entire planner and evalcontext every time
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/distsql_running.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

Makefile: don't build krb5 on musl
  Makefile
Owners: @cockroachdb/build-prs

Makefile: don't build krb5 on musl
  Makefile
Owners: @cockroachdb/build-prs

sql: support SHOW SEQUENCES
  docs/generated/sql/bnf/show_sequences.bnf
  docs/generated/sql/bnf/show_var.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/sql/logictest/testdata/logic_test/sequences
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/parser/help_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_sequences.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: support SHOW SEQUENCES
  docs/generated/sql/bnf/show_sequences.bnf
  docs/generated/sql/bnf/show_var.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/docgen/diagrams.go
  pkg/sql/logictest/testdata/logic_test/sequences
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/parser/help_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/plan.go
  pkg/sql/sem/tree/show.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_sequences.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: add an ignore list to psycopg
  pkg/cmd/roachtest/hibernate.go
  pkg/cmd/roachtest/psycopg.go
  pkg/cmd/roachtest/psycopg_blacklist.go
Owners: none

storage: return non-truncated bytes sideloaded.TruncateTo
  pkg/storage/replica_proposal.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/core-prs

storage: allow recomputing Raft log size
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/helpers_test.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: use ComputeRaftLogSize in more tests
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: move TestTruncateLog
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: recompute raft log size in Raft log queue when zero
  pkg/storage/client_replica_gc_test.go
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

contextutil: RunWithTimeout preserves cause
  pkg/util/contextutil/context.go
  pkg/util/contextutil/context_test.go
Owners: none

contextutil: RunWithTimeout preserves cause
  pkg/util/contextutil/context.go
  pkg/util/contextutil/context_test.go
Owners: none

storage: various raft log size recomputation clarifications
  pkg/storage/client_raft_test.go
  pkg/storage/helpers_test.go
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: add comments to diskSideloadStorage's methods
  pkg/storage/replica_sideload_disk.go
Owners: @cockroachdb/core-prs

distsqlrun: add throttling to automatic stats
  docs/generated/settings/settings.html
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

distsqlrun: add throttling to automatic stats
  docs/generated/settings/settings.html
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

exec: extract spooling phase of sorter into a separate operator
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/sql-rest-prs

exec: extract spooling phase of sorter into a separate operator
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/sql-rest-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/deselector.go
  pkg/sql/exec/deselector_test.go
  pkg/sql/exec/execgen/cmd/execgen/tuple_differentiator_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_chunks.go
  pkg/sql/exec/sort_chunks_test.go
  pkg/sql/exec/tuples_differ_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

Makefile: add a gss go build tag
  Makefile
  pkg/ccl/gssapiccl/gssapi.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs

Makefile: add a gss go build tag
  Makefile
  pkg/ccl/gssapiccl/gssapi.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs

pErr->err binge
  pkg/internal/client/batch.go
  pkg/internal/client/db.go
  pkg/internal/client/range_lookup.go
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/internal/clientbase/clientbase.go
  pkg/kv/dist_sender.go
  pkg/kv/txn_coord_sender.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/pgwire/conn.go
  pkg/sql/row/cascader.go
  pkg/sql/row/errors.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/merge_queue.go
  pkg/storage/replica_command.go
  pkg/storage/replica_consistency.go
  pkg/storage/replica_rangefeed.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

kv, client: rationalize error handling and rollback
  pkg/internal/client/db.go
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/internal/clientbase/clientbase.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/kv/txnstate_string.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/distsql_running.go
Owners: @cockroachdb/core-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs

ErrWithIndex
  pkg/internal/client/batch.go
  pkg/internal/client/db.go
  pkg/internal/client/range_lookup.go
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/kv/dist_sender.go
  pkg/kv/txn_coord_sender.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsqlrun/indexbackfiller.go
  pkg/sql/row/cascader.go
  pkg/sql/row/errors.go
  pkg/sql/row/fk_existence_batch.go
  pkg/sql/row/kv_batch_fetcher.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

engine: defer compactions while ingesting SSTs
  c-deps/libroach/db.cc
  c-deps/libroach/engine.cc
  c-deps/libroach/include/libroach.h
  pkg/sql/alter_table.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

teamcity: disable musl builds
  pkg/cmd/publish-artifacts/main.go
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
