Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv

cli: support user defined schemas in cockroach dump
  pkg/cli/dump.go
  pkg/cli/dump_test.go
  pkg/cli/testdata/dump/comments
  pkg/cli/testdata/dump/computed
  pkg/cli/testdata/dump/enums
  pkg/cli/testdata/dump/flags
  pkg/cli/testdata/dump/identifiers
  pkg/cli/testdata/dump/interleave_index
  pkg/cli/testdata/dump/inverted_index
  pkg/cli/testdata/dump/multiple
  pkg/cli/testdata/dump/primary_key
  pkg/cli/testdata/dump/reference_cycle
  pkg/cli/testdata/dump/reference_order
  pkg/cli/testdata/dump/reference_self
  pkg/cli/testdata/dump/row
  pkg/cli/testdata/dump/schemas
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/create_statements
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/show_create
  pkg/sql/logictest/testdata/logic_test/temp_table
  pkg/sql/opt/exec/execbuilder/testdata/information_schema
  pkg/sql/opt/memo/testdata/logprops/virtual-scan
  pkg/sql/opt/optbuilder/testdata/delegate
  pkg/sql/opt/xform/testdata/coster/virtual-scan
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/pg_catalog.go
  pkg/sql/resolver.go
  pkg/sql/show_create.go
  pkg/sql/show_create_clauses.go
  pkg/sql/vtable/information_schema.go
Owners: @cockroachdb/bulk-io, @cockroachdb/cli-prs, @cockroachdb/sql-optimizer

physicalplan: narrow the information exposed by a RangeIterator
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/roachpb/errors.go
  pkg/sql/physicalplan/replicaoracle/oracle.go
  pkg/sql/physicalplan/replicaoracle/oracle_test.go
  pkg/sql/physicalplan/span_resolver.go
Owners: @cockroachdb/kv

physicalplan: narrow the information exposed by a RangeIterator
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/roachpb/errors.go
  pkg/sql/physicalplan/replicaoracle/oracle.go
  pkg/sql/physicalplan/replicaoracle/oracle_test.go
  pkg/sql/physicalplan/span_resolver.go
Owners: @cockroachdb/kv

kvclient: handle speculative descriptors in the range cache better
  pkg/ccl/kvccl/kvfollowerreadsccl/followerreads_test.go
  pkg/kv/bulk/sst_batcher.go
  pkg/kv/bulk/sst_batcher_test.go
  pkg/kv/kvbase/range_cache.go
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/dist_sender_test.go
  pkg/kv/kvclient/kvcoord/range_cache.go
  pkg/kv/kvclient/kvcoord/range_cache_test.go
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/kv/kvserver/intentresolver/intent_resolver.go
  pkg/roachpb/data.go
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/execinfra/readerbase.go
Owners: @cockroachdb/kv

roachpb: add a comment to NotLeaseholderError
  pkg/roachpb/data.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: none

roachpb: add a comment to NotLeaseholderError
  pkg/roachpb/data.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: none

kvcoord: remove RangeIterator.Lease()
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/range_iter.go
Owners: @cockroachdb/kv

kvcoord: remove RangeIterator.Lease()
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/range_iter.go
Owners: @cockroachdb/kv

kvclient: handle speculative descriptors in the range cache better
  pkg/ccl/kvccl/kvfollowerreadsccl/followerreads_test.go
  pkg/kv/bulk/sst_batcher.go
  pkg/kv/bulk/sst_batcher_test.go
  pkg/kv/kvbase/range_cache.go
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/dist_sender_test.go
  pkg/kv/kvclient/kvcoord/range_cache.go
  pkg/kv/kvclient/kvcoord/range_cache_test.go
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/kv/kvserver/intentresolver/intent_resolver.go
  pkg/roachpb/data.go
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/execinfra/readerbase.go
Owners: @cockroachdb/kv

engine: set the MVCC timestamp on reads due to historical intents
  c-deps/libroach/mvcc.h
  pkg/storage/pebble_mvcc_scanner.go
  pkg/storage/testdata/mvcc_histories/ignored_seq_nums
  pkg/storage/testdata/mvcc_histories/max_keys
  pkg/storage/testdata/mvcc_histories/target_bytes
Owners: none

sql: drop the "experimental" in experimental_follower_read_timestamp
  docs/generated/sql/functions.md
  pkg/ccl/kvccl/kvfollowerreadsccl/followerreads_test.go
  pkg/ccl/logictestccl/testdata/logic_test/as_of
  pkg/cmd/roachtest/follower_reads.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/as_of.go
Owners: none

roachtest: adjust duration for local test
  pkg/cmd/roachtest/kv.go
Owners: none

sql: support ALTER TYPE SET SCHEMA command
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/set_schema
  pkg/sql/rename_table.go
  pkg/sql/set_schema.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/type_desc.go
Owners: none

acceptance: unflake Elixir tests
  pkg/acceptance/adapter_test.go
  pkg/acceptance/testdata/Dockerfile
  pkg/acceptance/util_docker.go
Owners: none

sql: remove runParams from AlterType startExec functions
  pkg/sql/alter_type.go
Owners: none

kvserver: improve a test
  pkg/kv/kvserver/store_test.go
Owners: @cockroachdb/kv

Updated language to remove hostname from `join-token` Stubbed out region for k8s notes
  docs/RFCS/20200722_certificate_free_secure_setup.md
Owners: @cockroachdb/rfc-prs

kvserver: return more range information after a split
  pkg/kv/kvserver/client_replica_test.go
  pkg/kv/kvserver/replica_send.go
  pkg/kv/kvserver/store.go
  pkg/kv/kvserver/store_send.go
  pkg/kv/kvserver/store_test.go
  pkg/server/testserver.go
  pkg/testutils/serverutils/test_server_shim.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/kv

ts: better error message for bad query
  pkg/ts/timespan.go
Owners: none

keys: remove TODO on SystemConfigSpan
  pkg/keys/spans.go
Owners: none

keys: remove TODO on SystemConfigSpan
  pkg/keys/spans.go
Owners: none

kv: enable MaxSpanRequestKeys assertion for ResolveIntentRange in DistSender
  pkg/kv/kvclient/kvcoord/dist_sender.go
Owners: @cockroachdb/kv

kv: enable MaxSpanRequestKeys assertion for ResolveIntentRange in DistSender
  pkg/kv/kvclient/kvcoord/dist_sender.go
Owners: @cockroachdb/kv

importccl: support random() and gen_random_uuid() as default expression
  pkg/ccl/importccl/import_processor.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_base.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/sql/row/expr_walker.go
Owners: @cockroachdb/bulk-io

sql: improve SHOW TABLES to show row count
  pkg/cli/zip.go
  pkg/server/admin.go
  pkg/sql/crdb_internal.go
  pkg/sql/delegate/show_tables.go
  pkg/sql/logictest/testdata/logic_test/alter_table_mixed_19.2_20.1
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/drop_index
  pkg/sql/logictest/testdata/logic_test/drop_table
  pkg/sql/logictest/testdata/logic_test/drop_view
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/namespace
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/rename_database
  pkg/sql/logictest/testdata/logic_test/rename_table
  pkg/sql/logictest/testdata/logic_test/rename_view
  pkg/sql/logictest/testdata/logic_test/role
  pkg/sql/logictest/testdata/logic_test/save_table
  pkg/sql/logictest/testdata/logic_test/select_search_path
  pkg/sql/logictest/testdata/logic_test/set
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/sqlbase/constants.go
Owners: @cockroachdb/cli-prs

sql: tenants don't unsplit manually split ranges on DROP {TABLE,INDEX}
  pkg/sql/drop_index.go
  pkg/sql/drop_table.go
  pkg/sql/pgwire/testdata/pgtest/notice
Owners: none

sql: tenants don't unsplit manually split ranges on DROP {TABLE,INDEX}
  pkg/sql/drop_index.go
  pkg/sql/drop_table.go
  pkg/sql/pgwire/testdata/pgtest/notice
Owners: none

keys: create SpanAddr utility
  pkg/keys/keys.go
  pkg/keys/keys_test.go
  pkg/kv/kvclient/kvcoord/dist_sender_rangefeed.go
  pkg/kv/kvserver/replica_rangefeed.go
  pkg/server/admin.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/execinfra/readerbase.go
  pkg/sql/physicalplan/span_resolver.go
Owners: @cockroachdb/kv

keys: create SpanAddr utility
  pkg/keys/keys.go
  pkg/keys/keys_test.go
  pkg/kv/kvclient/kvcoord/dist_sender_rangefeed.go
  pkg/kv/kvserver/replica_rangefeed.go
  pkg/server/admin.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/execinfra/readerbase.go
  pkg/sql/physicalplan/span_resolver.go
Owners: @cockroachdb/kv

rpc: implement tenant access control policies at KV RPC boundary
  pkg/ccl/kvccl/kvtenantccl/proxy.go
  pkg/roachpb/tenant.go
  pkg/rpc/auth.go
  pkg/rpc/auth_tenant.go
  pkg/rpc/auth_test.go
  pkg/rpc/context.go
Owners: none

rpc: implement tenant access control policies at KV RPC boundary
  pkg/ccl/kvccl/kvtenantccl/proxy.go
  pkg/roachpb/tenant.go
  pkg/rpc/auth.go
  pkg/rpc/auth_tenant.go
  pkg/rpc/auth_test.go
  pkg/rpc/context.go
Owners: none

rpc: restructure requireSuperUser, avoid possible bug
  pkg/rpc/auth.go
Owners: none

rpc: restructure requireSuperUser, avoid possible bug
  pkg/rpc/auth.go
Owners: none

[WIP] rfc: Consistent Read Replicas
  docs/RFCS/20190819_consistent_read_replicas.md
Owners: @cockroachdb/rfc-prs

backupccl: create type schema change jobs for restored types
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/restore_schema_change_creation.go
  pkg/sql/sqlbase/type_desc.go
  pkg/sql/type_change.go
Owners: @cockroachdb/bulk-io

backupccl: create type schema change jobs for restored types
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/restore_schema_change_creation.go
  pkg/sql/sqlbase/type_desc.go
  pkg/sql/type_change.go
Owners: @cockroachdb/bulk-io

jobs: Let schedules jobs know when the job completes.
  pkg/ccl/backupccl/schedule_exec.go
  pkg/jobs/executor_impl.go
  pkg/jobs/executor_impl_test.go
  pkg/jobs/job_scheduler_test.go
  pkg/jobs/jobs.go
  pkg/jobs/scheduled_job_executor.go
  pkg/jobs/scheduled_job_executor_test.go
Owners: @cockroachdb/bulk-io

coldata: minor tweak of flat bytes
  pkg/col/coldata/bytes.go
Owners: none

cmd/docgen: add HTTP extractor
  Makefile
  docs/generated/http/full.md
  docs/generated/http/hotranges.md
  go.mod
  go.sum
  pkg/cmd/docgen/http.go
  pkg/cmd/docgen/main.go
  pkg/cmd/import-tools/main.go
Owners: none

cmd/docgen: add HTTP extractor
  Makefile
  docs/generated/http/full.md
  docs/generated/http/hotranges.md
  go.mod
  go.sum
  pkg/cmd/docgen/http.go
  pkg/cmd/docgen/main.go
  pkg/cmd/import-tools/main.go
Owners: none
