Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql: proprely record stmt stats for client-specified app names
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: proprely record stmt stats for client-specified app names
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: remove MetadataSchema.AddConfigDescriptor
  pkg/sql/sqlbase/metadata.go
  pkg/sql/sqlbase/system.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: remove MetadataSchema.AddConfigDescriptor
  pkg/sql/sqlbase/metadata.go
  pkg/sql/sqlbase/system.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

testcluster: Also wait for all nodes to start
  pkg/storage/store.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/core-prs

testcluster: Also wait for all nodes to start
  pkg/storage/store.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/core-prs

wip
  pkg/storage/allocator_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

more wip
  pkg/storage/client_test.go
Owners: @cockroachdb/core-prs

wip
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

storage: de-flake TestStoreRangeRemoveDead
  pkg/storage/allocator_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/client_test.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
Owners: @cockroachdb/core-prs

wip
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

more wip
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

ok.. getting there
  pkg/storage/client_raft_test.go
  pkg/storage/client_test.go
Owners: @cockroachdb/core-prs

eureka
  pkg/storage/client_raft_test.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

storage: de-flake TestStoreRangeRemoveDead
  pkg/storage/client_raft_test.go
  pkg/storage/client_test.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
Owners: @cockroachdb/core-prs

storage: de-flake TestStoreRangeRemoveDead
  pkg/storage/client_raft_test.go
  pkg/storage/client_test.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
Owners: @cockroachdb/core-prs

testutils: add ExpectErr to SQLRunner
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/partitionccl/partition_test.go
  pkg/server/settingsworker_test.go
  pkg/sql/partition_test.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

testutils: add ExpectErr to SQLRunner
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/partitionccl/partition_test.go
  pkg/server/settingsworker_test.go
  pkg/sql/partition_test.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: allow preemptive snapshots on empty replica with replicaID (again)
  pkg/storage/client_merge_test.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: allow preemptive snapshots on empty replica with replicaID (again)
  pkg/storage/client_merge_test.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

storage: smarten logic to wait for split trigger
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/raft.pb.go
  pkg/storage/raft.proto
  pkg/storage/replica.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_trigger_helper.go
  pkg/storage/split_trigger_helper_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: de-flake TestNodeLivenessStatusMap
  pkg/storage/node_liveness_test.go
Owners: @cockroachdb/core-prs

storage: de-flake TestNodeLivenessStatusMap
  pkg/storage/node_liveness_test.go
Owners: @cockroachdb/core-prs

uuid: excise support for UUID V2 from util/uuid
  pkg/util/uuid/generator.go
  pkg/util/uuid/generator_test.go
  pkg/util/uuid/uuid.go
Owners: none

uuid: excise support for UUID V2 from util/uuid
  pkg/util/uuid/generator.go
  pkg/util/uuid/generator_test.go
  pkg/util/uuid/uuid.go
Owners: none

sqlutils: generalize SQLRunner
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/bench_test.go
  pkg/ccl/changefeedccl/bench_test.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/validator_test.go
  pkg/ccl/importccl/exportcsv_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/partitionccl/drop_test.go
  pkg/ccl/partitionccl/partition_test.go
  pkg/ccl/partitionccl/zone_test.go
  pkg/ccl/workloadccl/fixture_test.go
  pkg/ccl/workloadccl/workload_test.go
  pkg/jobs/jobs_test.go
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/distsql_plan_backfill_test.go
  pkg/sql/drop_test.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/partition_test.go
  pkg/sql/schemachange/alter_column_type_test.go
  pkg/sql/upsert_test.go
  pkg/sql/zone_test.go
  pkg/testutils/jobutils/jobs_verification.go
  pkg/testutils/sqlutils/sql_runner.go
  pkg/testutils/sqlutils/table_id.go
  pkg/workload/bank/bank_test.go
  pkg/workload/workload_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

changefeedccl: enable the RangeFeed version of more tests
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/validations_test.go
Owners: @cockroachdb/sql-ccl-prs

debug teamcity WIP
  pkg/sql/lease.go
Owners: @cockroachdb/sql-async-prs

workload/cli: stop including data-only generators in workload run
  pkg/cli/cli_test.go
  pkg/workload/cli/run.go
Owners: @cockroachdb/cli-prs

storage: don't clear lastTxnMeta on WriteIntentError to different key
  pkg/storage/intent_resolver.go
  pkg/storage/intent_resolver_test.go
Owners: @cockroachdb/core-prs

storage: don't clear lastTxnMeta on WriteIntentError to different key
  pkg/storage/intent_resolver.go
  pkg/storage/intent_resolver_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: address minor PR comments
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
Owners: @cockroachdb/core-prs

opt: Add expression and xform rule for secondary index zigzag joins
  pkg/sql/distsql_physical_planner.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan_physical_props.go
  pkg/sql/walk.go
  pkg/sql/zigzag_join.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-execution-prs

opt: Test changes for previous commit adding zigzag opt expr/xform rule.
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/stats
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/sql-opt-prs

parser: improve benchmark
  pkg/sql/parser/parse_test.go
Owners: @cockroachdb/sql-language-prs

parser: improve benchmark
  pkg/sql/parser/parse_test.go
Owners: @cockroachdb/sql-language-prs

parser: batch some allocations in the scanner
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

parser: batch some allocations in the scanner
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

ctxgroup: remove ctxgroup.Done
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/cli/dump.go
  pkg/util/ctxgroup/ctxgroup.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs

ctxgroup: remove ctxgroup.Done
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/cli/dump.go
  pkg/util/ctxgroup/ctxgroup.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs
