Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storage/spanlatch: s/cmd/latch/
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: rename storage/cmdq to storage/spanlatch
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/signal.go
  pkg/storage/spanlatch/signal_test.go
Owners: @cockroachdb/core-prs

storage: fix disappearing RHS merge bug
  pkg/storage/api.pb.go
  pkg/storage/api.proto
  pkg/storage/client_merge_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/replica_command.go
  pkg/storage/stores_server.go
Owners: @cockroachdb/core-prs

storage: fix GC of subsumed replicas
  pkg/storage/client_merge_test.go
  pkg/storage/queue.go
Owners: @cockroachdb/core-prs

[DNM/WIP] rangefeed - per registration buffer
  pkg/storage/rangefeed/processor.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/task.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

sql,server: fix the listing of sessions for admin/root users
  pkg/server/status.go
  pkg/sql/crdb_internal.go
  pkg/sql/pgwire/conn.go
  pkg/sql/show_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

cli/sql: make the final time printer more informative
  pkg/cli/format_table.go
  pkg/cli/gen.go
  pkg/cli/sql_util.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs

pgerror: add UnimplementedWithIssueDetailError and UnimplementedWithIssueHintError
  pkg/sql/pgwire/pgerror/errors.go
Owners: @cockroachdb/sql-wiring-prs

sql: reference #20305 for FK composite match specifications
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: introduce references to unimplemented #32005
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: reference #28161 for INSERT ON CONFLICT ON CONSTRAINT
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: detail the type for unsupported casts using "T() SCONST"
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: reference #32562 for SET LOCAL
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: reference #29639 for ALTER TABLE ADD CONSTRAINT CHECK ...
  pkg/sql/alter_table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: make ALTER CONSTRAINT reference #31632
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: reference #8855 for ALTER TABLE ... ADD CONSTRAINT ... REFERENCES
  pkg/sql/alter_table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

importccl: reference #32560, #32559 and #32561 for unimplemented types
  pkg/ccl/importccl/read_import_mysql.go
Owners: @cockroachdb/sql-bulk-prs

sql: reference #32555 for ALTER TABLE RENAME CONSTRAINT
  pkg/server/updates_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-language-prs

sql: reference #32563 for COLLATION FOR
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: reference #9851 for ALTER SET TYPE + detail conversion
  pkg/sql/alter_table.go
  pkg/sql/err_count_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: reference #20961 and #32567 during planning of sequence options
  pkg/sql/sequence.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: reference #32564 for INTERVAL with precision
  pkg/server/updates_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-language-prs

sql: reference #32098 and #32565 for time/timestamp with precision
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

engine: return ErrNotExist from DeleteFile on Windows
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

engine: return ErrNotExist from DeleteFile on Windows
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

engine: return ErrNotExist from DeleteFile on Windows
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

storage: delay split that would result in more snapshots
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

[wip] storage: work around Raft bug
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

fixup! delay split
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

[dnm] log all truncations
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

[wip] logging for long queue and processing phases
  pkg/storage/queue.go
  pkg/storage/queue_test.go
  pkg/storage/raft_snapshot_queue.go
Owners: @cockroachdb/core-prs

storage: improve split-snapshot warning
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

log: repeat header for multi-line messages
  pkg/util/log/clog.go
Owners: none

[dnm] hacky greppable Raft msg logging
  pkg/storage/raft.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

fixup! warning str
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

fixup! log props
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

backupccl: support to back up data to BOS , for case #32626
  Gopkg.lock
  pkg/ccl/storageccl/export_storage.go
  pkg/ccl/storageccl/export_storage_test.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
Owners: @cockroachdb/build-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs

fixup! handle RecentActive in split delaying
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

storage: log verbose Raft status when causing snapshot
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

fixup! unquiesce when proposing empty command
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs
