Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql: fix panic in insert on conflict do update
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: make function regex
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: make colvec_tmpl.go "compilable"
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: add the hashed aggregator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: outer join
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: outer join
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: make colvec_tmpl.go "compilable"
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: make colvec_tmpl.go "compilable"
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: make function regex
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: make function regex
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: add the hashed aggregator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

pgwire: fix binary decoding of decimal NaN and NULL in arrays
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
Owners: @cockroachdb/sql-wiring-prs

exec: add the hashed aggregator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: test for #33012
  pkg/sql/logictest/testdata/logic_test/insert
Owners: @cockroachdb/sql-rest-prs

roachtest: TolerateErrors in cdc/crdbChaos test
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: TolerateErrors in cdc/crdbChaos test
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: update hibernate blacklist
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

roachtest: update hibernate blacklist
  pkg/cmd/roachtest/hibernate_blacklist.go
Owners: none

roachtest: add rollback create index test
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: none

roachtest: add rollback create index test
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: none

opt: Minor cleanup of FixedCol list generation in zigzag custom func
  pkg/sql/opt/xform/custom_funcs.go
Owners: @cockroachdb/sql-opt-prs

opt: Minor cleanup of FixedCol list generation in zigzag custom func
  pkg/sql/opt/xform/custom_funcs.go
Owners: @cockroachdb/sql-opt-prs

storage: wrap sequential reads around a cluster version
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.cc
  c-deps/libroach/mvcc.h
  docs/generated/settings/settings.html
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_get.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

sql/opt: avoid swallowing TransactionAbortedErrors
  pkg/sql/internal_test.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/metadata.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

sql: fix the duplicate detection for INSERT ON CONFLICT DO NOTHING
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/sqlbase/index_encoding.go
  pkg/sql/tablewriter_upsert_strict.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

storage: clean up colocation of leaseholder and raft leader
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

roachprod: add flags to control EBS volume settings
  pkg/cmd/roachprod/vm/aws/aws.go
Owners: none

storage/engine: fix sstIterator error propagation
  pkg/storage/engine/sst_iterator.go
Owners: @cockroachdb/core-prs

storage/engine: fix sstIterator error propagation
  pkg/storage/engine/sst_iterator.go
Owners: @cockroachdb/core-prs

roachtest: add missing format directive
  pkg/cmd/roachtest/schemachange.go
Owners: none

roachtest: add missing format directive
  pkg/cmd/roachtest/schemachange.go
Owners: none

sql: add kv tracing to foreign key lookups
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
  pkg/sql/row/writer.go
  pkg/sql/show_trace.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add kv tracing to foreign key lookups
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
  pkg/sql/row/writer.go
  pkg/sql/show_trace.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: Remove tree.Datums return value from tableWriter.row method
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/insert.go
  pkg/sql/tablewriter.go
  pkg/sql/tablewriter_delete.go
  pkg/sql/tablewriter_insert.go
  pkg/sql/tablewriter_update.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_fast.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

tech-notes: add note on range merges
  docs/tech-notes/range-merges.md
Owners: none

opt: Add Index.IsUnique and FindTableColumnByName catalog functions
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Separate Insert/Update specific methods from mutationBuilder
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/update.go
Owners: @cockroachdb/sql-opt-prs

opt: Add Upsert support to the cost-based optimizer
  pkg/sql/insert.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/upsert
  pkg/sql/opt/memo/testdata/stats/upsert
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

opt: Standardize on using "alias" as column name
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/optbuilder/values.go
Owners: @cockroachdb/sql-opt-prs

opt: Add execution support for Upsert operator
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/explain.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/privileges_table
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/logictest/testdata/logic_test/upsert_opt
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/optbuilder/explain.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/parallel_stmts.go
  pkg/sql/plan.go
  pkg/sql/row/cascader.go
  pkg/sql/row/writer.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/tablewriter_upsert_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
