Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

pgwire: enable text encoding tests
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: encoding tests/fixes for decimal and float nan/inf
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

backupccl: return better error on failed backup
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/restore.go
  pkg/cli/dump.go
  pkg/cmd/cmp-protocol/pgconnect/pgconnect.go
  pkg/util/ctxgroup/ctxgroup.go
  pkg/util/ctxgroup/ctxgroup_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs

sql: set mutation columns to nullable while backfilling
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: test UPSERT in TestRaceWithBackfill
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

sql: test a FK constraint cannot be added over an inactive column
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-rest-prs

sql: allow ADD NOT NULL computed columns
  pkg/sql/alter_table.go
  pkg/sql/logictest/testdata/logic_test/computed
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: remove reference to catalog from data sources
  pkg/sql/opt/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: remove reference to catalog from data sources
  pkg/sql/opt/catalog.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: deflake TestLogGrowthWhenRefreshingPendingCommands
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

storage: deflake TestLogGrowthWhenRefreshingPendingCommands
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

storage: muck with TestGossipHandlesReplacedNode
  pkg/storage/gossip_test.go
Owners: @cockroachdb/core-prs

storage: muck with TestGossipHandlesReplacedNode
  pkg/storage/gossip_test.go
Owners: @cockroachdb/core-prs

opt: Fix panic when hoisting expr with correlated subquery
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
Owners: @cockroachdb/sql-opt-prs

opt: Fix panic when hoisting expr with correlated subquery
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
Owners: @cockroachdb/sql-opt-prs

kv: log the results of range lookups
  pkg/kv/range_cache.go
Owners: @cockroachdb/core-prs

kv: log the results of range lookups
  pkg/kv/range_cache.go
Owners: @cockroachdb/core-prs

opt: Add rule to merge Project and Values
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distsql_auto_mode
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/scalar
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/execbuilder/testdata/tuple
  pkg/sql/opt/exec/execbuilder/testdata/values
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/project.opt
  pkg/sql/opt/norm/testdata/rules/bool
  pkg/sql/opt/norm/testdata/rules/comp
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/max1row
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/norm/testdata/rules/project
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/testdata/scalar
  pkg/sql/opt/optgen/cmd/optgen/rule_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
  pkg/sql/opt/xform/testdata/coster/perturb-cost
  pkg/sql/pgwire/pgwire_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs

opt: Add rule to merge Project and Values
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distsql_auto_mode
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/scalar
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/execbuilder/testdata/tuple
  pkg/sql/opt/exec/execbuilder/testdata/values
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/project.opt
  pkg/sql/opt/norm/testdata/rules/bool
  pkg/sql/opt/norm/testdata/rules/comp
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/inline
  pkg/sql/opt/norm/testdata/rules/max1row
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/norm/testdata/rules/project
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/testdata/scalar
  pkg/sql/opt/optgen/cmd/optgen/rule_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
  pkg/sql/opt/xform/testdata/coster/perturb-cost
  pkg/sql/pgwire/pgwire_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs

opt: Simplify optbuilder addColumn method
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/util.go
Owners: @cockroachdb/sql-opt-prs

opt: Simplify optbuilder addColumn method
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/util.go
Owners: @cockroachdb/sql-opt-prs

opt: Support other privilege kinds when resolving data sources
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/util.go
Owners: @cockroachdb/sql-opt-prs

opt: Support other privilege kinds when resolving data sources
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/util.go
Owners: @cockroachdb/sql-opt-prs

opt: Add SyntaxTag method to operators
  pkg/sql/opt/operator.go
  pkg/sql/opt/optgen/cmd/optgen/ops_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/ops
Owners: @cockroachdb/sql-opt-prs

opt: Add SyntaxTag method to operators
  pkg/sql/opt/operator.go
  pkg/sql/opt/optgen/cmd/optgen/ops_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/ops
Owners: @cockroachdb/sql-opt-prs

workload/ycsb: add flag to use column families
  pkg/workload/ycsb/ycsb.go
Owners: none

workload/ycsb: add flag to use column families
  pkg/workload/ycsb/ycsb.go
Owners: none

opt: Add optimizer support for new Insert operator
  pkg/server/updates_test.go
  pkg/sql/data_source.go
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/views
  pkg/sql/logictest/testdata/planner_test/distsql_subquery
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/metadata.go
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/union.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/optbuilder/values.go
  pkg/sql/opt/ordering/insert.go
  pkg/sql/opt/ordering/limit.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/props/logical.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_catalog.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/update.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: Add optimizer support for new Insert operator
  pkg/server/updates_test.go
  pkg/sql/data_source.go
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/views
  pkg/sql/logictest/testdata/planner_test/distsql_subquery
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/metadata.go
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/union.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/optbuilder/values.go
  pkg/sql/opt/ordering/insert.go
  pkg/sql/opt/ordering/limit.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/props/logical.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/physprops/ordering
  pkg/sql/opt_catalog.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/update.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

opt: Add SimplifyInsertOrdering rule
  pkg/sql/opt/norm/ordering.go
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Add SimplifyInsertOrdering rule
  pkg/sql/opt/norm/ordering.go
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Add execbuilder support for Insert operator
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/statement_statistics
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add execbuilder support for Insert operator
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/statement_statistics
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage/spanlatch: rename storage/cmdq to storage/spanlatch
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/signal.go
  pkg/storage/spanlatch/signal_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: s/cmd/latch/
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: s/cmd/latch/
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
Owners: @cockroachdb/core-prs

storage/cmdq: speed up unit tests
  pkg/storage/cmdq/interval_btree_test.go
Owners: @cockroachdb/core-prs

storage/cmdq: speed up unit tests
  pkg/storage/cmdq/interval_btree_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: rename storage/cmdq to storage/spanlatch
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/signal.go
  pkg/storage/spanlatch/signal_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: create spanlatch.Manager using immutable btrees
  pkg/storage/command_queue_test.go
  pkg/storage/spanlatch/doc.go
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
  pkg/storage/spanlatch/manager.go
  pkg/storage/spanlatch/manager_test.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/core-prs
