Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: improve raftDescribeMessage RejectHint handling
  pkg/storage/raft.go
Owners: @cockroachdb/core-prs

storage: indicate when a split causes a Raft snapshot
  pkg/storage/allocator_test.go
  pkg/storage/replica_command.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: log info when gc'ing recent preemptive snap
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs

storage: emit health alert when >100 Raft snapshots are queued
  pkg/server/status/health_check.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

ui: fix "slow request" graphs
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/requests.tsx
Owners: @cockroachdb/admin-ui-prs

sql: add max1row planNode
  pkg/sql/distsql_running.go
  pkg/sql/expand_plan.go
  pkg/sql/logictest/testdata/planner_test/subquery
  pkg/sql/max_one_row.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_filters.go
  pkg/sql/opt_limits.go
  pkg/sql/opt_needed.go
  pkg/sql/plan_columns.go
  pkg/sql/plan_spans.go
  pkg/sql/subquery.go
  pkg/sql/walk.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: proprely record stmt stats for client-specified app names
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli: include kv workload generator
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

sql: proprely record stmt stats for client-specified app names
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cdc: Re-enable Fingerprint Validator
  pkg/ccl/changefeedccl/validations_test.go
  pkg/ccl/changefeedccl/validator.go
  pkg/ccl/changefeedccl/validator_test.go
Owners: @cockroachdb/sql-ccl-prs

roachtest: port docker-based cdc tests to roachtest
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/sink.go
  pkg/workload/bank/bank.go
Owners: @cockroachdb/sql-ccl-prs

cdc: Fix/Roachtest for CRDB Chaos
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/jobs/registry.go
  pkg/sql/distsqlrun/flow.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

changefeedccl: more quickly notice new kafka partitions
  pkg/ccl/changefeedccl/sink.go
Owners: @cockroachdb/sql-ccl-prs

sql: remove redundant call to ex.resetExtraTxnState
  pkg/sql/internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: remove redundant call to ex.resetExtraTxnState
  pkg/sql/internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

workload/cli: stop including data-only generators in workload run
  pkg/cli/cli_test.go
  pkg/workload/cli/run.go
Owners: @cockroachdb/cli-prs

workload/cli: stop including data-only generators in workload run
  pkg/cli/cli_test.go
  pkg/workload/cli/run.go
Owners: @cockroachdb/cli-prs

sql: separate "main" from "internal" metrics
  pkg/server/server.go
  pkg/server/status_test.go
  pkg/server/testserver.go
  pkg/server/updates_test.go
  pkg/sql/app_stats.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/internal.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

roachtest: rename and stabilize cdc tests
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: rename and stabilize cdc tests
  pkg/cmd/roachtest/cdc.go
Owners: none

opt: Move insertBuilder to new file
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Rename insertBuilder to mutationBuilder
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Generalize mutationBuilder
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/norm/ordering.go
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
Owners: @cockroachdb/sql-opt-prs

opt: Don't qualify names that are identical
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/logprops/project
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/memo
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/memo/testdata/typing
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/srfs
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/testdata/view
  pkg/sql/opt/optbuilder/testdata/where
  pkg/sql/opt/optbuilder/testdata/with
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/limit
Owners: @cockroachdb/sql-opt-prs

opt: Re-format mutation operator output
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

roachtest: improve slack reporting
  pkg/cmd/roachtest/slack.go
Owners: none

roachtest: improve slack reporting
  pkg/cmd/roachtest/slack.go
Owners: none

exec: add coalescer
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/coalescer_test.go
Owners: @cockroachdb/sql-rest-prs

[DNM] opt: add exploration rule for join associativity
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/tpch
Owners: @cockroachdb/sql-opt-prs

parser: remove some unnecessary allocations
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

parser: remove some unnecessary allocations
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

opt: Change mutation column metadata interface
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: Do not automatically add mutation columns
  pkg/sql/data_source.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/scan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix deadlock in VALIDATE CONSTRAINT
  pkg/sql/check.go
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix deadlock in VALIDATE CONSTRAINT
  pkg/sql/check.go
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

[DNM] storage: don't clear lastTxnMeta on WriteIntentError to different key
  pkg/storage/intent_resolver.go
Owners: @cockroachdb/core-prs

opt: Add Update support to CBO
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/ordering/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Add execbuilder support for the Update operator
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/default
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/subquery
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/ddl
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

ui: CachedQuery Implementation
  pkg/ui/src/redux/cachedQuery.spec.ts
  pkg/ui/src/redux/cachedQuery.ts
  pkg/ui/src/redux/queryManager/saga.ts
  pkg/ui/src/redux/state.ts
Owners: @cockroachdb/admin-ui-prs

ui: Implement API reducers as CachedQueries
  pkg/ui/src/redux/apiQueries.ts
Owners: @cockroachdb/admin-ui-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
