Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

opt: Fix panic in optCatalog.CheckPrivilege
  pkg/sql/opt/optbuilder/testdata/create_table
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Fix panic in optCatalog.CheckPrivilege
  pkg/sql/opt/optbuilder/testdata/create_table
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

server, logictest: minor cleanups around cluster version
  pkg/base/testing_knobs.go
  pkg/server/server_update.go
  pkg/server/version_cluster_test.go
  pkg/sql/logictest/logic.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

publish-provisional-artifacts: add tests
  pkg/cmd/publish-provisional-artifacts/main.go
  pkg/cmd/publish-provisional-artifacts/main_test.go
Owners: none

build: skip TestLint/TestVet
  pkg/testutils/lint/lint_test.go
Owners: none

build: skip TestLint/TestVet
  pkg/testutils/lint/lint_test.go
Owners: none

sql: allow specifying scan direction in index hint
  pkg/sql/logictest/testdata/logic_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/ordering/scan.go
  pkg/sql/opt/xform/testdata/rules/limit
  pkg/sql/opt_index_selection.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/scan.go
  pkg/sql/sem/tree/select.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs

opt: invalidate cached plans when statistics change
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/exec/execbuilder/testdata/prepare
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt_test.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt/cat: replace Version with Equals
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt/cat: replace Version with Equals
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: invalidate cached plans when statistics change
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/exec/execbuilder/testdata/prepare
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt_test.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: allow specifying scan direction in index hint
  pkg/sql/logictest/testdata/logic_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/ordering/scan.go
  pkg/sql/opt/xform/testdata/rules/limit
  pkg/sql/opt_index_selection.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/scan.go
  pkg/sql/sem/tree/select.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs

opt: add support for aggregate FILTER
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

acceptance: properly skip acceptance/bank/zerosum-restart
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/bank.go
Owners: none

acceptance: properly skip acceptance/bank/zerosum-restart
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/bank.go
Owners: none

vendor: pick up toxiproxy client
  Gopkg.lock
Owners: @cockroachdb/build-prs

vendor: pick up toxiproxy client
  Gopkg.lock
Owners: @cockroachdb/build-prs

roachtest: use toxiproxy for network testing
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/network.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/toxiproxy.go
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

client: set timeout on async rollback's context
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

client: set timeout on async rollback's context
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

roachtest: use toxiproxy for network testing
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/network.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/toxiproxy.go
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

Makefile: fix roachprod-stress{,race}
  Makefile
Owners: @cockroachdb/build-prs

sql/row: split the FK span generation into a separate file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_spans.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the base FK to a separate file, add docs
  pkg/sql/row/fk.go
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: use pgerror.NewAssertionErrorf
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

build: clear GOFLAGS when invoking `go install`
  Makefile
Owners: @cockroachdb/build-prs

build: clear GOFLAGS when invoking `go install`
  Makefile
Owners: @cockroachdb/build-prs

*: update gofmt to 1.11
  Gopkg.lock
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/workloadccl/roachmartccl/roachmart.go
  pkg/cli/sql.go
  pkg/cmd/docgen/diagrams.go
  pkg/cmd/publish-artifacts/main.go
  pkg/cmd/publish-artifacts/main_test.go
  pkg/cmd/publish-provisional-artifacts/main.go
  pkg/gossip/client.go
  pkg/kv/txn_coord_sender.go
  pkg/server/debug/logspy_test.go
  pkg/server/status/runtime.go
  pkg/server/updates_test.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/distsqlplan/span_resolver.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/routers_test.go
  pkg/sql/distsqlrun/sample_aggregator_test.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/information_schema.go
  pkg/sql/internal_test.go
  pkg/sql/lease_internal_test.go
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/scrub_fk.go
  pkg/sql/scrub_index.go
  pkg/sql/sem/tree/constant_test.go
  pkg/sql/sem/tree/txn.go
  pkg/sql/virtual_schema.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
  pkg/storage/engine/rocksdb_error_dict.go
  pkg/storage/replica_stats_test.go
  pkg/storage/store.go
  pkg/testutils/lint/lint_test.go
  pkg/ts/testmodel/db.go
  pkg/util/json/json_test.go
  pkg/workload/bank/bank.go
  pkg/workload/ledger/generate.go
  pkg/workload/tpcc/generate.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

*: update gofmt to 1.11
  Gopkg.lock
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/workloadccl/roachmartccl/roachmart.go
  pkg/cli/sql.go
  pkg/cmd/docgen/diagrams.go
  pkg/cmd/publish-artifacts/main.go
  pkg/cmd/publish-artifacts/main_test.go
  pkg/cmd/publish-provisional-artifacts/main.go
  pkg/gossip/client.go
  pkg/kv/txn_coord_sender.go
  pkg/server/debug/logspy_test.go
  pkg/server/status/runtime.go
  pkg/server/updates_test.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/distsqlplan/span_resolver.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/routers_test.go
  pkg/sql/distsqlrun/sample_aggregator_test.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/information_schema.go
  pkg/sql/internal_test.go
  pkg/sql/lease_internal_test.go
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/scrub_fk.go
  pkg/sql/scrub_index.go
  pkg/sql/sem/tree/constant_test.go
  pkg/sql/sem/tree/txn.go
  pkg/sql/virtual_schema.go
  pkg/storage/client_replica_test.go
  pkg/storage/client_split_test.go
  pkg/storage/engine/rocksdb_error_dict.go
  pkg/storage/replica_stats_test.go
  pkg/storage/store.go
  pkg/testutils/lint/lint_test.go
  pkg/ts/testmodel/db.go
  pkg/util/json/json_test.go
  pkg/workload/bank/bank.go
  pkg/workload/ledger/generate.go
  pkg/workload/tpcc/generate.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sql/row: clarify the initialization of the base FK helper
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

build: fix harmless buglet in roachprod-stress binary name
  Makefile
Owners: @cockroachdb/build-prs

build: fix harmless buglet in roachprod-stress binary name
  Makefile
Owners: @cockroachdb/build-prs

sql/*: properly use IndexDescriptor references
  pkg/sql/alter_table.go
  pkg/sql/create_index.go
  pkg/sql/create_table.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/drop_table.go
  pkg/sql/rename_index.go
  pkg/sql/resolver.go
  pkg/sql/row/cascader.go
  pkg/sql/row/fk_base_helper.go
  pkg/sql/show_fingerprints.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/table.go
  pkg/sql/zone_config.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql/row: rename writeIdx -> mutatedIdx
  pkg/sql/row/fk.go
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the low-level FK existence checker to its own file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_batch_checker.go
Owners: @cockroachdb/sql-rest-prs

sql/row: move the fkInsertHelper to its own file
  pkg/sql/row/fk.go
  pkg/sql/row/fk_insert_helper.go
Owners: @cockroachdb/sql-rest-prs

*: bump github.com/knz/go-libedit
  Gopkg.lock
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/build-prs

*: bump github.com/knz/go-libedit
  Gopkg.lock
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/build-prs

roachtest: don't run `upgrade` on release-2.1
  pkg/cmd/roachtest/upgrade.go
Owners: none

roachtest: don't run `upgrade` on release-2.1
  pkg/cmd/roachtest/upgrade.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
