Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

kv: cleanup txn more eagerly
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
Owners: @cockroachdb/core-prs

sql: improve InternalExecutor.Query interface
  pkg/jobs/registry.go
  pkg/server/server_update.go
  pkg/server/updates.go
  pkg/sql/authorization.go
  pkg/sql/crdb_internal.go
  pkg/sql/information_schema.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/lease.go
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/show_stats.go
  pkg/sql/sqlutil/internal_executor.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/user.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sql: delete startPlan and users of it
  pkg/sql/check.go
  pkg/sql/copy.go
  pkg/sql/plan.go
  pkg/sql/planner.go
  pkg/sql/scrub_constraint.go
  pkg/sql/values_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: delete local implementations of planNodes
  pkg/sql/check.go
  pkg/sql/distinct.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/filter.go
  pkg/sql/group.go
  pkg/sql/index_join.go
  pkg/sql/join.go
  pkg/sql/join_predicate.go
  pkg/sql/join_test.go
  pkg/sql/limit.go
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/logictest/testdata/planner_test/limit
  pkg/sql/logictest/testdata/planner_test/needed_columns
  pkg/sql/logictest/testdata/planner_test/order_by
  pkg/sql/logictest/testdata/planner_test/select_index
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/logictest/testdata/planner_test/union
  pkg/sql/lookup_join.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/union
  pkg/sql/opt_decompose_test.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/render.go
  pkg/sql/row_buffer.go
  pkg/sql/row_source_to_plan_node.go
  pkg/sql/scan.go
  pkg/sql/scrub_constraint.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sort.go
  pkg/sql/subquery.go
  pkg/sql/subquery_test.go
  pkg/sql/union.go
  pkg/sql/walk.go
  pkg/sql/window.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

storage: fix NPE while printing trivial truncateDecision
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: fix NPE while printing trivial truncateDecision
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: fix race in TestProcessorSlowConsumer
  pkg/storage/rangefeed/processor_test.go
Owners: @cockroachdb/core-prs

storage: fix race in TestProcessorSlowConsumer
  pkg/storage/rangefeed/processor_test.go
Owners: @cockroachdb/core-prs

changefeed: add EXPERIMENTAL to the sinkless syntax
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/changefeed.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql,stats: use the jobs framework for CREATE STATISTICS
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobspb/wrap.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlpb/data.pb.go
  pkg/sql/distsqlpb/data.proto
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/stream_decoder.go
  pkg/sql/distsqlrun/stream_encoder.go
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/plan.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/admin-ui-prs

sql: add support for AS OF SYSTEM TIME clause in BEGIN and SET TRANSACTION
  docs/generated/sql/bnf/begin_transaction.bnf
  docs/generated/sql/bnf/set_transaction.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/internal/client/sender.go
  pkg/sql/as_of_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_fsm.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/txn.go
  pkg/sql/sem/tree/walk.go
  pkg/sql/set_transaction.go
  pkg/sql/txn_state.go
  pkg/sql/txn_state_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

distsql: close the row container in HashJoiner at all times
  pkg/sql/distsqlrun/hashjoiner.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsql: close the row container in HashJoiner at all times
  pkg/sql/distsqlrun/hashjoiner.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

workload/sqlsmith: add a sqlsmith workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/workload/sqlsmith/sqlsmith.go
Owners: @cockroachdb/sql-ccl-prs

workload/sqlsmith: add a sqlsmith workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/workload/sqlsmith/sqlsmith.go
Owners: @cockroachdb/sql-ccl-prs

sql: JSON-ify timestamps using RFC3339 format
  pkg/sql/logictest/testdata/logic_test/json_builtins
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/sql-rest-prs

backupccl: rewrite spans that include unknown tableIDs
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/storageccl/key_rewriter.go
  pkg/ccl/storageccl/key_rewriter_test.go
Owners: @cockroachdb/sql-bulk-prs

util/log: explain why log.Fatal never returns
  pkg/util/log/clog.go
Owners: none

util/log: explain why log.Fatal never returns
  pkg/util/log/clog.go
Owners: none

wip: vectorized merge join operator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: JSON-ify timestamps using RFC3339 format
  pkg/sql/logictest/testdata/logic_test/json_builtins
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/sql-rest-prs

sql: JSON-ify timestamps using RFC3339 format
  pkg/sql/logictest/testdata/logic_test/json_builtins
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/sql-rest-prs

pgwire: allow per-connection control of result buffer size
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/pgwire/server.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs

pgwire: allow per-connection control of result buffer size
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/pgwire/server.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs

changefeed: add EXPERIMENTAL to the sinkless changefeed syntax
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/changefeed.go
  pkg/sql/sem/tree/stmt.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

changefeed: add EXPERIMENTAL to the sinkless changefeed syntax
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/changefeed.go
  pkg/sql/sem/tree/stmt.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql: allow the InternalExecutor to work with a modified schema
  pkg/sql/conn_executor.go
  pkg/sql/internal.go
  pkg/sql/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql,stats: use the jobs framework for CREATE STATISTICS
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobspb/wrap.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlpb/data.pb.go
  pkg/sql/distsqlpb/data.proto
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sample_aggregator_test.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/distsqlrun/stream_decoder.go
  pkg/sql/distsqlrun/stream_encoder.go
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/plan.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/admin-ui-prs

sql,stats: use the jobs framework for CREATE STATISTICS
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobspb/wrap.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlpb/data.pb.go
  pkg/sql/distsqlpb/data.proto
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sample_aggregator_test.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sampler_test.go
  pkg/sql/distsqlrun/stream_decoder.go
  pkg/sql/distsqlrun/stream_encoder.go
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/plan.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/admin-ui-prs

sql: Update error message for multi-column stats
  pkg/sql/distsqlrun/sampler.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

ui: add a metrics dashboard for changefeeds
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/changefeeds.tsx
  pkg/ui/src/views/cluster/containers/nodeGraphs/index.tsx
Owners: @cockroachdb/admin-ui-prs

sql: JSON-ify timestamps using RFC3339 format
  pkg/sql/logictest/testdata/logic_test/json_builtins
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/sql-rest-prs

sql: add disk backed indexed row container
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/routers.go
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/rowcontainer/disk_row_container.go
  pkg/sql/rowcontainer/hash_row_container.go
  pkg/sql/rowcontainer/row_container.go
  pkg/sql/rowcontainer/row_container_test.go
  pkg/sql/sqlbase/errors.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

sql: verify index before declaring it public
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: add support for AS OF SYSTEM TIME clause in BEGIN and SET TRANSACTION
  docs/generated/sql/bnf/begin_transaction.bnf
  docs/generated/sql/bnf/set_transaction.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/internal/client/sender.go
  pkg/sql/as_of_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_fsm.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/txn.go
  pkg/sql/sem/tree/walk.go
  pkg/sql/set_transaction.go
  pkg/sql/txn_state.go
  pkg/sql/txn_state_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: add support for AS OF SYSTEM TIME clause in BEGIN and SET TRANSACTION
  docs/generated/sql/bnf/begin_transaction.bnf
  docs/generated/sql/bnf/set_transaction.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/internal/client/sender.go
  pkg/sql/as_of_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_fsm.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/txn.go
  pkg/sql/sem/tree/walk.go
  pkg/sql/set_transaction.go
  pkg/sql/txn_state.go
  pkg/sql/txn_state_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

distsqlrun: remove queuing behavior from flowScheduler
  docs/generated/settings/settings.html
  pkg/sql/distsqlrun/flow_scheduler.go
  pkg/sql/distsqlrun/metrics.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

Copy edits to DT tech note update
  docs/tech-notes/index-backfill.md
Owners: none

roachtest: bulk index backfill only on version >= 2.2.0
  pkg/cmd/roachtest/schemachange.go
Owners: none

roachtest: bulk index backfill only on version >= 2.2.0
  pkg/cmd/roachtest/schemachange.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
