Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storage: remove all uses of beginTxnArgs that only used header
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

storage: remove maybeWrapWithBeginTransaction helper
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

storage: remove all uses of beginTxnArgs that only used header
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

kv: deprecate txn.Writing, prepare for removal
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

kv: introduce new "max outstanding size" setting to txnPipeliner
  docs/generated/settings/settings.html
  pkg/kv/txn_interceptor_intent_collector.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/util/stop/stopper.go
Owners: @cockroachdb/core-prs

kv: introduce new "max outstanding size" setting to txnPipeliner
  docs/generated/settings/settings.html
  pkg/kv/txn_interceptor_intent_collector.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/util/stop/stopper.go
Owners: @cockroachdb/core-prs

cdctest: add a jepsen-style changefeed test
  pkg/ccl/changefeedccl/cdctest/nemeses.go
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/cdctest/validator.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/nemeses_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validations_test.go
  pkg/storage/closedts/provider/provider.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

sql: Fix judgment condition when judging spans overlap.
  pkg/sql/row/kv_batch_fetcher.go
Owners: @cockroachdb/sql-rest-prs

sql: Fix judgment condition when judging spans overlap.
  pkg/sql/row/kv_batch_fetcher.go
Owners: @cockroachdb/sql-rest-prs

log: fix remaining misuse of runtime.Callers/runtime.FuncForPC
  pkg/util/log/clog.go
Owners: none

log: fix remaining misuse of runtime.Callers/runtime.FuncForPC
  pkg/util/log/clog.go
Owners: none

storage: maybe fix iterator leak on mtc test shutdown
  pkg/storage/client_test.go
Owners: @cockroachdb/core-prs

storage: maybe fix iterator leak on mtc test shutdown
  pkg/storage/client_test.go
Owners: @cockroachdb/core-prs

closedts: react faster to config changes
  pkg/storage/closedts/provider/provider.go
Owners: @cockroachdb/core-prs

closedts: react faster to config changes
  pkg/storage/closedts/provider/provider.go
Owners: @cockroachdb/core-prs

cli/interactive_tests: deflake test_exec_log
  pkg/cli/interactive_tests/test_exec_log.tcl
Owners: @cockroachdb/cli-prs

cli/interactive_tests: deflake test_exec_log
  pkg/cli/interactive_tests/test_exec_log.tcl
Owners: @cockroachdb/cli-prs

kv: generate debug output on marshaling panics
  pkg/kv/transport.go
  pkg/kv/transport_test.go
Owners: @cockroachdb/core-prs

kv: generate debug output on marshaling panics
  pkg/kv/transport.go
  pkg/kv/transport_test.go
Owners: @cockroachdb/core-prs

requestbatcher: fix bug when deadline for two batches is exactly equal
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

requestbatcher: fix bug when deadline for two batches is exactly equal
  pkg/internal/client/requestbatcher/batcher.go
  pkg/internal/client/requestbatcher/batcher_test.go
Owners: @cockroachdb/core-prs

sql: join hints
  docs/generated/sql/bnf/joined_table.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/data_source.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/join.go
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/pretty.go
  pkg/sql/sem/tree/select.go
  pkg/sql/sqlbase/join_type.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: join hints
  docs/generated/sql/bnf/joined_table.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/data_source.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/join.go
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/pretty.go
  pkg/sql/sem/tree/select.go
  pkg/sql/sqlbase/join_type.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

kv: deprecate txn.Writing, prepare for removal
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/roachpb/data_test.go
  pkg/roachpb/string_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

kv: deprecate txn.Writing, prepare for removal
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeater.go
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/roachpb/data_test.go
  pkg/roachpb/string_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_test.go
  pkg/storage/store_test.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

exec: vectorized merge join operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/mergejoiner_gen.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: extract spooling phase of sorter into a separate operator
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/sql-rest-prs

opt: restrict use of PREPARE AS OPT PLAN to root
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli: revert timeout refactoring in `debug synctest`
  pkg/cli/debug_synctest.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/cli-prs

cli: revert timeout refactoring in `debug synctest`
  pkg/cli/debug_synctest.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/cli-prs

sql,stats: collect stats on non-index columns too
  pkg/ccl/backupccl/backup_test.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/sql/stats/row_sampling.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

libroach: disable rocksdb subcompactions
  c-deps/libroach/options.cc
Owners: @cockroachdb/core-prs

libroach: disable rocksdb subcompactions
  c-deps/libroach/options.cc
Owners: @cockroachdb/core-prs

storage,client: add allow_if_does_not_exist flag to CPut
  pkg/internal/client/batch.go
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/storage/batcheval/cmd_conditional_put.go
  pkg/storage/engine/bench_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql: Use CPutAllowingIfNotExists instead of CPut for index entries
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

storage,client: add allow_if_does_not_exist flag to CPut
  pkg/internal/client/batch.go
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/storage/batcheval/cmd_conditional_put.go
  pkg/storage/engine/bench_test.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql: Use CPutAllowingIfNotExists instead of CPut for index entries
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

roachtest: add test for building inverted index
  pkg/cmd/roachtest/inverted_index.go
  pkg/cmd/roachtest/registry.go
Owners: none

roachtest: add test for building inverted index
  pkg/cmd/roachtest/inverted_index.go
  pkg/cmd/roachtest/registry.go
Owners: none

opt: restrict use of PREPARE AS OPT PLAN to root
  pkg/sql/logictest/testdata/logic_test/prepare_opt_plan
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs
