Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-syntax-prs, @cockroachdb/sql-api-prs, @cockroachdb/cli-prs, @cockroachdb/server-prs, @cockroachdb/cdc-prs, @cockroachdb/bulk-prs, @cockroachdb/geospatial, @cockroachdb/kv, @cockroachdb/storage, @cockroachdb/cluster-ui-prs, @cockroachdb/http-api-prs, @cockroachdb/sqlproxy-prs, @cockroachdb/sql-experience, @cockroachdb/sql-queries, @cockroachdb/dev-inf, @cockroachdb/kv-noreview, @cockroachdb/sql-queries-noreview, @cockroachdb/sql-schema, @cockroachdb/obs-infra, @cockroachdb/test-eng, @cockroachdb/server-noreview, @cockroachdb/docs, @cockroachdb/obs-infra-noreview, @cockroachdb/cli-prs-noreview, @cockroachdb/unowned

.github/CODEOWNERS:

# The CODEOWNERS file is used by Github to automate assigning code reviews, see
# [1] and [2]. We also use it in our internal tooling (see [3]) to automate test
# failure issue routing. To do this efficiently, we are enforcing a few rules in
# this file via linting. They are:
#
# - every file under ./pkg has to have at least one owner, and each owner must
#   be present in TEAMS.yaml (either as a map key or an alias).
# - you can opt out of Github-requested code review assignments (while
#   maintaining team ownership) by suffixing the handle with `-noreview`.
#   (This will essentially make it an unknown team to Github, but our internal
#   tooling continues to recognize the original team).
#
# Remember, *the last rule to match wins*, and you need a trailing slash to get
# recursive ownership of a directory.
#
# [1]: https://github.com/blog/2392-introducing-code-owners
# [2]: https://help.github.com/articles/about-codeowners/
# [3]: pkg/internal/codeowners

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs
/pkg/sql/stats/              @cockroachdb/sql-opt-prs

/pkg/sql/sem/tree/           @cockroachdb/sql-syntax-prs
/pkg/sql/parser/             @cockroachdb/sql-syntax-prs
/pkg/sql/lex/                @cockroachdb/sql-syntax-prs
/pkg/sql/show_create*.go     @cockroachdb/sql-syntax-prs

/pkg/sql/crdb_internal.go    @cockroachdb/sql-api-prs
/pkg/sql/pg_catalog.go       @cockroachdb/sql-api-prs
/pkg/sql/sem/builtins/       @cockroachdb/sql-api-prs

/pkg/cli/                    @cockroachdb/cli-prs
/pkg/server/                 @cockroachdb/server-prs

/pkg/ccl/changefeedccl/      @cockroachdb/cdc-prs
/pkg/ccl/streamingccl/       @cockroachdb/cdc-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-prs
/pkg/ccl/importccl/          @cockroachdb/bulk-prs
/pkg/ccl/storageccl/         @cockroachdb/bulk-prs
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-prs
/pkg/cli/userfile.go         @cockroachdb/bulk-prs
# last-rule-wins so *after* CDC takes most of streamingccl we take ingest pkg.
/pkg/ccl/streamingccl/streamingest @cockroachdb/bulk-prs

/pkg/geo/                    @cockroachdb/geospatial

/pkg/kv/                     @cockroachdb/kv

/pkg/storage/                @cockroachdb/storage

/pkg/ui/                     @cockroachdb/cluster-ui-prs
/pkg/ui/embedded.go          @cockroachdb/cluster-ui-prs
/pkg/ui/src/js/protos.d.ts   @cockroachdb/cluster-ui-prs
/pkg/ui/src/js/protos.js     @cockroachdb/cluster-ui-prs

/docs/generated/http/        @cockroachdb/http-api-prs @cockroachdb/server-prs
/pkg/cmd/docgen/http.go      @cockroachdb/http-api-prs @cockroachdb/server-prs

/pkg/ccl/sqlproxyccl/        @cockroachdb/sqlproxy-prs @cockroachdb/server-prs

/pkg/acceptance/             @cockroachdb/sql-experience
/pkg/base/                   @cockroachdb/server-prs
/pkg/bench/                  @cockroachdb/sql-queries
/pkg/blobs/                  @cockroachdb/bulk-prs
/pkg/build/                  @cockroachdb/dev-inf
/pkg/ccl/baseccl/            @cockroachdb/cli-prs
/pkg/ccl/buildccl/           @cockroachdb/dev-inf
/pkg/ccl/cliccl/             @cockroachdb/cli-prs
/pkg/ccl/cmdccl/enc_utils/   @cockroachdb/storage
/pkg/ccl/gssapiccl/          @cockroachdb/sql-queries
/pkg/ccl/kvccl/              @cockroachdb/kv-noreview
/pkg/ccl/logictestccl/       @cockroachdb/sql-queries-noreview
/pkg/ccl/multiregionccl/     @cockroachdb/sql-queries-noreview
/pkg/ccl/oidcccl/            @cockroachdb/sql-queries
/pkg/ccl/partitionccl/       @cockroachdb/sql-schema
/pkg/ccl/serverccl/          @cockroachdb/server-prs
/pkg/ccl/telemetryccl/       @cockroachdb/obs-infra
/pkg/ccl/testccl/sqlccl/     @cockroachdb/sql-queries
/pkg/ccl/testccl/workload/schemachange/ @cockroachdb/sql-schema
/pkg/ccl/testutilsccl/       @cockroachdb/test-eng
/pkg/ccl/utilccl/            @cockroachdb/server-noreview
/pkg/ccl/workloadccl/        @cockroachdb/sql-experience
/pkg/clusterversion/         @cockroachdb/kv
/pkg/cmd/allocsim/           @cockroachdb/kv
/pkg/cmd/bazci/              @cockroachdb/dev-inf
/pkg/cmd/cmdutil/            @cockroachdb/dev-inf
/pkg/cmd/cmp-protocol/       @cockroachdb/sql-experience
/pkg/cmd/cmp-sql/            @cockroachdb/sql-experience
/pkg/cmd/cmpconn/            @cockroachdb/sql-experience
/pkg/cmd/cockroach/          @cockroachdb/cli-prs
/pkg/cmd/cockroach-oss/      @cockroachdb/cli-prs
/pkg/cmd/cockroach-short/    @cockroachdb/cli-prs
/pkg/cmd/compile-build/      @cockroachdb/dev-inf
/pkg/cmd/cr2pg/              @cockroachdb/sql-experience
/pkg/cmd/docgen/             @cockroachdb/docs
/pkg/cmd/fuzz/               @cockroachdb/test-eng
/pkg/cmd/generate-binary/    @cockroachdb/sql-experience
/pkg/cmd/generate-postgres-metadata-tables/ @cockroachdb/sql-experience
/pkg/cmd/generate-spatial-ref-sys/ @cockroachdb/geospatial
/pkg/cmd/generate-test-suites/ @cockroachdb/dev-inf
/pkg/cmd/geoviz/             @cockroachdb/geospatial
/pkg/cmd/github-post/        @cockroachdb/test-eng
/pkg/cmd/github-pull-request-make/ @cockroachdb/dev-inf
/pkg/cmd/gossipsim/          @cockroachdb/kv
/pkg/cmd/import-tools/       @cockroachdb/dev-inf
/pkg/cmd/internal/issues/    @cockroachdb/test-eng
/pkg/cmd/prereqs/            @cockroachdb/dev-inf
/pkg/cmd/protoc-gen-gogoroach/ @cockroachdb/server-prs
/pkg/cmd/publish-artifacts/  @cockroachdb/dev-inf
/pkg/cmd/publish-provisional-artifacts/ @cockroachdb/dev-inf
/pkg/cmd/reduce/             @cockroachdb/sql-queries
/pkg/cmd/returncheck/        @cockroachdb/dev-inf
/pkg/cmd/roachprod/          @cockroachdb/dev-inf
/pkg/cmd/roachprod-stress/   @cockroachdb/test-eng
/pkg/cmd/roachtest/          @cockroachdb/test-eng
/pkg/cmd/roachvet/           @cockroachdb/dev-inf
/pkg/cmd/skip-test/          @cockroachdb/test-eng
/pkg/cmd/skiperrs/           @cockroachdb/sql-experience
/pkg/cmd/skipped-tests/      @cockroachdb/test-eng
/pkg/cmd/smithcmp/           @cockroachdb/sql-queries
/pkg/cmd/smithtest/          @cockroachdb/sql-queries
/pkg/cmd/teamcity-trigger/   @cockroachdb/dev-inf
/pkg/cmd/testfilter/         @cockroachdb/test-eng
/pkg/cmd/uptodate/           @cockroachdb/dev-inf
/pkg/cmd/urlcheck/           @cockroachdb/docs
/pkg/cmd/whoownsit/          @cockroachdb/test-eng
/pkg/cmd/workload/           @cockroachdb/sql-experience
/pkg/cmd/wraprules/          @cockroachdb/obs-infra-noreview
/pkg/cmd/zerosum/            @cockroachdb/kv-noreview
/pkg/col/                    @cockroachdb/sql-queries
/pkg/compose/                @cockroachdb/sql-experience
/pkg/config/                 @cockroachdb/server-prs
/pkg/docs/                   @cockroachdb/docs
/pkg/featureflag/            @cockroachdb/cli-prs-noreview
/pkg/gossip/                 @cockroachdb/kv-noreview
/pkg/internal/client/requestbatcher/ @cockroachdb/kv
/pkg/internal/codeowners/    @cockroachdb/test-eng
/pkg/internal/reporoot       @cockroachdb/dev-inf
/pkg/internal/rsg/           @cockroachdb/sql-queries
/pkg/internal/sqlsmith/      @cockroachdb/sql-queries
/pkg/internal/team/          @cockroachdb/test-eng
/pkg/jobs/                   @cockroachdb/sql-schema
/pkg/keys/                   @cockroachdb/kv
/pkg/migration/              @cockroachdb/kv
/pkg/release/                @cockroachdb/dev-inf
/pkg/roachpb/                @cockroachdb/kv
/pkg/rpc/                    @cockroachdb/server-prs
/pkg/scheduledjobs/          @cockroachdb/bulk-prs
/pkg/security/               @cockroachdb/server-prs
/pkg/settings/               @cockroachdb/server-prs
/pkg/sql/                    @cockroachdb/sql-queries-noreview
/pkg/sqlmigrations/          @cockroachdb/sql-queries-noreview
/pkg/streaming/              @cockroachdb/bulk-prs
/pkg/testutils/              @cockroachdb/test-eng
/pkg/ts/                     @cockroachdb/kv
/pkg/util/                   @cockroachdb/unowned
/pkg/util/log                @cockroachdb/server-prs
/pkg/util/metric             @cockroachdb/obs-infra
/pkg/util/stop               @cockroachdb/server-prs
/pkg/util/tracing            @cockroachdb/obs-infra
/pkg/workload/               @cockroachdb/sql-experience

ui: upgrade Typescript from 3.8.0 to 4.2.4
  pkg/ui/ccl/src/views/clusterviz/components/nodeOrLocality/capacityArc.tsx
  pkg/ui/package.json
  pkg/ui/src/redux/queryManager/saga.ts
  pkg/ui/yarn.lock
Owners: @cockroachdb/cluster-ui-prs

ui: upgrade Typescript from 3.8.0 to 4.2.4
  pkg/ui/ccl/src/views/clusterviz/components/nodeOrLocality/capacityArc.tsx
  pkg/ui/package.json
  pkg/ui/src/redux/queryManager/saga.ts
  pkg/ui/yarn.lock
Owners: @cockroachdb/cluster-ui-prs

ui: use uPlot lib for line graphs on metrics page
  pkg/ui/package.json
  pkg/ui/src/util/convert.ts
  pkg/ui/src/views/cluster/components/linegraph/index.tsx
  pkg/ui/src/views/cluster/components/visualization/visualizations.styl
  pkg/ui/src/views/cluster/containers/nodeGraphs/index.tsx
  pkg/ui/src/views/cluster/util/graphs.spec.ts
  pkg/ui/src/views/cluster/util/graphs.ts
  pkg/ui/src/views/shared/components/metricQuery/index.tsx
  pkg/ui/src/views/shared/containers/metricDataProvider/index.tsx
  pkg/ui/yarn.lock
Owners: @cockroachdb/cluster-ui-prs

ui: metrics legend is under graph when large
  pkg/ui/src/views/cluster/components/visualization/visualizations.styl
  pkg/ui/src/views/cluster/containers/nodeGraphs/index.tsx
  pkg/ui/src/views/cluster/util/graphs.ts
Owners: @cockroachdb/cluster-ui-prs

TEAMS.yaml: add convenience tool advice for finding triage_column_id
  TEAMS.yaml
Owners: none

TEAMS.yaml: add convenience tool advice for finding triage_column_id
  TEAMS.yaml
Owners: none

changefeedccl: fail changefeeds when tables go offline
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/changefeedbase/validate.go
Owners: @cockroachdb/cdc-prs

testcluster: Introduce a HybridManualClock and wire it into TestCluster
  pkg/kv/kvserver/client_merge_test.go
  pkg/kv/kvserver/store.go
  pkg/server/server.go
  pkg/server/testing_knobs.go
  pkg/server/testserver.go
  pkg/testutils/testcluster/testcluster.go
  pkg/testutils/testcluster/testcluster_test.go
  pkg/util/hlc/hlc.go
  pkg/util/hlc/hlc_test.go
Owners: @cockroachdb/kv, @cockroachdb/server-prs, @cockroachdb/test-eng, @cockroachdb/unowned

util/hlc: add HybridManualClock.Pause
  pkg/util/hlc/hlc.go
  pkg/util/hlc/hlc_test.go
Owners: @cockroachdb/unowned

hlc: fix HybridManualClock.Pause
  pkg/util/hlc/hlc.go
Owners: @cockroachdb/unowned

hlc: minor HybridManualClock simplification
  pkg/util/hlc/hlc.go
Owners: @cockroachdb/unowned

cli,ts: allow (hacky) visualization of timeseries dumps
  pkg/cli/demo.go
  pkg/cli/start.go
  pkg/server/config.go
  pkg/server/server.go
  pkg/ts/keys.go
Owners: @cockroachdb/cli-prs, @cockroachdb/server-prs, @cockroachdb/kv

ts: allow dumping raw timeseries KV pairs
  pkg/cli/tsdump.go
  pkg/ts/BUILD.bazel
  pkg/ts/server.go
  pkg/ts/server_test.go
  pkg/ts/tspb/BUILD.bazel
  pkg/ts/tspb/timeseries.pb.go
  pkg/ts/tspb/timeseries.proto
Owners: @cockroachdb/cli-prs, @cockroachdb/kv

testcluster: add MoveRangeLeaseNonCooperatively
  pkg/server/testserver.go
  pkg/testutils/serverutils/test_cluster_shim.go
  pkg/testutils/serverutils/test_server_shim.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/server-prs, @cockroachdb/test-eng

colencoding: no memory aliasing during key decode
  pkg/sql/colencoding/key_encoding.go
Owners: @cockroachdb/sql-queries-noreview

colencoding: no memory aliasing during key decode
  pkg/sql/colencoding/key_encoding.go
Owners: @cockroachdb/sql-queries-noreview

importccl: parallelize the upload of export csv files
  pkg/ccl/importccl/exportcsv.go
Owners: @cockroachdb/bulk-prs

kvserver: synchronize replica removal with read-only requests
  pkg/kv/kvserver/client_relocate_range_test.go
  pkg/kv/kvserver/replica.go
  pkg/kv/kvserver/replica_application_state_machine.go
  pkg/kv/kvserver/replica_corruption.go
  pkg/kv/kvserver/replica_destroy.go
  pkg/kv/kvserver/replica_raftstorage.go
  pkg/kv/kvserver/store_create_replica.go
  pkg/kv/kvserver/store_remove_replica.go
Owners: @cockroachdb/kv
