Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv

sql: fix set schema for enum array type
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/set_schema
Owners: none

sql: fix set schema for enum array type
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/set_schema
Owners: none

importccl: support random() and gen_random_uuid() as default expression
  pkg/ccl/importccl/import_processor.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_base.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/sql/row/expr_walker.go
  pkg/sql/row/row_converter.go
Owners: @cockroachdb/bulk-io

sql: validate the number of entries in a partial index after a backfill
  pkg/sql/backfill.go
Owners: none

roachpb: create new NewAmbiguousResultErrorf constructor
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/kv

roachpb: create new NewAmbiguousResultErrorf constructor
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/kv

server: add end-to-end tenant authentication test
  pkg/base/test_server_args.go
  pkg/ccl/kvccl/kvtenantccl/proxy.go
  pkg/ccl/serverccl/server_sql_test.go
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/dist_sender_rangefeed.go
  pkg/kv/kvclient/kvcoord/range_cache.go
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/rpc/context.go
  pkg/server/config.go
  pkg/server/server_sql.go
  pkg/server/testserver.go
  pkg/util/grpcutil/grpc_util.go
Owners: @cockroachdb/kv

server: add end-to-end tenant authentication test
  pkg/base/test_server_args.go
  pkg/ccl/kvccl/kvtenantccl/proxy.go
  pkg/ccl/serverccl/server_sql_test.go
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/dist_sender_rangefeed.go
  pkg/kv/kvclient/kvcoord/range_cache.go
  pkg/kv/kvclient/kvcoord/range_iter.go
  pkg/rpc/context.go
  pkg/server/config.go
  pkg/server/server_sql.go
  pkg/server/testserver.go
  pkg/util/grpcutil/grpc_util.go
Owners: @cockroachdb/kv

kv: reject admin KV requests from tenant SQL processes
  pkg/ccl/kvccl/kvtenantccl/proxy.go
  pkg/ccl/kvccl/kvtenantccl/proxy_test.go
  pkg/ccl/logictestccl/testdata/logic_test/tenant_unsupported
  pkg/rpc/auth_tenant.go
  pkg/rpc/auth_test.go
  pkg/sql/backfill.go
  pkg/sql/logictest/testdata/logic_test/select_index_span_ranges
  pkg/sql/logictest/testdata/logic_test/subquery
Owners: none

docs: new RFC on range leaseholder cache invalidation
  docs/RFCS/20200810_leaseholder_cache_invalidation.md
Owners: @cockroachdb/rfc-prs

collection: add a TODO comment about use of PublicSchema
  pkg/sql/catalog/descs/collection.go
Owners: none

collection: add a TODO comment about use of PublicSchema
  pkg/sql/catalog/descs/collection.go
Owners: none

sql: don't query BootstrapVersionKey on tenant SQL startup
  pkg/rpc/auth_tenant.go
  pkg/server/server_sql.go
Owners: none

sql: don't query BootstrapVersionKey on tenant SQL startup
  pkg/rpc/auth_tenant.go
  pkg/server/server_sql.go
Owners: none

sql: implement `ALTER SCHEMA RENAME TO`
  pkg/ccl/backupccl/restore_schema_change_creation.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/alter_schema.go
  pkg/sql/backfill.go
  pkg/sql/catalog/descs/collection.go
  pkg/sql/conn_executor.go
  pkg/sql/create_schema.go
  pkg/sql/database_test.go
  pkg/sql/logictest/testdata/logic_test/schema
  pkg/sql/schema.go
  pkg/sql/schema_change_migrations_test.go
  pkg/sql/schema_changer.go
  pkg/sql/sqlbase/schema_desc.go
  pkg/sql/table.go
  pkg/sql/walk.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/bulk-io

roachtest: Add --local-ssd, --create-args
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/main.go
Owners: none

kv: mask system config gossip info in tenant GossipSubscription stream
  pkg/config/system_mask.go
  pkg/config/system_test.go
  pkg/kv/kvclient/kvtenant/proxy.go
  pkg/server/node.go
Owners: @cockroachdb/kv

sql: change table truncation to create new indexes rather than new ID
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/backfill.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/gcjob/gc_job.go
  pkg/sql/gcjob/index_garbage_collection.go
  pkg/sql/logictest/testdata/logic_test/privileges_table
  pkg/sql/logictest/testdata/logic_test/truncate
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/deleter.go
  pkg/sql/row/updater.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/table.go
  pkg/sql/truncate.go
Owners: @cockroachdb/bulk-io

build: add dryrun option to make and publish build script
  build/release/teamcity-make-and-publish-build.sh
Owners: none

build: add dryrun option to make and publish build script
  build/release/teamcity-make-and-publish-build.sh
Owners: none

sql: adding privileges to enum types
  docs/generated/sql/bnf/grant_privileges.bnf
  docs/generated/sql/bnf/grant_roles.bnf
  docs/generated/sql/bnf/revoke_privileges.bnf
  docs/generated/sql/bnf/revoke_roles.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/backupccl/show.go
  pkg/cmd/docgen/diagrams.go
  pkg/sql/alter_type.go
  pkg/sql/authorization.go
  pkg/sql/catalog/descpb/privilege.go
  pkg/sql/catalog/descpb/privilege_test.go
  pkg/sql/catalog/descpb/structured.pb.go
  pkg/sql/catalog/descpb/structured.proto
  pkg/sql/create_type.go
  pkg/sql/descriptor.go
  pkg/sql/drop_type.go
  pkg/sql/grant_revoke.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/grant_database
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/set_schema
  pkg/sql/logictest/testdata/logic_test/type_privileges
  pkg/sql/parser/sql.y
  pkg/sql/privilege/kind_string.go
  pkg/sql/privilege/privilege.go
  pkg/sql/privilege/privilege_test.go
  pkg/sql/rename_database.go
  pkg/sql/resolver.go
  pkg/sql/sem/tree/grant.go
  pkg/sql/sqlbase/type_desc.go
  pkg/sql/sqlbase/validate_test.go
  pkg/sql/sqltelemetry/iam.go
Owners: @cockroachdb/bulk-io

opt: add support for CREATE/DROP INDEX in test catalog
  pkg/sql/opt/cat/utils.go
  pkg/sql/opt/testutils/testcat/create_index.go
  pkg/sql/opt/testutils/testcat/drop_index.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/testutils/testcat/testdata/index
Owners: @cockroachdb/sql-optimizer

opt: add support for CREATE/DROP INDEX in test catalog
  pkg/sql/opt/cat/utils.go
  pkg/sql/opt/testutils/testcat/create_index.go
  pkg/sql/opt/testutils/testcat/drop_index.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/testutils/testcat/testdata/index
Owners: @cockroachdb/sql-optimizer

sql: add privilege validation for different object types
  pkg/sql/catalog/descpb/privilege.go
  pkg/sql/catalog/descpb/privilege_test.go
  pkg/sql/grant_revoke.go
  pkg/sql/sqlbase/database_desc.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/type_desc.go
Owners: none

colexec: remove custom input/output batch size logic from few places
  pkg/sql/colexec/aggregators_test.go
  pkg/sql/colexec/mergejoiner.go
  pkg/sql/colexec/mergejoiner_exceptall.eg.go
  pkg/sql/colexec/mergejoiner_fullouter.eg.go
  pkg/sql/colexec/mergejoiner_inner.eg.go
  pkg/sql/colexec/mergejoiner_intersectall.eg.go
  pkg/sql/colexec/mergejoiner_leftanti.eg.go
  pkg/sql/colexec/mergejoiner_leftouter.eg.go
  pkg/sql/colexec/mergejoiner_leftsemi.eg.go
  pkg/sql/colexec/mergejoiner_rightouter.eg.go
  pkg/sql/colexec/mergejoiner_test.go
  pkg/sql/colexec/mergejoiner_tmpl.go
  pkg/sql/colexec/ordered_aggregator.go
  pkg/sql/colexec/parallel_unordered_synchronizer_test.go
  pkg/sql/colexec/relative_rank.eg.go
  pkg/sql/colexec/relative_rank_tmpl.go
  pkg/sql/colexec/routers.go
  pkg/sql/colexec/routers_test.go
  pkg/sql/colexec/spilling_queue.go
  pkg/sql/colexec/spilling_queue_test.go
  pkg/sql/colexec/types_integration_test.go
  pkg/sql/colexec/utils_test.go
Owners: none

security: tenant client certificates have OU=Tenants
  pkg/cli/mt_cert.go
  pkg/rpc/tls.go
  pkg/security/auth.go
  pkg/security/auth_test.go
  pkg/security/certificate_manager.go
  pkg/security/certs.go
  pkg/security/certs_tenant_test.go
  pkg/security/certs_test.go
  pkg/security/x509.go
Owners: @cockroachdb/cli-prs

colexec: use batches with dynamic capacity in several operators
  pkg/col/coldata/batch.go
  pkg/sql/colexec/columnarizer.go
  pkg/sql/colexec/deselector.go
  pkg/sql/colexec/ordered_synchronizer.eg.go
  pkg/sql/colexec/ordered_synchronizer_tmpl.go
  pkg/sql/colexec/routers.go
  pkg/sql/colexec/sort.go
  pkg/sql/colexec/sorttopk.go
  pkg/sql/colexec/utils.go
  pkg/sql/colfetcher/cfetcher.go
  pkg/sql/colflow/colrpc/inbox.go
  pkg/sql/colmem/allocator.go
Owners: none

bulkio: Hook backup job resume to notify schedules upon completion.
  pkg/ccl/backupccl/backup_job.go
  pkg/ccl/backupccl/schedule_exec.go
  pkg/jobs/executor_impl.go
  pkg/jobs/executor_impl_test.go
  pkg/jobs/job_scheduler_test.go
  pkg/jobs/scheduled_job_executor.go
  pkg/jobs/scheduled_job_executor_test.go
Owners: @cockroachdb/bulk-io

bulkio: Hook backup job resume to notify schedules upon completion.
  pkg/ccl/backupccl/backup_job.go
  pkg/ccl/backupccl/schedule_exec.go
  pkg/jobs/executor_impl.go
  pkg/jobs/executor_impl_test.go
  pkg/jobs/job_scheduler_test.go
  pkg/jobs/scheduled_job_executor.go
  pkg/jobs/scheduled_job_executor_test.go
Owners: @cockroachdb/bulk-io

bulkio: Drop support for `RECURRING NEVER` for scheduled backups.
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/backupccl/create_scheduled_backup_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/bulk-io

bulkio: Drop support for `RECURRING NEVER` for scheduled backups.
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/backupccl/create_scheduled_backup_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/bulk-io

sql: allow CREATE UNLOGGED TABLE syntax
  docs/generated/sql/bnf/create_table_as_stmt.bnf
  docs/generated/sql/bnf/create_table_partition_by.bnf
  docs/generated/sql/bnf/create_table_stmt.bnf
  docs/generated/sql/bnf/interleave.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/importccl/import_table_creation.go
  pkg/ccl/importccl/load.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/testutils_test.go
  pkg/sql/add_column.go
  pkg/sql/catalog/descpb/structured.go
  pkg/sql/catalog/descpb/structured.pb.go
  pkg/sql/catalog/descpb/structured.proto
  pkg/sql/create_sequence.go
  pkg/sql/create_table.go
  pkg/sql/create_view.go
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/logictest/testdata/logic_test/create_statements
  pkg/sql/namespace_test.go
  pkg/sql/opt/exec/execbuilder/statement.go
  pkg/sql/opt/exec/factory.opt
  pkg/sql/opt/memo/interner.go
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/create_table.go
  pkg/sql/opt/optbuilder/create_view.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/optgen/cmd/optgen/metadata.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/create.go
  pkg/sql/sem/tree/persistence.go
  pkg/sql/sem/tree/pretty.go
  pkg/sql/show_create.go
  pkg/sql/sqlbase/table.go
  pkg/sql/sqltelemetry/schema.go
  pkg/sql/testdata/telemetry/schema
  pkg/sql/testutils.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/bulk-io, @cockroachdb/sql-optimizer

kvserver: skip TestStoreRangeMergeRHSLeaseExpiration
  pkg/kv/kvserver/client_merge_test.go
Owners: @cockroachdb/kv

roachprod: fix log formatting in roachprod start
  pkg/cmd/roachprod/install/cockroach.go
Owners: none

kv: add WaitPolicy option to BatchRequest
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.cc
  c-deps/libroach/protos/kv/kvserver/concurrency/lock/locking.pb.h
  c-deps/libroach/protos/roachpb/api.pb.cc
  c-deps/libroach/protos/roachpb/api.pb.h
  pkg/kv/kvclient/kvcoord/txn_test.go
  pkg/kv/kvserver/concurrency/concurrency_control.go
  pkg/kv/kvserver/concurrency/concurrency_manager_test.go
  pkg/kv/kvserver/concurrency/datadriven_util_test.go
  pkg/kv/kvserver/concurrency/lock/locking.pb.go
  pkg/kv/kvserver/concurrency/lock/locking.proto
  pkg/kv/kvserver/concurrency/lock_table_waiter.go
  pkg/kv/kvserver/concurrency/lock_table_waiter_test.go
  pkg/kv/kvserver/concurrency/testdata/concurrency_manager/wait_policy_error
  pkg/kv/kvserver/replica_send.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/batch.go
  pkg/roachpb/errors.go
  pkg/roachpb/string_test.go
Owners: @cockroachdb/kv

kvcoord: remove RangeIterator.Lease()
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/range_iter.go
Owners: @cockroachdb/kv

roachpb: add a comment to NotLeaseholderError
  pkg/roachpb/data.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: none

sql: support COPY ... BINARY format
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/copy.go
  pkg/sql/copy_in_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/copy.go
Owners: none

sql: strip tenant ID from key before calling IndexKeyEquivSignature
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/row/fetcher.go
  pkg/sql/sqlbase/index_encoding.go
Owners: none

kvserver: stop creating a new error on every empty raft command
  pkg/kv/kvserver/replica_application_state_machine.go
Owners: @cockroachdb/kv
