Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

diagnosticspb: restore deleted fields
  pkg/server/diagnosticspb/diagnostics.pb.go
  pkg/server/diagnosticspb/diagnostics.proto
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: add missing locking for txnState.mu.txn writes
  pkg/sql/txn_state.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add missing locking for txnState.mu.txn writes
  pkg/sql/txn_state.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: added null handling for hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
  pkg/sql/row/cfetcher.go
Owners: @cockroachdb/sql-rest-prs

sql: ensure orphaned lease deletion uses a post bootstrap timestamp
  pkg/server/server.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-async-prs

exec: template hash joiner
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: right outer join
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: template hash joiner
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

cli: add network systbench test
  pkg/cli/cliflags/flags.go
  pkg/cli/context.go
  pkg/cli/flags.go
  pkg/cli/systembench.go
  pkg/cli/systembench/network_test_client.go
  pkg/cli/systembench/network_test_common.go
  pkg/cli/systembench/network_test_server.go
  pkg/cli/systembench/systembenchpb/ping.pb.go
  pkg/cli/systembench/systembenchpb/ping.proto
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/cli-prs

cli: add network systbench test
  pkg/cli/cliflags/flags.go
  pkg/cli/context.go
  pkg/cli/flags.go
  pkg/cli/systembench.go
  pkg/cli/systembench/network_test_client.go
  pkg/cli/systembench/network_test_common.go
  pkg/cli/systembench/network_test_server.go
  pkg/cli/systembench/systembenchpb/ping.pb.go
  pkg/cli/systembench/systembenchpb/ping.proto
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/cli-prs

sql: update pg_catalog.pg_am to support Postgres v9.5 and v9.6
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

util: add FastIntSet.CopyFrom
  pkg/util/fast_int_set.go
Owners: none

util: add FastIntSet.CopyFrom
  pkg/util/fast_int_set.go
Owners: none

opt: fix panic in CREATE STATISTICS for table with no columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: fix panic in CREATE STATISTICS for table with no columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: null handling
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/exec/colvec.go
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/select
  pkg/sql/row/cfetcher.go
  pkg/sql/row/fetcherstate_string.go
Owners: @cockroachdb/sql-rest-prs

exec: add ColVec.PrettyValueAt
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: null handling
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/exec/colvec.go
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/select
  pkg/sql/row/cfetcher.go
  pkg/sql/row/fetcherstate_string.go
Owners: @cockroachdb/sql-rest-prs

exec: add ColVec.PrettyValueAt
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

roachtest: fix SCRUB tests
  pkg/cmd/roachtest/scrub.go
  pkg/testutils/sqlutils/scrub.go
Owners: none

roachtest: fix SCRUB tests
  pkg/cmd/roachtest/scrub.go
  pkg/testutils/sqlutils/scrub.go
Owners: none

exec: left outer join
  pkg/sql/exec/colvec.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
Owners: @cockroachdb/sql-rest-prs

sql: update pg_catalog.pg_am to support Postgres v9.5 and v9.6
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: update pg_catalog.pg_am to support Postgres v9.5 and v9.6
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pg_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

RFC: Lazy Transaction Record Creation
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20181209_lazy_txn_record_creation.md
Owners: @cockroachdb/rfc-prs

RFC: Lazy Transaction Record Creation
  docs/RFCS/20180324_parallel_commit.md
  docs/RFCS/20181209_lazy_txn_record_creation.md
Owners: @cockroachdb/rfc-prs

sql: help TestShowQueries not break so much
  pkg/sql/show_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: help TestShowQueries not break so much
  pkg/sql/show_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storagepb: fix typo on ReplicaState.txn_span_gc_threshold
  pkg/storage/storagepb/state.pb.go
  pkg/storage/storagepb/state.proto
Owners: @cockroachdb/core-prs

sql: run check constraint mutations and validation by schema changer
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/check.go
  pkg/sql/create_table.go
  pkg/sql/distsql_plan_backfill.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/checkbackfiller.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/computed_exprs.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

roachtest: add rollback create index test
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
Owners: none

sql: add automatic table stats collection
  docs/generated/settings/settings.html
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/event_log.go
  pkg/sql/insert.go
  pkg/sql/internal.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/logictest/testdata/logic_test/distsql_event_log
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/plan.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/delete_stats.go
  pkg/sql/stats/delete_stats_test.go
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

exec: added null handling for hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

docs: clarify that the sources must be checked out inside the GOPATH
  CONTRIBUTING.md
Owners: none

docs: clarify that the sources must be checked out inside the GOPATH
  CONTRIBUTING.md
Owners: none

roachtest: only publish artifacts for failed tests
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: only publish artifacts for failed tests
  pkg/cmd/roachtest/test.go
Owners: none

sql: stub ssl_renegotiation_limit
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/set
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/vars.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

pgwire: report unimplemented client parameters in telemetry
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

sql: ensure that internal executors have a valid application_name
  pkg/sql/conn_executor.go
  pkg/sql/internal_test.go
  pkg/sql/run_control_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs
