Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

exec: execute and plan multi-col asc sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/bool_vec_to_sel.go
  pkg/sql/exec/coalescer.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add sorter
  Makefile
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

exec: add support for descending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add support for descending sorts
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/execgen/cmd/execgen/sort_gen.go
  pkg/sql/exec/quicksort_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/sort_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: release orphaned table leases at server startup
  pkg/server/server.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
  pkg/sql/metric_test.go
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: Add support for composite key MATCH FULL
  docs/generated/sql/bnf/col_qualification.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  docs/generated/sql/bnf/table_constraint.bnf
  pkg/sql/create_table.go
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/opt/catalog.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt_catalog.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
  pkg/sql/sem/tree/create.go
  pkg/sql/show_create.go
  pkg/sql/show_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-async-prs

util: add FastIntSet.CopyFrom
  pkg/util/fast_int_set.go
Owners: none

exec: null handling
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/exec/colvec.go
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/select
  pkg/sql/row/cfetcher.go
  pkg/sql/row/fetcherstate_string.go
Owners: @cockroachdb/sql-rest-prs

exec: added selection vector templating
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: bugfix to projection batch
  pkg/sql/exec/colbatch.go
  pkg/sql/exec/execgen/cmd/execgen/projection_ops_gen.go
Owners: @cockroachdb/sql-rest-prs

exec: template hash joiner
  pkg/sql/exec/colvec.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/sum_agg_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: selection templating
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: clean up hash joiner
  pkg/sql/exec/hashjoiner.go
Owners: @cockroachdb/sql-rest-prs

exec: added null handling to inner hash join
  pkg/sql/exec/colvec.go
  pkg/sql/exec/execgen/cmd/execgen/colvec_gen.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: benchmark for null handling in hash joiner
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_test.go
Owners: @cockroachdb/sql-rest-prs

sql: Add support for composite key MATCH FULL
  docs/generated/sql/bnf/col_qualification.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  docs/generated/sql/bnf/table_constraint.bnf
  pkg/sql/create_table.go
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/opt/catalog.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt_catalog.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/row/cascader.go
  pkg/sql/row/fk.go
  pkg/sql/sem/tree/create.go
  pkg/sql/show_create.go
  pkg/sql/show_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-async-prs

engine: add benchmark for scanning transactional data
  pkg/storage/engine/bench_rocksdb_test.go
  pkg/storage/engine/bench_test.go
Owners: @cockroachdb/core-prs

engine: add benchmark for scanning transactional data
  pkg/storage/engine/bench_rocksdb_test.go
  pkg/storage/engine/bench_test.go
Owners: @cockroachdb/core-prs

opt: remove temporary fix for column ordering groups issue
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/ordering/select.go
  pkg/sql/opt/xform/testdata/rules/groupby
Owners: @cockroachdb/sql-opt-prs

opt: remove temporary fix for column ordering groups issue
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/ordering/select.go
  pkg/sql/opt/xform/testdata/rules/groupby
Owners: @cockroachdb/sql-opt-prs

changefeedccl: reduce debugging spam in tests
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/helpers_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: reduce debugging spam in tests
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/helpers_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: reduce debugging spam in tests
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/helpers_test.go
Owners: @cockroachdb/sql-ccl-prs

opt: plumb "max results" guarantee
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/constraint/constraint.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: plumb "max results" guarantee
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/constraint/constraint.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

util: add version library, replace hashicorp/go-version
  Gopkg.lock
  pkg/build/info.go
  pkg/ccl/cliccl/main_test.go
  pkg/cli/dump.go
  pkg/cli/interactive_tests/test_version_reporting.tcl
  pkg/cli/main_test.go
  pkg/cli/sql_util.go
  pkg/cli/user.go
  pkg/cli/zone.go
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/internal/issues/issues_test.go
  pkg/cmd/publish-artifacts/main.go
  pkg/cmd/roachprod/install/cockroach.go
  pkg/cmd/roachprod/install/install.go
  pkg/cmd/roachtest/cdc.go
  pkg/cmd/roachtest/disk_space.go
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/rebalance_load.go
  pkg/cmd/roachtest/split.go
  pkg/cmd/roachtest/sqlsmith.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
  pkg/cmd/roachtest/tpcc.go
  pkg/util/version/version.go
  pkg/util/version/version_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs

sqlbase: add value encoding for arrays of tuples
  pkg/sql/logictest/testdata/logic_test/array
  pkg/sql/sqlbase/column_type_encoding.go
  pkg/sql/sqlbase/column_type_properties.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

exec: add arithmetic ops with const on left
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/execgen/cmd/execgen/projection_ops_gen.go
  pkg/sql/exec/projection_ops_test.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add arithmetic ops with const on left
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/execgen/cmd/execgen/projection_ops_gen.go
  pkg/sql/exec/projection_ops_test.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: allow transactions to run at a lower sequence
  pkg/roachpb/batch.go
  pkg/storage/client_split_test.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

acceptance: add binary upgrade for v2.1 to acceptance/upgrade
  pkg/cmd/roachtest/upgrade.go
Owners: none

acceptance: add binary upgrade for v2.1 to acceptance/upgrade
  pkg/cmd/roachtest/upgrade.go
Owners: none

storage: future-proof TestTimeSeriesMaintenanceQueue
  pkg/storage/ts_maintenance_queue_test.go
Owners: @cockroachdb/core-prs

storage: future-proof TestTimeSeriesMaintenanceQueue
  pkg/storage/ts_maintenance_queue_test.go
Owners: @cockroachdb/core-prs

storage: remove all references to DeprecatedBatchIndex
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc3.pb.h
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

kv: dont wrap a MixedSuccessError within a MixedSuccessError
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/core-prs

sql: release orphaned table leases at server startup
  pkg/server/server.go
  pkg/server/updates_test.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
  pkg/sql/metric_test.go
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: release orphaned table leases at server startup
  pkg/server/server.go
  pkg/server/updates_test.go
  pkg/sql/lease.go
  pkg/sql/lease_test.go
  pkg/sql/metric_test.go
  pkg/sql/sem/tree/datum.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: Remove types from mutation mappings
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Add SimplifyMutationOrdering rule for Update operator
  pkg/sql/opt/norm/rules/ordering.opt
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
