Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql/row: move fkDeleteHelper/fkUpdateHelper to separate files
  pkg/sql/row/fk.go
  pkg/sql/row/fk_delete_helper.go
  pkg/sql/row/fk_update_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: rename writeIdx -> mutatedIdx
  pkg/sql/row/fk.go
  pkg/sql/row/fk_base_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: clarify the code by renaming some objects
  pkg/sql/row/fk.go
  pkg/sql/row/fk_delete_helper.go
  pkg/sql/row/fk_existence_base.go
  pkg/sql/row/fk_existence_batch.go
  pkg/sql/row/fk_existence_check.go
  pkg/sql/row/fk_existence_delete.go
  pkg/sql/row/fk_existence_insert.go
  pkg/sql/row/fk_existence_update.go
  pkg/sql/row/fk_spans.go
  pkg/sql/row/writer.go
Owners: @cockroachdb/sql-rest-prs

sql: clarify some code
  pkg/sql/delete.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql/row: rename TablesNeededForFKs -> MakeFkMetadata
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql/row: rename TablesNeededForFKs -> MakeFkMetadata
  pkg/sql/backfill.go
  pkg/sql/backfill/backfill.go
  pkg/sql/delete.go
  pkg/sql/delete_test.go
  pkg/sql/insert.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/row/fk_existence_prepare.go
  pkg/sql/row/fk_table_lookup.go
  pkg/sql/row/fk_test.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: fix filterUnremovableReplicas badness
  pkg/storage/allocator.go
  pkg/storage/allocator_test.go
  pkg/storage/replicate_queue.go
Owners: @cockroachdb/core-prs

storage: reimplement StorePool.AvailableNodeCount
  pkg/server/node_test.go
  pkg/server/server.go
  pkg/storage/allocator_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
  pkg/storage/node_liveness.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_rebalancer_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: fix lastReplicaAdded computation
  pkg/storage/replica_init.go
  pkg/storage/replica_init_test.go
Owners: @cockroachdb/core-prs

settings: minor comments around the versionTransformer
  pkg/settings/cluster/settings.go
  pkg/settings/statemachine.go
  pkg/sql/show_cluster_setting.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

settings: minor comments around the versionTransformer
  pkg/settings/cluster/settings.go
  pkg/settings/statemachine.go
  pkg/sql/show_cluster_setting.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: add replicate/wide roachtest
  pkg/cmd/roachtest/allocator.go
  pkg/storage/store_pool.go
Owners: @cockroachdb/core-prs

settings: make StateMachineSetting.setToDefault a no-op
  pkg/settings/cluster/settings.go
  pkg/settings/statemachine.go
  pkg/sql/show_cluster_setting.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

settings: make StateMachineSetting.setToDefault a no-op
  pkg/settings/cluster/settings.go
  pkg/settings/statemachine.go
  pkg/sql/show_cluster_setting.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage/raftentry: fix race in Cache
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
Owners: @cockroachdb/core-prs

sql/row: add a clarifying comment
  pkg/sql/row/fk_existence_prepare.go
Owners: @cockroachdb/sql-rest-prs

sql/row: add a clarifying comment
  pkg/sql/row/fk_existence_prepare.go
Owners: @cockroachdb/sql-rest-prs

docs: Tech note on the rebalancing system
  docs/tech-notes/rebalancing.md
Owners: none

docs: Tech note on the rebalancing system
  docs/tech-notes/rebalancing.md
Owners: none

sql: clean up EXPLAIN for index-join and lookup-join
  pkg/sql/index_join.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/aggregate
  pkg/sql/logictest/testdata/planner_test/custom_mutation_indexes
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/inverted_index
  pkg/sql/logictest/testdata/planner_test/limit
  pkg/sql/logictest/testdata/planner_test/order_by
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/tuple
  pkg/sql/lookup_join.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/limit
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/prepare
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/tuple
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: clean up EXPLAIN for index-join and lookup-join
  pkg/sql/index_join.go
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/aggregate
  pkg/sql/logictest/testdata/planner_test/custom_mutation_indexes
  pkg/sql/logictest/testdata/planner_test/delete
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/logictest/testdata/planner_test/inverted_index
  pkg/sql/logictest/testdata/planner_test/limit
  pkg/sql/logictest/testdata/planner_test/order_by
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/select_index
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/tuple
  pkg/sql/lookup_join.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/exec/execbuilder/testdata/limit
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/prepare
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/tuple
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

settings,server,sql: rationalize StateMachineSetting
  pkg/cli/context.go
  pkg/rpc/context.go
  pkg/rpc/heartbeat.go
  pkg/server/node.go
  pkg/server/server.go
  pkg/server/testserver.go
  pkg/settings/cluster/settings.go
  pkg/settings/setting.go
  pkg/settings/statemachine.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/set_cluster_setting.go
  pkg/sql/show_cluster_setting.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

client: set timeout on async rollback's context
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

roachtest: run mixed version tests on more releases
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/upgrade.go
  pkg/cmd/roachtest/version.go
Owners: none

gossip: avoid removing nodes that get a new address
  pkg/gossip/gossip.go
  pkg/gossip/gossip_test.go
Owners: @cockroachdb/core-prs

storage/raftentry: fix race in Cache
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
Owners: @cockroachdb/core-prs

storage/raftentry: fix race in Cache
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
Owners: @cockroachdb/core-prs

exec: support index/lookup joins
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: miscellaneous fixes to infrastructure
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/distsqlrun/columnarizer.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

exec: miscellaneous fixes to infrastructure
  pkg/sql/colencoding/key_encoding.go
  pkg/sql/distsqlrun/columnarizer.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

exec: support index/lookup joins
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: point spans should never include interleaves
  pkg/sql/distsqlrun/indexjoiner.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/zigzagjoiner.go
  pkg/sql/index_join.go
  pkg/sql/logictest/testdata/logic_test/distsql_lookup_join
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/select_index
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/sqlbase/cascader.go
  pkg/sql/sqlbase/fk.go
  pkg/sql/sqlbase/index_encoding.go
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

server,rpc: validate node IDs in RPC heartbeats
  pkg/gossip/client_test.go
  pkg/rpc/context.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat.pb.go
  pkg/rpc/heartbeat.proto
  pkg/rpc/heartbeat_test.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/server/admin.go
  pkg/server/server.go
  pkg/server/status.go
  pkg/sql/distsqlrun/cluster_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/server_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

server,rpc: validate node IDs in RPC heartbeats
  pkg/gossip/client_test.go
  pkg/rpc/context.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat.pb.go
  pkg/rpc/heartbeat.proto
  pkg/rpc/heartbeat_test.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/server/admin.go
  pkg/server/server.go
  pkg/server/status.go
  pkg/sql/distsqlrun/cluster_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/server_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

server,rpc: validate node IDs in RPC heartbeats
  pkg/gossip/client_test.go
  pkg/gossip/gossip_test.go
  pkg/rpc/context.go
  pkg/rpc/context_test.go
  pkg/rpc/heartbeat.go
  pkg/rpc/heartbeat.pb.go
  pkg/rpc/heartbeat.proto
  pkg/rpc/heartbeat_test.go
  pkg/rpc/nodedialer/nodedialer.go
  pkg/server/admin.go
  pkg/server/server.go
  pkg/server/status.go
  pkg/sql/distsqlrun/cluster_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/server_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

opt: add support for aggregate FILTER
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: add support for aggregate FILTER
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Support check constraints in opt metadata
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Support check constraints in opt metadata
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: add interfaces for copysets
  pkg/roachpb/metadata.go
  pkg/storage/copysets.go
  pkg/storage/copysets.pb.go
  pkg/storage/copysets.proto
Owners: @cockroachdb/core-prs
