Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

ui: Refactor trackTableSort analytics service usage
  pkg/ui/package.json
  pkg/ui/src/redux/analyticsActions.ts
  pkg/ui/src/redux/analyticsSagas.ts
  pkg/ui/src/util/analytics/trackTableSort.spec.ts
  pkg/ui/src/util/analytics/trackTableSort.ts
  pkg/ui/src/views/shared/components/sortabletable/index.tsx
  pkg/ui/src/views/statements/statements.spec.tsx
  pkg/ui/src/views/statements/statementsPage.fixture.ts
  pkg/ui/src/views/statements/statementsPage.stories.tsx
  pkg/ui/src/views/statements/statementsPage.tsx
  pkg/ui/yarn.lock
Owners: @cockroachdb/admin-ui-prs

ui: Refactor trackTableSort analytics service usage
  pkg/ui/package.json
  pkg/ui/src/redux/analyticsActions.ts
  pkg/ui/src/redux/analyticsSagas.ts
  pkg/ui/src/util/analytics/trackTableSort.spec.ts
  pkg/ui/src/util/analytics/trackTableSort.ts
  pkg/ui/src/views/shared/components/sortabletable/index.tsx
  pkg/ui/src/views/statements/statements.spec.tsx
  pkg/ui/src/views/statements/statementsPage.fixture.ts
  pkg/ui/src/views/statements/statementsPage.stories.tsx
  pkg/ui/src/views/statements/statementsPage.tsx
  pkg/ui/yarn.lock
Owners: @cockroachdb/admin-ui-prs

kvserver: allow historical reads on subsumed ranges
  pkg/kv/kvserver/batcheval/cmd_subsume.go
  pkg/kv/kvserver/batcheval/result/result.go
  pkg/kv/kvserver/client_merge_test.go
  pkg/kv/kvserver/replica.go
  pkg/kv/kvserver/replica_proposal.go
  pkg/kv/kvserver/replica_read.go
Owners: @cockroachdb/kv

kvserver: add TestingConcurrencyRetryFilter
  pkg/kv/kvserver/kvserverbase/base.go
  pkg/kv/kvserver/replica_send.go
  pkg/kv/kvserver/testing_knobs.go
Owners: @cockroachdb/kv

bulkio: Correctly handle exhausting retries when reading from HTTP.
  pkg/storage/cloudimpl/cloudimpltests/http_storage_test.go
  pkg/storage/cloudimpl/http_storage.go
Owners: none

bulkio: Correctly handle exhausting retries when reading from HTTP.
  pkg/storage/cloudimpl/cloudimpltests/http_storage_test.go
  pkg/storage/cloudimpl/http_storage.go
Owners: none

geogen: tighten bounds of SRID 0 for coordinate generation
  pkg/geo/geogen/geogen.go
Owners: @cockroachdb/geospatial

geogen: tighten bounds of SRID 0 for coordinate generation
  pkg/geo/geogen/geogen.go
Owners: @cockroachdb/geospatial

sql: fix stable column id
  pkg/sql/logictest/testdata/logic_test/_my_test
  pkg/sql/logictest/testdata/logic_test/alter_column_type
  pkg/sql/opt/cat/column.go
  pkg/sql/opt_catalog.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-optimizer

backupccl: distribute RESTORE work using DistSQL
  pkg/ccl/backupccl/backup.pb.go
  pkg/ccl/backupccl/backup.proto
  pkg/ccl/backupccl/restore_data_processor.go
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/restore_processor_planning.go
  pkg/ccl/backupccl/split_and_scatter_processor.go
  pkg/sql/rowexec/processors.go
Owners: @cockroachdb/bulk-io

backupccl: distribute RESTORE work using DistSQL
  pkg/ccl/backupccl/backup.pb.go
  pkg/ccl/backupccl/backup.proto
  pkg/ccl/backupccl/restore_data_processor.go
  pkg/ccl/backupccl/restore_job.go
  pkg/ccl/backupccl/restore_processor_planning.go
  pkg/ccl/backupccl/split_and_scatter_processor.go
  pkg/sql/rowexec/processors.go
Owners: @cockroachdb/bulk-io

ui: Automate formatting standards
  pkg/ui/.eslintignore
  pkg/ui/.eslintrc
  pkg/ui/package.json
  pkg/ui/tsconfig.json
  pkg/ui/tslint.json
  pkg/ui/yarn.lock
Owners: @cockroachdb/admin-ui-prs

roachtest: reflake (skip) disk-stalled test for release-19.1
  pkg/cmd/roachtest/disk_stall.go
Owners: none

roachtest: reflake (skip) disk-stalled test for release-19.1
  pkg/cmd/roachtest/disk_stall.go
Owners: none

sql: remove local execution of projectSetNode
  pkg/sql/distsql_physical_planner.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan_ordering.go
  pkg/sql/project_set.go
  pkg/sql/rowexec/project_set.go
Owners: none

sql: remove local execution of projectSetNode
  pkg/sql/distsql_physical_planner.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan_ordering.go
  pkg/sql/project_set.go
  pkg/sql/rowexec/project_set.go
Owners: none

sql: implement ConstructProjectSet in the new factory
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/logictest/testdata/logic_test/experimental_distsql_planning
  pkg/sql/opt_exec_factory.go
  pkg/sql/project_set.go
Owners: none

sql: implement ConstructProjectSet in the new factory
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/logictest/testdata/logic_test/experimental_distsql_planning
  pkg/sql/opt_exec_factory.go
  pkg/sql/project_set.go
Owners: none

importccl: support random() and gen_random_uuid() as default expression
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/row/expr_walker.go
  pkg/sql/row/row_converter.go
Owners: @cockroachdb/bulk-io

build: add libgeos to teamcity-make-and-publish-build.sh
  build/release/teamcity-make-and-publish-build.sh
Owners: none

build: add libgeos to teamcity-make-and-publish-build.sh
  build/release/teamcity-make-and-publish-build.sh
Owners: none

backupccl: add missing ExternalCloudStorage close
  pkg/ccl/backupccl/backup_job.go
Owners: @cockroachdb/bulk-io

sqlliveness: refactor code for testing and add tests
  out
  pkg/jobs/registry.go
  pkg/jobs/registry_external_test.go
  pkg/jobs/registry_test.go
  pkg/server/server_sql.go
  pkg/sql/sqlliveness/slinstance/slinstance.go
  pkg/sql/sqlliveness/slinstance/slinstance_test.go
  pkg/sql/sqlliveness/slstorage/main_test.go
  pkg/sql/sqlliveness/slstorage/slstorage.go
  pkg/sql/sqlliveness/slstorage/slstorage_test.go
  pkg/sql/sqlliveness/slstorage/test_helpers.go
  pkg/sql/sqlliveness/sqlliveness.go
Owners: none

backupccl: add missing ExternalCloudStorage close
  pkg/ccl/backupccl/backup.go
Owners: @cockroachdb/bulk-io

backupccl: add missing ExternalCloudStorage close
  pkg/ccl/backupccl/backup.go
Owners: @cockroachdb/bulk-io

sql: fix stable column id
  pkg/sql/logictest/testdata/logic_test/alter_column_type
  pkg/sql/opt/cat/column.go
  pkg/sql/opt_catalog.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-optimizer

build: downgrade to Go 1.13
  Makefile
  build/bootstrap/bootstrap-debian.sh
  build/builder.sh
  build/builder/Dockerfile
  build/go-version-check.sh
  build/teamcity-verify-archive.sh
  go.mod
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/cmd/roachprod/docker/Dockerfile
  pkg/storage/enginepb/mvcc3.pb.go
  pkg/util/hlc/timestamp.pb.go
Owners: none

sql: add PartialIndexMutator for generating random partial indexes
  pkg/internal/sqlsmith/setup.go
  pkg/sql/mutations/mutations.go
  pkg/sql/sqlbase/testutils.go
Owners: none

geo,geoindex: use bounding box for geography coverings that are bad
  pkg/geo/bbox.go
  pkg/geo/bbox_test.go
  pkg/geo/geoindex/s2_geography_index.go
  pkg/geo/geoindex/s2_geometry_index.go
  pkg/geo/geoindex/testdata/s2_geography
  pkg/geo/parse_test.go
Owners: @cockroachdb/geospatial

geo,geoindex: use bounding box for geography coverings that are bad
  pkg/geo/bbox.go
  pkg/geo/bbox_test.go
  pkg/geo/geoindex/s2_geography_index.go
  pkg/geo/geoindex/s2_geometry_index.go
  pkg/geo/geoindex/testdata/s2_geography
  pkg/geo/parse_test.go
Owners: @cockroachdb/geospatial

sql: fix stable column id
  pkg/sql/logictest/testdata/logic_test/alter_column_type
  pkg/sql/opt/cat/column.go
  pkg/sql/opt_catalog.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-optimizer

sql: support ALTER TYPE SET SCHEMA command
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/set_schema
  pkg/sql/rename_table.go
  pkg/sql/set_schema.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/type_desc.go
Owners: none

geosegmentize: prevent OOMs
  pkg/geo/geogfn/segmentize.go
  pkg/geo/geogfn/segmentize_test.go
  pkg/geo/geomfn/segmentize.go
  pkg/geo/geomfn/segmentize_test.go
  pkg/geo/geosegmentize/geosegmentize.go
Owners: @cockroachdb/geospatial

geosegmentize: prevent OOMs
  pkg/geo/geogfn/segmentize.go
  pkg/geo/geogfn/segmentize_test.go
  pkg/geo/geomfn/segmentize.go
  pkg/geo/geomfn/segmentize_test.go
  pkg/geo/geosegmentize/geosegmentize.go
Owners: @cockroachdb/geospatial

sql: add PartialIndexMutator for generating random partial indexes
  pkg/internal/sqlsmith/setup.go
  pkg/sql/mutations/mutations.go
  pkg/sql/sqlbase/testutils.go
Owners: none

sql: add PartialIndexMutator for generating random partial indexes
  pkg/internal/sqlsmith/setup.go
  pkg/sql/mutations/mutations.go
  pkg/sql/sqlbase/testutils.go
Owners: none

sql/pgwire: add regression test for varchar OIDs in RowDescription
  pkg/sql/pgwire/testdata/pgtest/row_description
Owners: none

pgwire: remove left over types refactor artifact
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/testdata/pgtest/row_description
  pkg/sql/pgwire/types.go
  pkg/testutils/pgtest/datadriven.go
Owners: none

opt: reorder subtrees of size <= ReorderJoinsLimit
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/norm/testdata/rules/combo
  pkg/sql/opt/norm/testdata/rules/with
  pkg/sql/opt/props/logical.go
  pkg/sql/opt/testutils/opttester/reorder_joins.go
  pkg/sql/opt/testutils/opttester/testdata/opt-steps
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/join_order_builder.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/rules/combo
  pkg/sql/opt/xform/testdata/rules/groupby
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/join_order
  pkg/sql/opt/xform/testdata/rules/scan
  pkg/sql/opt/xform/testdata/rules/select
  pkg/sql/opt/xform/testdata/rules/stats
Owners: @cockroachdb/sql-optimizer

cli: support user defined schemas in cockroach dump
  pkg/cli/dump.go
  pkg/cli/dump_test.go
  pkg/cli/testdata/dump/comments
  pkg/cli/testdata/dump/computed
  pkg/cli/testdata/dump/enums
  pkg/cli/testdata/dump/flags
  pkg/cli/testdata/dump/identifiers
  pkg/cli/testdata/dump/interleave_index
  pkg/cli/testdata/dump/inverted_index
  pkg/cli/testdata/dump/multiple
  pkg/cli/testdata/dump/primary_key
  pkg/cli/testdata/dump/reference_cycle
  pkg/cli/testdata/dump/reference_order
  pkg/cli/testdata/dump/reference_self
  pkg/cli/testdata/dump/row
  pkg/cli/testdata/dump/schemas
  pkg/sql/catalog/catalogkv/catalogkv.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/create_statements
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/show_create
  pkg/sql/logictest/testdata/logic_test/temp_table
  pkg/sql/opt/exec/execbuilder/testdata/information_schema
  pkg/sql/opt/memo/testdata/logprops/virtual-scan
  pkg/sql/opt/optbuilder/testdata/delegate
  pkg/sql/opt/xform/testdata/coster/virtual-scan
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/pg_catalog.go
  pkg/sql/resolver.go
  pkg/sql/show_create.go
  pkg/sql/show_create_clauses.go
  pkg/sql/vtable/information_schema.go
Owners: @cockroachdb/bulk-io, @cockroachdb/cli-prs, @cockroachdb/sql-optimizer

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv
