Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

sql,stats: collect stats on non-index columns too
  pkg/ccl/backupccl/backup_test.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/sql/stats/row_sampling.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

sql: don't reinitialize the entire planner and evalcontext every time
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/distsql_running.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

sql: don't reinitialize the entire planner and evalcontext every time
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/distsql_running.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

workload: generate bash completions
  pkg/workload/cli/bash_complete.go
Owners: none

workload: generate bash completions
  pkg/workload/cli/bash_complete.go
Owners: none

sql: do not try to create stats on JSON columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: do not try to create stats on JSON columns
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: refactor connExecutor.sessionData initialization
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_log.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/sessiondata/sequence_state.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

roachtest: reduce size of inverted index test
  pkg/cmd/roachtest/inverted_index.go
Owners: none

roachtest: reduce size of inverted index test
  pkg/cmd/roachtest/inverted_index.go
Owners: none

changefeedccl: strip secrets from sink in job description
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

changefeed: add feature telemetry
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

storage: point users at docs in the "rangefeeds are off" error
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

workload: rate limit splits to prevent replica imbalance
  pkg/workload/workload.go
Owners: none

opt: fix panic caused by invalid constant folding
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/numeric
Owners: @cockroachdb/sql-opt-prs

changefeedccl: add entries in/out metrics to the RangeFeed buffer
  pkg/ccl/changefeedccl/buffer.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/poller.go
Owners: @cockroachdb/sql-ccl-prs

sql: don't panic on unexpected null in kvfetcher
  pkg/sql/row/fetcher.go
Owners: @cockroachdb/sql-rest-prs

kv: don't ingest aborted TxnCoordMeta
  pkg/kv/txn_coord_sender.go
Owners: @cockroachdb/core-prs

changefeedccl: add a metric for largest commit-to-emit latency
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/changefeeds.tsx
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/admin-ui-prs

sql: refactor connExecutor.sessionData initialization
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_log.go
  pkg/sql/exec_util.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/planner.go
  pkg/sql/sessiondata/sequence_state.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: refactor connExecutor.sessionData initialization
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_log.go
  pkg/sql/exec_util.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/planner.go
  pkg/sql/sessiondata/sequence_state.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: create stats after a schema change
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

changefeedccl: clean up TestChangefeedTimestamps
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/changefeed_test.go
Owners: @cockroachdb/sql-ccl-prs

rsg: add some errors to the ignored list
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/sql-rest-prs

rsg: add some errors to the ignored list
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/sql-rest-prs

stats: add ability to pause all create stats jobs
  pkg/sql/create_stats.go
  pkg/sql/stats/create_stats_job_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

stats: add ability to pause all create stats jobs
  pkg/sql/create_stats.go
  pkg/sql/stats/create_stats_job_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

stats: delay automatic stats refresh to reflect latest changes
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-rest-prs

stats: delay automatic stats refresh to reflect latest changes
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-rest-prs

execbuild: bugfix to group by with input ordering
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distinct
  pkg/sql/opt/exec/execbuilder/testdata/distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-opt-prs

storage: Move TestingProposalFilter a little earlier in the process
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: Refactor second half of evalAndPropose into proposeLocked
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

storage: Rename Replica.propose to evalAndPropose
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

storage: Move illegal lease index retries down into raft
  pkg/storage/batcheval/cmd_lease_test.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: Remove proposalIllegalLeaseIndex result from refreshProposals
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

sql: don't panic on unexpected null in kvfetcher
  pkg/sql/row/fetcher.go
Owners: @cockroachdb/sql-rest-prs

sql: don't panic on unexpected null in kvfetcher
  pkg/sql/row/fetcher.go
Owners: @cockroachdb/sql-rest-prs

workload: rate limit splits to prevent replica imbalance
  pkg/workload/workload.go
Owners: none

workload: rate limit splits to prevent replica imbalance
  pkg/workload/workload.go
Owners: none

opt: fix panic caused by invalid constant folding
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/fold_constants.opt
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/numeric
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
Owners: @cockroachdb/sql-opt-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
