Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

distsql: fix local planning of interleave joining
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/interleaved_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

opt: Add execution support for Upsert operator
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/explain.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/optbuilder/explain.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/parallel_stmts.go
  pkg/sql/plan.go
  pkg/sql/row/cascader.go
  pkg/sql/row/writer.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/tablewriter_upsert_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add execution support for Upsert operator
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/explain.go
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/spool
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/optbuilder/explain.go
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/parallel_stmts.go
  pkg/sql/plan.go
  pkg/sql/row/cascader.go
  pkg/sql/row/writer.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/tablewriter_upsert_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

build,Makefile: break up the release process into two phases
  Makefile
  build/teamcity-bless-provisional-binaries.sh
  build/teamcity-publish-provisional-binaries.sh
  build/variables.mk
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: @cockroachdb/build-prs

client: pool allocations of client.Batch
  pkg/internal/client/batch.go
  pkg/internal/client/db.go
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

roachpb: remove deprecated PUSH_QUERY PushTxnType
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/storage/batcheval/cmd_push_txn.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

roachpb: remove deprecated PUSH_QUERY PushTxnType
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/storage/batcheval/cmd_push_txn.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

client: pool allocations of client.Batch
  pkg/internal/client/batch.go
  pkg/internal/client/db.go
  pkg/internal/client/txn.go
  pkg/sql/row/writer.go
  pkg/sql/table.go
  pkg/sql/tablewriter.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_strict.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix crash in distsql planning for lookup joins
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Rename experimental_optimizer_updates
  docs/generated/settings/settings.html
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Add support for DELETE operator
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/delete
  pkg/sql/opt/memo/testdata/stats/delete
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/delete.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/delete
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Add execbuilder support for Delete operator
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/interleaved
  pkg/sql/logictest/testdata/logic_test/optimizer
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: more cleanup to plan_opt code
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/plan.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
  pkg/sql/prepared_stmt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: more cleanup to plan_opt code
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/plan.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
  pkg/sql/prepared_stmt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: use integer placeholder IDs
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/execute.go
  pkg/sql/internal.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/types/types.go
  pkg/sql/sqlbase/column_type_properties.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: use integer placeholder IDs
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/execute.go
  pkg/sql/internal.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/types/types.go
  pkg/sql/sqlbase/column_type_properties.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: remove unnecessary code
  pkg/sql/distsql_physical_planner.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs

sql: remove unnecessary code
  pkg/sql/distsql_physical_planner.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs

sql: use integer placeholder IDs
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/execute.go
  pkg/sql/internal.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/types/types.go
  pkg/sql/sqlbase/column_type_properties.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: use integer placeholder IDs
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/execute.go
  pkg/sql/internal.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
  pkg/sql/parser/sql.y
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/types/types.go
  pkg/sql/sqlbase/column_type_properties.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: replace StatementList with parser.Statements
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/cli/sql.go
  pkg/cli/sqlfmt.go
  pkg/server/admin.go
  pkg/sql/exec_util.go
  pkg/sql/lex/encode_test.go
  pkg/sql/logictest/logic.go
  pkg/sql/parser/help_test.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/sem/builtins/help_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_syntax.go
  pkg/sql/tests/rsg_test.go
  pkg/testutils/sqlutils/pretty.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

Revert "Revert "engineccl: ignore intents beneath start in MVCCIncrementalIterator""
  pkg/ccl/storageccl/engineccl/mvcc.go
  pkg/ccl/storageccl/engineccl/mvcc_test.go
Owners: @cockroachdb/sql-bulk-prs

Revert "Revert "engineccl: ignore intents beneath start in MVCCIncrementalIterator""
  pkg/ccl/storageccl/engineccl/mvcc.go
  pkg/ccl/storageccl/engineccl/mvcc_test.go
Owners: @cockroachdb/sql-bulk-prs

sql: return number of placeholders from parser
  pkg/sql/parser/lexer.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: fix leak of prepared statements
  pkg/sql/conn_executor.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix the lifetime of portals
  pkg/internal/client/sender.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_internal_test.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/internal.go
  pkg/sql/prepared_stmt.go
  pkg/sql/txn_state.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: replace StatementList with parser.Statements
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/cli/sql.go
  pkg/cli/sqlfmt.go
  pkg/server/admin.go
  pkg/sql/exec_util.go
  pkg/sql/lex/encode_test.go
  pkg/sql/logictest/logic.go
  pkg/sql/parser/help_test.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/sem/builtins/help_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_syntax.go
  pkg/sql/tests/rsg_test.go
  pkg/testutils/sqlutils/pretty.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

sql: return number of placeholders from parser
  pkg/sql/parser/lexer.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: replace StatementList with parser.Statements
  pkg/ccl/importccl/read_import_mysql_test.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/cli/sql.go
  pkg/cli/sqlfmt.go
  pkg/server/admin.go
  pkg/sql/exec_util.go
  pkg/sql/lex/encode_test.go
  pkg/sql/logictest/logic.go
  pkg/sql/parser/help_test.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/sem/builtins/help_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/stmt.go
  pkg/sql/show_syntax.go
  pkg/sql/tests/rsg_test.go
  pkg/testutils/sqlutils/pretty.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

sql: return number of placeholders from parser
  pkg/sql/parser/lexer.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

distsqlrun: fix lookup join order preservation
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

rfc: schema lease
  docs/RFCS/20190104_schema_lease.md
Owners: @cockroachdb/rfc-prs

sql: fix omitted columns bug in wrapped plans
  pkg/sql/logictest/testdata/logic_test/statement_source
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix omitted columns bug in wrapped plans
  pkg/sql/logictest/testdata/logic_test/statement_source
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: use updated method name
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: use updated method name
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

roachtest: always get the logs
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: always get the logs
  pkg/cmd/roachtest/test.go
Owners: none

storage: fix typo in comment
  pkg/storage/engine/engine.go
Owners: @cockroachdb/core-prs

storage: fix typo in comment
  pkg/storage/engine/engine.go
Owners: @cockroachdb/core-prs
