Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

exec: make hash join template "compilable"
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

roachprod: disable diagnostics by default
  pkg/cmd/roachprod/install/cockroach.go
Owners: none

exec: template hash joiner
  Makefile
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

opt: Plan zigzag joins on inverted indexes with 2 constraints
  pkg/sql/distsqlrun/zigzagjoiner.go
  pkg/sql/opt/exec/execbuilder/testdata/inverted_index
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/rules/join.opt
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/select
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

storage: Add an assertion to help find #33016
  pkg/storage/replica.go
  pkg/storage/stateloader/stateloader.go
Owners: @cockroachdb/core-prs

sql: update tablewriter_upsert to use a rowContainer
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

vendor: update thrift and zipkin-go-opentracing
  Gopkg.lock
  Gopkg.toml
  pkg/util/tracing/shadow.go
Owners: @cockroachdb/build-prs

vendor: update thrift and zipkin-go-opentracing
  Gopkg.lock
  Gopkg.toml
  pkg/util/tracing/shadow.go
Owners: @cockroachdb/build-prs

pgwire: change flushInfo.cmdStarts to a slice from a map
  pkg/sql/pgwire/conn.go
Owners: @cockroachdb/sql-wiring-prs

exec: outer join
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: write at provisional commit ts, not orig ts
  pkg/ccl/storageccl/engineccl/mvcc_test.go
  pkg/roachpb/batch.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/sql/upsert_test.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/engine/bench_test.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_logical_ops_test.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: write at provisional commit ts, not orig ts
  pkg/ccl/storageccl/engineccl/mvcc_test.go
  pkg/roachpb/batch.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/sql/upsert_test.go
  pkg/storage/batcheval/cmd_refresh_range_test.go
  pkg/storage/engine/bench_test.go
  pkg/storage/engine/enginepb/mvcc3.pb.go
  pkg/storage/engine/enginepb/mvcc3.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_logical_ops_test.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: make hash join template "compilable"
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: make hash join template "compilable"
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

workload/kv: consider --cycle-length when splitting
  pkg/workload/kv/kv.go
Owners: none

roachtest: create new kv/contention/nodes=4 test
  pkg/cmd/roachtest/cdc.go
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/registry.go
Owners: none

pgwire: fix binary decoding of decimal NaN and NULL in arrays
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

pgwire: fix binary decoding of decimal NaN and NULL in arrays
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

ui: indicate direction on node latency table
  pkg/ui/src/views/reports/containers/network/index.tsx
Owners: @cockroachdb/admin-ui-prs

sql: wait for node statuses in StartTestCluster
  pkg/ccl/partitionccl/partition_test.go
  pkg/sql/show_trace_replica_test.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: record json stats for tpccbench runs
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: record json stats for tpccbench runs
  pkg/cmd/roachtest/tpcc.go
Owners: none

storage: fix a deadlock in rangefeed teardown
  pkg/storage/rangefeed/processor.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

storage: fix a deadlock in rangefeed teardown
  pkg/storage/rangefeed/processor.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

sql: update tablewriter_upsert to use a rowContainer
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: update tablewriter_upsert to use a rowContainer
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql, roachpb: save representative logical plans in statement stats
  docs/generated/settings/settings.html
  pkg/roachpb/api.pb.go
  pkg/roachpb/app_stats.go
  pkg/roachpb/app_stats.pb.go
  pkg/roachpb/app_stats.proto
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
  pkg/sql/planner.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: add rollback create index test
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
  pkg/testutils/jobutils/jobs_verification.go
Owners: none

storage: have sequenced reads use the intent history
  c-deps/libroach/include/libroach.h
  c-deps/libroach/mvcc.h
  pkg/kv/txn_interceptor_sequence_nums.go
  pkg/storage/engine/mvcc_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

sql,roachpb: improve ScanResponse.combine
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

sql,roachpb: improve ScanResponse.combine
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/sql/row/errors.go
  pkg/sql/row/fetcher.go
  pkg/sql/row/fk.go
  pkg/sql/row/kv_batch_fetcher.go
  pkg/sql/row/kv_fetcher.go
  pkg/storage/batcheval/cmd_reverse_scan.go
  pkg/storage/batcheval/cmd_scan.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-rest-prs

roachtest: fix SCRUB test
  pkg/cmd/roachtest/scrub.go
Owners: none

roachtest: fix SCRUB test
  pkg/cmd/roachtest/scrub.go
Owners: none

sql: update tablewriter_upsert to use a rowContainer
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix panic in insert on conflict do update
  pkg/sql/logictest/testdata/logic_test/upsert
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: outer join
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: make colvec_tmpl.go "compilable"
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: make function regex
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/execgen/cmd/execgen/overloads.go
  pkg/sql/exec/hashjoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

exec: outer join
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/hashjoiner_gen.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_test.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/logictest/testdata/logic_test/exec_hash_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: update tablewriter_upsert to use a rowContainer
  pkg/sql/tablewriter_upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
