Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

parser: unexport Scanner
  pkg/ccl/importccl/load.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/cli/sql.go
  pkg/cli/sql_test.go
  pkg/sql/parser/help.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
  pkg/sql/parser/scan_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ui-prs, @cockroachdb/cli-prs, @cockroachdb/sql-language-prs

config: Add zone validation for tandem fields
  pkg/cli/testdata/zone_range_max_bytes.yaml
  pkg/cmd/roachtest/split.go
  pkg/config/zone.go
  pkg/config/zone_test.go
  pkg/sql/logictest/testdata/logic_test/event_log
  pkg/sql/set_zone_config.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

pgwire: support hba.conf auth configuration
  docs/generated/settings/settings.html
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/conf.go
  pkg/sql/pgwire/hba/conf.rl
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/hba_test.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs

raft: enter ProgressStateReplica immediately after snapshot
  raft.go
  raft_snap_test.go
Owners: none

raft: enter ProgressStateReplica immediately after snapshot
  raft.go
  raft_snap_test.go
Owners: none

sql: refactor `COMMENT ON TABLE`
  pkg/sql/comment_on_table.go
  pkg/sql/truncate.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: plumb SQL string alongside statements
  pkg/cli/interactive_tests/test_auto_trace.tcl
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/distsql_running_test.go
  pkg/sql/internal.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/statement.go
  pkg/sql/subquery_test.go
  pkg/sql/testutils.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

sql: plumb SQL string alongside statements
  pkg/cli/interactive_tests/test_auto_trace.tcl
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/distsql_running_test.go
  pkg/sql/internal.go
  pkg/sql/parallel_stmts_test.go
  pkg/sql/pgwire/conn.go
  pkg/sql/statement.go
  pkg/sql/subquery_test.go
  pkg/sql/testutils.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

opt: Don't qualify names that are identical
  pkg/sql/opt/memo/testdata/logprops/join
  pkg/sql/opt/memo/testdata/logprops/project
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/stats/join
  pkg/sql/opt/memo/testdata/stats/select
  pkg/sql/opt/memo/testdata/typing
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/norm/testdata/rules/reject_nulls
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/join
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/optbuilder/testdata/srfs
  pkg/sql/opt/optbuilder/testdata/subquery
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/testdata/view
  pkg/sql/opt/optbuilder/testdata/where
  pkg/sql/opt/optbuilder/testdata/with
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/pgjdbc
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/rules/join
  pkg/sql/opt/xform/testdata/rules/limit
Owners: @cockroachdb/sql-opt-prs

opt: query cache prototype
  docs/generated/settings/settings.html
  pkg/server/config.go
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/plan.go
  pkg/sql/plan_test.go
  pkg/sql/planner.go
  pkg/sql/querycache/query_cache.go
  pkg/sql/querycache/query_cache_test.go
  pkg/workload/connection.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

cli: refactor disk benchmark to use test framework
  pkg/cli/systembench/disk_bench.go
Owners: @cockroachdb/cli-prs

sql: fix subquery crashes w/ explain analyze
  pkg/sql/explain.go
  pkg/sql/explain_distsql.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix subquery crashes w/ explain analyze
  pkg/sql/explain.go
  pkg/sql/explain_distsql.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Change mutation column metadata interface
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/catalog.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/metadata.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: Do not automatically add mutation columns
  pkg/sql/data_source.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/scan.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add Update support to CBO
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/testdata/rules/decorrelate
  pkg/sql/opt/norm/testdata/rules/ordering
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/scope_column.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/update.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/ordering/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Add execbuilder support for the Update operator
  pkg/server/updates_test.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/subquery
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/logictest/testdata/planner_test/check_constraints
  pkg/sql/metric_test.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/check_constraints
  pkg/sql/opt/exec/execbuilder/testdata/ddl
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/exec/execbuilder/testdata/orderby
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

storage/rangefeed: remove TODOs on TxnPusher
  pkg/storage/rangefeed/task.go
Owners: @cockroachdb/core-prs

storage/rangefeed: remove TODOs on TxnPusher
  pkg/storage/rangefeed/task.go
Owners: @cockroachdb/core-prs

storage/spanlatch: recycle btree root when count drops to 0
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
Owners: @cockroachdb/core-prs

storage/spanlatch: recycle btree root when count drops to 0
  pkg/storage/spanlatch/interval_btree.go
  pkg/storage/spanlatch/interval_btree_test.go
Owners: @cockroachdb/core-prs

roachtest: add an initial rangefeed+cdc test for iteration
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: add an initial rangefeed+cdc test for iteration
  pkg/cmd/roachtest/cdc.go
Owners: none

sql: add COPY FROM PARENT command for zone configs
  docs/generated/sql/bnf/alter_zone_database_stmt.bnf
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  docs/generated/sql/bnf/alter_zone_range_stmt.bnf
  docs/generated/sql/bnf/alter_zone_table_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/cmd/roachtest/split.go
  pkg/config/zone.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/set_zone_config.go
  pkg/sql/set_zone_config_test.go
  pkg/sql/zone_test.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli: clean up and add buffering to debug merge-logs
  pkg/cli/debug.go
  pkg/cli/debug_merge_logs.go
  pkg/cli/debug_merge_logs_test.go
  pkg/cli/testdata/merge_logs/results/1.filter-message
  pkg/cli/testdata/merge_logs/results/1.filter-program
  pkg/util/log/clog.go
Owners: @cockroachdb/cli-prs

config: Add zone validation for tandem fields
  pkg/cli/testdata/zone_range_max_bytes.yaml
  pkg/config/zone.go
  pkg/config/zone_test.go
  pkg/sql/logictest/testdata/logic_test/event_log
  pkg/sql/set_zone_config.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

raft: add (*RawNode).WithProgress
  rawnode.go
  rawnode_test.go
  status.go
Owners: none

sql: fix SCRUB index key order checking
  pkg/sql/logictest/testdata/logic_test/scrub
  pkg/sql/row/fetcher.go
Owners: @cockroachdb/sql-rest-prs

sql: fix SCRUB index key order checking
  pkg/sql/logictest/testdata/logic_test/scrub
  pkg/sql/row/fetcher.go
Owners: @cockroachdb/sql-rest-prs

roachpb: include the pushee id in a PushTxn string
  pkg/roachpb/batch.go
Owners: @cockroachdb/core-prs

roachpb: include the pushee id in a PushTxn string
  pkg/roachpb/batch.go
Owners: @cockroachdb/core-prs

pgwire: support hba.conf auth configuration
  docs/generated/settings/settings.html
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/Makefile
  pkg/sql/pgwire/hba/conf.go
  pkg/sql/pgwire/hba/conf.rl
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/hba_test.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-wiring-prs, @cockroachdb/build-prs

kv: dont wrap a MixedSuccessError within a MixedSuccessError
  pkg/kv/dist_sender.go
  pkg/roachpb/errors.go
Owners: @cockroachdb/core-prs

cli: add network systbench test
  pkg/cli/cliflags/flags.go
  pkg/cli/context.go
  pkg/cli/flags.go
  pkg/cli/systembench.go
  pkg/cli/systembench/network_test_client.go
  pkg/cli/systembench/network_test_common.go
  pkg/cli/systembench/network_test_server.go
  pkg/cli/systembench/systembenchpb/ping.proto
Owners: @cockroachdb/cli-prs

storage: Collect IntentHistory for transactions
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.cc
  c-deps/libroach/protos/storage/engine/enginepb/mvcc.pb.h
  pkg/storage/below_raft_protos_test.go
  pkg/storage/engine/enginepb/mvcc.go
  pkg/storage/engine/enginepb/mvcc.pb.go
  pkg/storage/engine/enginepb/mvcc.proto
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_stats_test.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql: fix INSERT results incorrectly including mutation column values
  pkg/sql/insert.go
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/upsert
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix race between backfill and insert on non-null column
  pkg/sql/insert.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

kv: detect lease transfer and back off in DistSender
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
Owners: @cockroachdb/core-prs

kv: detect lease transfer and back off in DistSender
  pkg/kv/dist_sender.go
  pkg/kv/dist_sender_test.go
Owners: @cockroachdb/core-prs

update golang deps
  Gopkg.lock
Owners: @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
