Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

batcheval: TODO about alternative Raft log size computation
  pkg/storage/batcheval/cmd_truncate_log.go
Owners: @cockroachdb/core-prs

batcheval: VersionRaftLogTruncationBelowRaft is always active
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

batcheval: VersionRaftLogTruncationBelowRaft is always active
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_truncate_log.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

sql: fix FK validation join implementation
  pkg/sql/check.go
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

ui: add a metrics dashboard for changefeeds
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/changefeeds.tsx
  pkg/ui/src/views/cluster/containers/nodeGraphs/index.tsx
Owners: @cockroachdb/admin-ui-prs

ui: add a metrics dashboard for changefeeds
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/changefeeds.tsx
  pkg/ui/src/views/cluster/containers/nodeGraphs/index.tsx
Owners: @cockroachdb/admin-ui-prs

storage: InitPut failures only update tscache on ConditionFailed error
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

changefeedccl: default to RangeFeed
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validations_test.go
  pkg/cmd/roachtest/cdc.go
Owners: @cockroachdb/sql-ccl-prs

changefeedccl: default to RangeFeed
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validations_test.go
  pkg/cmd/roachtest/cdc.go
Owners: @cockroachdb/sql-ccl-prs

logictests pass
  pkg/cli/gen.go
  pkg/roachpb/version.go
  pkg/server/server.go
  pkg/settings/cluster/settings.go
  pkg/settings/statemachine.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/cluster_version
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

roachtest: easy cdc fixes
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: easy cdc fixes
  pkg/cmd/roachtest/cdc.go
Owners: none

build: ui needs to depend on all proto files
  Makefile
Owners: @cockroachdb/build-prs

build: ui needs to depend on all proto files
  Makefile
Owners: @cockroachdb/build-prs

reinstitute a test
  pkg/server/version_cluster_test.go
  pkg/storage/stores.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: simplify the stores' handling of version updates
  pkg/server/node.go
  pkg/storage/stores.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

Update setup/install instructions for roachprod and roachtest
  pkg/cmd/roachprod/README.md
  pkg/cmd/roachtest/README.md
Owners: none

Update setup/install instructions for roachprod and roachtest
  pkg/cmd/roachprod/README.md
  pkg/cmd/roachtest/README.md
Owners: none

sql: increase max size of query in crash report
  pkg/sql/exec_util.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: increase max size of query in crash report
  pkg/sql/exec_util.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

util/encoding: don't panic on empty mantissa during decimal decode
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/util/encoding/decimal.go
Owners: @cockroachdb/sql-rest-prs

util/encoding: don't panic on empty mantissa during decimal decode
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/util/encoding/decimal.go
Owners: @cockroachdb/sql-rest-prs

backport-2.0: kv: use ctx cancellation on async abort
  pkg/kv/txn_coord_sender.go
Owners: @cockroachdb/core-prs

roachtest: actually run clearrange with checks
  pkg/cmd/roachtest/clearrange.go
Owners: none

roachtest: run clearrange without downloading data
  pkg/cmd/roachtest/clearrange.go
Owners: none

engine: fix bug in Distinct() after ApplyBatchRepr()
  pkg/storage/engine/batch_test.go
Owners: @cockroachdb/core-prs

gossip: demonstrate problem with loopback info propagation
  pkg/gossip/gossip_test.go
Owners: @cockroachdb/core-prs

gossip: demonstrate problem with loopback info propagation
  pkg/gossip/gossip_test.go
Owners: @cockroachdb/core-prs

storage: always gossip node liveness after lease changes hands
  pkg/storage/client_lease_test.go
  pkg/storage/replica_gossip.go
Owners: @cockroachdb/core-prs

storage: always gossip node liveness after lease changes hands
  pkg/storage/client_lease_test.go
  pkg/storage/replica_gossip.go
Owners: @cockroachdb/core-prs

sql: tune performance of bulk index backfill
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/distsqlrun/backfiller.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/indexbackfiller.go
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

sql: tune performance of bulk index backfill
  docs/generated/settings/settings.html
  pkg/sql/backfill.go
  pkg/sql/distsqlrun/backfiller.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/indexbackfiller.go
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

tree: improve formatting API
  pkg/ccl/backupccl/restore.go
  pkg/sql/app_stats.go
  pkg/sql/create_view.go
  pkg/sql/distsqlpb/data.go
  pkg/sql/distsqlplan/expression.go
  pkg/sql/explain_plan.go
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/format.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/indexed_vars_test.go
  pkg/sql/sem/tree/set.go
  pkg/sql/sem/tree/show.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs

tree: improve formatting API
  pkg/ccl/backupccl/restore.go
  pkg/sql/app_stats.go
  pkg/sql/create_view.go
  pkg/sql/distsqlpb/data.go
  pkg/sql/distsqlplan/expression.go
  pkg/sql/explain_plan.go
  pkg/sql/opt/exec/execbuilder/format.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/format.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/indexed_vars_test.go
  pkg/sql/sem/tree/set.go
  pkg/sql/sem/tree/show.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-opt-prs

storage: ignore non-live probing follower during log truncation
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

cli: show node status for all nodes
  pkg/cli/node.go
  pkg/cmd/roachtest/cli.go
Owners: @cockroachdb/cli-prs

changefeedccl: stop blocking between RangeFeed and the buffer
  pkg/ccl/changefeedccl/buffer.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/poller.go
  pkg/ccl/changefeedccl/table_history.go
Owners: @cockroachdb/sql-ccl-prs

storage: add interfaces for copysets
  pkg/roachpb/metadata.go
  pkg/storage/copysets/copysets.go
  pkg/storage/copysets/copysets.pb.go
  pkg/storage/copysets/copysets.proto
  pkg/storage/copysets/doc.go
Owners: @cockroachdb/core-prs

sql, stats: allow at most one automatic stats run at a time
  pkg/sql/create_stats.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/sql/stats/delete_stats.go
  pkg/sql/stats/delete_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

engine: fix bug in Distinct() after ApplyBatchRepr()
  pkg/storage/engine/batch_test.go
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
