Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

roachprod: only use dns name for adminurl if it resolves
  pkg/cmd/roachprod/main.go
Owners: none

sql: add checks after all referenced columns have been backfilled
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/opt_catalog.go
  pkg/sql/rename_column.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/show_create.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

stats: improve UI experience
  docs/generated/settings/settings.html
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_event_log
  pkg/ui/src/util/eventTypes.ts
  pkg/ui/src/util/events.ts
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/admin-ui-prs

stats: improve UI experience
  docs/generated/settings/settings.html
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/create_stats.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/logictest/testdata/logic_test/distsql_event_log
  pkg/ui/src/util/eventTypes.ts
  pkg/ui/src/util/events.ts
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/admin-ui-prs

sql: fix planning of window functions in some cases
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/window
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

sql: Push error telemetry down into pgwire
  pkg/sql/conn_executor.go
  pkg/sql/err_count_test.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

[DNM] rpc/nodedialer: avoid tripping context on context.Canceled
  pkg/rpc/nodedialer/nodedialer.go
Owners: @cockroachdb/core-prs

sql: better error message for AOST in the future error
  pkg/sql/sem/tree/as_of.go
Owners: @cockroachdb/sql-rest-prs

sql: better error message for AOST in the future error
  pkg/sql/sem/tree/as_of.go
Owners: @cockroachdb/sql-rest-prs

kv: Add metrics for remaining types of transaction restart errors
  pkg/kv/txn_coord_sender.go
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/distributed.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/admin-ui-prs

kv: Add metrics for remaining types of transaction restart errors
  pkg/kv/txn_coord_sender.go
  pkg/ui/src/views/cluster/containers/nodeGraphs/dashboards/distributed.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/admin-ui-prs

internal/client: don't log on nil error in Txn.rollback
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

internal/client: don't log on nil error in Txn.rollback
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

opt: reuse catalog across queries
  pkg/config/system.go
  pkg/sql/conn_executor.go
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: reuse catalog across queries
  pkg/config/system.go
  pkg/sql/conn_executor.go
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt.go
  pkg/sql/planner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

split the test into multiple subtests using a single node each
  pkg/cmd/roachtest/sqlalchemy.go
  pkg/cmd/roachtest/sqlalchemy_blacklist.go
Owners: none

sql: fix planning of window functions in some cases
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_join.go
  pkg/sql/logictest/testdata/logic_test/window
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

sql: fix planning of window functions in some cases
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_join.go
  pkg/sql/logictest/testdata/logic_test/window
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

sql: fix planning of window functions in some cases
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_join.go
  pkg/sql/logictest/testdata/logic_test/window
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

server: collect goroutine dump when abnormal change detected
  pkg/cli/start.go
  pkg/server/config.go
  pkg/server/goroutinedumper/goroutinedumper.go
  pkg/server/goroutinedumper/goroutinedumper_test.go
  pkg/server/server.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

intentresolver: clean up tests, remove useless beginTransaction func
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

jobs: separate description from command
  pkg/jobs/jobs.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/registry.go
  pkg/server/admin.go
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/admin.proto
  pkg/sql/crdb_internal.go
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/admin-ui-prs

intentresolver: txns with min or max priority shouldn't enter contentionQueue
  pkg/internal/client/client_test.go
  pkg/storage/intent_resolver_integration_test.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

sqlsmith: refactor reference accounting
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
Owners: @cockroachdb/core-prs

sqlsmith: deterministic ordering of ops and funcs
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: switch types to cockroach types
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

workload/bank: generate random strings much faster
  cpu.prof
  pkg/workload/bank/bank.go
  pkg/workload/bank/bank_test.go
Owners: none

sqlsmith: get operators from code
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: extract funcs from code
  pkg/internal/sqlsmith/scalar.go
  pkg/internal/sqlsmith/schema.go
Owners: @cockroachdb/core-prs

sqlsmith: simplify test output
  pkg/internal/sqlsmith/sqlsmith_test.go
Owners: @cockroachdb/core-prs

sqlsmith: improve crasher output
  pkg/sql/tests/rsg_test.go
Owners: @cockroachdb/sql-rest-prs

sqlsmith: use subquery.SetType instead of wrapping
  pkg/internal/sqlsmith/scalar.go
Owners: @cockroachdb/core-prs

sqlsmith: merge Smither and schema types
  pkg/internal/sqlsmith/relational.go
  pkg/internal/sqlsmith/schema.go
  pkg/internal/sqlsmith/scope.go
  pkg/internal/sqlsmith/sqlsmith.go
Owners: @cockroachdb/core-prs

roachtest: add nightly multi-AZ tpccbench test
  pkg/cmd/roachtest/tpcc.go
Owners: none

roachtest: add nightly multi-AZ tpccbench test
  pkg/cmd/roachtest/tpcc.go
Owners: none

kv: add Andy's repro with before/after
  pkg/kv/transport_test.go
Owners: @cockroachdb/core-prs

*: remove cpu.prof
  cpu.prof
Owners: none

*: remove cpu.prof
  cpu.prof
Owners: none

Revert "roachprod: sync after gc’ing / destroying clusters"
  pkg/cmd/roachprod/cloud/gc.go
  pkg/cmd/roachprod/main.go
Owners: none

Revert "roachprod: sync after gc’ing / destroying clusters"
  pkg/cmd/roachprod/cloud/gc.go
  pkg/cmd/roachprod/main.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
