Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

exprgen: populate physical properties, cost
  pkg/sql/opt/optgen/exprgen/custom_funcs.go
  pkg/sql/opt/optgen/exprgen/expr_gen.go
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/optgen/exprgen/testdata/limit
  pkg/sql/opt/optgen/exprgen/testdata/scan
  pkg/sql/opt/optgen/exprgen/testdata/values
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/memo_format.go
  pkg/sql/opt/xform/optimizer.go
  pkg/sql/opt/xform/physical_props.go
Owners: @cockroachdb/sql-opt-prs

roachtest: remove special bulk index backfill tests
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
  pkg/cmd/roachtest/scrub.go
Owners: none

roachtest: remove special bulk index backfill tests
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/schemachange.go
  pkg/cmd/roachtest/scrub.go
Owners: none

opt: Add Factory.CopyAndReplace method for ApplyJoin
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
Owners: @cockroachdb/sql-opt-prs

sql: pass walltime to the IMPORT reader
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs

workload/kv: support target compression ratio
  pkg/workload/kv/kv.go
Owners: none

sql: don't hide children of rowSourceToPlanNode in UI
  pkg/sql/explain_tree.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: don't hide children of rowSourceToPlanNode in UI
  pkg/sql/explain_tree.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix #34879
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
Owners: @cockroachdb/sql-rest-prs

sql: fix #34879
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
Owners: @cockroachdb/sql-rest-prs

importccl: add direct-ingest, no sort IMPORT mode
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_proc.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

stats: don't reschedule automatic stats refreshes in case of error
  pkg/sql/create_stats.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: Add Factory.CopyAndReplace method for ApplyJoin
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
Owners: @cockroachdb/sql-opt-prs

storage: don't consult TxnSpanGCThreshold when creating txn records
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/storagepb/state.pb.go
  pkg/storage/storagepb/state.proto
Owners: @cockroachdb/core-prs

storage: don't consult TxnSpanGCThreshold when creating txn records
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/batcheval/cmd_query_txn.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/storagepb/state.pb.go
  pkg/storage/storagepb/state.proto
Owners: @cockroachdb/core-prs

roachtest: create new large write kv roachtests
  pkg/cmd/roachtest/kv.go
Owners: none

roachtest: create new large write kv roachtests
  pkg/cmd/roachtest/kv.go
Owners: none

sql,settings: add cluster version for create statistics
  docs/generated/settings/settings.html
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql,settings: add cluster version for create statistics
  docs/generated/settings/settings.html
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/create_stats.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

stats: don't reschedule automatic stats refreshes in case of error
  pkg/sql/create_stats.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

stats: don't reschedule automatic stats refreshes in case of error
  pkg/sql/create_stats.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

keys: reduce allocations when pretty printing keys
  pkg/keys/printer.go
  pkg/sql/explain_tree.go
  pkg/sql/sqlbase/keys.go
  pkg/util/encoding/encoding.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

keys: reduce allocations when pretty printing keys
  pkg/keys/printer.go
  pkg/sql/explain_tree.go
  pkg/sql/sqlbase/keys.go
  pkg/util/encoding/encoding.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

contextutil: add RunWithTimeout and RunWithDeadline
  pkg/util/contextutil/context.go
Owners: none

contextutil: add RunWithTimeout and RunWithDeadline
  pkg/util/contextutil/context.go
Owners: none

sql: pull clock access and settings access out of mutex
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: pull clock access and settings access out of mutex
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage/engine,libroach: 1x write amplification on ingest sst
  c-deps/libroach/db.cc
  c-deps/libroach/include/libroach.h
  pkg/ccl/storageccl/engineccl/mvcc_test.go
  pkg/storage/batcheval/cmd_add_sstable_test.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/rocksdb_test.go
  pkg/storage/replica_proposal.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-bulk-prs

opt: Add Factory.CopyAndReplace method for ApplyJoin
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
Owners: @cockroachdb/sql-opt-prs

opt: Add Factory.CopyAndReplace method for ApplyJoin
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/inline.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/optgen/cmd/optgen/testdata/factory
Owners: @cockroachdb/sql-opt-prs

importccl: add direct-ingest, no sort IMPORT mode
  pkg/ccl/importccl/import_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_proc.go
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

*: replace use context.WithTimeout with a wrapper
  pkg/acceptance/cluster/docker.go
  pkg/ccl/storageccl/export_storage.go
  pkg/cli/debug_synctest.go
  pkg/cli/zip.go
  pkg/cmd/roachtest/cluster.go
  pkg/internal/client/txn.go
  pkg/rpc/context.go
  pkg/server/admin.go
  pkg/server/status.go
  pkg/sql/show_cluster_setting.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/node_liveness.go
  pkg/storage/queue.go
  pkg/storage/replica_command.go
  pkg/storage/replica_consistency.go
  pkg/storage/store.go
  pkg/storage/store_rebalancer.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: clarify rangefeed catchup iter ownership
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

storage: hook rangefeed iter limiter to a cluster setting
  docs/generated/settings/settings.html
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

importccl: let individual frontends decide to use readFiles helper
  pkg/ccl/importccl/read_import_csv.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysqlout.go
  pkg/ccl/importccl/read_import_pgcopy.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

importccl: add workload frontend that skips detour though CSV
  pkg/ccl/importccl/read_import_proc.go
  pkg/ccl/importccl/read_import_workload.go
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

[WIP] workload: check that TPCH workload returns expected results
  pkg/workload/tpch/expected_rows.go
  pkg/workload/tpch/tpch.go
Owners: none

importccl: add a cluster version check to direct_ingest
  docs/generated/settings/settings.html
  pkg/ccl/importccl/import_stmt.go
  pkg/settings/cluster/cockroach_versions.go
Owners: @cockroachdb/sql-bulk-prs

importccl: let individual frontends decide to use readFiles helper
  pkg/ccl/importccl/read_import_csv.go
  pkg/ccl/importccl/read_import_mysql.go
  pkg/ccl/importccl/read_import_mysqlout.go
  pkg/ccl/importccl/read_import_pgcopy.go
  pkg/ccl/importccl/read_import_pgdump.go
  pkg/ccl/importccl/read_import_proc.go
Owners: @cockroachdb/sql-bulk-prs

roachtest: skip disk_usage/* tests
  pkg/cmd/roachtest/disk_space.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
