Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

log: repeat header for multi-line messages
  pkg/util/log/clog.go
Owners: none

[dnm] log all truncations
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

[dnm] hacky greppable Raft msg logging
  pkg/storage/raft.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

WIP: Ignore: Sketching a new visitor-pattern
  pkg/util/walker/demo/default_visitor_test.go
  pkg/util/walker/demo/demo.go
  pkg/util/walker/demo/generated_api.go
  pkg/util/walker/demo/generated_contexts.go
  pkg/util/walker/demo/generated_enhancements.go
  pkg/util/walker/demo/generated_walk.go
  pkg/util/walker/demo/modification_test.go
  pkg/util/walker/walker.go
Owners: none

build: add missing `env` and `stdbuf` invocations
  build/builder.sh
  build/teamcity-acceptance.sh
  build/teamcity-bench.sh
  build/teamcity-check.sh
  build/teamcity-local-roachtest.sh
  build/teamcity-sqllogictest.sh
  build/teamcity-stress.sh
  build/teamcity-test-deadlock.sh
  build/teamcity-test.sh
  build/teamcity-testlogic-verbose.sh
  build/teamcity-testlogicrace.sh
  build/teamcity-testrace.sh
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/internal/issues/issues_test.go
Owners: @cockroachdb/build-prs

build: add missing `env` and `stdbuf` invocations
  build/builder.sh
  build/teamcity-acceptance.sh
  build/teamcity-bench.sh
  build/teamcity-check.sh
  build/teamcity-local-roachtest.sh
  build/teamcity-sqllogictest.sh
  build/teamcity-stress.sh
  build/teamcity-test-deadlock.sh
  build/teamcity-test.sh
  build/teamcity-testlogic-verbose.sh
  build/teamcity-testlogicrace.sh
  build/teamcity-testrace.sh
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/internal/issues/issues_test.go
Owners: @cockroachdb/build-prs

build: add missing `env` and `stdbuf` invocations
  build/builder.sh
  build/teamcity-acceptance.sh
  build/teamcity-bench.sh
  build/teamcity-check.sh
  build/teamcity-local-roachtest.sh
  build/teamcity-sqllogictest.sh
  build/teamcity-stress.sh
  build/teamcity-test-deadlock.sh
  build/teamcity-test.sh
  build/teamcity-testlogic-verbose.sh
  build/teamcity-testlogicrace.sh
  build/teamcity-testrace.sh
  pkg/cmd/internal/issues/issues.go
  pkg/cmd/internal/issues/issues_test.go
Owners: @cockroachdb/build-prs

sql: fix the pretty-printing for FK actions SET DEFAULT and SET NULL
  pkg/sql/show_test.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: replace references to #8318 by #27792
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Owners: @cockroachdb/sql-language-prs

sql: replace references to #2115 by #32552
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/sql-rest-prs

sql: replace references to #2115 by #32551
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/sql-rest-prs

Revert "libroach: use FlushWAL instead of SyncWAL"
  c-deps/libroach/db.cc
  c-deps/libroach/options.cc
Owners: @cockroachdb/core-prs

roachprod: Always provide consistent tooling flags
  pkg/cmd/roachprod/vm/aws/aws.go
  pkg/cmd/roachprod/vm/flagstub/flagstub.go
  pkg/cmd/roachprod/vm/gce/gcloud.go
Owners: none

roachprod: Always provide consistent tooling flags
  pkg/cmd/roachprod/vm/aws/aws.go
  pkg/cmd/roachprod/vm/flagstub/flagstub.go
  pkg/cmd/roachprod/vm/gce/gcloud.go
Owners: none

stats,distsqlrun: reduce memory usage of CREATE STATISTICS
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/stats/row_sampling.go
  pkg/sql/stats/row_sampling_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

stats,distsqlrun: reduce memory usage of CREATE STATISTICS
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/stats/row_sampling.go
  pkg/sql/stats/row_sampling_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix crash related to ordinalityNode props
  pkg/sql/logictest/testdata/planner_test/ordinality
  pkg/sql/ordinality.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix crash related to ordinalityNode props
  pkg/sql/logictest/testdata/planner_test/ordinality
  pkg/sql/ordinality.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: partially deflake TestSystemZoneConfigs
  pkg/ccl/partitionccl/partition_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/node_liveness_test.go
  pkg/storage/testing_knobs.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

sql: add optional AS OF SYSTEM TIME with CREATE STATISTICS
  docs/generated/sql/bnf/create_stats_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/create.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: add optional AS OF SYSTEM TIME with CREATE STATISTICS
  docs/generated/sql/bnf/create_stats_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/create.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

[wip] storage: work around Raft bug
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

raftentry: rewrite storage.raftEntryCache with dense, per-replica state
  pkg/storage/raftentry/cache.go
  pkg/storage/raftentry/cache_test.go
  pkg/storage/raftentry/metrics.go
  pkg/storage/raftentry/ring_buffer.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

sql: test UPSERT in TestRaceWithBackfill
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-async-prs

ui: fix node list status icon
  pkg/ui/src/views/cluster/containers/nodesOverview/index.tsx
  pkg/ui/src/views/cluster/containers/nodesOverview/nodes.styl
Owners: @cockroachdb/admin-ui-prs

ui: fix node list status icon
  pkg/ui/src/views/cluster/containers/nodesOverview/index.tsx
  pkg/ui/src/views/cluster/containers/nodesOverview/nodes.styl
Owners: @cockroachdb/admin-ui-prs

storage: partially deflake TestSystemZoneConfigs
  pkg/ccl/partitionccl/partition_test.go
  pkg/storage/client_replica_test.go
  pkg/storage/node_liveness_test.go
  pkg/storage/replica.go
  pkg/storage/testing_knobs.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

ui: add topojson geography
  pkg/ui/package.json
  pkg/ui/yarn.lock
Owners: @cockroachdb/admin-ui-prs

ui: add topojson geography
  pkg/ui/package.json
  pkg/ui/yarn.lock
Owners: @cockroachdb/admin-ui-prs

pgwire: test timezones and BC for timestamp
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

pgwire: verify encoding length instead of ignoring it in TestEncodings
  pkg/cmd/cmp-protocol/main.go
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

tree: change TestEval to use a data directory
  pkg/sql/sem/tree/eval_test.go
  pkg/sql/sem/tree/testdata/eval/annotate
  pkg/sql/sem/tree/testdata/eval/any_some_all
  pkg/sql/sem/tree/testdata/eval/arithmetic_operators
  pkg/sql/sem/tree/testdata/eval/array
  pkg/sql/sem/tree/testdata/eval/between
  pkg/sql/sem/tree/testdata/eval/bit_array
  pkg/sql/sem/tree/testdata/eval/bitshift
  pkg/sql/sem/tree/testdata/eval/bitwise_operators
  pkg/sql/sem/tree/testdata/eval/boolean
  pkg/sql/sem/tree/testdata/eval/case
  pkg/sql/sem/tree/testdata/eval/cast
  pkg/sql/sem/tree/testdata/eval/comparison
  pkg/sql/sem/tree/testdata/eval/concat
  pkg/sql/sem/tree/testdata/eval/conditional
  pkg/sql/sem/tree/testdata/eval/convert
  pkg/sql/sem/tree/testdata/eval/distinct
  pkg/sql/sem/tree/testdata/eval/extract
  pkg/sql/sem/tree/testdata/eval/float_decimal_div
  pkg/sql/sem/tree/testdata/eval/func
  pkg/sql/sem/tree/testdata/eval/grouping
  pkg/sql/sem/tree/testdata/eval/hex
  pkg/sql/sem/tree/testdata/eval/in
  pkg/sql/sem/tree/testdata/eval/inet
  pkg/sql/sem/tree/testdata/eval/infinity
  pkg/sql/sem/tree/testdata/eval/int_decimal_arith
  pkg/sql/sem/tree/testdata/eval/int_min
  pkg/sql/sem/tree/testdata/eval/interval
  pkg/sql/sem/tree/testdata/eval/is
  pkg/sql/sem/tree/testdata/eval/like
  pkg/sql/sem/tree/testdata/eval/nan
  pkg/sql/sem/tree/testdata/eval/ones_complement
  pkg/sql/sem/tree/testdata/eval/overflow
  pkg/sql/sem/tree/testdata/eval/regex
  pkg/sql/sem/tree/testdata/eval/row
  pkg/sql/sem/tree/testdata/eval/similar
  pkg/sql/sem/tree/testdata/eval/unary
Owners: @cockroachdb/sql-rest-prs

pgwire: remove time output from dates
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: use postgres instead of Go interval encoding for pgwire
  pkg/cli/testdata/dump/row
  pkg/cmd/generate-binary/main.go
  pkg/keys/printer_test.go
  pkg/roachpb/data_test.go
  pkg/server/settingsworker_test.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/logictest/testdata/logic_test/collatedstring
  pkg/sql/logictest/testdata/logic_test/datetime
  pkg/sql/logictest/testdata/logic_test/json_builtins
  pkg/sql/logictest/testdata/logic_test/time
  pkg/sql/logictest/testdata/logic_test/typing
  pkg/sql/logictest/testdata/logic_test/window
  pkg/sql/logictest/testdata/planner_test/select
  pkg/sql/logictest/testdata/planner_test/window
  pkg/sql/opt/exec/execbuilder/testdata/select
  pkg/sql/opt/norm/testdata/rules/comp
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/parser/parse_test.go
  pkg/sql/pgwire/testdata/encodings.json
  pkg/sql/schema_changer_test.go
  pkg/sql/sem/tree/datum_test.go
  pkg/sql/sem/tree/format_test.go
  pkg/sql/sem/tree/interval.go
  pkg/sql/sem/tree/interval_test.go
  pkg/sql/sem/tree/normalize_test.go
  pkg/sql/sem/tree/parse_string_test.go
  pkg/sql/sem/tree/pretty_test.go
  pkg/sql/sem/tree/testdata/eval/annotate
  pkg/sql/sem/tree/testdata/eval/cast
  pkg/sql/sem/tree/testdata/eval/interval
  pkg/sql/sem/tree/type_check_test.go
  pkg/util/duration/duration.go
  pkg/util/encoding/encoding_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

pgwire: enable text encoding tests in generate-binary
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

pgwire: enable text encoding tests in generate-binary
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

pgwire: fix bit encoding for 0 length
  pkg/sql/pgwire/types.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: verify encoding length instead of ignoring it in TestEncodings
  pkg/cmd/cmp-protocol/main.go
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
Owners: @cockroachdb/sql-wiring-prs

pgwire: test timezones and BC for timestamp
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

tree: change TestEval to use a data directory
  pkg/sql/sem/tree/eval_test.go
  pkg/sql/sem/tree/testdata/eval/annotate
  pkg/sql/sem/tree/testdata/eval/any_some_all
  pkg/sql/sem/tree/testdata/eval/arithmetic_operators
  pkg/sql/sem/tree/testdata/eval/array
  pkg/sql/sem/tree/testdata/eval/between
  pkg/sql/sem/tree/testdata/eval/bit_array
  pkg/sql/sem/tree/testdata/eval/bitshift
  pkg/sql/sem/tree/testdata/eval/bitwise_operators
  pkg/sql/sem/tree/testdata/eval/boolean
  pkg/sql/sem/tree/testdata/eval/case
  pkg/sql/sem/tree/testdata/eval/cast
  pkg/sql/sem/tree/testdata/eval/comparison
  pkg/sql/sem/tree/testdata/eval/concat
  pkg/sql/sem/tree/testdata/eval/conditional
  pkg/sql/sem/tree/testdata/eval/convert
  pkg/sql/sem/tree/testdata/eval/distinct
  pkg/sql/sem/tree/testdata/eval/extract
  pkg/sql/sem/tree/testdata/eval/float_decimal_div
  pkg/sql/sem/tree/testdata/eval/func
  pkg/sql/sem/tree/testdata/eval/grouping
  pkg/sql/sem/tree/testdata/eval/hex
  pkg/sql/sem/tree/testdata/eval/in
  pkg/sql/sem/tree/testdata/eval/inet
  pkg/sql/sem/tree/testdata/eval/infinity
  pkg/sql/sem/tree/testdata/eval/int_decimal_arith
  pkg/sql/sem/tree/testdata/eval/int_min
  pkg/sql/sem/tree/testdata/eval/interval
  pkg/sql/sem/tree/testdata/eval/is
  pkg/sql/sem/tree/testdata/eval/like
  pkg/sql/sem/tree/testdata/eval/nan
  pkg/sql/sem/tree/testdata/eval/ones_complement
  pkg/sql/sem/tree/testdata/eval/overflow
  pkg/sql/sem/tree/testdata/eval/regex
  pkg/sql/sem/tree/testdata/eval/row
  pkg/sql/sem/tree/testdata/eval/similar
  pkg/sql/sem/tree/testdata/eval/unary
Owners: @cockroachdb/sql-rest-prs
