Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storagepb: fix typo on ReplicaState.txn_span_gc_threshold
  pkg/storage/storagepb/state.pb.go
  pkg/storage/storagepb/state.proto
Owners: @cockroachdb/core-prs

roachpb: create new TransactionRecord subset proto
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/roachpb/data_test.go
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

roachpb: create new TransactionRecord subset proto
  c-deps/libroach/protos/roachpb/data.pb.cc
  c-deps/libroach/protos/roachpb/data.pb.h
  pkg/roachpb/data.go
  pkg/roachpb/data.pb.go
  pkg/roachpb/data.proto
  pkg/roachpb/data_test.go
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: remove VersionClientSideWritingFlag
  pkg/internal/client/txn_test.go
  pkg/kv/txn_coord_sender_test.go
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: remove setTxnAutoGC(true) in tests
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

roachpb: ignore error timestamp when restarting aborted txn
  pkg/kv/txn_coord_sender_test.go
  pkg/roachpb/data.go
Owners: @cockroachdb/core-prs

storage: move tscache-related methods to new file
  pkg/storage/replica.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

opt: Add execbuilder support for the CreateTable operator
  pkg/server/updates_test.go
  pkg/sql/create_table.go
  pkg/sql/metric_test.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

sql: add automatic table stats collection
  docs/generated/settings/settings.html
  pkg/server/server.go
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/event_log.go
  pkg/sql/exec_util.go
  pkg/sql/insert.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/logictest/testdata/logic_test/distsql_event_log
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/plan.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
  pkg/sql/stats/delete_stats.go
  pkg/sql/stats/delete_stats_test.go
  pkg/sql/update.go
  pkg/sql/upsert.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

more updates
  docs/tech-notes/range-merges.md
Owners: none

WIP
  Makefile
  build/teamcity-publish-provisional-binaries.sh
  build/variables.mk
  pkg/cmd/publish-artifacts/main.go
Owners: @cockroachdb/build-prs

storage/batcheval: address two TODOs around tracing
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/replica.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

engine: refine mvcc logic around moving intent timestamps
  pkg/storage/engine/mvcc.go
Owners: @cockroachdb/core-prs

docs: add RFC to expose follower reads to clients
  docs/RFCS/20181227_follower_reads_implementation.md
Owners: @cockroachdb/rfc-prs

storage: remove re-evaluations of requests after a snapshot is applied
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: refactor ambiguous errors
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

roachtest: wait for nodes to be ready in import/tpch
  pkg/cmd/roachtest/import.go
Owners: none

roachtest: wait for nodes to be ready in import/tpch
  pkg/cmd/roachtest/import.go
Owners: none

rfc: Cluster History Verification Tool
  docs/RFCS/20181229_history_verification_tool.md
Owners: @cockroachdb/rfc-prs

sql: make pg_catalog OIDs stable and refer to the descriptor IDs directly
  pkg/keys/constants.go
  pkg/sql/crdb_internal.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/pg_catalog.go
  pkg/sql/sqlbase/constants.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

build: add gnome-keyring to TC agent
  build/packer/teamcity-agent.sh
Owners: @cockroachdb/build-prs

build: add gnome-keyring to TC agent
  build/packer/teamcity-agent.sh
Owners: @cockroachdb/build-prs

storage: improve TestConsistencyQueueRecomputeStats
  pkg/storage/consistency_queue_test.go
  pkg/storage/helpers_test.go
Owners: @cockroachdb/core-prs

even more updates
  docs/tech-notes/range-merges.md
  pkg/storage/client_merge_test.go
Owners: @cockroachdb/core-prs

ui: surface logical plan in UI
  pkg/ui/src/views/statements/planView.tsx
  pkg/ui/src/views/statements/statementDetails.tsx
  pkg/ui/src/views/statements/statements.styl
Owners: @cockroachdb/admin-ui-prs

sql: move code for makeOptimizerPlan to new file
  pkg/sql/plan.go
  pkg/sql/plan_opt.go
  pkg/sql/plan_opt_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: clean up makeOptimizerPlan code
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: allow HeartbeatTxn and EndTxn requests to create txn records
  pkg/kv/integration_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/api.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

roachtest: pull a debug zip into artifacts when a test fails
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/test.go
Owners: none

docs: add RFC to expose follower reads to clients
  docs/RFCS/20181227_follower_reads_implementation.md
Owners: @cockroachdb/rfc-prs

storage: revert a test to starting with a single range
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

Revert "sql: use retryable txn in copy tests"
  pkg/sql/copy_in_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

Revert "sql: use retryable txn in copy tests"
  pkg/sql/copy_in_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli/interactive_tests: deflake (more) test_url_db_override
  pkg/cli/interactive_tests/test_url_db_override.tcl
Owners: @cockroachdb/cli-prs

cli/interactive_tests: deflake (more) test_url_db_override
  pkg/cli/interactive_tests/test_url_db_override.tcl
Owners: @cockroachdb/cli-prs

sql: Remove tree.Datums return value from tableWriter.row method
  pkg/sql/create_table.go
  pkg/sql/delete.go
  pkg/sql/insert.go
  pkg/sql/tablewriter.go
  pkg/sql/tablewriter_delete.go
  pkg/sql/tablewriter_insert.go
  pkg/sql/tablewriter_update.go
  pkg/sql/tablewriter_upsert.go
  pkg/sql/tablewriter_upsert_fast.go
  pkg/sql/upsert.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Add Index.IsUnique and FindTableColumnByName catalog functions
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Separate Insert/Update specific methods from mutationBuilder
  pkg/sql/opt/optbuilder/insert.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/update.go
Owners: @cockroachdb/sql-opt-prs

opt: Standardize on using "alias" as column name
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/project.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/srfs.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/optbuilder/values.go
Owners: @cockroachdb/sql-opt-prs

roachtest: pull a debug zip into artifacts when a test fails
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/test.go
Owners: none

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
