Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

roachtest: fix ycsb performance expectations
  pkg/cmd/roachtest/ycsb.go
Owners: none

sql: implement apply join
  pkg/sql/apply_join.go
  pkg/sql/join_predicate.go
  pkg/sql/logictest/testdata/logic_test/apply_join
  pkg/sql/logictest/testdata/logic_test/orms-opt
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/builder.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_columns.go
  pkg/sql/plan_physical_props.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: implement apply join
  pkg/sql/apply_join.go
  pkg/sql/join_predicate.go
  pkg/sql/logictest/testdata/logic_test/apply_join
  pkg/sql/logictest/testdata/logic_test/orms-opt
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/builder.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/subquery
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_columns.go
  pkg/sql/plan_physical_props.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachtest: add aws-specific tpcc/nodes=3/w=max test
  pkg/cmd/roachtest/tpcc.go
Owners: none

sql: don't panic in prod on processor double close
  pkg/sql/distsqlrun/processors.go
  pkg/util/log/crash_reporting.go
  pkg/util/mon/bytes_usage.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

stats: always respect cluster setting for auto stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

stats: always respect cluster setting for auto stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

roachprod: remove broken hostname completions
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: sync after gc’ing / destroying clusters
  pkg/cmd/roachprod/cloud/gc.go
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: add DNS entries for roachprod hosts
  pkg/cmd/roachprod/cloud/cluster_cloud.go
  pkg/cmd/roachprod/main.go
  pkg/cmd/roachprod/vm/gce/utils.go
  pkg/cmd/roachprod/vm/vm.go
Owners: none

sql: re-enable automatic statistics by default
  docs/generated/settings/settings.html
  pkg/cmd/roachtest/tpcc.go
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

sql: re-enable automatic statistics by default
  docs/generated/settings/settings.html
  pkg/cmd/roachtest/tpcc.go
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-rest-prs

storage: make PushTxnRequest.PushTo inclusive instead of exclusive
  docs/generated/settings/settings.html
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/txnwait/queue_test.go
  pkg/storage/txnwait/txnqueue.go
Owners: @cockroachdb/core-prs

storage: use header timestamp for PushTxnRequest
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/storage/batcheval/cmd_push_txn.go
  pkg/storage/client_split_test.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

lint: ignore zcgo files during crlfmt
  pkg/testutils/lint/lint_test.go
Owners: none

opt: Add zone support to catalog package
  pkg/config/zone.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/sequence.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/cat/view.go
  pkg/sql/opt/cat/zone.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/set_zone_config.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt_catalog.go
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

storage: assert that timestamp cache updates are safe
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

storage: better error when stores are throttled
  pkg/storage/allocator.go
  pkg/storage/helpers_test.go
  pkg/storage/store_pool.go
  pkg/storage/store_pool_test.go
  pkg/storage/store_snapshot.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

roachprod: add dynamic bash completer
  pkg/cmd/roachprod/main.go
Owners: none

opt: Fix panic when CASE expressions fold to NULLs
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/scalar.opt
  pkg/sql/opt/norm/testdata/rules/scalar
Owners: @cockroachdb/sql-opt-prs

opt: Fix panic when CASE expressions fold to NULLs
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/scalar.opt
  pkg/sql/opt/norm/testdata/rules/scalar
Owners: @cockroachdb/sql-opt-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/tuples_differ_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_chunks.go
  pkg/sql/exec/sort_chunks_test.go
  pkg/sql/exec/tuples_differ_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: Fix panic when CHECK expression depends on delete-only column
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/opt/norm/testdata/rules/prune_cols
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/optbuilder/testdata/upsert
Owners: @cockroachdb/sql-opt-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/execgen/cmd/execgen/tuples_differ_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_chunks.go
  pkg/sql/exec/sort_chunks_test.go
  pkg/sql/exec/tuples_differ_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

cmd/roachprod: automatically configure core dumps
  pkg/cmd/roachprod/install/cluster_synced.go
  pkg/cmd/roachprod/install/cockroach.go
  pkg/cmd/roachprod/vm/aws/support.go
  pkg/cmd/roachprod/vm/gce/utils.go
Owners: none

cmd/roachprod: automatically configure core dumps
  pkg/cmd/roachprod/install/cluster_synced.go
  pkg/cmd/roachprod/install/cockroach.go
  pkg/cmd/roachprod/vm/aws/support.go
  pkg/cmd/roachprod/vm/gce/utils.go
Owners: none

storage: Remove arguments from insertProposalLocked
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/execgen/cmd/execgen/tuples_differ_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_chunks.go
  pkg/sql/exec/sort_chunks_test.go
  pkg/sql/exec/tuples_differ_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: add trace events to raft proposals
  pkg/storage/raft.go
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

opt: Prefer index with zone constraints that most closely match locality
  pkg/ccl/logictestccl/testdata/logic_test/zone
  pkg/config/zone.go
  pkg/server/server.go
  pkg/sql/conn_executor.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/opt/testutils/opttester/opt_tester.go
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/optimizer.go
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt_catalog.go
  pkg/sql/planner.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/zone_config.go
  pkg/testutils/testcluster/testcluster.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

roachprod: add dynamic bash completer
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: add dynamic bash completer
  pkg/cmd/roachprod/main.go
Owners: none

distsqlrun: assert there's at least a proc in a flow
  pkg/sql/distsqlrun/flow.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

roachprod: sync after gc’ing / destroying clusters
  pkg/cmd/roachprod/cloud/gc.go
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: add DNS entries for roachprod hosts
  pkg/cmd/roachprod/cloud/cluster_cloud.go
  pkg/cmd/roachprod/main.go
  pkg/cmd/roachprod/vm/gce/utils.go
  pkg/cmd/roachprod/vm/vm.go
Owners: none

sql: fix a comment to make it style-guide-compliant
  pkg/sql/conn_executor.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix a comment to make it style-guide-compliant
  pkg/sql/conn_executor.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: bugfix to wrapped index/lookup joins
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/logictest/testdata/logic_test/vectorize
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: fix wild unlocking
  pkg/sql/conn_executor.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix wild unlocking
  pkg/sql/conn_executor.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
