Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql: hide internal sessions by default for SHOW {QUERIES,SESSIONS}
  docs/generated/sql/bnf/show_queries.bnf
  docs/generated/sql/bnf/show_sessions.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/internal_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/show.go
  pkg/sql/show_queries.go
  pkg/sql/show_sessions.go
  pkg/sql/show_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql: improve error message for Test{Active,Idle}CancelSession
  pkg/sql/run_control_test.go
  pkg/testutils/sqlutils/sql_runner.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql/row: move fkDeleteHelper/fkUpdateHelper to separate files
  pkg/sql/row/fk.go
  pkg/sql/row/fk_delete_helper.go
  pkg/sql/row/fk_update_helper.go
Owners: @cockroachdb/sql-rest-prs

sql/row: add clarifying comments.
  pkg/sql/row/fk_batch_checker.go
Owners: @cockroachdb/sql-rest-prs

sql: record statement timings in system table
  pkg/keys/constants.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/sessiondata/session_data.go
  pkg/sql/sqlbase/system.go
  pkg/sql/tests/system_table_test.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

more test fixes
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/sqlbase/system.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

tests
  pkg/cli/cli_test.go
  pkg/sql/sqlbase/system.go
  pkg/sql/stmt_execution_log.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

query for aggregates
  stats_query.sql
Owners: none

more tests
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pgwire/pgwire_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs

lints
  pkg/sql/conn_executor.go
  pkg/sql/sqlbase/system.go
  pkg/sql/stmt_execution_log.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: expose statement_logging_enabled session var
  pkg/sql/exec_util.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: flush statement execution log in batches
  docs/generated/settings/settings.html
  pkg/sql/conn_executor.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/internal.go
  pkg/sql/planner.go
  pkg/sql/sqlbase/system.go
  pkg/sql/stmt_execution_log.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

tests
  pkg/cli/cli_test.go
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/sqlbase/system.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

add statement key
  pkg/sql/executor_statement_metrics.go
  pkg/sql/sqlbase/system.go
  pkg/sql/stmt_execution_log.go
Owners: @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

store transaction id
  pkg/sql/executor_statement_metrics.go
  pkg/sql/sqlbase/system.go
  pkg/sql/stmt_execution_log.go
Owners: @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs

wip-stats!
  pkg/server/statements.go
  pkg/sql/conn_executor.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

more test fixes
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/explain
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

remove dead code
  pkg/server/statements.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

more test fixes
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
Owners: @cockroachdb/sql-opt-prs

sql: add auto-spilling disk backed hash row container
  pkg/sql/distsqlrun/hash_row_container.go
  pkg/sql/distsqlrun/hash_row_container_test.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/hashjoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

opt: add support for aggregate FILTER
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

lints
  pkg/sql/app_stats.go
  pkg/sql/conn_executor.go
  pkg/sql/stmt_execution_log.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: make getDiskUsageInBytes robust
  pkg/cmd/roachtest/cluster.go
Owners: none

roachtest: make getDiskUsageInBytes robust
  pkg/cmd/roachtest/cluster.go
Owners: none

changefeedccl: support updated and resolved timestamps in avro
  pkg/ccl/changefeedccl/avro.go
  pkg/ccl/changefeedccl/avro_test.go
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/encoder_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_test.go
Owners: @cockroachdb/sql-ccl-prs

fixup system table
  pkg/sql/sqlbase/system.go
  pkg/sqlmigrations/migrations.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/core-prs, @cockroachdb/sql-wiring-prs

hack test passing
  pkg/server/status_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: allow specifying scan direction in index hint
  pkg/sql/logictest/testdata/logic_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/ordering/scan.go
  pkg/sql/opt/xform/testdata/rules/limit
  pkg/sql/opt_index_selection.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/scan.go
  pkg/sql/sem/tree/select.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs

sql: allow specifying scan direction in index hint
  pkg/sql/logictest/testdata/logic_test/select_index_flags
  pkg/sql/logictest/testdata/planner_test/select_index_flags
  pkg/sql/opt/exec/execbuilder/testdata/select_index_flags
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/opt/ordering/scan.go
  pkg/sql/opt/xform/testdata/rules/limit
  pkg/sql/opt_index_selection.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/scan.go
  pkg/sql/sem/tree/select.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs

sql/pgwire: support decoding of binary bitarrays
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

sql/pgwire: support decoding of binary bitarrays
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

rangefeed: Fix flaky TestProcessorConcurrentStop
  pkg/storage/rangefeed/processor.go
Owners: @cockroachdb/core-prs

rangefeed: Fix flaky TestProcessorConcurrentStop
  pkg/storage/rangefeed/processor.go
Owners: @cockroachdb/core-prs

rangefeed: Fix iterator leak when stopping cluster
  pkg/storage/rangefeed/processor.go
Owners: @cockroachdb/core-prs

rangefeed: Fix iterator leak when stopping cluster
  pkg/storage/rangefeed/processor.go
Owners: @cockroachdb/core-prs

sql/stats: rename sql.defaults.experimental_automatic_statistics
  docs/generated/settings/settings.html
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

sql/stats: rename sql.defaults.experimental_automatic_statistics
  docs/generated/settings/settings.html
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_automatic_stats
  pkg/sql/stats/automatic_stats.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-rest-prs

rangefeed: Proper ordering for catchup scan
  pkg/ccl/changefeedccl/validations_test.go
  pkg/ccl/changefeedccl/validator.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

rangefeed: Proper ordering for catchup scan
  pkg/ccl/changefeedccl/validations_test.go
  pkg/ccl/changefeedccl/validator.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs

roachtest: eliminate the concept of subtests
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/clearrange.go
  pkg/cmd/roachtest/clock_jump_crash.go
  pkg/cmd/roachtest/clock_monotonic.go
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/disk_full.go
  pkg/cmd/roachtest/jepsen.go
  pkg/cmd/roachtest/main.go
  pkg/cmd/roachtest/restore.go
  pkg/cmd/roachtest/roachmart.go
  pkg/cmd/roachtest/scaledata.go
  pkg/cmd/roachtest/split.go
  pkg/cmd/roachtest/synctest.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
  pkg/cmd/roachtest/tpcc.go
  pkg/cmd/roachtest/ycsb.go
Owners: none
