Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

opt: fix race caused by shared table annotations
  pkg/sql/opt/metadata.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

opt: fix race caused by shared table annotations
  pkg/sql/opt/metadata.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

workload: add bulkingest workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/util/randutil/rand.go
  pkg/workload/bulkingest/bulkingest.go
Owners: @cockroachdb/sql-ccl-prs

workload: add bulkingest workload
  pkg/ccl/workloadccl/allccl/all.go
  pkg/util/randutil/rand.go
  pkg/workload/bulkingest/bulkingest.go
Owners: @cockroachdb/sql-ccl-prs

opt: add parallel test for create stats
  pkg/sql/logictest/testdata/parallel_test/create_stats/create_stats
  pkg/sql/logictest/testdata/parallel_test/create_stats/setup
  pkg/sql/logictest/testdata/parallel_test/create_stats/test.yaml
Owners: @cockroachdb/sql-rest-prs

opt: add parallel test for create stats
  pkg/sql/logictest/testdata/parallel_test/create_stats/create_stats
  pkg/sql/logictest/testdata/parallel_test/create_stats/setup
  pkg/sql/logictest/testdata/parallel_test/create_stats/test.yaml
Owners: @cockroachdb/sql-rest-prs

rangefeed: actually ignore intents on catch up scan
  pkg/storage/rangefeed/processor_test.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
  pkg/storage/rangefeed/task_test.go
Owners: @cockroachdb/core-prs

sql: fix DROP CONSTRAINT bug
  pkg/sql/alter_table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix DROP CONSTRAINT bug
  pkg/sql/alter_table.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

rangefeed: actually ignore intents on catch up scan
  pkg/storage/rangefeed/processor_test.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
  pkg/storage/rangefeed/task_test.go
Owners: @cockroachdb/core-prs

rangefeed: actually ignore intents on catch up scan
  pkg/storage/rangefeed/processor_test.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
  pkg/storage/rangefeed/task_test.go
Owners: @cockroachdb/core-prs

distsqlrun: ensure outbox's RowChannel is closed
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/outbox_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

intentresolver: fix testrace flake by extending timeouts
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: fix testrace flake by extending timeouts
  pkg/storage/intentresolver/intent_resolver.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

sql: remove EvalContext.ActiveMemAcc
  pkg/sql/builtin_mem_usage_test.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/server.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/plan_spans.go
  pkg/sql/planner.go
  pkg/sql/scrub.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/builtins/builtins_test.go
  pkg/sql/sem/tree/constant_eval_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/eval_test.go
  pkg/sql/sem/tree/normalize_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

exec: add the hashed aggregator
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/coalescer_test.go
  pkg/sql/exec/hash_aggregator.go
  pkg/sql/exec/hashjoiner.go
  pkg/sql/exec/hashjoiner_tmpl.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

exec: add ColVec.Slice operator
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
Owners: @cockroachdb/sql-rest-prs

mvcc: don't write below provisional commit timestamp on WriteTooOld errors
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

exec: add chunkingBatchSource
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: improve tests for aggregates
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/hash_aggregator.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: improve aggregator benchmarks and fix bug
  pkg/sql/exec/aggregator.go
  pkg/sql/exec/aggregator_test.go
  pkg/sql/exec/any_not_null_agg_tmpl.go
  pkg/sql/exec/avg_agg_tmpl.go
  pkg/sql/exec/count_agg.go
  pkg/sql/exec/distinct_tmpl.go
  pkg/sql/exec/hash_aggregator.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sum_agg_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

sql: rank the errors received by the DistSQLReceiver
  pkg/ccl/changefeedccl/changefeed_dist.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/conn_io.go
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsql_running.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

sql: Fix test flakes
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: Fix test flakes
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

kv: fix TestPropagateTxnOnError
  pkg/kv/dist_sender_server_test.go
Owners: @cockroachdb/core-prs

kv: fix TestPropagateTxnOnError
  pkg/kv/dist_sender_server_test.go
Owners: @cockroachdb/core-prs

kv: assert an absence of retries in TestTxnCoordSenderRetries
  pkg/kv/dist_sender_server_test.go
Owners: @cockroachdb/core-prs

kv: assert an absence of retries in TestTxnCoordSenderRetries
  pkg/kv/dist_sender_server_test.go
Owners: @cockroachdb/core-prs

storage: remove {Has,Put}BogusSideloadedData
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
Owners: @cockroachdb/core-prs

storage: remove {Has,Put}BogusSideloadedData
  pkg/storage/client_raft_test.go
  pkg/storage/client_replica_gc_test.go
  pkg/storage/client_test.go
  pkg/storage/helpers_test.go
Owners: @cockroachdb/core-prs

sql: fix pgwire parsing certain binary encodings of numeric values an order of magnitude off
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
Owners: @cockroachdb/sql-wiring-prs

sql: fix pgwire parsing certain binary encodings of numeric values an order of magnitude off
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
Owners: @cockroachdb/sql-wiring-prs

logictest: avoid having to edit random files on new cluster versions
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-rest-prs

storage: remove replicaID dependency from sideloaded storage
  docs/generated/settings/settings.html
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/replica_init.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

logictest: avoid having to edit random files on new cluster versions
  pkg/sql/logictest/testdata/logic_test/crdb_internal
Owners: @cockroachdb/sql-rest-prs

storage: remove replicaID dependency from sideloaded storage
  docs/generated/settings/settings.html
  pkg/settings/cluster/cockroach_versions.go
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/storage/replica_init.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

mvcc: don't write below provisional commit timestamp on WriteTooOld errors
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

mvcc: don't write below provisional commit timestamp on WriteTooOld errors
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql: remove EvalContext.ActiveMemAcc
  pkg/sql/builtin_mem_usage_test.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/server.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/plan_spans.go
  pkg/sql/planner.go
  pkg/sql/scrub.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/builtins/builtins_test.go
  pkg/sql/sem/tree/constant_eval_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/eval_test.go
  pkg/sql/sem/tree/normalize_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs

sql: remove EvalContext.ActiveMemAcc
  pkg/sql/builtin_mem_usage_test.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/server.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/testdata/logic_test/builtin_function
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/plan_spans.go
  pkg/sql/planner.go
  pkg/sql/scrub.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/builtins/builtins_test.go
  pkg/sql/sem/tree/constant_eval_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/eval_test.go
  pkg/sql/sem/tree/normalize_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs
