Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

opt: limit types of statements that get cached
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsqlrun: move RowBuffer ProducerClosed behind a mutex
  pkg/sql/distsqlplan/aggregator_funcs_test.go
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/distinct_test.go
  pkg/sql/distsqlrun/flow_registry_test.go
  pkg/sql/distsqlrun/hashjoiner_test.go
  pkg/sql/distsqlrun/interleaved_reader_joiner_test.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/distsqlrun/mergejoiner_test.go
  pkg/sql/distsqlrun/routers_test.go
  pkg/sql/distsqlrun/sorter_test.go
  pkg/sql/distsqlrun/tablereader_test.go
  pkg/sql/distsqlrun/utils_test.go
  pkg/sql/distsqlrun/values_test.go
  pkg/sql/distsqlrun/zigzagjoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsqlrun: release flow registry lock before Pushing timeout error
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/flow_registry.go
  pkg/sql/distsqlrun/flow_registry_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

opt: fix cached plan invalidation with some virtual tables
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli/start: fix immediate stop upon double sigs
  pkg/cli/start_unix.go
Owners: @cockroachdb/cli-prs

DRAFT: Design doc for pgerror linter
  pkg/cmd/retlint/README.md
Owners: none

util/log: ensure that log.Fatal never returns
  pkg/util/log/clog.go
Owners: none

sql: fix FK validation join implementation
  pkg/sql/check.go
  pkg/sql/logictest/testdata/logic_test/fk
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: add support for AS OF SYSTEM TIME clause in BEGIN and SET TRANSACTION
  docs/generated/sql/bnf/begin_transaction.bnf
  docs/generated/sql/bnf/set_transaction.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/as_of_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_fsm.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/txn.go
  pkg/sql/sem/tree/walk.go
  pkg/sql/set_transaction.go
  pkg/sql/txn_state.go
  pkg/sql/txn_state_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: add microbenchmark for windower
  pkg/sql/distsql_plan_window.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/distsqlrun/windower_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: add microbenchmark for windower
  pkg/sql/distsql_plan_window.go
  pkg/sql/distsqlrun/windower.go
  pkg/sql/distsqlrun/windower_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: fix cached plan invalidation with some virtual tables
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: fix cached plan invalidation with some virtual tables
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

cli/start: fix immediate stop upon double sigs
  pkg/cli/start_unix.go
Owners: @cockroachdb/cli-prs

cli/start: fix immediate stop upon double sigs
  pkg/cli/start_unix.go
Owners: @cockroachdb/cli-prs

roachtest: run all cdc tests with rangefeed
  pkg/cmd/roachtest/cdc.go
Owners: none

opt: add JoinLimit session variable
  pkg/sql/exec_util.go
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/exec/execbuilder/testdata/join_order
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/testdata/rules/join_order
  pkg/sql/sessiondata/session_data.go
  pkg/sql/vars.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

storage: log decisions to not truncate a range
  pkg/storage/queue.go
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

storage: log decisions to not truncate a range
  pkg/storage/queue.go
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

kv: print batch and stack when trying to use a finalized txn
  pkg/kv/txn_coord_sender.go
Owners: @cockroachdb/core-prs

kv: print batch and stack when trying to use a finalized txn
  pkg/kv/txn_coord_sender.go
Owners: @cockroachdb/core-prs

distsqlrun: Remove rpc.Context from FlowCtx
  pkg/sql/distsqlpb/data.pb.go
  pkg/sql/distsqlpb/data.proto
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/inbound_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/outbox_test.go
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

distsqlrun: Remove rpc.Context from FlowCtx
  pkg/sql/distsqlpb/data.pb.go
  pkg/sql/distsqlpb/data.proto
  pkg/sql/distsqlplan/physical_plan.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/inbound_test.go
  pkg/sql/distsqlrun/outbox.go
  pkg/sql/distsqlrun/outbox_test.go
  pkg/sql/distsqlrun/server.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: run all cdc tests with rangefeed
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: run all cdc tests with rangefeed
  pkg/cmd/roachtest/cdc.go
Owners: none

cli: Deflake TestRemoveDeadReplicas
  pkg/cli/debug_test.go
  pkg/storage/store.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

cli: Deflake TestRemoveDeadReplicas
  pkg/cli/debug_test.go
  pkg/storage/store.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs

opt: check more session state for memo invalidation
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

opt: check more session state for memo invalidation
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

roachpb: make Transaction implement SafeMessager
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/data.go
Owners: @cockroachdb/core-prs

roachpb: make Transaction implement SafeMessager
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/data.go
Owners: @cockroachdb/core-prs

sql,stats: use the jobs framework for CREATE STATISTICS
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobspb/wrap.go
  pkg/sql/create_stats.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_stats.go
  pkg/sql/distsql_running.go
  pkg/sql/distsqlpb/data.pb.go
  pkg/sql/distsqlpb/data.proto
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlpb/processors.proto
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/distsqlrun/sample_aggregator.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/stream_decoder.go
  pkg/sql/distsqlrun/stream_encoder.go
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/plan.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/create_stats_job_test.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/admin-ui-prs

roachpb: make Transaction implement SafeMessager
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/data.go
Owners: @cockroachdb/core-prs

docs: add RFC to expose follower reads to clients
  docs/RFCS/20181227_follower_reads_implementation.md
Owners: @cockroachdb/rfc-prs

docs: add RFC to expose follower reads to clients
  docs/RFCS/20181227_follower_reads_implementation.md
Owners: @cockroachdb/rfc-prs

sql: Make the description of crdb_internal.set_vmodule() useful
  docs/generated/sql/functions.md
  pkg/sql/sem/builtins/builtins.go
Owners: @cockroachdb/sql-rest-prs

sql: Make the description of crdb_internal.set_vmodule() useful
  docs/generated/sql/functions.md
  pkg/sql/sem/builtins/builtins.go
Owners: @cockroachdb/sql-rest-prs

pgwire: allow per-connection control of result buffer size
  docs/generated/settings/settings.html
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/exec_util.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

changefeed: add EXPERIMENTAL to the sinkless syntax and unhide it
  docs/generated/sql/bnf/create_changefeed_stmt.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/changefeed.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql: add support for AS OF SYSTEM TIME clause in BEGIN and SET TRANSACTION
  docs/generated/sql/bnf/begin_transaction.bnf
  docs/generated/sql/bnf/set_transaction.bnf
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/internal/client/sender.go
  pkg/sql/as_of_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_fsm.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/sem/tree/txn.go
  pkg/sql/sem/tree/walk.go
  pkg/sql/set_transaction.go
  pkg/sql/txn_state.go
  pkg/sql/txn_state_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs
