Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

workload: separate histogram into its own package
  pkg/ccl/workloadccl/roachmartccl/roachmart.go
  pkg/workload/bank/bank.go
  pkg/workload/bulkingest/bulkingest.go
  pkg/workload/cli/run.go
  pkg/workload/histogram/histogram.go
  pkg/workload/indexes/indexes.go
  pkg/workload/interleavedpartitioned/interleavedpartitioned.go
  pkg/workload/jsonload/json.go
  pkg/workload/kv/kv.go
  pkg/workload/ledger/ledger.go
  pkg/workload/ledger/worker.go
  pkg/workload/querybench/query_bench.go
  pkg/workload/queue/queue.go
  pkg/workload/rand/rand.go
  pkg/workload/sqlsmith/sqlsmith.go
  pkg/workload/tpcc/tpcc.go
  pkg/workload/tpcc/worker.go
  pkg/workload/tpch/tpch.go
  pkg/workload/workload.go
  pkg/workload/ycsb/ycsb.go
Owners: @cockroachdb/sql-ccl-prs

workload/tpcc: add Result object to ease computing passing criteria
  pkg/workload/histogram/histogram.go
  pkg/workload/tpcc/result.go
Owners: none

sql: ensure sql never uses Clock.PhysicalTime()
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/copy.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql/sem/builtins: add missing duplicate assertions
  pkg/sql/sem/builtins/aggregate_builtins.go
  pkg/sql/sem/builtins/generator_builtins.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/builtins/window_builtins.go
Owners: @cockroachdb/sql-rest-prs

sql/sem/builtins: add missing duplicate assertions
  pkg/sql/sem/builtins/aggregate_builtins.go
  pkg/sql/sem/builtins/generator_builtins.go
  pkg/sql/sem/builtins/pg_builtins.go
  pkg/sql/sem/builtins/window_builtins.go
Owners: @cockroachdb/sql-rest-prs

intentresolver: clean up tests, remove useless beginTransaction func
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: clean up tests, remove useless beginTransaction func
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: txns with min or max priority shouldn't enter contentionQueue
  pkg/internal/client/client_test.go
  pkg/storage/intent_resolver_integration_test.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

intentresolver: txns with min or max priority shouldn't enter contentionQueue
  pkg/internal/client/client_test.go
  pkg/storage/intent_resolver_integration_test.go
  pkg/storage/intentresolver/contention_queue.go
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

release-2.0: storage: don't trip breaker if context is canceled
  pkg/storage/raft_transport.go
Owners: @cockroachdb/core-prs

kv: stop DistSender from double-covering RangeFeeds during splits
  pkg/kv/dist_sender_rangefeed.go
Owners: @cockroachdb/core-prs

kv: stop DistSender from double-covering RangeFeeds during splits
  pkg/kv/dist_sender_rangefeed.go
Owners: @cockroachdb/core-prs

sql: avoid reporting zero counters in crdb_internal.feature_counts
  pkg/sql/crdb_internal.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: skip cdc/bank
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: skip cdc/bank
  pkg/cmd/roachtest/cdc.go
Owners: none

workload/tpcc: add Result object to ease computing passing criteria
  pkg/workload/histogram/histogram.go
  pkg/workload/tpcc/result.go
  pkg/workload/tpcc/tpcc.go
Owners: none

roachtest: adopt tpcc.Result to enforce latency requirements in tpccbench
  pkg/cmd/roachtest/tpcc.go
Owners: none

opt,sql: don't fold "- 0" for JSON
  pkg/sql/logictest/testdata/logic_test/json
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/numeric
  pkg/sql/sem/tree/normalize.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: equip scalar expressions with telemetry
  pkg/server/updates_test.go
  pkg/sql/sem/tree/datum_invariants_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/operators.go
  pkg/sql/sem/tree/overload.go
  pkg/sql/sem/tree/type_check.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-rest-prs

opt,sql: don't fold "- 0" for JSON
  pkg/sql/logictest/testdata/logic_test/json
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/numeric
  pkg/sql/sem/tree/normalize.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt,sql: don't fold "- 0" for JSON
  pkg/sql/logictest/testdata/logic_test/json
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/numeric
  pkg/sql/sem/tree/normalize.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: Use current hlc time to check if AS OF SYSTEM TIME is in the future
  pkg/sql/exec_util.go
  pkg/sql/sem/tree/as_of.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: add more cost for lookup joins with more ON conditions
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

opt: add more cost for lookup joins with more ON conditions
  pkg/sql/opt/optgen/exprgen/testdata/join
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/testdata/coster/join
  pkg/sql/opt/xform/testdata/coster/zone
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/rules/join
Owners: @cockroachdb/sql-opt-prs

opt,sql: don't fold "- 0" for JSON
  pkg/sql/logictest/testdata/logic_test/json
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/numeric
  pkg/sql/sem/tree/normalize.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: propagate set operation output types to input columns
  pkg/sql/opt/exec/execbuilder/testdata/srfs
  pkg/sql/opt/exec/execbuilder/testdata/union
  pkg/sql/opt/memo/testdata/logprops/set
  pkg/sql/opt/memo/testdata/stats/set
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/norm/rules/set.opt
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/norm/testdata/rules/set
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/sequence
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/union.go
  pkg/sql/opt/xform/testdata/coster/set
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
Owners: @cockroachdb/sql-opt-prs

storage: Sync to disk before returning in WaitForApplication
  pkg/storage/stores_server.go
Owners: @cockroachdb/core-prs

DNM: proof of concept test
  pkg/storage/merge_queue.go
  pkg/storage/replica_command.go
  pkg/storage/store.go
  pkg/storage/stores_server.go
  run.sh
Owners: @cockroachdb/core-prs

rangefeed: add `kv.rangefeed.catchup_scan_nanos` metric
  pkg/storage/metrics.go
  pkg/storage/rangefeed/metrics.go
  pkg/storage/rangefeed/processor.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

rangefeed: add `kv.rangefeed.catchup_scan_nanos` metric
  pkg/storage/metrics.go
  pkg/storage/rangefeed/metrics.go
  pkg/storage/rangefeed/processor.go
  pkg/storage/rangefeed/registry.go
  pkg/storage/rangefeed/registry_test.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

rangefeed: stop using time-bound iterator for catchup scan
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

rangefeed: stop using time-bound iterator for catchup scan
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

changefeedccl: support connecting to kafka with ssl
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/sink.go
Owners: @cockroachdb/sql-ccl-prs

sql: add checks after all referenced columns have been backfilled
  pkg/sql/alter_table.go
  pkg/sql/backfill.go
  pkg/sql/logictest/testdata/logic_test/schema_change_in_txn
  pkg/sql/opt_catalog.go
  pkg/sql/rename_column.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/show_create.go
  pkg/sql/sqlbase/check.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/sqlbase/table.go
  pkg/sql/update.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

sql: Use current hlc time to check if AS OF SYSTEM TIME is in the future
  pkg/sql/exec_util.go
  pkg/sql/sem/tree/as_of.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: Use current hlc time to check if AS OF SYSTEM TIME is in the future
  pkg/sql/exec_util.go
  pkg/sql/sem/tree/as_of.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

Use a new heuristic
  pkg/server/goroutinedumper/goroutinedumper.go
  pkg/server/goroutinedumper/goroutinedumper_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage/tscache: fix skiplist arena re-use
  pkg/storage/tscache/interval_skl.go
Owners: @cockroachdb/core-prs

storage/tscache: fix skiplist arena re-use
  pkg/storage/tscache/interval_skl.go
Owners: @cockroachdb/core-prs

storage/tscache: Pick up andy-kimball/arenaskl fix
  Gopkg.lock
  pkg/storage/tscache/interval_skl_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
