Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql: fix logical plan sampling for non-null stats
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix the collection of logical plan samples
  pkg/ccl/changefeedccl/changefeed_dist.go
  pkg/sql/backfill.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsql_running.go
  pkg/sql/distsql_running_test.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/explain_distsql.go
  pkg/sql/scrub.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs

roachtest: switch tests to use the no-barrier ext4 option by default
  pkg/cmd/roachtest/cdc.go
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/kv.go
  pkg/cmd/roachtest/synctest.go
  pkg/cmd/roachtest/sysbench.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/tpcc.go
  pkg/cmd/roachtest/ycsb.go
Owners: none

changefeed: add experimental support for cloud storage sinks
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_test.go
  pkg/ccl/changefeedccl/table_history.go
Owners: @cockroachdb/sql-ccl-prs

changefeed: add experimental support for cloud storage sinks
  pkg/ccl/changefeedccl/changefeed.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/encoder.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/metrics.go
  pkg/ccl/changefeedccl/sink.go
  pkg/ccl/changefeedccl/sink_test.go
  pkg/ccl/changefeedccl/table_history.go
Owners: @cockroachdb/sql-ccl-prs

publish-provisional-artifacts: resolve merge conflict
  pkg/cmd/publish-provisional-artifacts/main.go
Owners: none

sql: switch PlaceholderTypes to a slice
  pkg/ccl/logictestccl/testdata/logic_test/partitioning
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/default
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
  pkg/sql/plan_opt.go
  pkg/sql/schemachange/alter_column_type.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/placeholders_test.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/tree/type_check_test.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

sql: switch PlaceholderTypes to a slice
  pkg/ccl/logictestccl/testdata/logic_test/partitioning
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/conn_io.go
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/check_constraints
  pkg/sql/logictest/testdata/logic_test/default
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/bench/bench_test.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/xform/optimizer_test.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
  pkg/sql/plan_opt.go
  pkg/sql/schemachange/alter_column_type.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/overload_test.go
  pkg/sql/sem/tree/placeholders.go
  pkg/sql/sem/tree/placeholders_test.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
  pkg/sql/sem/tree/type_check_test.go
  pkg/sql/sqlbase/prepared_statement.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-async-prs

distsqlrun: fix lookup join order preservation
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/joinreader_test.go
  pkg/sql/logictest/testdata/logic_test/lookup_join
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql/pgwire: accept NULLs in int[] and text[]
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

sql/pgwire: accept NULLs in int[] and text[]
  pkg/cmd/generate-binary/main.go
  pkg/sql/pgwire/encoding_test.go
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/pgwire/pgwirebase/encoding.go
  pkg/sql/pgwire/testdata/encodings.json
Owners: @cockroachdb/sql-wiring-prs

ui: change redux.serializeState usage to redux.serialize
  pkg/ui/src/redux/state.ts
Owners: @cockroachdb/admin-ui-prs

ui: change redux.serializeState usage to redux.serialize
  pkg/ui/src/redux/state.ts
Owners: @cockroachdb/admin-ui-prs

server: de-flake TestServerStartClock
  pkg/server/server_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: de-flake TestServerStartClock
  pkg/server/server_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: log reasons for splits and merges
  pkg/storage/client_raft_test.go
  pkg/storage/client_split_test.go
  pkg/storage/merge_queue.go
  pkg/storage/replica.go
  pkg/storage/replica_command.go
  pkg/storage/replica_metrics.go
  pkg/storage/split_queue.go
Owners: @cockroachdb/core-prs

sql: fix planNode deallocation in TestDistSQLRunningInAbortedTxn
  pkg/sql/distsql_running_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs

sql: fix planNode deallocation in TestDistSQLRunningInAbortedTxn
  pkg/sql/distsql_running_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs

util: enhance GetSmallTrace()
  pkg/util/smalltrace.go
Owners: none

storage: split canServeFollowerRead to separate file
  pkg/storage/replica.go
  pkg/storage/replica_follower_read.go
  pkg/storage/replica_read.go
Owners: @cockroachdb/core-prs

storage: split canServeFollowerRead to separate file
  pkg/storage/replica.go
  pkg/storage/replica_follower_read.go
  pkg/storage/replica_read.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: move evaluateBatch/Command to their own file batch_eval.go
  pkg/storage/replica_command.go
  pkg/storage/replica_evaluate.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/batcheval/result/result.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica_split_load.go
Owners: @cockroachdb/core-prs

storage: add some clarifying comments
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs

storage: avoid optimizePuts() in read-only batches
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_read.go
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica_evaluate.go
Owners: @cockroachdb/core-prs

storage: avoid optimizePuts() in read-only batches
  pkg/storage/replica_evaluate.go
  pkg/storage/replica_gossip.go
  pkg/storage/replica_read.go
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

storage: move evaluateBatch/Command to their own file batch_eval.go
  pkg/storage/replica_command.go
  pkg/storage/replica_evaluate.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica_evaluate.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/batcheval/result/result.go
Owners: @cockroachdb/core-prs

storage: add some clarifying comments
  pkg/storage/replica_gc_queue.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/replica_split_load.go
Owners: @cockroachdb/core-prs

storage: clarify a comment
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

vendor: add Shopify/toxiproxy/cli
  Gopkg.lock
Owners: @cockroachdb/build-prs

client: set timeout on async rollback's context
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs

roachtest: use toxiproxy for network testing
  pkg/cmd/roachtest/cluster.go
  pkg/cmd/roachtest/network.go
  pkg/cmd/roachtest/registry.go
  pkg/cmd/roachtest/toxiproxy.go
  pkg/internal/client/txn.go
Owners: @cockroachdb/core-prs
