Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

sql: reuse parser
  pkg/sql/parallel_stmts_test.go
  pkg/sql/parser/lexer.go
  pkg/sql/parser/parse.go
  pkg/sql/parser/scan.go
  pkg/sql/pgwire/conn.go
  pkg/sql/planner.go
  pkg/sql/subquery_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-wiring-prs

Update tracers
  Gopkg.lock
  Gopkg.toml
Owners: @cockroachdb/build-prs

Update tracers
  Gopkg.lock
  Gopkg.toml
Owners: @cockroachdb/build-prs

engine: skip WAL for temp rocks store
  c-deps/libroach/db.cc
  c-deps/libroach/engine.cc
  c-deps/libroach/engine.h
  c-deps/libroach/include/libroach.h
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/temp_engine.go
Owners: @cockroachdb/core-prs

engine: test batch.Commit when it only contains LogData
  pkg/storage/engine/rocksdb_test.go
Owners: @cockroachdb/core-prs

engine: test batch.Commit when it only contains LogData
  pkg/storage/engine/rocksdb_test.go
Owners: @cockroachdb/core-prs

storage: add comment on readOnlyCmdMu
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: smarten logic to wait for split trigger
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/raft.pb.go
  pkg/storage/raft.proto
  pkg/storage/raft_transport_test.go
  pkg/storage/replica.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_trigger_helper.go
  pkg/storage/split_trigger_helper_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: smarten logic to wait for split trigger
  pkg/base/config.go
  pkg/storage/client_split_test.go
  pkg/storage/raft.pb.go
  pkg/storage/raft.proto
  pkg/storage/raft_transport_test.go
  pkg/storage/replica.go
  pkg/storage/split_delay_helper.go
  pkg/storage/split_trigger_helper.go
  pkg/storage/split_trigger_helper_test.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs

storage: add comment on readOnlyCmdMu
  pkg/storage/replica.go
Owners: @cockroachdb/core-prs

storage: disable merge queue during TestSplitTriggerRaftSnapshotRace
  pkg/storage/client_split_test.go
Owners: @cockroachdb/core-prs

storage: disable merge queue during TestSplitTriggerRaftSnapshotRace
  pkg/storage/client_split_test.go
Owners: @cockroachdb/core-prs

opt: add plan cache metrics
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/metric_test.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/plan.go
  pkg/sql/plan_test.go
  pkg/sql/planner.go
  pkg/sql/sessiondata/search_path.go
  pkg/sql/sessiondata/search_path_test.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

roachtest: add support for testSpec.Tags
  pkg/cmd/roachtest/acceptance.go
  pkg/cmd/roachtest/main.go
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
Owners: none

roachtest: print a warning if no tests are selected to run
  pkg/cmd/roachtest/test.go
  pkg/cmd/roachtest/test_test.go
Owners: none

gossip: require node descriptors have non-empty addresses
  pkg/gossip/gossip.go
  pkg/kv/dist_sender_test.go
  pkg/storage/client_test.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

roachprod: add logs command to retreive and stream logs
  pkg/cmd/roachprod/install/cluster_synced.go
  pkg/cmd/roachprod/main.go
Owners: none

roachprod: add logs command to retreive and stream logs
  pkg/cmd/roachprod/install/cluster_synced.go
  pkg/cmd/roachprod/main.go
Owners: none

opt: support string_agg
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/norm/groupby.go
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/operator.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

server,cli: add system information to node details RPC and adopt in debug zip
  pkg/cli/cli_test.go
  pkg/cli/zip.go
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.proto
  pkg/server/status.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

server,cli: add system information to node details RPC and adopt in debug zip
  pkg/cli/cli_test.go
  pkg/cli/zip.go
  pkg/server/serverpb/admin.pb.go
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.proto
  pkg/server/status.go
Owners: @cockroachdb/cli-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

opt: Map output mutation columns to new column IDs
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/ordering/insert.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/ordering/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: Map output mutation columns to new column IDs
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/testdata/logprops/insert
  pkg/sql/opt/memo/testdata/logprops/update
  pkg/sql/opt/memo/testdata/stats/insert
  pkg/sql/opt/memo/testdata/stats/update
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/testdata/insert
  pkg/sql/opt/optbuilder/testdata/update
  pkg/sql/opt/ordering/insert.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/ordering/ordering.go
  pkg/sql/opt/ordering/update.go
  pkg/sql/opt/xform/testdata/physprops/ordering
Owners: @cockroachdb/sql-opt-prs

opt: add plan cache metrics
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/metric_test.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/plan.go
  pkg/sql/plan_test.go
  pkg/sql/planner.go
  pkg/sql/sessiondata/search_path.go
  pkg/sql/sessiondata/search_path_test.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

opt: add plan cache metrics
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/exec_util.go
  pkg/sql/executor_statement_metrics.go
  pkg/sql/metric_test.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/memo/memo_test.go
  pkg/sql/plan.go
  pkg/sql/plan_test.go
  pkg/sql/planner.go
  pkg/sql/sessiondata/search_path.go
  pkg/sql/sessiondata/search_path_test.go
  pkg/sql/sessiondata/session_data.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-rest-prs

opt: Move catalog.go to new package
  pkg/sql/opt/cat/catalog.go
Owners: @cockroachdb/sql-opt-prs

opt: Move catalog.go to new package
  pkg/sql/opt/cat/catalog.go
Owners: @cockroachdb/sql-opt-prs

opt: Split catalog.go into multiple files
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/cat/column.go
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/cat/view.go
Owners: @cockroachdb/sql-opt-prs

opt: Split catalog.go into multiple files
  pkg/sql/opt/cat/catalog.go
  pkg/sql/opt/cat/column.go
  pkg/sql/opt/cat/data_source.go
  pkg/sql/opt/cat/index.go
  pkg/sql/opt/cat/table.go
  pkg/sql/opt/cat/view.go
Owners: @cockroachdb/sql-opt-prs

opt: Move Catalog types into new "cat" package
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/ordering/lookup_join_test.go
  pkg/sql/opt/ordering/scan_test.go
  pkg/sql/opt/props/statistics.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/index_scan_builder.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

opt: Move Catalog types into new "cat" package
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/memo.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/ops/statement.opt
  pkg/sql/opt/optbuilder/builder.go
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/orderby.go
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/util.go
  pkg/sql/opt/ordering/lookup_join_test.go
  pkg/sql/opt/ordering/scan_test.go
  pkg/sql/opt/props/statistics.go
  pkg/sql/opt/testutils/opt_tester.go
  pkg/sql/opt/testutils/testcat/create_table.go
  pkg/sql/opt/testutils/testcat/test_catalog.go
  pkg/sql/opt/xform/coster.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/index_scan_builder.go
  pkg/sql/opt_catalog.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/sqlbase/structured.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql: pgwire support for limited result sets
  pkg/acceptance/testdata/java/src/main/java/MainTest.java
  pkg/ccl/changefeedccl/changefeed_dist.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_io.go
  pkg/sql/conn_io_test.go
  pkg/sql/distsql_plan_csv.go
  pkg/sql/distsql_running.go
  pkg/sql/internal.go
  pkg/sql/pgwire/command_result.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/pgwirebase/msg.go
  pkg/sql/pgwire/pgwirebase/servermessagetype_string.go
  pkg/sql/testutils.go
Owners: @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-wiring-prs

builder: upgrade to go1.10.7
  build/builder.sh
  build/builder/Dockerfile
Owners: @cockroachdb/build-prs

builder: upgrade to go1.10.7
  build/builder.sh
  build/builder/Dockerfile
Owners: @cockroachdb/build-prs

opt: Update metadata files
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_column.go
  pkg/sql/opt/table_meta.go
Owners: @cockroachdb/sql-opt-prs

storage: remove decoy batch timestamp handler
  pkg/sql/as_of_test.go
  pkg/sql/sem/tree/as_of.go
  pkg/storage/client_raft_test.go
  pkg/storage/closed_timestamp_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

storage: remove decoy batch timestamp handler
  pkg/sql/as_of_test.go
  pkg/sql/sem/tree/as_of.go
  pkg/storage/client_raft_test.go
  pkg/storage/closed_timestamp_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/core-prs

opt: support string_agg
  pkg/sql/distsqlpb/processors.pb.go
  pkg/sql/distsqlrun/aggregator.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/memo/extract.go
  pkg/sql/opt/norm/groupby.go
  pkg/sql/opt/norm/testdata/rules/groupby
  pkg/sql/opt/operator.go
  pkg/sql/opt/ops/scalar.opt
  pkg/sql/opt/optbuilder/groupby.go
  pkg/sql/opt/optbuilder/testdata/aggregate
  pkg/sql/opt_exec_factory.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs

opt: Refactor Metadata classes
  pkg/sql/opt/column_meta.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/scalar_builder.go
  pkg/sql/opt/idxconstraint/index_constraints.go
  pkg/sql/opt/memo/constraint_builder.go
  pkg/sql/opt/memo/expr.go
  pkg/sql/opt/memo/expr_format.go
  pkg/sql/opt/memo/logical_props_builder.go
  pkg/sql/opt/memo/statistics_builder.go
  pkg/sql/opt/memo/typing.go
  pkg/sql/opt/metadata.go
  pkg/sql/opt/metadata_test.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/decorrelate.go
  pkg/sql/opt/norm/join.go
  pkg/sql/opt/norm/testdata/rules/join
  pkg/sql/opt/optbuilder/mutation_builder.go
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/ordering/mutation.go
  pkg/sql/opt/table_meta.go
  pkg/sql/opt/testutils/format.go
  pkg/sql/opt/xform/custom_funcs.go
  pkg/sql/opt/xform/memo_format.go
  pkg/sql/opt/xform/physical_props.go
  pkg/sql/plan.go
Owners: @cockroachdb/sql-opt-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

opt: Improve dependency checking
  pkg/sql/opt/metadata.go
Owners: @cockroachdb/sql-opt-prs
