Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/sql-optimizer, @cockroachdb/cli-prs, @cockroachdb/bulk-io, @cockroachdb/geospatial, @cockroachdb/admin-ui-prs, @cockroachdb/kv

github: make bors only compile on merge commits
  .github/bors.toml
Owners: none

sql: implement the `DROP SCHEMA` command
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/catalog/accessors/logical_schema_accessors.go
  pkg/sql/catalog/catalogkv/physical_accessor.go
  pkg/sql/catalog/descs/collection.go
  pkg/sql/conn_executor.go
  pkg/sql/drop_cascade.go
  pkg/sql/drop_database.go
  pkg/sql/drop_schema.go
  pkg/sql/event_log.go
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
  pkg/sql/sqlbase/schema_desc.go
  pkg/sql/sqlbase/structured.pb.go
  pkg/sql/sqlbase/structured.proto
  pkg/sql/walk.go
Owners: none

sql/catalog/lease: attempt to fix a flakey test
  pkg/sql/catalog/lease/lease_test.go
Owners: none

engine: set the MVCC timestamp on reads due to historical intents
  c-deps/libroach/mvcc.h
  pkg/storage/pebble_mvcc_scanner.go
  pkg/storage/testdata/mvcc_histories/ignored_seq_nums
  pkg/storage/testdata/mvcc_histories/max_keys
  pkg/storage/testdata/mvcc_histories/target_bytes
Owners: none

engine: set the MVCC timestamp on reads due to historical intents
  c-deps/libroach/mvcc.h
  pkg/storage/pebble_mvcc_scanner.go
  pkg/storage/testdata/mvcc_histories/ignored_seq_nums
  pkg/storage/testdata/mvcc_histories/max_keys
  pkg/storage/testdata/mvcc_histories/target_bytes
Owners: none

sql: support ALTER TYPE SET SCHEMA command
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/logictest/testdata/logic_test/enums
  pkg/sql/logictest/testdata/logic_test/set_schema
  pkg/sql/rename_table.go
  pkg/sql/set_schema.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/sqlbase/type_desc.go
Owners: none

sql: remove runParams from AlterType startExec functions
  pkg/sql/alter_type.go
  pkg/sql/sqlbase/namespace.go
Owners: none

sql: add WriteNameKeyToBatch function
  pkg/sql/alter_table_set_schema.go
  pkg/sql/alter_type.go
  pkg/sql/rename_table.go
  pkg/sql/sqlbase/namespace.go
Owners: none

sql: consider non-public indexes in partial index update helper
  pkg/sql/logictest/testdata/logic_test/partial_index
  pkg/sql/row/partial_index.go
Owners: none

sql: consider non-public indexes in partial index update helper
  pkg/sql/logictest/testdata/logic_test/partial_index
  pkg/sql/row/partial_index.go
Owners: none

cli: improve interactive sql shell timings
  pkg/cli/context.go
  pkg/cli/sql.go
  pkg/cli/sql_util.go
  pkg/sql/parser/parse.go
Owners: @cockroachdb/cli-prs

sql: properly reset extraTxnState in COPY
  pkg/sql/conn_executor.go
  pkg/sql/copy.go
  pkg/sql/copy_in_test.go
Owners: none

sql: properly reset extraTxnState in COPY
  pkg/sql/conn_executor.go
  pkg/sql/copy.go
  pkg/sql/copy_in_test.go
Owners: none

importccl: add hint to line too long errors
  pkg/ccl/importccl/read_import_pgcopy.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

importccl: add hint to line too long errors
  pkg/ccl/importccl/read_import_pgcopy.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

sql: better distribute distinct processors
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/physicalplan/physical_plan.go
Owners: @cockroachdb/sql-optimizer

sql: better distribute distinct processors
  pkg/sql/distsql_physical_planner.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
  pkg/sql/physicalplan/physical_plan.go
Owners: @cockroachdb/sql-optimizer

sql: implement ConstructDistinct in the new factory
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/logictest/testdata/logic_test/experimental_distsql_planning
Owners: none

sql: implement ConstructDistinct in the new factory
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/logictest/testdata/logic_test/experimental_distsql_planning
Owners: none

colexec: minor cleanup of the hash table
  pkg/sql/colexec/hashtable.go
  pkg/sql/colexec/hashtable_distinct.eg.go
  pkg/sql/colexec/hashtable_full_default.eg.go
  pkg/sql/colexec/hashtable_full_deleting.eg.go
  pkg/sql/colexec/hashtable_tmpl.go
Owners: none

colexec: minor cleanup of the hash table
  pkg/sql/colexec/hashtable.go
  pkg/sql/colexec/hashtable_distinct.eg.go
  pkg/sql/colexec/hashtable_full_default.eg.go
  pkg/sql/colexec/hashtable_full_deleting.eg.go
  pkg/sql/colexec/hashtable_tmpl.go
Owners: none

sql: implement ConstructOpaque in the new factory
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/exec_factory_util.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: none

sql: implement ConstructOpaque in the new factory
  pkg/sql/distsql_spec_exec_factory.go
  pkg/sql/exec_factory_util.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan.go
Owners: none

backupccl: skip TestBackupRestoreChecksum
  pkg/ccl/backupccl/backup_test.go
Owners: @cockroachdb/bulk-io

sqlbase: fix diff output for failing TestSystemTableLiterals
  pkg/sql/tests/system_table_test.go
Owners: none

sqlbase: fix diff output for failing TestSystemTableLiterals
  pkg/sql/tests/system_table_test.go
Owners: none

sqlbase: new columns in system.jobs and sqlliveness table
  docs/generated/settings/settings.html
  pkg/cli/testdata/zip/partial1
  pkg/cli/testdata/zip/partial1_excluded
  pkg/cli/testdata/zip/partial2
  pkg/cli/testdata/zip/specialnames
  pkg/cli/testdata/zip/testzip
  pkg/clusterversion/cockroach_versions.go
  pkg/config/system_test.go
  pkg/jobs/lease_test.go
  pkg/keys/constants.go
  pkg/sql/logictest/testdata/logic_test/grant_table
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/system
  pkg/sql/logictest/testdata/logic_test/system_namespace
  pkg/sql/opt/exec/execbuilder/testdata/autocommit
  pkg/sql/opt/exec/execbuilder/testdata/delete
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/sqlbase/system.go
  pkg/sql/tests/system_table_test.go
  pkg/sql/tests/testdata/initial_keys
  pkg/sqlmigrations/migrations.go
  pkg/sqlmigrations/migrations_test.go
Owners: @cockroachdb/cli-prs, @cockroachdb/sql-optimizer

jobs: implement job leases with sqlliveness
  pkg/jobs/adopt.go
  pkg/jobs/jobs.go
  pkg/jobs/jobs_test.go
  pkg/jobs/registry.go
  pkg/jobs/registry_external_test.go
  pkg/jobs/registry_test.go
  pkg/server/server_sql.go
  pkg/sql/conn_executor.go
  pkg/sql/distsql/server.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sqlliveness/slinstance/slinstance.go
  pkg/sql/sqlliveness/slstorage/slstorage.go
  pkg/sql/sqlliveness/sqlliveness.go
Owners: none

jobs: a minor test fix
  pkg/jobs/jobs.go
  pkg/jobs/jobs_test.go
Owners: none

sqlliveness: use builtin for live sessions
  docs/generated/sql/functions.md
  pkg/jobs/registry.go
  pkg/sql/conn_executor.go
  pkg/sql/distsql/server.go
  pkg/sql/sem/builtins/builtins.go
  pkg/sql/sem/tree/eval.go
Owners: none

jobs: deprecate node liveness functions and data
  pkg/jobs/deprecated.go
  pkg/jobs/jobs.go
  pkg/jobs/registry.go
  pkg/jobs/registry_test.go
Owners: none

sqlliveness: delete expired sessions
  pkg/server/server_sql.go
  pkg/sql/conn_executor.go
  pkg/sql/distsql/server.go
  pkg/sql/exec_util.go
  pkg/sql/execinfra/server_config.go
  pkg/sql/sqlliveness/slstorage/slstorage.go
Owners: none

backupccl: fix jobs backup test
  pkg/ccl/backupccl/full_cluster_backup_restore_test.go
Owners: @cockroachdb/bulk-io

sqlliveness: refactor code for testing and add tests
  pkg/jobs/registry.go
  pkg/jobs/registry_external_test.go
  pkg/jobs/registry_test.go
  pkg/server/server_sql.go
  pkg/sql/sqlliveness/slinstance/helpers_test.go
  pkg/sql/sqlliveness/slinstance/slinstance.go
  pkg/sql/sqlliveness/slinstance/slinstance_test.go
  pkg/sql/sqlliveness/slstorage/main_test.go
  pkg/sql/sqlliveness/slstorage/slstorage.go
  pkg/sql/sqlliveness/slstorage/slstorage_test.go
  pkg/sql/sqlliveness/slstorage/test_helpers.go
  pkg/sql/sqlliveness/sqlliveness.go
Owners: none

sqlliveness: add cluster settings
  pkg/jobs/registry_external_test.go
  pkg/jobs/registry_test.go
  pkg/server/server_sql.go
  pkg/sql/sqlliveness/slinstance/slinstance.go
  pkg/sql/sqlliveness/slstorage/slstorage.go
Owners: none

backupccl: fix race on RESTORE's summary
  pkg/ccl/backupccl/restore_job.go
Owners: @cockroachdb/bulk-io

backupccl: fix race on RESTORE's summary
  pkg/ccl/backupccl/restore_job.go
Owners: @cockroachdb/bulk-io

importccl: allow ALTER TABLE ... ALTER COLUMN ... SET NULL
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

importccl: allow ALTER TABLE ... ALTER COLUMN ... SET NULL
  pkg/ccl/importccl/import_stmt_test.go
  pkg/ccl/importccl/read_import_pgdump.go
Owners: @cockroachdb/bulk-io

kvserver: allow historical reads on subsumed ranges
  pkg/kv/kvserver/batcheval/cmd_subsume.go
  pkg/kv/kvserver/batcheval/result/result.go
  pkg/kv/kvserver/client_merge_test.go
  pkg/kv/kvserver/kvserverbase/base.go
  pkg/kv/kvserver/replica.go
  pkg/kv/kvserver/replica_proposal.go
  pkg/kv/kvserver/replica_read.go
  pkg/kv/kvserver/replica_send.go
  pkg/kv/kvserver/testing_knobs.go
Owners: @cockroachdb/kv

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/sql/opt/                @cockroachdb/sql-optimizer
/pkg/sql/stats/              @cockroachdb/sql-optimizer

/pkg/cli/                    @cockroachdb/cli-prs

/pkg/ccl/backupccl/          @cockroachdb/bulk-io
/pkg/ccl/importccl/          @cockroachdb/bulk-io
/pkg/ccl/storageccl/         @cockroachdb/bulk-io
/pkg/ccl/changefeedccl/      @cockroachdb/bulk-io
/pkg/sql/distsql_plan_csv.go @cockroachdb/bulk-io
/pkg/cli/dump.go             @cockroachdb/bulk-io

/pkg/geo/                     @cockroachdb/geospatial

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/pkg/kv/ @cockroachdb/kv
