Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storage: skip TestWedgedReplicaDetection on test short
  pkg/storage/client_raft_test.go
Owners: @cockroachdb/core-prs

storage: get rid of VersionRangeAppliedStateKey
  pkg/settings/cluster/cockroach_versions.go
  pkg/storage/below_raft_protos_test.go
  pkg/storage/replica.go
  pkg/storage/replica_test.go
  pkg/storage/stateloader/initial.go
Owners: @cockroachdb/core-prs

Revert "storage: allow HeartbeatTxn and EndTxn requests to create txn records"
  pkg/kv/dist_sender_server_test.go
  pkg/kv/integration_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/api.go
  pkg/roachpb/data.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/storage/batcheval/cmd_begin_transaction.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_heartbeat_txn.go
  pkg/storage/batcheval/cmd_resolve_intent_test.go
  pkg/storage/batcheval/eval_context.go
  pkg/storage/replica_eval_context_span.go
  pkg/storage/replica_test.go
  pkg/storage/replica_tscache.go
Owners: @cockroachdb/core-prs

sql/lex: replace all_keywords.awk with a Go program
  Makefile
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/all_keywords.awk
Owners: @cockroachdb/build-prs, @cockroachdb/sql-language-prs

sql/lex: use a switch statement for keyword lookup
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

sql/parser: remove unused output in all-keywords
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/scan_test.go
  pkg/sql/sem/builtins/generator_builtins.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

tree: clean up ProcessPlaceholderAnnotations
  pkg/sql/conn_executor_prepare.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

tree: clean up ProcessPlaceholderAnnotations
  pkg/sql/conn_executor_prepare.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/tree/type_check_internal_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

*: update deps
  Gopkg.lock
  Gopkg.toml
  pkg/server/serverpb/admin.pb.gw.go
  pkg/server/serverpb/authentication.pb.gw.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/ts/tspb/timeseries.pb.gw.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

*: update deps
  Gopkg.lock
  Gopkg.toml
  pkg/server/serverpb/admin.pb.gw.go
  pkg/server/serverpb/authentication.pb.gw.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/ts/tspb/timeseries.pb.gw.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs

sql: fix type-indexing bug for wrapped planNodes
  pkg/sql/logictest/testdata/logic_test/ordinality
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix type-indexing bug for wrapped planNodes
  pkg/sql/logictest/testdata/logic_test/ordinality
  pkg/sql/row_source_to_plan_node.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

roachtest: fix start args in upgrade test
  pkg/cmd/roachtest/upgrade.go
Owners: none

roachtest: fix start args in upgrade test
  pkg/cmd/roachtest/upgrade.go
Owners: none

sql: trim down testing of range mode of window functions
  pkg/sql/sem/tree/window_funcs_test.go
Owners: @cockroachdb/sql-rest-prs

sql: trim down testing of range mode of window functions
  pkg/sql/sem/tree/window_funcs_test.go
Owners: @cockroachdb/sql-rest-prs

sql: trim down testing of range mode of window functions
  pkg/sql/sem/tree/window_funcs_test.go
Owners: @cockroachdb/sql-rest-prs

lint: pin honnef.co/go/tools
  Gopkg.toml
Owners: @cockroachdb/build-prs

lint: pin honnef.co/go/tools
  Gopkg.toml
Owners: @cockroachdb/build-prs

sql: project out temporary columns used by window functions
  pkg/acceptance/testdata/java/src/main/java/MainTest.java
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsql_plan_window.go
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/window.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-execution-prs

sql: added span to TableReader flow diagram
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/distsqlpb/flow_diagram.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/logictest/testdata/planner_test/distsql_agg
  pkg/sql/logictest/testdata/planner_test/distsql_auto_mode
  pkg/sql/logictest/testdata/planner_test/distsql_distinct_on
  pkg/sql/logictest/testdata/planner_test/distsql_indexjoin
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/distsql_join
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/logictest/testdata/planner_test/distsql_numtables
  pkg/sql/logictest/testdata/planner_test/distsql_sort
  pkg/sql/logictest/testdata/planner_test/distsql_srfs
  pkg/sql/logictest/testdata/planner_test/distsql_subquery
  pkg/sql/logictest/testdata/planner_test/distsql_union
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_indexjoin
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_numtables
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sql: added span to TableReader flow diagram
  pkg/sql/distsql_physical_planner_test.go
  pkg/sql/distsqlpb/flow_diagram.go
  pkg/sql/logictest/testdata/logic_test/explain_analyze_plans
  pkg/sql/logictest/testdata/logic_test/zigzag_join
  pkg/sql/logictest/testdata/planner_test/distsql_agg
  pkg/sql/logictest/testdata/planner_test/distsql_auto_mode
  pkg/sql/logictest/testdata/planner_test/distsql_distinct_on
  pkg/sql/logictest/testdata/planner_test/distsql_indexjoin
  pkg/sql/logictest/testdata/planner_test/distsql_interleaved_join
  pkg/sql/logictest/testdata/planner_test/distsql_join
  pkg/sql/logictest/testdata/planner_test/distsql_lookup_join
  pkg/sql/logictest/testdata/planner_test/distsql_misc
  pkg/sql/logictest/testdata/planner_test/distsql_numtables
  pkg/sql/logictest/testdata/planner_test/distsql_sort
  pkg/sql/logictest/testdata/planner_test/distsql_srfs
  pkg/sql/logictest/testdata/planner_test/distsql_subquery
  pkg/sql/logictest/testdata/planner_test/distsql_union
  pkg/sql/logictest/testdata/planner_test/distsql_window
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_indexjoin
  pkg/sql/opt/exec/execbuilder/testdata/distsql_interleaved_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_join
  pkg/sql/opt/exec/execbuilder/testdata/distsql_misc
  pkg/sql/opt/exec/execbuilder/testdata/distsql_numtables
  pkg/sql/opt/exec/execbuilder/testdata/distsql_union
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

kv: provide option to request eager txn record creation
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

kv: provide option to request eager txn record creation
  pkg/internal/client/sender.go
  pkg/internal/client/txn.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/storage/replica_command.go
Owners: @cockroachdb/core-prs

sql/parser: remove unused output in all-keywords
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/scan_test.go
  pkg/sql/sem/builtins/generator_builtins.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql/lex: use a switch statement for keyword lookup
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

sql/lex: use a switch statement for keyword lookup
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/scan.go
Owners: @cockroachdb/sql-language-prs

sql/lex: replace all_keywords.awk with a Go program
  Makefile
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/all_keywords.awk
Owners: @cockroachdb/build-prs, @cockroachdb/sql-language-prs

sql/parser: remove unused output in all-keywords
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/scan_test.go
  pkg/sql/sem/builtins/generator_builtins.go
Owners: @cockroachdb/sql-language-prs, @cockroachdb/sql-rest-prs

sql/lex: replace all_keywords.awk with a Go program
  Makefile
  pkg/cmd/all-keywords/main.go
  pkg/sql/parser/all_keywords.awk
Owners: @cockroachdb/build-prs, @cockroachdb/sql-language-prs

sql/lex: move all_keywords.go to a tagged file
  Makefile
  pkg/sql/lex/all_keywords.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

sql/lex: move all_keywords.go to a tagged file
  Makefile
  pkg/sql/lex/all_keywords.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-rest-prs

adopt logger in circuit breaker
  Gopkg.lock
  pkg/gossip/gossip.go
  pkg/rpc/breaker.go
  pkg/rpc/context.go
  pkg/rpc/nodedialer/nodedialer.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

rpc: adopt logger in circuit breaker
  Gopkg.lock
  pkg/gossip/gossip.go
  pkg/rpc/breaker.go
  pkg/rpc/context.go
  pkg/rpc/nodedialer/nodedialer.go
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs

kubernetes: Switch from using http-host to http-addr
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

kubernetes: Switch from using http-host to http-addr
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.6/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.7/cockroachdb-statefulset.yaml
Owners: none

server: Add HotRanges status endpoint
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/server/serverpb/status.proto
  pkg/server/status.go
  pkg/server/status_test.go
  pkg/storage/store.go
  pkg/ui/src/views/reports/containers/debug/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

server: Add HotRanges status endpoint
  pkg/server/serverpb/status.pb.go
  pkg/server/serverpb/status.pb.gw.go
  pkg/server/serverpb/status.proto
  pkg/server/status.go
  pkg/server/status_test.go
  pkg/storage/store.go
  pkg/ui/src/views/reports/containers/debug/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

server,sql: introduce optional migrations
  pkg/server/init.go
  pkg/server/server.go
  pkg/server/status_test.go
  pkg/sql/create_test.go
  pkg/sql/logictest/testdata/logic_test/ranges
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/sqlbase/system.go
  pkg/sqlmigrations/migrations.go
  pkg/sqlmigrations/migrations_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs

server,sql: introduce optional migrations
  pkg/server/init.go
  pkg/server/server.go
  pkg/server/status_test.go
  pkg/sql/create_test.go
  pkg/sql/logictest/testdata/logic_test/ranges
  pkg/sql/logictest/testdata/logic_test/show_trace
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/logictest/testdata/planner_test/interleaved
  pkg/sql/logictest/testdata/planner_test/update
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/interleaved
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/sqlbase/system.go
  pkg/sqlmigrations/migrations.go
  pkg/sqlmigrations/migrations_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
