Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs

storagebase: add CheckIngestedStats cmd
  pkg/ccl/backupccl/restore.go
  pkg/ccl/importccl/read_import_proc.go
  pkg/ccl/importccl/sst_writer_proc.go
  pkg/sql/backfill.go
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/storage/storagebase/bulk_adder.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/core-prs

intentresolver: fix test flake for CleanupIntents
  pkg/storage/intentresolver/intent_resolver_test.go
Owners: @cockroachdb/core-prs

storage/engine: fix Go 1.12 build due to missing C.bool type casts
  pkg/storage/engine/rocksdb.go
Owners: @cockroachdb/core-prs

storage: move a store testing knob
  pkg/kv/txn_correctness_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/testing_knobs.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

storage: move a store testing knob
  pkg/kv/txn_correctness_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/testing_knobs.go
  pkg/testutils/localtestcluster/local_test_cluster.go
Owners: @cockroachdb/core-prs

ccl/gssapiccl: re-enable GSS tests
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/acceptance/compose/gss/psql/gss_test.go
  pkg/acceptance/compose/gss/psql/start.sh
Owners: none

ccl/gssapiccl: re-enable GSS tests
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/acceptance/compose/gss/psql/gss_test.go
  pkg/acceptance/compose/gss/psql/start.sh
Owners: none

execbuild: bugfix to group by with input ordering
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/aggregate
  pkg/sql/opt/exec/execbuilder/testdata/distinct
  pkg/sql/opt/exec/execbuilder/testdata/distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/distsql_agg
  pkg/sql/opt/exec/execbuilder/testdata/distsql_distinct_on
  pkg/sql/opt/exec/execbuilder/testdata/lookup_join
Owners: @cockroachdb/sql-opt-prs

kv: remove unused arg
  pkg/kv/txn_coord_sender.go
Owners: @cockroachdb/core-prs

sql: fix unnecessary anonymizeStmt in prepare
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: fix unnecessary anonymizeStmt in prepare
  pkg/sql/app_stats.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/plan_opt.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

exec: Fix integer overflow bugs in vectorized merge joiner
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/sql-rest-prs

sql: don't panic on unexpected null in kvfetcher
  pkg/sql/sqlbase/rowfetcher.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

exec: add deselector operator
  pkg/sql/exec/deselector.go
  pkg/sql/exec/deselector_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

exec: add deselector operator
  pkg/sql/exec/deselector.go
  pkg/sql/exec/deselector_test.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/sql-rest-prs

sql: Update error message for multi-column stats
  pkg/sql/distsqlrun/sampler.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

sql: Update error message for multi-column stats
  pkg/sql/distsqlrun/sampler.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

storage: Move TestingProposalFilter a little earlier in the process
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: Rename Replica.propose to evalAndPropose
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
  pkg/storage/store_test.go
Owners: @cockroachdb/core-prs

storage: Move illegal lease index retries down into raft
  pkg/storage/batcheval/cmd_lease_test.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: Refactor second half of evalAndPropose into proposeLocked
  pkg/storage/replica_raft.go
Owners: @cockroachdb/core-prs

opt: change cost model
  pkg/sql/opt/xform/coster.go
Owners: @cockroachdb/sql-opt-prs

add updated external test cases
  pkg/sql/opt/xform/testdata/external/activerecord
  pkg/sql/opt/xform/testdata/external/customer
  pkg/sql/opt/xform/testdata/external/hibernate
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
  pkg/sql/opt/xform/testdata/external/nova
  pkg/sql/opt/xform/testdata/external/tpcc
  pkg/sql/opt/xform/testdata/external/tpcc-no-stats
  pkg/sql/opt/xform/testdata/external/tpch
  pkg/sql/opt/xform/testdata/external/tpch-no-stats
Owners: @cockroachdb/sql-opt-prs

exec: extract spooling phase of sorter into a separate operator
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/sql-rest-prs

exec: extract spooling phase of sorter into a separate operator
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
Owners: @cockroachdb/sql-rest-prs

docs: Update alter_zone_index_stmt diagram
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  pkg/cmd/docgen/diagrams.go
Owners: none

docs: Update alter_zone_index_stmt diagram
  docs/generated/sql/bnf/alter_zone_index_stmt.bnf
  pkg/cmd/docgen/diagrams.go
Owners: none

storage,kv: make transaction deadline exceeded errors retriable
  pkg/kv/dist_sender_server_test.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_committer.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/kv/txn_interceptor_span_refresher.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/as_of_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/lease_test.go
  pkg/sql/txn_restart_test.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/client_merge_test.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

workload,workloadccl: improve `cockroach workload` logging
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
  pkg/workload/cli/run.go
Owners: @cockroachdb/sql-ccl-prs

workload,workloadccl: improve `cockroach workload` logging
  pkg/ccl/workloadccl/cliccl/fixtures.go
  pkg/ccl/workloadccl/fixture.go
  pkg/ccl/workloadccl/fixture_test.go
  pkg/workload/cli/run.go
Owners: @cockroachdb/sql-ccl-prs

cdctest: add a jepsen-style changefeed test
  pkg/ccl/changefeedccl/cdctest/nemeses.go
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/cdctest/validator.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/nemeses_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validations_test.go
Owners: @cockroachdb/sql-ccl-prs

storageccl: write local ExportStorage files atomically
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

cdctest: add a jepsen-style changefeed test
  pkg/ccl/changefeedccl/cdctest/nemeses.go
  pkg/ccl/changefeedccl/cdctest/testfeed.go
  pkg/ccl/changefeedccl/cdctest/validator.go
  pkg/ccl/changefeedccl/helpers_test.go
  pkg/ccl/changefeedccl/nemeses_test.go
  pkg/ccl/changefeedccl/sink_cloudstorage_test.go
  pkg/ccl/changefeedccl/validations_test.go
Owners: @cockroachdb/sql-ccl-prs

storageccl: write local ExportStorage files atomically
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

opt: fix panic caused by invalid constant folding
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/fold_constants.opt
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/numeric
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
Owners: @cockroachdb/sql-opt-prs

opt: fix panic caused by invalid constant folding
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/fold_constants.opt
  pkg/sql/opt/norm/rules/numeric.opt
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/norm/testdata/rules/numeric
  pkg/sql/opt/norm/testdata/rules/scalar
  pkg/sql/opt/xform/testdata/external/liquibase
  pkg/sql/opt/xform/testdata/external/navicat
Owners: @cockroachdb/sql-opt-prs

storage: Remove proposalIllegalLeaseIndex result from refreshProposals
  pkg/storage/replica_raft.go
  pkg/storage/track_raft_protos.go
Owners: @cockroachdb/core-prs

storage,kv: make transaction deadline exceeded errors retriable
  pkg/kv/dist_sender_server_test.go
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_committer.go
  pkg/kv/txn_interceptor_pipeliner.go
  pkg/kv/txn_interceptor_pipeliner_test.go
  pkg/kv/txn_interceptor_span_refresher.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
  pkg/sql/as_of_test.go
  pkg/sql/distsql_running_test.go
  pkg/sql/lease_test.go
  pkg/sql/txn_restart_test.go
  pkg/storage/batcheval/cmd_end_transaction.go
  pkg/storage/batcheval/cmd_query_intent.go
  pkg/storage/client_merge_test.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
  pkg/storage/store.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-async-prs

storage: Merge executeWriteBatch and tryExecuteWriteBatch
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_read.go
  pkg/storage/replica_test.go
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs

storage: Remove the no-longer-used proposalResult.ProposalRetry
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_write.go
Owners: @cockroachdb/core-prs
