Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

storageccl: leave params in workload URIs
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

storageccl: leave params in workload URIs
  pkg/ccl/storageccl/export_storage.go
Owners: @cockroachdb/sql-bulk-prs

cli: add bulkingest workload to main binary
  pkg/cli/cli.go
Owners: @cockroachdb/cli-prs

storage: move TestTruncateLog
  pkg/storage/raft_log_queue_test.go
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: recompute raft log size in Raft log queue when zero
  pkg/storage/raft_log_queue.go
  pkg/storage/raft_log_queue_test.go
Owners: @cockroachdb/core-prs

sql: fix processing of patterns with custom escape character
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/eval_internal_test.go
  pkg/sql/sem/tree/like_test.go
Owners: @cockroachdb/sql-rest-prs

sql: fix processing of patterns with custom escape character
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/eval_internal_test.go
  pkg/sql/sem/tree/like_test.go
Owners: @cockroachdb/sql-rest-prs

ccl/gssapiccl: add GSS authentication support on Linux
  .gitmodules
  Makefile
  build/builder.sh
  build/builder/Dockerfile
  c-deps/krb5-rebuild
  pkg/acceptance/cluster/certs.go
  pkg/acceptance/compose/gss/docker-compose.yml
  pkg/acceptance/compose/gss/kdc/Dockerfile
  pkg/acceptance/compose/gss/kdc/krb5.conf
  pkg/acceptance/compose/gss/kdc/start.sh
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/acceptance/compose/gss/psql/empty.go
  pkg/acceptance/compose/gss/psql/gss_test.go
  pkg/acceptance/compose/gss/psql/start.sh
  pkg/acceptance/compose_test.go
  pkg/ccl/ccl_init.go
  pkg/ccl/gssapiccl/empty.go
  pkg/ccl/gssapiccl/gssapi.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-wiring-prs

exec: implement sort chunks operator
  Makefile
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/deselector.go
  pkg/sql/exec/execgen/cmd/execgen/tuple_differentiator_gen.go
  pkg/sql/exec/operator.go
  pkg/sql/exec/sort.go
  pkg/sql/exec/sort_test.go
  pkg/sql/exec/tuple_differentiator_tmpl.go
  pkg/sql/exec/utils_test.go
Owners: @cockroachdb/build-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: use lease start time to determine follower read safety
  pkg/storage/closedts/closedts.go
  pkg/storage/closedts/container/container_test.go
  pkg/storage/closedts/container/noop.go
  pkg/storage/closedts/provider/provider.go
  pkg/storage/replica_follower_read.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

sql: EXECUTE .. DISCARD ROWS
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/planner.go
  pkg/sql/sem/tree/prepare.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql: EXECUTE .. DISCARD ROWS
  pkg/sql/conn_executor_exec.go
  pkg/sql/distsql_running.go
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
  pkg/sql/planner.go
  pkg/sql/sem/tree/prepare.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-language-prs

sql,stats: fix AS OF SYSTEM TIME with CreateStats job
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/create_stats.go
  pkg/sql/stats/create_stats_job_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql,stats: fix AS OF SYSTEM TIME with CreateStats job
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/create_stats.go
  pkg/sql/stats/create_stats_job_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

storage: remove final reference to DeprecatedBatchIndex
  pkg/storage/replica_evaluate.go
Owners: @cockroachdb/core-prs

storage: improve testing around transactional idempotency
  pkg/storage/replica_test.go
Owners: @cockroachdb/core-prs

storage: employ transactional idempotency to refresh mixed-success batches
  pkg/kv/dist_sender_server_test.go
  pkg/kv/txn_interceptor_span_refresher.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: @cockroachdb/core-prs

storage: add support for copyset based rebalancing
  docs/generated/settings/settings.html
  pkg/storage/allocator.go
  pkg/storage/allocator_scorer.go
  pkg/storage/allocator_scorer_test.go
  pkg/storage/allocator_test.go
  pkg/storage/copysets/copysets.go
  pkg/storage/store.go
  pkg/storage/store_pool.go
  pkg/storage/store_rebalancer.go
  pkg/storage/store_rebalancer_test.go
Owners: @cockroachdb/core-prs

ccl/gssapiccl: add GSS authentication support on Linux
  .gitmodules
  Makefile
  build/builder.sh
  build/builder/Dockerfile
  build/variables.mk
  c-deps/krb5-rebuild
  pkg/acceptance/cluster/certs.go
  pkg/acceptance/compose/gss/docker-compose.yml
  pkg/acceptance/compose/gss/kdc/Dockerfile
  pkg/acceptance/compose/gss/kdc/krb5.conf
  pkg/acceptance/compose/gss/kdc/start.sh
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/acceptance/compose/gss/psql/empty.go
  pkg/acceptance/compose/gss/psql/gss_test.go
  pkg/acceptance/compose/gss/psql/start.sh
  pkg/acceptance/compose_test.go
  pkg/ccl/ccl_init.go
  pkg/ccl/gssapiccl/empty.go
  pkg/ccl/gssapiccl/gssapi.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/hba/hba.go
  pkg/sql/pgwire/hba/testdata/parse
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-wiring-prs

cmd/cmp-sql: add cmp-sql to compare cockroach and postgres SQL results
  pkg/cmd/cmp-sql/main.go
Owners: none

storage: export SideloadStorage
  pkg/storage/helpers_test.go
  pkg/storage/replica.go
  pkg/storage/replica_proposal.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_raftstorage.go
  pkg/storage/replica_sideload.go
  pkg/storage/replica_sideload_disk.go
  pkg/storage/replica_sideload_inmem.go
  pkg/storage/replica_sideload_test.go
  pkg/storage/store_snapshot.go
Owners: @cockroachdb/core-prs

pprofui: allow passing ?seconds=X to CPU profiling
  pkg/server/debug/pprofui/server.go
  pkg/ui/src/views/reports/containers/debug/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

pprofui: allow passing ?seconds=X to CPU profiling
  pkg/server/debug/pprofui/server.go
  pkg/ui/src/views/reports/containers/debug/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

pprofui: allow hitting ui endpoints via `go tool pprof`
  pkg/server/debug/pprofui/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

pprofui: allow hitting ui endpoints via `go tool pprof`
  pkg/server/debug/pprofui/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

debug: let Settings know when CPU profile is active
  pkg/server/debug/server.go
  pkg/settings/cluster/settings.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

pprofui: add a hook around profile grabbing
  pkg/server/debug/pprofui/server.go
  pkg/server/debug/pprofui/server_test.go
  pkg/server/debug/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

pprofui: add a hook around profile grabbing
  pkg/server/debug/pprofui/server.go
  pkg/server/debug/pprofui/server_test.go
  pkg/server/debug/server.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

sql: add profiler labels during CPU profiling
  pkg/sql/conn_executor_exec.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

ui: consolidate profiling debug links
  pkg/server/debug/server.go
  pkg/ui/src/views/reports/containers/debug/index.tsx
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

server/debug: expose panicparse's UI at /debug/pprof/goroutineui
  Gopkg.lock
  Gopkg.toml
  pkg/server/debug/goroutineui/dump.go
  pkg/server/debug/goroutineui/dump_test.go
  pkg/server/debug/goroutineui/html.go
  pkg/server/debug/server.go
  pkg/ui/src/views/reports/containers/debug/index.tsx
Owners: @cockroachdb/build-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/admin-ui-prs

sql: tolerate non-existent databases for plan cache invalidation
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt_catalog.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sem/tree: use StmtTimestamp as max for AsOf, enforce non-zero intervals
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/create_stats.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/planhook.go
  pkg/sql/render.go
  pkg/sql/sem/tree/as_of.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

sem/tree: use StmtTimestamp as max for AsOf, enforce non-zero intervals
  pkg/ccl/backupccl/backup.go
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/importccl/import_stmt_test.go
  pkg/sql/conn_executor.go
  pkg/sql/conn_executor_exec.go
  pkg/sql/conn_executor_prepare.go
  pkg/sql/create_stats.go
  pkg/sql/exec_util.go
  pkg/sql/logictest/logic.go
  pkg/sql/logictest/testdata/logic_test/as_of
  pkg/sql/logictest/testdata/logic_test/distsql_stats
  pkg/sql/logictest/testdata/logic_test/subquery_correlated
  pkg/sql/logictest/testdata/logic_test/txn_as_of
  pkg/sql/opt/optbuilder/select.go
  pkg/sql/opt/optbuilder/testdata/select
  pkg/sql/planhook.go
  pkg/sql/render.go
  pkg/sql/sem/tree/as_of.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-bulk-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

storage,client: add allow_if_does_not_exist flag to CPut
  pkg/internal/client/batch.go
  pkg/roachpb/api.go
  pkg/roachpb/api.pb.go
  pkg/roachpb/api.proto
  pkg/storage/batcheval/cmd_conditional_put.go
  pkg/storage/engine/mvcc.go
  pkg/storage/engine/mvcc_test.go
Owners: @cockroachdb/core-prs

sql: Use CPutAllowingIfNotExists instead of CPut for index entries
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-async-prs

storage/engine,libroach: 1x write amplification on ingest sst
  c-deps/libroach/db.cc
  c-deps/libroach/include/libroach.h
  pkg/ccl/storageccl/engineccl/mvcc_test.go
  pkg/storage/batcheval/cmd_add_sstable_test.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/rocksdb_test.go
  pkg/storage/replica_proposal.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-bulk-prs

storage/engine,libroach: 1x write amplification on ingest sst
  c-deps/libroach/db.cc
  c-deps/libroach/include/libroach.h
  pkg/ccl/storageccl/engineccl/mvcc_test.go
  pkg/storage/batcheval/cmd_add_sstable_test.go
  pkg/storage/engine/engine.go
  pkg/storage/engine/rocksdb.go
  pkg/storage/engine/rocksdb_test.go
  pkg/storage/replica_proposal.go
Owners: @cockroachdb/core-prs, @cockroachdb/sql-bulk-prs

sql: Use CPutAllowingIfNotExists instead of CPut for index entries
  pkg/sql/logictest/testdata/planner_test/upsert
  pkg/sql/opt/exec/execbuilder/testdata/upsert
  pkg/sql/row/writer.go
  pkg/sql/schema_changer_test.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

rpc: enable dynamic window resizing
  pkg/rpc/context.go
Owners: @cockroachdb/core-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
