Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

roachtest: fix flakey follower read roachtest
  pkg/cmd/roachtest/follower_reads.go
Owners: none

storage: log lastUpdateTimes massaging into raft log queue events
  pkg/storage/raft_log_queue.go
Owners: @cockroachdb/core-prs

storage: on unquiesce, only bump lastUpdateTimes for replicating followers
  pkg/storage/replica_raft_quiesce.go
Owners: @cockroachdb/core-prs

roachtest: register sql20 benchmark as a test to run nightly
  pkg/cmd/roachtest/registry.go
Owners: none

roachtest: register sql20 benchmark as a test to run nightly
  pkg/cmd/roachtest/registry.go
Owners: none

roachtest: fix flakey follower read roachtest
  pkg/cmd/roachtest/follower_reads.go
Owners: none

roachtest: fix flakey follower read roachtest
  pkg/cmd/roachtest/follower_reads.go
Owners: none

roachtest: report better line numbers for some failures
  pkg/cmd/roachtest/test.go
Owners: none

roachtest: report better line numbers for some failures
  pkg/cmd/roachtest/test.go
Owners: none

ccl/gssapiccl: add GSS authentication support on Linux
  .gitmodules
  Makefile
  build/builder.sh
  build/builder/Dockerfile
  c-deps/krb5-rebuild
  pkg/acceptance/adapter_test.go
  pkg/acceptance/testdata/Dockerfile
  pkg/acceptance/testdata/go/gss_test.go
  pkg/acceptance/testdata/krb/start.sh
  pkg/acceptance/testdata/krb5.conf
  pkg/acceptance/testdata/psql/test-gss.sh
  pkg/acceptance/util_docker.go
  pkg/ccl/ccl_init.go
  pkg/ccl/gssapiccl/empty.go
  pkg/ccl/gssapiccl/gssapi.go
  pkg/ccl/gssapiccl/gssapi_test.go
  pkg/ccl/gssapiccl/main_test.go
  pkg/sql/create_user.go
  pkg/sql/pgwire/conn.go
  pkg/sql/pgwire/server.go
Owners: @cockroachdb/build-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-wiring-prs

roachtest: binary finding improvements
  pkg/cmd/roachtest/cluster.go
Owners: none

roachtest: binary finding improvements
  pkg/cmd/roachtest/cluster.go
Owners: none

distsqlrun: fix mis-propagated error
  pkg/sql/distsqlrun/sorter.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

distsqlrun: fix mis-propagated error
  pkg/sql/distsqlrun/sorter.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

logictestccl: add logic test for experimental_follower_read_timestamp
  pkg/ccl/logictestccl/testdata/logic_test/as_of
Owners: @cockroachdb/sql-ccl-prs

logictestccl: add logic test for experimental_follower_read_timestamp
  pkg/ccl/logictestccl/testdata/logic_test/as_of
Owners: @cockroachdb/sql-ccl-prs

opt: Fix panic when folding expressions into NULL values
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/xform/custom_funcs.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

opt: Fix panic when folding expressions into NULL values
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/opt/memo/check_expr.go
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/factory.go
  pkg/sql/opt/norm/testdata/rules/fold_constants
  pkg/sql/opt/optbuilder/scalar.go
  pkg/sql/opt/optgen/cmd/optgen/factory_gen.go
  pkg/sql/opt/xform/custom_funcs.go
Owners: @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

backupccl: rewrite spans that include unknown tableIDs
  pkg/ccl/backupccl/backup_test.go
  pkg/ccl/backupccl/restore.go
  pkg/ccl/storageccl/key_rewriter.go
  pkg/ccl/storageccl/key_rewriter_test.go
Owners: @cockroachdb/sql-bulk-prs

rpc: always trace incoming RPCs if tracing is enabled
  pkg/rpc/context.go
  pkg/util/tracing/tracer.go
Owners: @cockroachdb/core-prs

rpc: always trace incoming RPCs if tracing is enabled
  pkg/rpc/context.go
  pkg/util/tracing/tracer.go
Owners: @cockroachdb/core-prs

server: remove timeout from the problem ranges page
  pkg/server/problem_ranges.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

server: remove timeout from the problem ranges page
  pkg/server/problem_ranges.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

wip: vectorized merge join operator 2: electric boogaloo
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/colvec.go
  pkg/sql/exec/colvec_tmpl.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: scrub constants from sampled logical plan
  pkg/sql/explain_plan.go
  pkg/sql/explain_tree.go
  pkg/sql/explain_tree_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

jobs: clean up finished jobs records after two weeks
  docs/generated/settings/settings.html
  pkg/jobs/registry.go
Owners: none

sql: Fix panic when auto stats are computed on views
  pkg/sql/create_stats.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: Fix panic when auto stats are computed on views
  pkg/sql/create_stats.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/automatic_stats_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

kv: cleanup txn more eagerly
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: @cockroachdb/core-prs

kv: cleanup txn more eagerly
  pkg/kv/txn_coord_sender.go
  pkg/kv/txn_coord_sender_test.go
  pkg/kv/txn_interceptor_heartbeat.go
  pkg/roachpb/errors.go
  pkg/roachpb/errors.pb.go
  pkg/roachpb/errors.proto
Owners: @cockroachdb/core-prs

sql: improve InternalExecutor.Query interface
  pkg/jobs/registry.go
  pkg/server/server_update.go
  pkg/server/updates.go
  pkg/sql/authorization.go
  pkg/sql/crdb_internal.go
  pkg/sql/create_stats.go
  pkg/sql/information_schema.go
  pkg/sql/internal.go
  pkg/sql/internal_test.go
  pkg/sql/lease.go
  pkg/sql/pg_catalog.go
  pkg/sql/pgwire/conn_test.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/show_stats.go
  pkg/sql/sqlutil/internal_executor.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/user.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs

sql: wip: apply join
  pkg/sql/apply_join.go
  pkg/sql/opt/bench/stub_factory.go
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/factory.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/plan_columns.go
  pkg/sql/walk.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-opt-prs

sql: delete startPlan and users of it
  pkg/sql/check.go
  pkg/sql/copy.go
  pkg/sql/plan.go
  pkg/sql/planner.go
  pkg/sql/scrub_constraint.go
  pkg/sql/values_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sql: delete local implementations of planNodes
  pkg/sql/distinct.go
  pkg/sql/distsql_physical_planner.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/filter.go
  pkg/sql/group.go
  pkg/sql/index_join.go
  pkg/sql/join.go
  pkg/sql/join_predicate.go
  pkg/sql/join_test.go
  pkg/sql/limit.go
  pkg/sql/logictest/testdata/planner_test/insert
  pkg/sql/logictest/testdata/planner_test/limit
  pkg/sql/logictest/testdata/planner_test/order_by
  pkg/sql/logictest/testdata/planner_test/select_index
  pkg/sql/logictest/testdata/planner_test/show_trace
  pkg/sql/logictest/testdata/planner_test/union
  pkg/sql/lookup_join.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt_decompose_test.go
  pkg/sql/opt_exec_factory.go
  pkg/sql/opt_index_selection.go
  pkg/sql/opt_limits.go
  pkg/sql/plan_node_to_row_source.go
  pkg/sql/render.go
  pkg/sql/row_buffer.go
  pkg/sql/row_source_to_plan_node.go
  pkg/sql/scan.go
  pkg/sql/scrub_constraint.go
  pkg/sql/scrub_physical.go
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/expr.go
  pkg/sql/sort.go
  pkg/sql/subquery.go
  pkg/sql/subquery_test.go
  pkg/sql/union.go
  pkg/sql/walk.go
  pkg/sql/window.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/distsql-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs

acceptance: add regression test for empty dec parsing
  pkg/acceptance/testdata/java/src/main/java/MainTest.java
Owners: none

acceptance: add regression test for empty dec parsing
  pkg/acceptance/testdata/java/src/main/java/MainTest.java
Owners: none

wip
  pkg/acceptance/cluster/dockercluster.go
  pkg/acceptance/testdata/psql/test-gss.sh
Owners: none

storage: regression test leaked intents on bounced proposal
  pkg/kv/integration_test.go
  pkg/storage/client_merge_test.go
  pkg/storage/client_raft_test.go
  pkg/storage/consistency_queue_test.go
  pkg/storage/replica_raft.go
  pkg/storage/replica_test.go
  pkg/storage/storagebase/base.go
Owners: @cockroachdb/core-prs

sql: make pg_catalog OIDs stable and refer to the descriptor IDs directly
  pkg/keys/constants.go
  pkg/sql/crdb_internal.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/pg_catalog.go
  pkg/sql/pg_oid_test.go
  pkg/sql/sqlbase/constants.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

sql: make pg_catalog OIDs stable and refer to the descriptor IDs directly
  pkg/keys/constants.go
  pkg/sql/crdb_internal.go
  pkg/sql/information_schema.go
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/pgoidtype
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/logictest/testdata/planner_test/join
  pkg/sql/opt/exec/execbuilder/testdata/join
  pkg/sql/pg_catalog.go
  pkg/sql/pg_oid_test.go
  pkg/sql/sqlbase/constants.go
  pkg/sql/sqlbase/structured.go
  pkg/sql/stats/automatic_stats.go
  pkg/sql/stats/stats_cache.go
  pkg/sql/table.go
  pkg/sql/virtual_schema.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-async-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
