Repository cockroachdb/cockroach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cockroachdb/rfc-prs, @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-ccl-prs, @cockroachdb/sql-bulk-prs, @cockroachdb/cli-prs, @cockroachdb/sql-ui-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-opt-prs, @cockroachdb/sql-language-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-async-prs, @cockroachdb/cluster-jobs-prs, @cockroachdb/distsql-prs, @cockroachdb/admin-ui-prs, @cockroachdb/build-prs

roachtest: suppress `debug zip` output unless it fails
  pkg/cmd/roachtest/cluster.go
Owners: none

roachtest: ignore changefeed.push.enabled cluster setting errors
  pkg/cmd/roachtest/cdc.go
Owners: none

distsqlrun: start all sources on heap in orderedSynchronizer
  pkg/sql/distsqlrun/input_sync.go
  pkg/sql/distsqlrun/input_sync_test.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs

telemetry: increase the default allocated feature map size
  pkg/server/telemetry/features.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

telemetry: increase the default allocated feature map size
  pkg/server/telemetry/features.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

opt: use correct ordering for mutation input in execbuilder
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
Owners: @cockroachdb/sql-opt-prs

opt: use correct ordering for mutation input in execbuilder
  pkg/sql/opt/exec/execbuilder/relational_builder.go
  pkg/sql/opt/exec/execbuilder/testdata/insert
  pkg/sql/opt/exec/execbuilder/testdata/update
  pkg/sql/opt/exec/execbuilder/testdata/upsert
Owners: @cockroachdb/sql-opt-prs

sqltelemetry: make SQL telemetry more uniform, w/ linter
  pkg/cmd/docgen/funcs.go
  pkg/server/telemetry/features.go
  pkg/server/updates_test.go
  pkg/sql/pgwire/server.go
  pkg/sql/pgwire/types.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/operators.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/types/types.go
  pkg/sql/sqltelemetry/doc.go
  pkg/sql/sqltelemetry/pgwire.go
  pkg/sql/sqltelemetry/scalar.go
  pkg/sql/sqltelemetry/session.go
  pkg/sql/vars.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

sqltelemetry: make SQL telemetry more uniform, w/ linter
  pkg/cmd/docgen/funcs.go
  pkg/server/telemetry/features.go
  pkg/server/updates_test.go
  pkg/sql/pgwire/server.go
  pkg/sql/pgwire/types.go
  pkg/sql/sem/tree/eval.go
  pkg/sql/sem/tree/function_definition.go
  pkg/sql/sem/tree/operators.go
  pkg/sql/sem/tree/type_check.go
  pkg/sql/sem/types/types.go
  pkg/sql/sqltelemetry/doc.go
  pkg/sql/sqltelemetry/pgwire.go
  pkg/sql/sqltelemetry/scalar.go
  pkg/sql/sqltelemetry/session.go
  pkg/sql/vars.go
  pkg/testutils/lint/lint_test.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-wiring-prs, @cockroachdb/sql-rest-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs

jobs, sql, ui: Create `AutoCreateStats` job type
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobspb/wrap.go
  pkg/sql/create_stats.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

ui: remove monospace font for human-readable job description
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/admin-ui-prs

build: Upgrade base image for deployment dockerfile
  build/deploy/Dockerfile
Owners: @cockroachdb/build-prs

build: Upgrade base image for deployment dockerfile
  build/deploy/Dockerfile
Owners: @cockroachdb/build-prs

roachtest: make cdc/cloud-sink test less aggressive
  pkg/cmd/roachtest/cdc.go
Owners: none

jobs, sql, ui: Create `AutoCreateStats` job type
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobspb/wrap.go
  pkg/sql/create_stats.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

jobs, sql, ui: Create `AutoCreateStats` job type
  pkg/jobs/jobspb/jobs.pb.go
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobspb/wrap.go
  pkg/sql/create_stats.go
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/admin-ui-prs

sql: add telemetry for SERIAL expansions
  pkg/server/updates_test.go
  pkg/sql/serial.go
  pkg/sql/sqltelemetry/schema.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

sql: add telemetry for SERIAL expansions
  pkg/server/updates_test.go
  pkg/sql/serial.go
  pkg/sql/sqltelemetry/schema.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs, @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

opt: propagate set operation output types to input columns
  pkg/sql/opt/exec/execbuilder/testdata/union
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/norm/rules/set.opt
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/norm/testdata/rules/set
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/union.go
Owners: @cockroachdb/sql-opt-prs

opt: propagate set operation output types to input columns
  pkg/sql/opt/exec/execbuilder/testdata/union
  pkg/sql/opt/norm/custom_funcs.go
  pkg/sql/opt/norm/rules/select.opt
  pkg/sql/opt/norm/rules/set.opt
  pkg/sql/opt/norm/testdata/rules/select
  pkg/sql/opt/norm/testdata/rules/set
  pkg/sql/opt/ops/relational.opt
  pkg/sql/opt/optbuilder/scope.go
  pkg/sql/opt/optbuilder/testdata/union
  pkg/sql/opt/optbuilder/union.go
Owners: @cockroachdb/sql-opt-prs

exec: add multi column equality to vectorized mergejoiner
  pkg/sql/distsqlrun/column_exec_setup.go
  pkg/sql/exec/mergejoiner.go
  pkg/sql/exec/mergejoiner_test.go
  pkg/sql/exec/mergejoiner_tmpl.go
Owners: @cockroachdb/distsql-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-rest-prs

roachtest: make cdc/cloud-sink test less aggressive
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: ignore changefeed.push.enabled cluster setting errors
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: make cdc/cloud-sink test less aggressive
  pkg/cmd/roachtest/cdc.go
Owners: none

roachtest: ignore changefeed.push.enabled cluster setting errors
  pkg/cmd/roachtest/cdc.go
Owners: none

storage: use lease start time to determine follower read safety
  pkg/storage/closed_timestamp_test.go
  pkg/storage/closedts/closedts.go
  pkg/storage/closedts/container/container_test.go
  pkg/storage/closedts/container/noop.go
  pkg/storage/closedts/provider/provider.go
  pkg/storage/replica_follower_read.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

storage: use lease start time to determine follower read safety
  pkg/storage/closed_timestamp_test.go
  pkg/storage/closedts/closedts.go
  pkg/storage/closedts/container/container_test.go
  pkg/storage/closedts/container/noop.go
  pkg/storage/closedts/provider/provider.go
  pkg/storage/replica_follower_read.go
  pkg/storage/replica_rangefeed.go
Owners: @cockroachdb/core-prs

sql: add regression tests for memory accounting bug
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/default
Owners: @cockroachdb/sql-rest-prs

storage: propagate closed timestamp information to RHS after split
  pkg/server/testserver.go
  pkg/storage/closed_timestamp_test.go
  pkg/storage/replica.go
  pkg/storage/replica_follower_read.go
  pkg/storage/store.go
  pkg/testutils/serverutils/test_server_shim.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: propagate closed timestamp information to RHS after split
  pkg/server/testserver.go
  pkg/storage/closed_timestamp_test.go
  pkg/storage/replica.go
  pkg/storage/replica_follower_read.go
  pkg/storage/store.go
  pkg/testutils/serverutils/test_server_shim.go
Owners: @cockroachdb/core-prs, @cockroachdb/server-prs

storage: Sync to disk before returning in WaitForApplication
  pkg/storage/stores_server.go
Owners: @cockroachdb/core-prs

storage: Sync to disk before returning in WaitForApplication
  pkg/storage/stores_server.go
Owners: @cockroachdb/core-prs

ui: remove monospace font for human-readable job description
  pkg/ui/src/views/jobs/index.styl
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/admin-ui-prs

ui: remove monospace font for human-readable job description
  pkg/ui/src/views/jobs/index.styl
  pkg/ui/src/views/jobs/index.tsx
Owners: @cockroachdb/admin-ui-prs

changefeedccl: hook up kafka producer library logs to our logging
  pkg/ccl/changefeedccl/sink.go
Owners: @cockroachdb/sql-ccl-prs

sql/sqlbase: fix TestEncDatumSize under go1.12
  pkg/sql/sqlbase/encoded_datum_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

sql/sqlbase: fix TestEncDatumSize under go1.12
  pkg/sql/sqlbase/encoded_datum_test.go
Owners: @cockroachdb/sql-planning-prs, @cockroachdb/sql-execution-prs, @cockroachdb/sql-async-prs

fixup - remove duplicate handling of test results and fix the fact that teardown failures show up as failed and passed.
  pkg/cmd/roachtest/sqlalchemy.go
  pkg/cmd/roachtest/sqlalchemy_blacklist.go
Owners: none

sql: add regression tests for memory accounting bug
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/default
Owners: @cockroachdb/sql-rest-prs

sql: add regression tests for memory accounting bug
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/default
Owners: @cockroachdb/sql-rest-prs

.github/CODEOWNERS:

# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/
#
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own.
#
# Remember, *the last rule to match wins.*

/docs/RFCS/                  @cockroachdb/rfc-prs

/pkg/gossip/                 @cockroachdb/core-prs
/pkg/internal/               @cockroachdb/core-prs
/pkg/kv/                     @cockroachdb/core-prs
/pkg/roachpb/                @cockroachdb/core-prs
/pkg/rpc/                    @cockroachdb/core-prs
/pkg/server/                 @cockroachdb/core-prs @cockroachdb/server-prs
/pkg/storage/                @cockroachdb/core-prs
/pkg/migration/              @cockroachdb/core-prs
/pkg/sqlmigrations           @cockroachdb/core-prs @cockroachdb/sql-wiring-prs

/pkg/ccl/                    @cockroachdb/sql-ccl-prs
/pkg/ccl/backupccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/importccl           @cockroachdb/sql-bulk-prs
/pkg/ccl/storageccl          @cockroachdb/sql-bulk-prs
/pkg/cli/                    @cockroachdb/cli-prs
/pkg/cli/sql*.go             @cockroachdb/sql-ui-prs @cockroachdb/cli-prs

/pkg/sql/                    @cockroachdb/sql-rest-prs

/pkg/sql/opt/                @cockroachdb/sql-opt-prs

/pkg/sql/parser/             @cockroachdb/sql-language-prs

/pkg/sql/pgwire/             @cockroachdb/sql-wiring-prs
/pkg/sql/privilege/          @cockroachdb/sql-wiring-prs @cockroachdb/sql-language-prs @cockroachdb/sql-execution-prs

/pkg/sql/sqlbase/            @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs @cockroachdb/sql-async-prs

/pkg/sql/*.go                @cockroachdb/sql-planning-prs @cockroachdb/sql-execution-prs

/pkg/sql/executor*           @cockroachdb/sql-execution-prs
/pkg/sql/mon/                @cockroachdb/sql-execution-prs
/pkg/sql/sqlutil/*executor* @cockroachdb/sql-execution-prs

/pkg/sql/schema*             @cockroachdb/sql-async-prs
/pkg/sql/lease*              @cockroachdb/sql-async-prs

/pkg/sql/jobs/               @cockroachdb/cluster-jobs-prs

/pkg/sql/distsql*.go         @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlplan/        @cockroachdb/distsql-prs @cockroachdb/sql-planning-prs
/pkg/sql/distsqlrun/         @cockroachdb/distsql-prs @cockroachdb/sql-execution-prs

# We purposefully disable testlogic notifications to disable notifications
# otherwise caught by the @sql-rest team. Typically, testlogic changes are part
# of a bigger change that will trigger notifications to the correct sub-team.
/pkg/sql/testlogic/

/pkg/ui/                     @cockroachdb/admin-ui-prs
/pkg/ui/embedded.go
/pkg/ui/src/js/protos.d.ts
/pkg/ui/src/js/protos.js

/build/                      @cockroachdb/build-prs
/c-deps/                     @cockroachdb/build-prs
/githooks/                   @cockroachdb/build-prs
/scripts/                    @cockroachdb/build-prs
**/Makefile                  @cockroachdb/build-prs
/Gopkg.*                     @cockroachdb/build-prs
/.*                          @cockroachdb/build-prs
/.github/                    @cockroachdb/build-prs

/c-deps/libroach/            @cockroachdb/core-prs
/c-deps/libroach/ccl/        @cockroachdb/core-prs @cockroachdb/sql-ccl-prs
