Repository cockroachdb/cockroach, pull requests merged in 2018-06, with the labels that each got.

#24589 distsqlrun: don't allocate between fused processors
  pkg/sql/distsqlrun/aggregator.go
  pkg/sql/distsqlrun/base.go
  pkg/sql/distsqlrun/distinct.go
  pkg/sql/distsqlrun/distinct_test.go
  pkg/sql/distsqlrun/flow.go
  pkg/sql/distsqlrun/hashjoiner.go
  pkg/sql/distsqlrun/input_sync.go
  pkg/sql/distsqlrun/interleaved_reader_joiner.go
  pkg/sql/distsqlrun/interleaved_reader_joiner_test.go
  pkg/sql/distsqlrun/joinreader.go
  pkg/sql/distsqlrun/processors.go
  pkg/sql/distsqlrun/sampler.go
  pkg/sql/distsqlrun/sorter.go
  pkg/sql/distsqlrun/stream_group_accumulator.go
  pkg/sql/distsqlrun/tablereader.go
  pkg/sql/distsqlrun/tablereader_test.go
  pkg/sql/sqlbase/encoded_datum.go
Labels: A-sql-execution, C-performance

#26478 sql: clean up and stabilize the output of SHOW CONSTRAINTS
  pkg/sql/logictest/testdata/logic_test/alter_table
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/information_schema
  pkg/sql/logictest/testdata/logic_test/pg_catalog
  pkg/sql/logictest/testdata/logic_test/show_source
  pkg/sql/logictest/testdata/logic_test/table
  pkg/sql/logictest/testdata/planner_test/explain
  pkg/sql/opt/exec/execbuilder/testdata/explain
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/show_constraints.go
Labels: docs-todo

#26260 sql: add optional ESCAPE clause
  docs/generated/sql/bnf/stmt_block.bnf
  pkg/sql/logictest/testdata/logic_test/custom_escape_character
  pkg/sql/parser/parse_test.go
  pkg/sql/parser/sql.y
Labels: A-sql-hibernate, docs-todo

#27082 sql: document the arguments of 'age' better
  docs/generated/sql/functions.md
  pkg/sql/sem/builtins/builtins.go
Labels: A-docs, docs-todo
