Repository cockroachdb/cockroach, pull requests merged in 2025-09, with the labels that each got.

#152638 release-25.3: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/sql/logictest/REPOSITORIES.bzl
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#152679 release-25.2: sql/catalog: exempt views from crdb_region validation
  pkg/ccl/logictestccl/testdata/logic_test/multi_region
  pkg/sql/catalog/multiregion/validate_table.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#152742 release-24.3: sql/catalog: exempt views from crdb_region validation
  pkg/ccl/logictestccl/testdata/logic_test/multi_region
  pkg/sql/catalog/multiregion/validate_table.go
Labels: T-sql-foundations, backport

#152866 release-24.3: roachtest: create required test schemas for SQLAlchemy test suite
  pkg/cmd/roachtest/tests/sqlalchemy.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport, backport-test-only

#152864 release-24.1: roachtest: create required test schemas for SQLAlchemy test suite
  pkg/cmd/roachtest/tests/sqlalchemy.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport, backport-test-only

#152606 release-24.1: released CockroachDB version v24.1.23. Next version: v24.1.24
  pkg/build/version.txt
Labels: backport, backport-test-only

#152607 release-24.3: released CockroachDB version v24.3.19. Next version: v24.3.20
  pkg/build/version.txt
Labels: backport, backport-test-only

#152927 release-23.2: released CockroachDB version v23.2.28. Next version: v23.2.29
  pkg/build/version.txt
Labels: backport

#152892 release-25.3: scbuild: split TestBuildDataDriven into 2 tests
  pkg/sql/schemachanger/scbuild/builder_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport, backport-test-only

#152891 release-25.2: scbuild: split TestBuildDataDriven into 2 tests
  pkg/sql/schemachanger/scbuild/builder_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport, backport-test-only

#152872 release-25.3: backupsink: fix a resource leak in backupsink
  pkg/backup/backupsink/file_sst_sink.go
  pkg/backup/backupsink/file_sst_sink_test.go
Labels: T-disaster-recovery, backport

#152942 release-25.2: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#152941 release-25.3: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#152939 release-24.3: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#152938 release-24.1: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#151836 release-24.3: sql: add support for generating split points from table statistics
  pkg/cmd/roachtest/tests/schemachange.go
  pkg/sql/BUILD.bazel
  pkg/sql/exec_util.go
  pkg/sql/index_split_scatter.go
  pkg/sql/index_split_scatter_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#151838 release-25.3: sql: add support for generating split points from table statistics
  pkg/cmd/roachtest/tests/schemachange.go
  pkg/sql/BUILD.bazel
  pkg/sql/exec_util.go
  pkg/sql/index_split_scatter.go
  pkg/sql/index_split_scatter_test.go
  pkg/sql/logictest/testdata/logic_test/distsql_stats
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#152905 release-25.2: workload/schemachange: handle triggers in NULL constraint validation
  pkg/workload/schemachange/error_screening.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport, backport-test-only

#152479 release-25.3: backup: handle final flush errors when compacting backups
  pkg/backup/compaction_processor.go
Labels: backport

#152678 changefeedccl: mark description as safe for log redaction
  pkg/ccl/changefeedccl/changefeed_processors.go
Labels: backport-all

#153007 release-23.2: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport

#153006 release-25.2: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#153004 release-24.3: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#153003 release-25.3: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#153002 release-24.1: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/sql/logictest/REPOSITORIES.bzl
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#152969 release-24.1: rttanalysisccl: wait for replication before starting test
  pkg/ccl/benchccl/rttanalysisccl/multi_region_bench_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport, backport-test-only

#152971 release-25.2: rttanalysisccl: wait for replication before starting test
  pkg/ccl/benchccl/rttanalysisccl/multi_region_bench_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport, backport-test-only

#152934 release-25.2: backupinfo: fix error handling in desciter
  pkg/backup/backupinfo/BUILD.bazel
  pkg/backup/backupinfo/desc_sst.go
  pkg/backup/backupinfo/desc_sst_test.go
Labels: T-disaster-recovery, backport

#153052 release-25.2.6-rc: kvserver: requeue on priority inversion for replicate queue
  docs/generated/metrics/metrics.html
  pkg/kv/kvserver/allocator/allocatorimpl/BUILD.bazel
  pkg/kv/kvserver/allocator/allocatorimpl/allocator.go
  pkg/kv/kvserver/allocator/allocatorimpl/allocator_test.go
  pkg/kv/kvserver/consistency_queue.go
  pkg/kv/kvserver/helpers_test.go
  pkg/kv/kvserver/lease_queue.go
  pkg/kv/kvserver/merge_queue.go
  pkg/kv/kvserver/metrics.go
  pkg/kv/kvserver/mvcc_gc_queue.go
  pkg/kv/kvserver/mvcc_gc_queue_test.go
  pkg/kv/kvserver/queue.go
  pkg/kv/kvserver/queue_concurrency_test.go
  pkg/kv/kvserver/queue_helpers_testutil.go
  pkg/kv/kvserver/queue_test.go
  pkg/kv/kvserver/raft_log_queue.go
  pkg/kv/kvserver/raft_snapshot_queue.go
  pkg/kv/kvserver/replica.go
  pkg/kv/kvserver/replica_backpressure.go
  pkg/kv/kvserver/replica_command.go
  pkg/kv/kvserver/replica_gc_queue.go
  pkg/kv/kvserver/replica_test.go
  pkg/kv/kvserver/replicate_queue.go
  pkg/kv/kvserver/replicate_queue_test.go
  pkg/kv/kvserver/split_queue.go
  pkg/kv/kvserver/store.go
  pkg/kv/kvserver/store_gossip.go
  pkg/kv/kvserver/store_rebalancer_test.go
  pkg/kv/kvserver/testing_knobs.go
  pkg/kv/kvserver/ts_maintenance_queue.go
Labels: T-kv, backport

#153062 release-24.3.20-rc: kvserver: requeue on priority inversion for replicate queue
  docs/generated/metrics/metrics.html
  pkg/kv/kvserver/allocator/allocatorimpl/BUILD.bazel
  pkg/kv/kvserver/allocator/allocatorimpl/allocator.go
  pkg/kv/kvserver/allocator/allocatorimpl/allocator_test.go
  pkg/kv/kvserver/consistency_queue.go
  pkg/kv/kvserver/helpers_test.go
  pkg/kv/kvserver/lease_queue.go
  pkg/kv/kvserver/merge_queue.go
  pkg/kv/kvserver/metrics.go
  pkg/kv/kvserver/mvcc_gc_queue.go
  pkg/kv/kvserver/mvcc_gc_queue_test.go
  pkg/kv/kvserver/queue.go
  pkg/kv/kvserver/queue_concurrency_test.go
  pkg/kv/kvserver/queue_helpers_testutil.go
  pkg/kv/kvserver/queue_test.go
  pkg/kv/kvserver/raft_log_queue.go
  pkg/kv/kvserver/raft_snapshot_queue.go
  pkg/kv/kvserver/replica.go
  pkg/kv/kvserver/replica_backpressure.go
  pkg/kv/kvserver/replica_command.go
  pkg/kv/kvserver/replica_gc_queue.go
  pkg/kv/kvserver/replica_test.go
  pkg/kv/kvserver/replicate_queue.go
  pkg/kv/kvserver/replicate_queue_test.go
  pkg/kv/kvserver/split_queue.go
  pkg/kv/kvserver/store.go
  pkg/kv/kvserver/store_gossip.go
  pkg/kv/kvserver/store_rebalancer_test.go
  pkg/kv/kvserver/testing_knobs.go
  pkg/kv/kvserver/ts_maintenance_queue.go
Labels: T-kv, backport

#151969 authors: add vishal.vaibhav to authors
  AUTHORS
Labels: first-pr

#153152 release-25.2: roachtest: deflake splits/load/ycsb/d/nodes=3/obj=cpu
  pkg/cmd/roachtest/tests/split.go
Labels: O-robot, T-kv, blathers-backport, backport, backport-test-only

#151397 release-25.3: kv: include tracing for split QueryIntent requests
  pkg/kv/kvclient/kvcoord/dist_sender.go
  pkg/kv/kvclient/kvcoord/txn_test.go
  pkg/sql/opt/exec/execbuilder/testdata/show_trace
  pkg/sql/opt/exec/execbuilder/testdata/upsert
Labels: backport

#153418 release-25.3: serverccl, application_api: Fix some tests relying on statement_statistics
  pkg/ccl/serverccl/statusccl/tenant_status_test.go
  pkg/server/application_api/sql_stats_test.go
Labels: O-robot, blathers-backport, backport, T-observability, backport-test-only

#150961 release-25.3: sqlccl: bump engflow worker size
  pkg/ccl/testccl/sqlccl/BUILD.bazel
Labels: O-robot, T-sql-queries, blathers-backport, no-backport-pr-activity, backport

#153581 release-25.3: roachtest: make failure in follower-reads more helpful
  pkg/cmd/roachtest/tests/follower_reads.go
Labels: O-robot, blathers-backport, backport, backport-test-only

#153594 release-25.3: go.mod: bump Pebble to 76f4f0fe8404
  DEPS.bzl
  build/bazelutil/distdir_files.bzl
  go.mod
  go.sum
Labels: backport

#153595 release-24.1: roachtest: relax WAL failover latency requirement
  pkg/cmd/roachtest/tests/disk_stall.go
Labels: T-storage, backport, backport-test-only

#152965 release-25.3: sql/sem/tree: fix width handling for BIT column default values
  pkg/ccl/schemachangerccl/sctestbackupccl/backup_base_generated_test.go
  pkg/sql/schemachanger/sctest_generated_test.go
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.definition
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.explain_shape
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.side_effects
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_1_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_2_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_3_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_4_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_5_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_6_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_7_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_8_of_8.explain
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/datum_integration_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#153665 workload: detect self-referencing FK for column dependency
  pkg/workload/schemachange/error_screening.go
Labels: backport-all

#153685 roachtest: deflake splits/load/uniform/nodes=3/obj=cpu
  pkg/cmd/roachtest/tests/split.go
Labels: backport-all

#153696 roachtest: disable auto stats in atomic copyfrom
  pkg/cmd/roachtest/tests/copyfrom.go
Labels: backport-all

#153720 release-25.3: roachtest: disable auto stats in atomic copyfrom
  pkg/cmd/roachtest/tests/copyfrom.go
Labels: O-robot, T-sql-queries, blathers-backport, backport, backport-test-only

#153719 release-25.2: roachtest: disable auto stats in atomic copyfrom
  pkg/cmd/roachtest/tests/copyfrom.go
Labels: O-robot, T-sql-queries, blathers-backport, backport, backport-test-only

#153718 release-24.3: roachtest: disable auto stats in atomic copyfrom
  pkg/cmd/roachtest/tests/copyfrom.go
Labels: O-robot, T-sql-queries, blathers-backport, backport, backport-test-only

#153717 release-24.1: roachtest: disable auto stats in atomic copyfrom
  pkg/cmd/roachtest/tests/copyfrom.go
Labels: O-robot, T-sql-queries, blathers-backport, backport, backport-test-only

#153606 release-24.1: sql/sem/tree: fix width handling for BIT column default values
  pkg/ccl/schemachangerccl/backup_base_generated_test.go
  pkg/sql/schemachanger/sctest_generated_test.go
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.definition
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.explain_shape
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit.side_effects
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_1_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_2_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_3_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_4_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_5_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_6_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_7_of_8.explain
  pkg/sql/schemachanger/testdata/end_to_end/alter_table_add_bit/alter_table_add_bit__rollback_8_of_8.explain
  pkg/sql/sem/tree/datum.go
  pkg/sql/sem/tree/datum_integration_test.go
Labels: T-sql-foundations, backport

#153818 release-25.2: allocatorimpl: rm TestAllocatorFullDisks
  pkg/kv/kvserver/allocator/allocatorimpl/allocator_test.go
Labels: T-kv, backport, backport-test-only

#153817 release-25.3: allocatorimpl: rm TestAllocatorFullDisks
  pkg/kv/kvserver/allocator/allocatorimpl/allocator_test.go
Labels: T-kv, backport, backport-test-only

#153746 release-25.2: roachprod: correct error statement for cluster config creation fail
  pkg/roachprod/promhelperclient/client.go
  pkg/roachprod/promhelperclient/client_test.go
  pkg/roachprod/roachprod.go
Labels: backport, backport-test-only

#153804 release-25.3: sql/schemachanger: fix lost dependencies in ALTER POLICY expressions
  pkg/sql/logictest/testdata/logic_test/row_level_security
  pkg/sql/schemachanger/scbuild/internal/scbuildstmt/create_policy.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#153872 release-25.2: roachprod: refactor IAP authentication
  DEPS.bzl
  build/bazelutil/distdir_files.bzl
  go.mod
  go.sum
  pkg/cmd/roachprod/cli/commands.go
  pkg/cmd/roachprod/grafana/BUILD.bazel
  pkg/cmd/roachprod/grafana/annotations.go
  pkg/roachprod/cloud/cluster_cloud.go
  pkg/roachprod/promhelperclient/BUILD.bazel
  pkg/roachprod/promhelperclient/client.go
  pkg/roachprod/promhelperclient/client_test.go
  pkg/roachprod/roachprod.go
  pkg/roachprod/roachprodutil/BUILD.bazel
  pkg/roachprod/roachprodutil/identity.go
Labels: backport

#153899 release-25.3: bench/rttanalysis: shard TestBenchmarkExpectation to avoid timeouts
  pkg/bench/rttanalysis/BUILD.bazel
  pkg/bench/rttanalysis/registry.go
  pkg/bench/rttanalysis/validate_benchmark_data_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#154029 partitionccl: skip TestAlterPrimaryKeyCorrectZoneConfigBeforeBackfill under deadlock
  pkg/ccl/partitionccl/BUILD.bazel
  pkg/ccl/partitionccl/alter_primary_key_test.go
Labels: backport-all

#153906 release-25.4: clusterversion: set devBranch to false
  docs/generated/settings/settings-for-tenants.txt
  docs/generated/settings/settings.html
  pkg/build/version.txt
  pkg/cli/declarative_print_rules.go
  pkg/cli/testdata/declarative-rules/deprules
  pkg/cli/testdata/declarative-rules/invalid_version
  pkg/clusterversion/CLAUDE.md
  pkg/clusterversion/README.md
  pkg/clusterversion/cockroach_versions.go
  pkg/sql/catalog/bootstrap/testdata/testdata
  pkg/sql/catalog/systemschema_test/testdata/bootstrap_system
  pkg/sql/catalog/systemschema_test/testdata/bootstrap_tenant
  pkg/sql/logictest/testdata/logic_test/crdb_internal_catalog
Labels: A-release, T-release

#154042 release-25.4: activity: add fallback isolation level for statements not in transaction
  pkg/sql/conn_executor.go
Labels: O-robot, blathers-backport, backport

#154065 release-25.4: build: update release branch for Pebble scripts
  build/teamcity/cockroach/nightlies/pebble_nightly_common.sh
  build/teamcity/cockroach/nightlies/pebble_nightly_metamorphic.sh
  build/teamcity/cockroach/nightlies/pebble_nightly_metamorphic_race.sh
  build/teamcity/cockroach/nightlies/pebble_nightly_metamorphic_two_instance.sh
  build/teamcity/cockroach/nightlies/pebble_nightly_race_common.sh
Labels: T-storage, backport, backport-test-only

#154067 ui: bump cluster-ui package.json to 25.4.0
  pkg/ui/workspaces/cluster-ui/package.json
Labels: backport

#153959 sql/importer: updates under single table assumption
  pkg/jobs/jobspb/jobs.proto
  pkg/server/application_api/jobs_test.go
  pkg/sql/execinfrapb/processors_bulk_io.proto
  pkg/sql/importer/import_job.go
  pkg/sql/importer/import_planning.go
  pkg/sql/importer/import_processor.go
  pkg/sql/importer/import_processor_planning.go
  pkg/sql/importer/import_processor_test.go
  pkg/sql/importer/read_import_base.go
Labels: backport-25.4.x

#154054 release-25.4: kvnemesis: expect nil bytes in CPuts
  pkg/kv/kvnemesis/applier.go
  pkg/kv/kvnemesis/validator.go
Labels: O-robot, blathers-backport, backport, backport-test-only

#154127 release-25.3: logictest: fix probable flake around using old stats cache entry
  pkg/ccl/logictestccl/testdata/logic_test/regional_by_row_cascade
Labels: O-robot, T-sql-queries, blathers-backport, backport, backport-test-only

#154081 release-25.3: released CockroachDB version v25.3.2. Next version: v25.3.3
  pkg/build/version.txt
Labels: backport, backport-test-only

#154142 build: use docker image mirror
  build/teamcity-assert-clean.sh
  pkg/acceptance/compose/gss/psql/Dockerfile
  pkg/cmd/roachprod/docker/Dockerfile
Labels: C-enhancement, A-build-system, T-dev-inf

#153978 release-24.3: crosscluster/physical: skip TestAlterTenantAddReader under deadlock
  pkg/ccl/crosscluster/physical/alter_replication_job_test.go
Labels: T-disaster-recovery, backport, backport-test-only

#154186 catalog/lease: fix a bug preventing timestamp refreshes
  pkg/sql/catalog/descs/leased_descriptors.go
  pkg/sql/catalog/lease/lease_internal_test.go
Labels: backport-25.4.x

#154191 ui: bump cluster-ui version to 25.4.1
  pkg/ui/workspaces/cluster-ui/package.json
Labels: backport

#154198 release-25.4: util/ctxgroup: print recovered panic stacks during crash
  pkg/util/ctxgroup/ctxgroup.go
  pkg/util/ctxgroup/ctxgroup_test.go
Labels: T-disaster-recovery, backport

#154214 release-25.4: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/sql/logictest/REPOSITORIES.bzl
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#154210 release-24.1: Update pkg/testutils/release/cockroach_releases.yaml
  pkg/testutils/release/cockroach_releases.yaml
Labels: backport, backport-test-only

#154199 release-25.4: update: bump descriptor versions during repair
  pkg/upgrade/upgrades/first_upgrade.go
  pkg/upgrade/upgrades/first_upgrade_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#154192 release-25.4: sql/schemachanger: simplify validation for CTAS statements
  pkg/sql/schema_changer.go
  pkg/sql/schema_changer_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#154119 kvcoord: disable buffered writes for release
  docs/generated/settings/settings-for-tenants.txt
  docs/generated/settings/settings.html
  pkg/kv/kvclient/kvcoord/txn_interceptor_write_buffer.go
Labels: backport

#154121 rangefeed: fix mangled comment
  pkg/kv/kvserver/rangefeed/buffered_sender.go
Labels: backport-25.4.x

#154188 release-24.1: released CockroachDB version v24.1.24. Next version: v24.1.25
  pkg/build/version.txt
Labels: backport, backport-test-only

#154259 release-25.4: server: add txn bundle download; refactor handlers
  pkg/server/BUILD.bazel
  pkg/server/admin.go
  pkg/server/apiconstants/constants.go
  pkg/server/application_api/txndiag_test.go
  pkg/server/server.go
  pkg/server/server_http.go
  pkg/server/statement_diagnostics_requests.go
  pkg/server/tenant.go
  pkg/server/transaction_diagnostics_requests.go
Labels: O-robot, blathers-backport, backport

#154249 release-25.4: sql/inspect: add protected timestamp support to INSPECT
  pkg/jobs/jobspb/jobs.proto
  pkg/jobs/jobsprotectedts/jobs_protected_ts_manager.go
  pkg/sql/exec_util.go
  pkg/sql/inspect/BUILD.bazel
  pkg/sql/inspect/index_consistency_check.go
  pkg/sql/inspect/inspect_job.go
  pkg/sql/inspect/inspect_job_test.go
Labels: T-sql-foundations, backport

#154250 Update third party licenses
  pkg/ui/workspaces/cluster-ui/src/statementsDiagnostics/activateStatementDiagnosticsModal.tsx
Labels: C-enhancement, A-release, T-release, backport-25.4.x

#154264 release-25.4: changefeedccl: remove shared PTS record for non-lagging tables
  pkg/ccl/changefeedccl/cdcprogresspb/progress.proto
  pkg/ccl/changefeedccl/changefeed_job_info.go
  pkg/ccl/changefeedccl/changefeed_job_info_test.go
  pkg/ccl/changefeedccl/changefeed_processors.go
  pkg/ccl/changefeedccl/changefeed_stmt.go
  pkg/ccl/changefeedccl/changefeed_test.go
  pkg/ccl/changefeedccl/changefeedbase/settings.go
  pkg/ccl/changefeedccl/protected_timestamps_test.go
  pkg/ccl/changefeedccl/testing_knobs.go
Labels: O-robot, T-cdc, blathers-backport, backport

#154278 release-25.4: sql/inspect: skip INSPECT checks for non-applicable spans earlier
  pkg/sql/inspect/BUILD.bazel
  pkg/sql/inspect/index_consistency_check.go
  pkg/sql/inspect/inspect_processor.go
  pkg/sql/inspect/inspect_processor_test.go
  pkg/sql/inspect/runner.go
  pkg/sql/inspect/runner_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#154310 release-25.4: sql/inspect: make AS OF SYSTEM TIME optional in INSPECT jobs
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/inspect/BUILD.bazel
  pkg/sql/inspect/index_consistency_check_test.go
  pkg/sql/inspect/inspect_processor.go
  pkg/sql/inspect/inspect_processor_test.go
  pkg/sql/scrub.go
Labels: T-sql-foundations, backport

#154041 release-25.3: sql: enforce schema_locked for TRUNCATE
  pkg/backup/backup_test.go
  pkg/bench/rttanalysis/truncate_bench_test.go
  pkg/ccl/changefeedccl/sink_test.go
  pkg/ccl/logictestccl/testdata/logic_test/partitioning
  pkg/ccl/multiregionccl/unique_test.go
  pkg/cli/interactive_tests/test_copy.tcl
  pkg/crosscluster/logical/logical_replication_job_test.go
  pkg/sql/comment_on_column_test.go
  pkg/sql/comment_on_index_test.go
  pkg/sql/comment_on_table_test.go
  pkg/sql/copy/copy_test.go
  pkg/sql/descriptor_mutation_test.go
  pkg/sql/logictest/testdata/logic_test/aggregate
  pkg/sql/logictest/testdata/logic_test/alter_type
  pkg/sql/logictest/testdata/logic_test/cascade
  pkg/sql/logictest/testdata/logic_test/case_sensitive_names
  pkg/sql/logictest/testdata/logic_test/computed
  pkg/sql/logictest/testdata/logic_test/crdb_internal
  pkg/sql/logictest/testdata/logic_test/default
  pkg/sql/logictest/testdata/logic_test/delete
  pkg/sql/logictest/testdata/logic_test/drop_type
  pkg/sql/logictest/testdata/logic_test/event_log
  pkg/sql/logictest/testdata/logic_test/event_log_legacy
  pkg/sql/logictest/testdata/logic_test/expression_index
  pkg/sql/logictest/testdata/logic_test/fk
  pkg/sql/logictest/testdata/logic_test/inner-join
  pkg/sql/logictest/testdata/logic_test/insert
  pkg/sql/logictest/testdata/logic_test/partial_index
  pkg/sql/logictest/testdata/logic_test/prepare
  pkg/sql/logictest/testdata/logic_test/privileges_table
  pkg/sql/logictest/testdata/logic_test/row_level_security
  pkg/sql/logictest/testdata/logic_test/truncate
  pkg/sql/logictest/testdata/logic_test/truncate_with_concurrent_mutation
  pkg/sql/logictest/testdata/logic_test/txn
  pkg/sql/logictest/testdata/logic_test/udf_fk
  pkg/sql/logictest/testdata/logic_test/union
  pkg/sql/logictest/testdata/logic_test/update
  pkg/sql/logictest/testdata/logic_test/vector_index
  pkg/sql/logictest/testdata/logic_test/virtual_columns
  pkg/sql/multitenant_admin_function_test.go
  pkg/sql/mutation_test.go
  pkg/sql/opt/exec/execbuilder/testdata/select_index
  pkg/sql/pgwire/pgwire_test.go
  pkg/sql/schema_changer_test.go
  pkg/sql/show_fingerprints_test.go
  pkg/sql/telemetry_logging_test.go
  pkg/sql/testdata/telemetry_logging/logging/transaction_mode
  pkg/sql/tests/truncate_test.go
  pkg/sql/truncate.go
  pkg/sql/unsplit_range_test.go
  pkg/sql/zone_config_test.go
Labels: T-sql-foundations, backport

#154362 orchestration: use `latest` tag for k8s examples
  cloud/kubernetes/README.md
  cloud/kubernetes/bring-your-own-certs/client.yaml
  cloud/kubernetes/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/client-secure.yaml
  cloud/kubernetes/cluster-init-secure.yaml
  cloud/kubernetes/cluster-init.yaml
  cloud/kubernetes/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/cockroachdb-statefulset.yaml
  cloud/kubernetes/multiregion/client-secure.yaml
  cloud/kubernetes/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/multiregion/eks/cockroachdb-statefulset-secure-eks.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/templates/bring-your-own-certs/client.yaml
  cloud/kubernetes/templates/bring-your-own-certs/cockroachdb-statefulset.yaml
  cloud/kubernetes/templates/client-secure.yaml
  cloud/kubernetes/templates/cluster-init-secure.yaml
  cloud/kubernetes/templates/cluster-init.yaml
  cloud/kubernetes/templates/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/templates/cockroachdb-statefulset.yaml
  cloud/kubernetes/templates/multiregion/client-secure.yaml
  cloud/kubernetes/templates/multiregion/cluster-init-secure.yaml
  cloud/kubernetes/templates/multiregion/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/templates/multiregion/eks/cockroachdb-statefulset-secure-eks.yaml
  cloud/kubernetes/templates/performance/cockroachdb-daemonset-insecure.yaml
  cloud/kubernetes/templates/performance/cockroachdb-daemonset-secure.yaml
  cloud/kubernetes/templates/performance/cockroachdb-statefulset-insecure.yaml
  cloud/kubernetes/templates/performance/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/templates/v1.20/client-secure.yaml
  cloud/kubernetes/templates/v1.20/cluster-init-secure.yaml
  cloud/kubernetes/templates/v1.20/cluster-init.yaml
  cloud/kubernetes/templates/v1.20/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/templates/v1.20/cockroachdb-statefulset.yaml
  cloud/kubernetes/v1.20/client-secure.yaml
  cloud/kubernetes/v1.20/cluster-init-secure.yaml
  cloud/kubernetes/v1.20/cluster-init.yaml
  cloud/kubernetes/v1.20/cockroachdb-statefulset-secure.yaml
  cloud/kubernetes/v1.20/cockroachdb-statefulset.yaml
  pkg/cmd/release/BUILD.bazel
  pkg/cmd/release/update_orchestration.go
  pkg/cmd/release/update_versions.go
Labels: C-enhancement, A-release, T-release

#154358 release-25.4: sql/inspect: add progress tracking to INSPECT
  pkg/jobs/jobspb/jobs.proto
  pkg/sql/inspect/BUILD.bazel
  pkg/sql/inspect/index_consistency_check_test.go
  pkg/sql/inspect/inspect_job.go
  pkg/sql/inspect/inspect_processor.go
  pkg/sql/inspect/inspect_processor_test.go
  pkg/sql/inspect/progress.go
  pkg/sql/inspect/progress_test.go
  pkg/sql/inspect/runner.go
Labels: T-sql-foundations, backport

#154385 release-25.4: sql: Fix idle latency tracking
  pkg/sql/conn_executor_exec.go
  pkg/sql/sessionphase/session_phase.go
  pkg/sql/sqlstats/sslocal/sql_stats_test.go
  pkg/sql/sqlstats/sslocal/sslocal_stats_collector.go
Labels: backport, T-observability

#154338 roachtest: plumb AOST used in backup fixture fingerprint to restore
  pkg/cmd/roachtest/tests/backup_fixtures.go
  pkg/cmd/roachtest/tests/restore.go
  pkg/roachprod/blobfixture/metadata.go
  pkg/roachprod/blobfixture/registry.go
Labels: backport-25.4.x

#146857 mixedversion: fix MinBootstrapVersion bugs
  pkg/cmd/roachtest/roachtestutil/clusterupgrade/clusterupgrade.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/BUILD.bazel
  pkg/cmd/roachtest/roachtestutil/mixedversion/README.md
  pkg/cmd/roachtest/roachtestutil/mixedversion/mixedversion.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/mixedversion_test.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/mutators_test.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/planner.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/planner_test.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/runner.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/runner_test.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/steps.go
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/basic_test_mixed_version_hooks
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/cluster_setting
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/concurrent_before_cluster_start
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/conflicting_mutators
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/local_runs_reduced_wait_time
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/minimum_supported_version
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/multiple_upgrades
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/mutator_probabilities
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/preserve_downgrade_option_randomizer
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/separate_process
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/shared_process
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/skip_version_upgrades
  pkg/cmd/roachtest/roachtestutil/mixedversion/testdata/planner/step_stages
Labels: backport-25.2.x, backport-25.3.x

#153939 release-25.2: plpgsql: fix handling of annotations for DO blocks
  pkg/sql/sem/tree/annotation.go
Labels: T-sql-queries, backport

#154406 release-25.4: sql/types: reintroduce downgradeType for NAME compatibility in mixed clusters
  pkg/sql/logictest/testdata/logic_test/crdb_internal_catalog
  pkg/sql/logictest/testdata/logic_test/mixed_version_char
  pkg/sql/types/types.go
  pkg/sql/types/types_jsonpb.go
  pkg/sql/types/types_test.go
Labels: O-robot, T-sql-foundations, blathers-backport, backport

#154372 release-24.3: backup: updates metric schedule options now also sets updates metric backup option
  pkg/ccl/backupccl/BUILD.bazel
  pkg/ccl/backupccl/create_scheduled_backup_test.go
  pkg/ccl/backupccl/schedule_exec.go
  pkg/ccl/backupccl/schedule_exec_test.go
Labels: backport

#154398 release-25.2: backup: restore must skip temporary tables
  pkg/backup/restore_test.go
  pkg/backup/targets.go
Labels: T-disaster-recovery, backport

#154400 release-24.1: backup: restore must skip temporary tables
  pkg/ccl/backupccl/restore_test.go
  pkg/ccl/backupccl/targets.go
Labels: T-disaster-recovery, backport
